---
layout: home
permalink: "/"
title: Buy Bitcoin Worldwide
seotitle: "Buy Bitcoin Worldwide: Where & How to Buy Bitcoin Online"
lang: en
desc: "We help you buy bitcoin. Whether it be finding an exchange, getting the best price, or learning the basics of Bitcoin: we're here to help!"
home: yes
include_javascript:
  - 'sellers/en'
  - 'buybot'
  - 'i18n/en'
---
{% assign lang = site.data.translations[page.lang] %}

<div class="container-fluid buy-bot home-mapimg">

<h2 class="map-title">Buy Bitcoin in:</h2>

<form class="form-inline" style="text-align: center;">
    <div class="form-group">

      <select id="country" class="type-select-container form-control">
        <option value=""> Country</option>
        {% assign countries = (site.data.countries | sort: 'country') %}
        {% for country in countries %}
          <option value="{{country.short}}">{{country.country}}</option>
        {% endfor %}
      </select>
    </div>
    <h2 class="map-title map-title-2">with:</h2>
    <div class="form-group">
      <label for="payment_method"></label>
      <select id="payment_method" class="type-select-container form-control">
        <option value=""> Payment Method</option>
        {% assign paymentmethods = (site.data.pmethods | sort: 'pmethod') %}
        {% for method in paymentmethods %}
          <option value="{{method.short}}">{{method.pmethod}}</option>
        {% endfor %}
      </select>
    </div>
  </form>

</div>
  
<div class="container-fluid" id="notification"></div>

<div class="container" id="sellers"></div>

<!--

<div class="container home-featured"> 
	<div class="row">
		<div class="col-md-4">
			<a href="/country-index/"><img alt="buy bitcoin" src="/img/icons/bitcoinworld.png"></a>
			<h4><a href="/country-index/">Buy Bitcoin in your Country &#155;</a></h4>
			<div class="home-featured-desc">Find a Bitcoin exchange in seconds with our country index.</div>
		</div>
		<div class="col-md-4">
			<a href="/find-exchange/"><img alt="find bitcoin exchange" src="/img/icons/reviews.png"></a>
			<h4><a href="/find-exchange/">Bitcoin Exchange Reviews &#155;</a></h4>
			<div class="home-featured-desc">Learn more about the most popular Bitcoin exchanges. </div>
		</div>
		<div class="col-md-4">
			<a href="/wallets/"><img alt="bitcoin wallets" src="/img/icons/wallet.png"></a>
			<h4><a href="/wallets/">Get a Bitcoin Wallet &#155;</a></h4>
			<div class="home-featured-desc">Use our reviews to find a Bitcoin wallet that fits your needs.</div>
		</div>
	</div>
</div>

-->

<h2 class="home-featured-header">Buy Bitcoin with these Popular Payment Methods</h2>
<div class="container">
<div class="row">
<div class="pmethods-index">
{% for pmethod in site.data.paymentmethods %}
	<a class="col-md-2 col-sm-4" href="{{ pmethod.url }}">
	<i class="fa fa-4x fa-{{ pmethod.icon }}"></i>
	<div class="payment-method">{{ pmethod.pmethod }}</div>
	</a>	
{% endfor %}	
</div>
</div>
</div>
<hr>

<div class="post-content color-wrap how-to-buy-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 id="how-to-buy-bitcoins" class="post-title-main"><a href="{{ page.url }}#how-to-buy-bitcoins">How to Buy Bitcoins</a></h1>
  <div class="subtitle"><h2>The Beginner's Guide</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="special-letters col-md-5">
<br><br>
<p>This guide will teach you how to buy bitcoins.</p>
<p>Hint:</p>
<p>There's no "one size fits all" for Bitcoin exchanges.</p>
<p>If you want to buy bitcoins at the best exchange, keep reading...</p>
</div>

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/coins2.png">
</div>
</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapters</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#intro"><img src="/img/goodicons/coins.png"></a></div>
	<div class="chapter-number-small"><a href="#intro">Chapter 1</a></div>
	<div class="chapter-title"><a href="#intro">Introduction</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#picking-an-exchange"><img src="/img/goodicons/search.png"></a></div>
	<div class="chapter-number-small"><a href="#picking-an-exchange">Chapter 2</a></div>
	<div class="chapter-title"><a href="#picking-an-exchange">Picking an Exchange</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#payment-methods"><img src="/img/goodicons/lotsofcoins.png"></a></div>
	<div class="chapter-number-small"><a href="#payment-methods">Chapter 3</a></div>
	<div class="chapter-title"><a href="#payment-methods">Payment Methods</a></div>
</div> 

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#frequently-asked-questions"><img src="/img/goodicons/question.png"></a></div>
	<div class="chapter-number-small"><a href="#frequently-asked-questions">Chapter 4</a></div>
	<div class="chapter-title"><a href="#frequently-asked-questions">FAQs</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#avoid-scams"><img src="/img/goodicons/poker.png"></a></div>
	<div class="chapter-number-small"><a href="#avoid-scams">Chapter 5</a></div>
	<div class="chapter-title"><a href="#avoid-scams">Avoid Scams</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#secure-your-coins"><img src="/img/goodicons/wallet.png"></a></div>
	<div class="chapter-number-small"><a href="#secure-your-coins">Chapter 6</a></div>
	<div class="chapter-title"><a href="#secure-your-coins">Secure your Coins</a></div>
</div>

</div>



<div class="row grey-row color-guide-text">

<div class="col-xs-12">

<div class="quote-box">
<p>Welcome to Buy Bitcoin Worldwide! I'm Jordan Tuwiner, the founder of this site.</p><p>We understand that buying bitcoins can be extremely confusing and frustrating. Luckily for you, this site has endless information to help make buying bitcoins easier for you.</p><p>Keep reading!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://twitter.com/jordantuwiner/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h3 id="intro" class="chapter-link">Chapter 1</h3>
<h2 class="chapter-name">Introduction to Buying</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">

<p>Want to learn how to purchase bitcoin or get bitcoins?</p> 

<p>You’re in the right place.</p> 

<p>The short answer to your question is: </p> 

<ol>
<li><p>Find a Bitcoin exchange</p></li> 
<li><p>Trade your fiat currency, like the U.S. dollar or Euro, for bitcoins</p></li>
<li><p>Move your bitcoins <a href="/wallets/">into a secure Bitcoin wallet</a></p></li> 
</ol> 

<p>For the long answer, read this Bitcoin buying guide and by the end you’ll understand:</p> 

<ol> 
<li> <p>How and where to buy bitcoin</p> </li> 
<li> <p>How to find the right exchange </p> </li> 
<li> <p>How to secure your coins after you buy</p> </li> 
<li> <p>How to avoid scams</p> </li> </ol> 

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Below, we've listed exchanges you can use to buy bitcoins. We suggest using the exchanges listed or doing research before buying from any exchange. </p>
<p>Many exchanges are simply there to steal your personal information or rob you of your bitcoins.</p>
<p>We do research on every exchange we list and are very careful not to include scam exchanges on our site.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="picking-an-exchange" class="chapter-link">Chapter 2</h3>
<h2 class="chapter-name">Picking an Exchange</h2>
<div class="nice-divider"></div>

<p>To pick the right exchange for your needs, you must consider a number of factors. </p>

<h2 class="wallet-type-hot">Privacy</h2>
<div class="nice-divider-sub"></div>

<p>Want to buy bitcoins privately?</p> 

<p>You can already cross off a number of payment methods: </p>

<p>Bank transfer, credit card, PayPal, or any other method that requires personal or identifying information.</p> 

<p><a href="/en/buy-bitcoins-with-cash/">Buying bitcoins with cash or cash deposit</a> is the most private way to buy bitcoins.</p>

<p>We also have a guide that shows you <a href="/kb/buy-bitcoin-without-verification-id/">options for buying without verification or ID</a>.</p> 

<h2 class="wallet-type-hot">Limits</h2>
<div class="nice-divider-sub"></div>

<p> If you need to buy a large amount of bitcoins then you’ll have to look at big brokers or exchanges.</p>

<p><a href="/exchanges/coinbase/">Coinbase</a> has high limits for buying with a bank account. </p>

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/coinbase/cblimits.png">
<div class="wide-img-caption">Coinbase's buying limits. They vary for credit card and bank transfer.</div>
</div>

<p><a href="/exchanges/coinmama/">CoinMama</a> has the highest limits for buying with a credit card.</p> 

<p>Most cash exchanges have no buying limits, although it's much harder to buy larger amounts with cash.</p>

<h2 class="wallet-type-hot">Speed</h2>
<div class="nice-divider-sub"></div>

<p>How fast do you need access to your bitcoins? Different payment methods deliver your coins at different speeds.</p>

<div class="quote-box">
<p>Your first Bitcoin purchase may be time consuming. Once you get everything setup all subsequent purchases will be much faster! </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://twitter.com/jordantuwiner/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>


<p>Bitcoin ATMs can be the fastest way to purchase bitcoin if you’re lucky enough to have one in your area. Some brokers offer instant buys with bank transfer, credit card, or debit card. </p> 

<h2 class="wallet-type-hot">Exchange Rate</h2>
<div class="nice-divider-sub"></div>

<p>There is no official Bitcoin price. Use <a href="http://bitcoinaverage.com/">BitcoinAverage</a> or <a href="http://coindesk.com/price">CoinDesk</a> to see the average price of Bitcoin and compare that to the price an exchange is charging you. </p> 

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/kb/bpi.png">
<div class="wide-img-caption">The CoinDesk Bitcoin Price Index averages the price across multiple exchanges to create a strong reference point.</div>
</div>

<h2 class="wallet-type-hot">Reputation</h2>
<div class="nice-divider-sub"></div>

<p>How long has the exchange been in service? Is the exchange trustworthy? Our <a href="/exchanges/">Bitcoin exchange reviews</a> can help you find a trusted exchange. </p> 

<h2 class="wallet-type-hot">Fees</h2>
<div class="nice-divider-sub"></div>

<p>How much does the exchange charge for its services? The fee will vary greatly based on the payment method you choose to use.</p>

<h2 class="wallet-type-hot">Payment Method</h2>
<div class="nice-divider-sub"></div>

<p>How can you pay for the bitcoins? Payment method may be the most important factor.</p>

<p>In fact: </p>

<p>We're sure you already have a payment method in mind that you'd prefer to use. More on that below.</p>



</div>

</div>

<div class="post-header blue-row no-margin row">

<div class="special-letters center col-md-12">
<h2 style="color: #fff; text-align:center;font-size: 1.6em;">Know your Payment Method?</h2>
<a href="/" class="call-to-buy">Find an exchange &#155;</a>
</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="payment-methods" class="chapter-link">Chapter 3</h3>
<h2 class="chapter-name">Payment Methods</h2>
<div class="nice-divider"></div>

<p>In order to buy bitcoins, you’ll need to exchange your local currency, like the dollar or euro, for bitcoin. Here’s an overview of the most common payment methods: </p> 

<h2 class="wallet-type-hot">Credit or Debit Card</h2>
<div class="nice-divider-sub"></div>

<p><img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/exchange.png">Credit/debit card is the most common way to pay online. So, it's really no surprise so many people want to buy bitcoins using this method.</p>

<h3>Why buy bitcoin with a credit/debit card?</h3>
<ul class="quick-info-pros">
	<li>Credit card is a payment method many are familiar with; should make buying easier</li>
	<li>Delivery of bitcoins is instant once initial verification is completed</li>
</ul>

<h3>Why not to buy bitcoin with a credit/debit card?</h3>
<ul class="quick-info-cons">
	<li>High fees; if you're patient and not in a rush to buy use a bank transfer for lower fees</li>
	<li>Not a private way to buy; your ID will be required to buy with a credit card</li>
</ul> 

<p>A few places to buy bitcoins online with a credit card are: </p>

<ul>
<li><b><a href="/exchanges/coinbase/">Coinbase</a></b> - USA, Canada, Singapore, and Europe</li>
<li><b><a href="/exchanges/coinmama/">Coinmama</a></b> - Global</li>
<li><b><a href="/exchanges/cex-io/">CEX.IO</a></b> - Global</li>
<li><b><a href="/exchanges/bitpanda/">BitPanda</a></b> - Europe</li>
</ul> 
<p>You can also check out our complete <a href="/en/buy-bitcoin-credit-debit-card/">guide on how to buy bitcoin online with a credit card or debit card</a>.</p>

<!--
<table class="hw-comparison ex-comparison">
  <tr>
  	<th></th>
    <th>Exchange</th>
    <th>Fees</th>
    <th>Availability</th>
    <th class="wallet-buy"></th>
  </tr>
  {% assign pages = site.data.buy | sort:"weight" %}
  {% for exchange in pages %}
  {% if exchange.tags contains 'home' %}
  {% include ex-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
-->

<h2 class="wallet-type-hot">Bank Account or Bank Transfer</h2>
<div class="nice-divider-sub"></div>

<p><img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/piggy.png"> Bank transfer is one of best ways to buy bitcoins in most countries.</p> 

<h3>Why buy bitcoins with bank account/transfer?</h3>
<ul class="quick-info-pros">
	<li>Good way to <a href="/kb/buy-large-amounts-of-bitcoin/">buy large amounts of bitcoins</a></li>
	<li>Using a bank transfer will usually result in the lowest fees, so you can get a great price on your purchase</li>
</ul>

<h3>Why not to buy bitcoins with bank account/transfer?</h3>
<ul class="quick-info-cons">
	<li>Usually requires ID verification, so they are not a good choice for privacy</li>
    <li>Slow; in the US bank transfers can take up to 5 days to complete</li>
</ul> 

<p>A few places to buy bitcoins with your bank account: </p>

<ul>
<li><b><a href="/exchanges/coinbase/">Coinbase</a></b> - USA, Canada, Singapore, and Europe</li>
<li><b><a href="/exchanges/bitpanda/">BitPanda</a></b> - Europe</li>
<li><b><a href="https://gemini.com/">Gemini</a></b> - US & Canada</li>
</ul> 

<p>You can also check out our complete <a href="/buy-bitcoin-bank-transfer-account/">guide on how to buy bitcoins with a bank account or bank transfer</a>.</p>

<h2 class="wallet-type-hot">Cash</h2>
<div class="nice-divider-sub"></div>

<p><img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/cash.png">Cash deposit is often one of the fastest and most private ways to buy bitcoin. You can usually receive your bitcoins within a couple hours.</p>

<h3>What are cash exchanges <b>good</b> for?</h3>
<ul class="quick-info-pros">
	<li>Can be more private since in some cases no personal information is required</li>
	<li>Can be fast; no need to wait 5 days for bank transfer to process</li>
</ul>

<h3>What are peer-to-peer exchanges <b>bad</b> for?</h3>
<ul class="quick-info-cons">
	<li>Privacy comes at a cost; cash exchanges often have price 5-15% above market rate</li>
	<li>Easier to get scammed; need to be on alert</li>
</ul> 

<p>A few places to buy bitcoins with cash: </p>

<ul>
<li><b><a href="/exchanges/localbitcoins/">LocalBitcoins</a></b> - Global</li>
<li><b><a href="/exchanges/bitquick/">BitQuick</a></b> - USA</li>
<li><b><a href="/exchanges/bitquick/">Wall of Coins</a></b> - United States, Canada, Germany + 5 more</li>
</ul> 

<p>You can also check out our complete <a href="/en/buy-bitcoins-with-cash/">guide on how to buy bitcoins with cash or cash deposit</a>.</p>

<p>Get this:</p>

<p>There are Bitcoin ATMs all around the world that let you purchase bitcoin with cash.</p>

<p>You simply insert cash into the machine, and get bitcoins sent to your wallet. </p> 

<p>Use <a href="http://coinatmradar.com/">Coin ATM Radar</a> to find a Bitcoin ATM near you. </p>

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm2.png">
<div class="wide-img-caption">Coin ATM Radar's map of New York Bitcoin ATMs. There are 900+ ATMs in 50+ countries.</div>
</div>

<h3>What are Bitcoin ATMs <b>good</b> for?</h3>
<ul class="quick-info-pros">
	<li>Can be more private since in most cases no personal information is required</li>
	<li>If you have an ATM in your area it can be a convenient and fast way to buy coins</li>
</ul>

<h3>What are Bitcoin ATMs <b>bad</b> for?</h3>
<ul class="quick-info-cons">
	<li>Privacy comes at a cost; Bitcoin ATMs often have price 5-15% above market rate</li>
</ul> 

<h2 class="wallet-type-hot">PayPal</h2>
<div class="nice-divider-sub"></div>

<p> There is no way to directly buy bitcoins with PayPal. Under PayPal’s terms and conditions merchants are not allowed to sell bitcoins for PayPal.</p> 

<div class="quote-box">
<p>I really recommend not buying bitcoins with PayPal. The fees are really high. Chances are that your PayPal is connected to your credit card or bank account, which can be used to buy at much lower fees.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://twitter.com/jordantuwiner/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<p>However, there are a few hacks to get around this. You can buy other digital items with PayPal and sell those items for bitcoin. It's all explained in our <a href="/en/buy-bitcoin-paypal/">guide on how to buy bitcoins with PayPal</a>. </p>

<h3>Why buy bitcoins with PayPal?</h3>
<ul class="quick-info-pros">
	<li>If you already have a balance can be an easy and fast way to convert PayPal to bitcoins</li>
</ul>

<h3>Cons of buying bitcoins with PayPal</h3>
<ul class="quick-info-cons">
	<li>Fees are over 12%; much better idea to just buy with a credit card or bank account</li>
</ul> 
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="frequently-asked-questions" class="chapter-link">Chapter 4</h3>
<h2 class="chapter-name">Frequently Asked Questions</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>If you're still a bit confused, that's okay. Buying bitcoins is hard and that's why I built this site.</p><p> If you still need help, then ask your questions in our <a href="http://ask.buybitcoinworldwide.com/">Ask section</a>. </p><p>I hope this FAQ section will help answer any remaining questions.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://twitter.com/jordantuwiner/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">When is the Right Time to Buy?</h2>
<div class="nice-divider-sub"></div>

<p>As with any market, nothing is for sure. Bitcoin is traded 24/7 and <a href="/kb/what-determines-bitcoins-price/">its price changes every second</a>.</p> 

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/kb/chart.png">
<div class="wide-img-caption">Bitcoin's price in US dollars during 2015 and 2016. It's impossible to say when to buy.</div>
</div>

<p>Use tools like <a href="https://bitcoinwisdom.com/">Bitcoin Wisdom</a> or <a href="https://cryptowat.ch/">Cryptowatch</a> to analyze charts and understand Bitcoin’s price history.</p>

<h2 class="wallet-type-hot">Why Does Buying Bitcoin Take So Long?</h2>
<div class="nice-divider-sub"></div>

<p>Long wait times are usually a problem with existing payment systems, not with Bitcoin.</p>

<p>Bitcoin transactions only take about 10 minutes to confirm. But, bank transfers in the U.S., for example, can take up to five days to complete. This means a merchant can’t release bitcoins to a customer until five days have passed unless they are willing to take on risk.</p>

<h2 class="wallet-type-hot">Can You Sell Bitcoins?</h2>
<div class="nice-divider-sub"></div>

<p>Yes, of course! Most exchanges that let you buy bitcoins also let you sell (for a fee of course).</p>

<h2 class="wallet-type-hot">Why Do I Need to Upload my ID for Some Exchanges?</h2>
<div class="nice-divider-sub"></div>

<p>This is due to <a href="http://www.investopedia.com/terms/k/knowyourclient.asp">Know Your Customer</a> (KYC) laws that require exchanges to know the real world identity of each user.</p>

<h2 class="wallet-type-hot">Should I Buy Physical Bitcoins?</h2>
<div class="nice-divider-sub"></div>

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/kb/physical.jpg">
<div class="wide-img-caption">A physical bitcoin for sale. <a href="http://www.coindesk.com/">Source</a></div>
</div>

<p><a href="http://www.coindesk.com/10-physical-bitcoins-good-bad-ugly/">Physical bitcoins</a> are physical, metal coins with a Bitcoin private key embedded inside. </p>

<p>It's best to stay way from physical bitcoins.</p>

<p>While this sounds like a good idea, you must trust the creator of the physical bitcoin. The creator could create two copies of the private key. The creator could keep one for himself, and give one to you. If you intend to save your physical bitcoin, the creator could at anytime steal the funds and leave you with nothing. </p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="avoid-scams" class="chapter-link">Chapter 5</h3>
<h2 class="chapter-name">Avoiding Bitcoin Scams</h2>
<div class="nice-divider"></div>

<p>There are many scams related to Bitcoin. These scammers target new Bitcoiners and less tech-savvy users. Follow these basic rules in order to avoid Bitcoin scams:</p>

<div class="quote-box">
<p>I've been using Bitcoin for 3+ years. I've never fallen victim to a single scam. Follow the tips explained here and you'll greatly reduce your chances of losing money.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://twitter.com/jordantuwiner/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h3><b>Research</b></h3>
<p>Research the exchange and make sure it’s trustworthy. Check forums like Reddit to see the experience of other users. You can also use <a href="/exchanges/">our Bitcoin exchange reviews to get in depth information</a> about each exchange.</p>

<h3><b>Check Ratings</b></h3> 
<p>If you’re using a peer-to-peer exchange like LocalBitcoins or Wall of Coins, check the seller’s feedback. If most of their feedback is positive, your trade is more likely to go through without issues. If a seller has lots of negative feedback, it’s best to simply stay away and find a different seller.</p>

<h3><b>Use Escrow</b></h3> 
<p>Many scammers will try something like this:</p>

<p>“Send me bitcoins, and once I get the bitcoins I’ll pay you on PayPal!” </p>

<p>Don’t ever agree to a trade like this. Because bitcoin payments are irreversible, the scammer won’t send you PayPal and this leaves you with no way to get your bitcoins back. </p>

<h3><b>Stay Away from Bitcoin investments</b></h3> 
<p>Any service that claims to pay interest on bitcoins or increase your bitcoins is likely a scam. If it sounds too good to be true, stay away.</p>

<h3><b>Be Careful with Altcoins</b></h3>
<p>What are altcoins? Altcoins are cryptocurrencies other that are not Bitcoin.</p>

<p>Altcoins are traded globally on hundreds of exchanges. Avoid throwing money into coins which are experiencing a sudden and dramatic spike in price and volume. Such moves, especially in insignificant coins with otherwise thin volume and flat price action, are likely to crash fast. </p>


</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="secure-your-coins" class="chapter-link">Chapter 6</h3>
<h2 class="chapter-name">Secure your Coins</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>Don't store coins on exchanges! Bitcoin users have lost over $1 billion worth of bitcoins in exchange hacks and scams. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://twitter.com/jordantuwiner/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<p>Your bitcoins are only safe if you <a href="/wallets/">store them in a wallet that is controlled by YOU!</a></p>

<p>Here are two examples where users got screwed by leaving bitcoins with a third party:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex hack where users lost $70 million</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Mt Gox where users lost $450 million or more</a></li>
</ul>

<p>So, do yourself a favor:</p>

<p>Get yourself a Bitcoin wallet and control your own coins. For large amounts of bitcoins, we recommend hardware wallets. Hardware wallets are small, offline devices that store your bitcoins offline and out of reach from hackers and malware.</p>


<h2>Why? It's pretty simple.</h2>
<ul class="quick-info-pros">
	<li>Hardware wallets are the easiest way to securely store bitcoins & easy to backup</li>
	<li>Less margin for error; setup is easy even for less technical users</li>
</ul>
<br>
<p>Check out the quick comparison chart below:</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Wallet</th>
    <th>Screen<br></th>
    <th class="released">Released</th>
    <th>Price</th>
    <th class="wallet-buy">Buy</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>

    </div>
</div>  

</div>





</div>

</div>
<hr>