<table class="hw-comparison exchange-comparison"> 
	<tbody>
	<tr> 
		<th></th> 
		<th>Exchange</th> 
		<th class="released">Fees<br></th> 
		<th class="released">ID Required<br></th>
		<th>Countries</th> 
	</tr> 
	
	<tr> 
		<td> <a href="/exchanges/localbitcoins/"> <img src="/img/buy/localbitcoins.png"> </a> </td> 
		<td> <a href="/exchanges/localbitcoins/">LocalBitcoins</a> </td> 
		<td class="released"> 1% </td> 
		<td class="released"> Sometimes </td> 
		<td> Global </td> 
	</tr> 
	
	<tr> 
		<td> <a href="/exchanges/bitquick/"> <img src="/img/buy/bitquick.png"> </a> </td> 
		<td> <a href="/exchanges/bitquick/">BitQuick</a> </td> 
		<td class="released"> 2% </td> 
		<td class="released"> Yes </td> 
		<td> USA </td> 
	</tr> 
	
	<tr> 
		<td> <a href="/exchanges/wall-of-coins/"> <img src="/img/buy/wallofcoins.png"> </a> </td> 
		<td> <a href="/exchanges/wall-of-coins/">Wall of Coins</a> </td> 
		<td class="released"> ~1% </td> 
		<td class="released"> No </td> 
		<td> 12 Countries </td> 
	</tr>  
	
	<tr> 
		<td> <a href="/en/buy-bitcoins-with-cash/#libertyx"> <img src="/img/buy/libertyx.png"> </a> </td> 
		<td> <a href="/en/buy-bitcoins-with-cash/#libertyx">LibertyX</a> </td> 
		<td class="released"> 1.5-8% </td> 
		<td class="released"> Yes </td> 
		<td> USA </td> 
	</tr>  
	</tbody>
</table>