{% if page.multilang %}
	{% include multilang.html %}
{% endif %}

{% if page.lang != 'en' and page.lang != 'sv' and page.lang != 'th' and page.lang != 'nb' %}
<li>
<a class="wallet-nav" href="{{ lang.home_url }}"><!--<i class="fa fa-fw fa-map-marker"></i> -->{{ lang.find_country }}</a>
</li>
<li>
<a class="contribute-nav" href="{{ lang.paymentmethods_url }}"><!--<i class="fa fa-fw fa-credit-card"></i> -->{{ lang.paymentmethods }}</a>
</li>
{% endif %}





{% if page.lang == 'es' or page.lang == 'pt' or page.lang == 'fr' or page.lang == 'sv' or page.lang == 'ru' or page.lang == 'nb' or page.lang == 'ar' or page.lang == 'th' %}

<li>
<a class="contribute-nav" href="{{ lang.wallets_url }}"><!--<i class="fa fa-fw fa-bitcoin"></i>-->{{ lang.wallets }}</a>
</li>

{% endif %}




{% if page.lang == 'en' and page.home %}
<li>
<a class="contribute-nav" href="/wallets/"><!--<i class="fa fa-fw fa-bitcoin"></i> -->Wallets</a>
</li>
{% elsif page.lang == 'en' %}
<li>
<a class="contribute-nav" href="/">Find Exchange</a>
</li>
<li>
<a class="contribute-nav" href="/wallets/"><!--<i class="fa fa-fw fa-bitcoin"></i> -->Wallets</a>
</li>
{% endif %}