{% if page.multilang %}
	{% include multilang.html %}
{% endif %}

{% if page.lang != 'en' %}
<li>
<a class="wallet-nav" href="{{ lang.home_url }}"><!--<i class="fa fa-fw fa-map-marker"></i> -->{{ lang.find_country }}</a>
</li>
<li>
<a class="contribute-nav" href="{{ lang.paymentmethods_url }}"><!--<i class="fa fa-fw fa-credit-card"></i> -->{{ lang.paymentmethods }}</a>
</li>
{% endif %}





{% if page.lang == 'es' %}

<li>
<a class="contribute-nav" href="/es/monederos-bitcoin/"><!--<i class="fa fa-fw fa-bitcoin"></i> -->Monederos Bitcoin</a>
</li>

{% endif %}


{% if page.lang == 'pt' %}

<li>
<a class="contribute-nav" href="/pt-br/carteiras-bitcoin/"><!--<i class="fa fa-fw fa-bitcoin"></i> -->Carteiras Bitcoin</a>
</li>

{% endif %}




{% if page.lang == 'en' and page.home %}
<li>
<a class="contribute-nav" href="/wallets/"><!--<i class="fa fa-fw fa-bitcoin"></i> -->Wallets</a>
</li>
{% elsif page.lang == 'en' %}
<li>
<a class="contribute-nav" href="/">Find Exchange</a>
</li>
<li>
<a class="contribute-nav" href="/wallets/"><!--<i class="fa fa-fw fa-bitcoin"></i> -->Wallets</a>
</li>
{% endif %}