{% assign lang = site.data.translations[page.lang] %}

{% if name.pros %}

<div class="exchange-pros exchange-pros-buylist col-md-6"> 

	<div class="exchange-pros-title">{{ lang.pros }}</div> 
	<ul class="quick-info-pros">
		
		{% if page.lang == 'en' %}
		{{ name.pros }}
		{% elsif page.lang == 'ru' %}
		{{ name.pros_ru }}
		{% endif %}
		
	</ul>

</div> 

<div class="exchange-pros exchange-pros-buylist col-md-6"> 

	<div class="exchange-pros-title">{{ lang.cons }}</div> 
	<ul class="quick-info-cons">
	    {% if page.lang == 'en' %}
		{{ name.cons }}
		{% elsif page.lang == 'ru' %}
		{{ name.cons_ru }}
		{% endif %}
	</ul>

</div> 

{% endif %}