{% assign lang = site.data.translations[page.lang] %}

<div class="quick-info">
	
	<div class="quick-info-section col-sm-4 col-md-2 col-xs-4">
		<div class="quick-info-title"><i class="fa fa-user"></i> Ease of use</div>
		<div class="quick-info-data">
		{% if name.tags contains 'eoueasy' %}
			{{ lang.easy }}
		{% elsif name.tags contains 'eouavg' %}
			{{ lang.average }}
		{% elsif name.tags contains 'eouhard' %}
			{{ lang.hard }}
		{% endif %}
		</div>
	</div>
	
	<div class="quick-info-section col-sm-4 col-md-2 col-xs-4">
		<div class="quick-info-title"><i class="fa fa-eye"></i> Privacy</div>
		<div class="quick-info-data">
		{% if name.tags contains 'highprivacy' %}
			{{ lang.high }}
		{% elsif name.tags contains 'avgprivacy' %}
			{{ lang.average }}
		{% elsif name.tags contains 'lowprivacy' %}
			{{ lang.low }}
		{% endif %}
		</div>
	</div>
	
	
	<div class="quick-info-section col-sm-4 col-md-2 col-xs-4">
		<div class="quick-info-title"><i class="fa fa-bolt"></i> Speed</div>
		<div class="quick-info-data">
		{% if name.tags contains 'fast' %}
			{{ lang.fast }}
		{% elsif name.tags contains 'avgspeed' %}
			{{ lang.average }}
		{% elsif name.tags contains 'slow' %}
			{{ lang.slow }}
		{% elsif name.tags contains 'speedvaries' %}
			{{ lang.vary }}
		{% endif %}
		</div>
	</div>
	
	<div class="quick-info-section col-sm-4 col-md-2 col-xs-4">
		<div class="quick-info-title"><i class="fa fa-money"></i> Fees</div>
		<div class="quick-info-data">
		{% if name.tags contains 'lowfees' %}
			{{ lang.low }}
		{% elsif name.tags contains 'avgfees' %}
			{{ lang.average }}
		{% elsif name.tags contains 'highfees' %}
			{{ lang.high }}
		{% elsif name.tags contains 'feesvary' %}
			{{ lang.vary }}
		{% endif %}
		</div>
	</div>
	
	<div class="quick-info-section col-sm-4 col-md-2 col-xs-4">
		<div class="quick-info-title"><i class="fa fa-smile-o"></i> Reputation</div>
		<div class="quick-info-data">
		{% if name.tags contains 'trusted' %}
			{{ lang.trusted }}
		{% elsif name.tags contains 'avgrep' %}
			{{ lang.average }}
		{% elsif name.tags contains 'newcompany' %}
			{{ lang.newcompany }}
		{% elsif name.tags contains 'lowtrust' %}
			{{ lang.lowtrust }}
		{% endif %}
		</div>
	</div>
	
	<div class="quick-info-section col-sm-4 col-md-2 col-xs-4">
		<div class="quick-info-title"><i class="fa fa-usd"></i> Limits</div>
		<div class="quick-info-data">
		{% if name.tags contains 'highlimits' %}
			{{ lang.high }}
		{% elsif name.tags contains 'avglimits' %}
			{{ lang.average }}
		{% elsif name.tags contains 'lowlimits' %}
			{{ lang.low }}
		{% endif %}
		</div>
	</div>
	
</div>