<!-- Place your <script> tags here. -->
<noscript id="deferred-styles">
  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/shiori.css" | prepend:site.baseurl }}"/>
</noscript>
   <script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement);
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>
<script src="{{ "/javascripts/libs/jquery.min.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/javascripts/libs/bootstrap.min.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/javascripts/libs/select2.full.min.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/javascripts/libs/underscore.min.js" | prepend:site.baseurl }}"></script>
{% if page.include_javascript %}
  {% for filename in page.include_javascript %}
    <script src="/javascripts/{{filename}}.js"></script>
  {% endfor %}
{% endif %}
