---
hide_sidebar: true
lang: es
title: Comprar Bitcoin en cualquier lugar - Buy Bitcoin Worldwide
seotitle: Comprar Bitcoin en cualquier lugar - Buy Bitcoin Worldwide
desc: Comprar Bitcoin en cualquier lugar del mundo. Simplemente seleccione un país. 
permalink: /es/
layout: default
---
{% assign lang = site.data.translations[page.lang] %}

<div class="well well-home">
<div class="well-message">{{ lang.sitedesc }}</div>

<ul class="index-continent-menu">
<li><a class="btn btn-sm btn-primary" href="#na">{{ lang.namerica }}</a></li>
<li><a class="btn btn-sm btn-primary" href="#sa">{{ lang.samerica }}</a></li> 
</ul>
</div>

<h2 class="home-header"><a href="#na" id="na">{{ lang.buy }} {{ lang.in }} {{ lang.namerica }}</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.na == true and country.es == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>


<h2 class="home-header"><a href="#sa" id="sa">{{ lang.buy }} {{ lang.in }} {{ lang.samerica }}</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.sa == true and country.es == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>