---
hide_sidebar: true
lang: ru
title: Купить Bitcoin в любой точке мира
seotitle: Купить Bitcoin в любой точке мира
desc: Buy Bitcoin Worldwide поможет Вам купить биткоин в любой стране удобным для Вас способом оплаты. Это очень легко найти биткоин-биржи, брокеров и дилеров.  
permalink: /ru/
layout: home
home: yes
include_javascript:
  - 'sellers/ru'
  - 'i18n/ru'
  - 'buybot'
multilang: yes
pagename: index
---
{% assign lang = site.data.translations[page.lang] %}

<div class="container-fluid buy-bot home-mapimg">

<h2 class="map-title">{{ lang.bbi }}</h2>

<form class="form-inline" style="text-align: center;">
    <div class="form-group">

      <select id="country" class="type-select-container form-control">
        <option value=""><i class="fa fa-fw fa-globe"></i> {{ lang.country }}</option>
        {% assign countries = (site.data.countries | sort: 'country_ru') %}
        {% for country_ru in countries %}
          {% if country_ru.country_ru %}
            <option value="{{country_ru.short}}">{{country_ru.country_ru}}</option>             		  {% endif %}
        {% endfor %}
      </select>
    </div>
    <h2 class="map-title map-title-2">{{ lang.with }}</h2>
    <div class="form-group">
      <label for="payment_method"></label>
      <select id="payment_method" class="type-select-container form-control">
        <option value=""><i class="fa fa-fw fa-money"></i> {{ lang.pmethod }}</option>
        {% assign paymentmethods = (site.data.pmethods | sort: 'pmethod') %}
        {% for method in paymentmethods %}
          {% if method.ru %}
          	<option value="{{method.short}}">{{method.ru}}</option>
          {% else %}
          	<option value="{{method.short}}">{{method.pmethod}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </form>

</div>
  
<div class="container-fluid" id="notification"></div>
<br><br>
<div class="container" id="sellers"></div>

<div class="post-content color-wrap how-to-buy-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 id="how-to-buy-bitcoins" class="post-title-main"><a href="{{ page.url }}#how-to-buy-bitcoins">Как покупать Bitcoin</a></h1>
  <div class="subtitle"><h2>Руководство для новичка</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/coins2.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>В этом руководстве вы научитесь покупать биткойны.</p>
<p>Подсказка:</p>
<p>Не существует “лучшего” или “универсального” Bitcoin-обменника.</p>
<p>Если Вам интересно узнать, как быстрее и удобнее обзавестись биткойнами, то продолжайте читать!</p>
</div>


</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Главы</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#intro"><img src="/img/goodicons/coins-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#intro">Глава 1</a></div>
	<div class="chapter-title"><a href="#intro">Введение</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#picking-an-exchange"><img src="/img/goodicons/search-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#picking-an-exchange">Глава 2</a></div>
	<div class="chapter-title"><a href="#picking-an-exchange">Выбираем обменник</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#payment-methods"><img src="/img/goodicons/lotsofcoins-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#payment-methods"> Глава 3</a></div>
	<div class="chapter-title"><a href="#payment-methods">Платежные системы</a></div>
</div> 

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#frequently-asked-questions"><img src="/img/goodicons/question-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#frequently-asked-questions"> Глава 4</a></div>
	<div class="chapter-title"><a href="#frequently-asked-questions">ЧаВо</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#avoid-scams"><img src="/img/goodicons/poker-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#avoid-scams"> Глава 5</a></div>
	<div class="chapter-title"><a href="#avoid-scams">Остерегайтесь мошенников</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#secure-your-coins"><img src="/img/goodicons/wallet-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#secure-your-coins"> Глава 6</a></div>
	<div class="chapter-title"><a href="#secure-your-coins">Защищаем свои биткойны</a></div>
</div>

</div>



<div class="row grey-row color-guide-text">

<div class="col-xs-12">

<div class="quote-box">
<p>Добро пожаловать на Buy Bitcoin Worldwide! Меня зовут Джордан, и я являюсь основателем этого сайта.</p><p>Мы понимаем, что поначалу процедура покупки биткойнов может показаться невероятно сложной и запутанной. К счастью для вас, сегодня мы готовы поделиться с вами всеобъемлющей информацией о том, как быстро и просто купить BTC!</p><p>Не останавливайтесь!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<h3 id="intro" class="chapter-link">Глава 1</h3>
<h2 class="chapter-name">Введение в процесс покупки биткойнов</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">

<p>Хотите научиться покупать или зарабатывать биткойны?</p> 

<p>Значит, Вы попали в нужное место!</p> 

<p>Позвольте описать процесс максимально кратко:</p> 

<ol>
<li><p>Находим Bitcoin-обменник</p></li> 
<li><p>Обмениваем свою национальную валюту, будь то доллар США, российский рубль или украинская гривна, на BTC</p></li>
<li><p>Перешлите купленные биткойны на безопасный <a href="/ru/bitcoin-koshelki/">Bitcoin-кошелек</a></p></li> 
</ol> 

<p>Чтобы, однако, лучше прочувствовать весь процесс, я предлагаю Вам прочитать все руководство, из которого можно вынести следующие ключевые моменты:</p> 

<ol> 
<li> <p>Как и где покупать биткойны</p> </li> 
<li> <p>Как подобрать подходящий обменник</p> </li> 
<li> <p>Как обезопасить свои монеты после покупки</p> </li> 
<li> <p>Как не наткнуться на мошенников</p> </li> </ol> 

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Ниже приведен список обменников, которые можно использовать для покупки BTC. Мы рекомендуем Вам обратить отдельное внимание на наши списки, так как мы постоянно исследуем новые и существующие обменники, и гарантируем их надежность.</p>
<p>Многие обменные платформы открываются исключительно с целью завладеть средствами или персональными данными наивных клиентов.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="picking-an-exchange" class="chapter-link">Глава 2</h3>
<h2 class="chapter-name">Выбираем обменник: какой же Bitcoin-обменник лучше?</h2>
<div class="nice-divider"></div>

<p>Чтобы выбрать наиболее подходящий вам обменник, важно учитывать как минимум 7 аспектов.</p>

<h2 class="wallet-type-hot">1. Приватность: ваша информация должна быть надежно защищена!</h2>
<div class="nice-divider-sub"></div>

<p>Хотите покупать биткойны приватно?</p> 

<p>Тогда можно сразу вычеркнуть следующие платежные методы:</p>

<ul>
<li>Банковский перевод</li>
<li>Кредитная карта</li> 
<li>Дебетовая карта</li>
<li>PayPal</li>
<li>Любой другой метод, в котором требуется подтверждение вашей личности</li>
</ul> 

<p>Вышеприведенные платежные методы очень популярны во всем мире. Хотя в большинство русскоязычных стран все же большей популярностью пользуется покупка биткойнов за наличные. Обычно покупатель и продавец находят друг друга посредством площадки <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>

<h2 class="wallet-type-hot">2. Лимиты: вам нужно много биткойнов?</h2>
<div class="nice-divider-sub"></div>

<p>Если вам необходимо купить сразу большой объем биткойнов – скажем, 25 BTC и больше – то вам прямая дорога к крупным брокерам или известным обменным платформам.</p>

<p>У большинства обменников за наличные установлены достаточно низкие лимиты на покупку. Однако они сильно разнятся от сервиса к сервису, от продавца к продавцу..</p>

<h2 class="wallet-type-hot">3. Скорость: когда вы хотите воспользоваться купленными монетами?</h2>
<div class="nice-divider-sub"></div>

<p>Насколько срочно вам нужны биткойны? Различные платежные методы работают с разной скоростью.</p>

<div class="quote-box">
<p>На самом деле, первая покупка биткойнов многих может смутить или напугать. Как только вы разберетесь со всем, последующие обмены будут происходить значительно быстрее!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<p>Быстрее всего купить биткойны можно в Bitcoin-банкоматах, правда только если рядом с Вами есть такой банкомат. Чтобы определить это, ознакомьтесь <a href="https://coinatmradar.com/">с картой доступных Bitcoin-банкоматов</a>.</p>

<p>Некоторые брокеры дают возможность мгновенно приобретать биткойны посредством банковских переводов, а также кредитной или дебетовой карты.</p> 

<h2 class="wallet-type-hot">4. Обменный курс (котировки)</h2>
<div class="nice-divider-sub"></div>

<p>Не существует такого понятия, как “официальный курс Bitcoin”. Если Вам интересно узнать среднюю цену криптовалюты по всем крупным обменникам, то можно воспользоваться платформами типа <a href="http://bitcoinaverage.com/">BitcoinAverage</a>, <a href="http://coindesk.com/price">CoinDesk</a> или <a href="http://preev.com">Preev</a>.</p> 

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/kb/bpi.png">
<div class="wide-img-caption">Средняя цена BTC по всем обменникам, согласно CoinDesk Bitcoin Price Index.</div>
</div>

<h2 class="wallet-type-hot">5. Репутация: не дайте себя обмануть!</h2>
<div class="nice-divider-sub"></div>

<p>Как долго работает выбранный обменник? Можно ли ему доверять?</p>

<p>Если же пользуетесь <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a> то выбирайте исключительно продавцов с отзывами и историей торговли. Также, если Вы планируете купить биткойны за наличные при личной встрече, то всегда назначайте встречу в людных местах.</p> 

<h2 class="wallet-type-hot">6. Комиссия: выгоден ли Вам этот обмен?</h2>
<div class="nice-divider-sub"></div>

<p>Какой процент обменник взимает за оказанные Вам услуги? Комиссия может сильно разниться от сервиса к сервису или зависеть от выбранных платежных методов.</p>

<p>Всегда учитывайте плату за пополнение счета, комиссию на обмен и за вывод средств. Некоторые обменники готовы снижать комиссионную ставку за большие объемы торговли.</p>

<h2 class="wallet-type-hot">7. Платежный метод</h2>
<div class="nice-divider-sub"></div>

<p>Каким способом можно платить за биткойны? Платежный метод – это один из важнейших факторов.</p>

<p>Ближе к делу:</p>

<p>Мы уверены, что Вы уже примерно знаете, при помощи какого метода будете покупать биткойны, но давайте подробнее обсудим это чуть позже.</p>



</div>

</div>

<div class="row tip-row color-guide-text">
<div class="col-xs-12">
<br>
<h2>Заведите кошелек!</h2>
<p>Некоторые обменники требуют данные по Bitcoin-кошельку еще до непосредственного обмена.</p>
<p>Если у Вас всё ещё нет кошелька, то <a target="_blank" href="/wallets/">здесь можно узнать, как завести собственный Bitcoin-кошелек</a>.</p>
<p>Потом обязательно возвращайтесь и закончите чтение! ;)</p> 
</div>
</div>

<div class="post-header blue-row no-margin row">

<div class="special-letters center col-md-12">
<h2 style="color: #fff; text-align:center;font-size: 1.6em;">Уже определились с платежным методом?</h2>
<a href="/#find-exchange" class="call-to-buy">Тогда выбирайте обменник &#155;</a>
</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="payment-methods" class="chapter-link">Глава 3</h3>
<h2 class="chapter-name">Платежные системы</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>Наверняка многим уже вся эта эпопея показалась сложной. Не пугайтесь, а просто продолжайте читать!</p>
<p>Позвольте помочь вам определиться с наиболее подходящим платежным методом.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<p>Для того чтобы купить биткойны, вам нужно обменять деньги (электронные или фиатные) на BTC. Давайте рассмотрим 4 самых популярных направления обмена:</p> 

<h2 class="wallet-type-hot">1. Кредитная или дебетовая карта</h2>
<div class="nice-divider-sub"></div>

<p><img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/exchange.png">Наиболее распространенными методами при оплате в интернете считаются кредитные и дебетовые карты. Посему, неудивительно, что многие люди и покупают биткойны при помощи карт.</p>

<h3>Каковы <b>преимущества</b> покупки BTC при помощи кредитных/дебетовых карт?</h3>
<ul class="quick-info-pros">
	<li>Кредитные карты – это наиболее популярный метод онлайн-платежей и, вероятно, наиболее простой способ купить биткойны в интернете.</li>
	<li>После минимальной верификации, биткойны практически мгновенно поступают на кошелек.</li>
</ul>

<h3>Каковы <b>недостатки</b> покупки BTC при помощи кредитных/дебетовых карт?</h3>
<ul class="quick-info-cons">
	<li>Большая комиссия; если Вам не срочно, то мы рекомендуем воспользоваться банковским переводом, комиссия на которые гораздо ниже</li>
	<li>Не самый приватный способ; для приобретения BTC при помощи кредитной карты вам понадобится подтверждение личности</li>
</ul> 

<p>Ниже приведен список самых популярных ресурсов, где можно приобрести биткойны посредством карты: </p>

<ul>
<li><b><a href="/exchanges/coinbase/">Coinbase</a></b> - США, Канада, Сингапур и Европа</li>
<li><b><a href="/exchanges/coinmama/">Coinmama</a></b> - По всему миру</li>
<li><b><a href="/exchanges/cex-io/">CEX.IO</a></b> - По всему миру</li>
<li><b><a href="/exchanges/bitpanda/">BitPanda</a></b> - Европа</li>
</ul> 
<p>Также предлагаем Вам ознакомиться с <a href="/ru/Покупка-биткоинов-при-помощи-банковской-карты/">руководством, посвященным покупке биткойнов при помощи кредитной и/или дебетовой карты</a>.</p>

<!--
<table class="hw-comparison ex-comparison">
  <tr>
  	<th></th>
    <th>Обменник</th>
    <th>Комиссия</th>
    <th>Наличие</th>
    <th class="wallet-buy"></th>
  </tr>
  {% assign pages = site.data.buy | sort:"weight" %}
  {% for exchange in pages %}
  {% if exchange.tags contains 'home' %}
  {% include ex-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
-->

<h2 class="wallet-type-hot">Банковский счет и переводы</h2>
<div class="nice-divider-sub"></div>

<p><img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/piggy.png">Банковские переводы также считаются одним из лучших способов купить биткойны в большинстве стран.</p> 

<h3>Каковы <b>преимущества</b> покупки BTC посредством банковского перевода?</h3>
<ul class="quick-info-pros">
	<li>Удобно при покупке больших объемов BTC</li>
	<li>Низкая комиссия, а следовательно, возможность более выгодно приобрести BTC</li>
</ul>

<h3>Каковы <b>недостатки</b> покупки BTC посредством банковского перевода?</h3>
<ul class="quick-info-cons">
	<li>Не очень приватно; нужно подтверждение личности</li>
    <li>Медленно: в США банковские переводы занимают до 5 рабочих дней</li>
</ul> 

<p>Несколько платформ, позволяющих покупать биткойны используя собственный счёт в банке: </p>

<ul>
<li><b><a href="/exchanges/coinbase/">Coinbase</a></b> - США, Канада, Сингапур и Европа</li>
<li><b><a href="/exchanges/bitpanda/">BitPanda</a></b> - Европа</li>
<li><b><a href="https://gemini.com/">Gemini</a></b> - США и Канада</li>
</ul> 

<h2 class="wallet-type-hot">Наличные</h2>
<div class="nice-divider-sub"></div>

<p><img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/cash.png">Наличный расчет принято считать самым приватным способом купить биткойны, особенно в России, Украине, Беларуси и других странах в регионе. Биткойны приходят на кошелек уже в течение пары часов.</p>

<h3>Каковы <b>преимущества</b> покупки BTC за наличные?</h3>
<ul class="quick-info-pros">
	<li>Относительно приватный способ, так как здесь не требуется подтверждение личности</li>
	<li>Обмен происходит практически мгновенно, и не нужно ждать 5 рабочих дней</li>
</ul>

<h3>Каковы <b>недостатки</b> покупки BTC за наличные?</h3>
<ul class="quick-info-cons">
	<li>Приватность обходится недешево; обмен за наличные зачастую обходится в 5-15% от рыночной стоимости BTC</li>
	<li>Высокая вероятность мошенничества; рекомендуется всегда следовать регламенту и правилам обменных платформам</li>
</ul> 

<p>Где можно купить биткойны за наличные: </p>

<ul>
<li><b><a href="/exchanges/localbitcoins/">LocalBitcoins</a></b> - По всему миру</li>
<li><b><a href="/exchanges/bitquick/">BitQuick</a></b> - США</li>
<li><b><a href="/exchanges/wall-of-coins/">Wall of Coins</a></b> - США, Канада, Германия и еще 5 стран</li>
</ul> 

<p>Примечание:</p>

<p>По всему миру расставлены Bitcoin-банкоматы, которые позволяют Вам покупать BTC за наличные.</p>

<p>Вы просто вносите наличные в аппарат, и получаете биткойны на указанный Bitcoin-адрес.</p> 

<p>Для поиска ближайшего к вам Bitcoin-банкомата предлагаем Вам <a href="/bitcoin-atms/">воспользоваться картой</a>.</p>

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm2.png">
<div class="wide-img-caption">Карта Bitcoin-банкоматов, расположенных в Нью-Йорке. В более чем 50 странах по всему миру располагается свыше 900 Bitcoin ATM.</div>
</div>

<h3>Каковы <b>преимущества</b> покупки BTC через банкоматы?</h3>
<ul class="quick-info-pros">
	<li>Один из самых приватных методов, так как зачастую не требуется подтверждение личности</li>
	<li>Если рядом с Вами есть Bitcoin-банкомат, то можно быстро и удобно покупать BTC</li>
</ul>

<h3>Каковы <b>недостатки</b> покупки BTC через банкоматы?</h3>
<ul class="quick-info-cons">
	<li>Приватность обходится недешево; покупка BTC через банкоматы зачастую обходится в 5-15% от рыночной стоимости BTC</li>
</ul> 

<h2 class="wallet-type-hot">PayPal</h2>
<div class="nice-divider-sub"></div>

<p>На данный момент не существует способа купить BTC за PayPal напрямую. По условиям использования PayPal, клиенты не могут продавать биткойны за PayPal.</p> 

<div class="quote-box">
<p>И я настоятельно не рекомендую покупать BTC за PayPal, так как Вы столкнетесь с беспрецедентной комиссией. К тому же, есть большая вероятность того, что Ваш PayPal-аккаунт привязан к банковскому счету и кредитной карте, при помощи которой биткойны можно купить с гораздо более низкой комиссией.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<p>Однако существуют некоторые способы обойти эти преграды. Вы можете, к примеру, купить какую-нибудь другую криптовалюту, а уже её обменять на BTC. Этот процесс досконально описан в <a href="/ru/купить-биткоины-paypal/">нашем руководстве, посвященном покупке биткойнов за PayPal</a>.</p>

<h3>Каковы <b>преимущества</b> покупки BTC за PayPal?</h3>
<ul class="quick-info-pros">
	<li>Если у Вас имеются свободные средства на счету PayPal, их можно относительно быстро и просто обменять на биткойны.</li>
</ul>

<h3>Каковы <b>недостатки</b> покупки BTC за PayPal?</h3>
<ul class="quick-info-cons">
	<li>Порой комиссия достигает 12%; гораздо выгоднее купить BTC при помощи кредитной карты или посредством банковского перевода</li>
</ul> 
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="frequently-asked-questions" class="chapter-link">Глава 4</h3>
<h2 class="chapter-name">ЧаВо или часто задаваемые вопросы</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>Если Вам до сих пор ничего не понятно, то это не страшно. Покупать биткойны сложно, но именно поэтому я и создал этот сайт – чтобы помочь Вам разобраться с этим!</p><p>Если Вам всё еще недостаточно информации, то надеюсь, что этот раздел поможет найти ответы на существующие вопросы.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Когда выгоднее всего покупать биткойны?</h2>
<div class="nice-divider-sub"></div>

<p>Как и в случае с любым рынком, нет каких-то универсальных правил. Биткойн торгуется 24/7, и его цена меняется почти каждую секунду.</p> 

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/kb/chart.png">
<div class="wide-img-caption">Цена Bitcoin в промежутке 2015-2016. Довольно сложно сказать, когда покупать BTC выгоднее всего..</div>
</div>

<p>Вы можете использовать такие инструменты, как <a href="https://bitcoinwisdom.com/">Bitcoin Wisdom</a> или <a href="https://cryptowat.ch/">Cryptowatch</a> для аналитики графиков с торговых платформ, на которых представлена BTC. Эти графики помогут вам изучить историю цены биткойнов по большинству международных Bitcoin-обменников.</p>

<h2 class="wallet-type-hot">Почему процесс покупки биткойнов настолько сложный и медленный?</h2>
<div class="nice-divider-sub"></div>

<p>На самом деле, долгое ожидание – есть результат несовершенства существующих платежных систем, а не самого Биткойна..</p>

<p>На подтверждение bitcoin-транзакции обычно требуется не больше 10 минут. Банковские переводы по США, к примеру, занимает до 5 рабочих дней.</p>

<p>Технически, это означает, что продавец не может перевести купленные Вами биткойны до тех пор, пока Ваш банковский перевод 5 дней обрабатывается.</p>

<h2 class="wallet-type-hot">Можно ли продавать биткойны?</h2>
<div class="nice-divider-sub"></div>

<p>Конечно! Большинство обменников также предлагают возможность продать BTC (тоже с комиссией).</p>

<h2 class="wallet-type-hot">Почему некоторые обменники запрашивают подтверждение личности?</h2>
<div class="nice-divider-sub"></div>

<p>Многие обменные платформы попадают под действие законов <a href="http://www.investopedia.com/terms/k/knowyourclient.asp">Знай своего клиента</a> (англ. know your customer, сокращённо KYC), в рамках которых вынуждены вести учет персональных данных всех своих клиентов.</p>

<h2 class="wallet-type-hot">Любой человек может купить биткойны?</h2>
<div class="nice-divider-sub"></div>
<p>На использование или покупку биткойнов не требуется специального разрешения.</p>
<p>Однако мы рекомендуем Вам проверить, насколько <a href="http://money.cnn.com/interactive/technology/where-is-bitcoin-legal/">Биткойн легален в Вашей стране</a>. В некоторых странах Биткойн находится вне закона!</p>

<h2 class="wallet-type-hot">Стоит ли покупать физические биткойны?</h2>
<div class="nice-divider-sub"></div>

<div class="wide-img">
<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/kb/physical.jpg">
<div class="wide-img-caption">BTC в физическом форм-факторе. <a href="http://www.coindesk.com/">Источник</a></div>
</div>

<p><a href="http://www.coindesk.com/10-physical-bitcoins-good-bad-ugly/">Физические BTC</a> представляют собой металлические монеты со встроенным в них приватным ключом Bitcoin.</p>

<p>Мы рекомендуем держаться подальше от физических биткойнов, и связываться с ними только если Вы коллекционируете монеты.</p>

<p>И хотя идея физических биткойнов может казаться привлекательной, на самом деле это вынуждает вас полагаться на честность создателя этих монет. Но ведь производитель монет может создать две одинаковые монеты с одинаковыми приватными ключами.</p>

<p>То есть, если Вы тут же не распакуете монету и не переведёте с нее все средства, злоумышленник, теоретически, имеет возможность забрать ваши деньги себе.</p>

<h2 class="wallet-type-hot">Можно ли покупать биткойны по частям?</h2>
<div class="nice-divider-sub"></div>
<p>Конечно!</p>

<p>Каждый BTC имеет 8 чисел после запятой, а это значит, что каждую монету можно разделить на 100 000 000 фрагментов. Каждый минимальный фрагмент биткойна составляет 0,00000001 BTC, и называется сатоши.</p>

<p>Через большинство обменников можно покупать биткойны на сумму от $5 в эквиваленте.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="avoid-scams" class="chapter-link">Глава 5</h3>
<h2 class="chapter-name">Остерегайтесь мошенников. И не теряйте деньги!</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>Я пользуюсь биткойнами уже более 3 лет, и при этом никому так и не удалось меня одурачить. Следуйте приведенным ниже советам, и тогда сможете максимально оградить себя от злоумышленников, пытающихся присвоить Ваши деньги.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<p>С Bitcoin связано множество мошеннических историй. Мошенники – или так называемые скаммеры – обычно присматриваются к новичкам или технически необразованным пользователям. Чтобы обезопасить себя от большинства неприятных ситуаций, просто следуйте нижеприведенным советам:</p>

<h3><b>Исследуйте</b></h3>
<p>Всегда максимально досконально изучайте информацию об обменниках и любых платформах и контрагентах, кому собираетесь переводить деньги. Прочесывайте тематические форумы, и изучайте прошлый опыт других пользователей.</p>

<h3><b>Всегда учитывайте рейтинг</b></h3> 
<p>Если вы используете P2P-платформы типа LocalBitcoins или Wall of Coins, то не забывайте изучать отзывы и рейтинг продавца. Если большая часть отзывов положительные, то ваш обмен с большей вероятностью пройдет без эксцессов. Если же продавец получил множество отрицательных отзывов, то мы настоятельно не рекомендуем связываться с ним.</p>

<h3><b>Пользуйтесь эскроу-сервисами</b></h3> 
<p>Многие мошенники выигрывают лишь за счет глупости пользователей, и предлагают обмен в формате:</p>

<p>“Высылайте мне биткойны, и как только я их получу, тут же переведу вам PayPal на счет!”</p>

<p>Никогда не соглашайтесь на подобные предложения. Bitcoin-транзакции нельзя отменить или обжаловать. То есть, если Вы первыми выслали биткойны, то злоумышленник просто присвоит их себе и оборвёт все связи.</p>

<p>PayPal также не может принудить злоумышленника выслать Вам деньги ввиду анонимной природы Bitcoin-сети, где у платежей нет информации ни об отправителе, ни о получателе. Вы просто не сможете вернуть свои BTC.</p>

<h3><b>Не “инвестируйте” в Bitcoin-пирамиды</b></h3> 
<p>Любой сервис, который гарантирует Вам выплату процентов за вложенные биткойны, скорее всего, является пирамидой. Если предложение звучит слишком выгодно – значит Вас просто пытаются обмануть.</p>

<h3><b>Будьте осторожными с альткойнами</b></h3>
<p>Что такое альткойны? Альткойны – это альтернативные криптовалюты. Другими словами, все те, что не относятся к биткойнам.</p>

<p>Сегодня альткойны представлены в огромных количествах практически на всех обменных платформах. Старайтесь не вкладывать много денег в эти валюты, так как зачастую они резко набирают в цене, а затем также стремительно “сдуваются”.</p>


</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="secure-your-coins" class="chapter-link">Глава 6</h3>
<h2 class="chapter-name">Защищаем свои биткойны</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>Не храните биткойны в обменниках! За всю историю Bitcoin, пользователи потеряли свыше $1 млрд. в эквиваленте в результате взломов и скамов.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<p>Ваши биткойны будут в безопасности только в том случае, если хранить их в <a href="/wallets/">кошельке подконтрольном ВАМ</a>!</p>

<p>Предлагаем Вам немного информации о том, что бывает, когда пользователи передают свои биткойны посредникам:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Взлом Bitfinex, из-за которого пользователи потеряли $70 млн</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Ошибка обменника Mt Gox обошлась пользователям в $450 млн</a></li>
</ul>

<p>Окажите себе услугу:</p>

<p>Заведите собственный Bitcoin-кошелек, и держите деньги под контролем. Большие объемы BTC рекомендуем хранить на аппаратных кошельках. Аппаратные кошельки представляет собой небольшие офлайн-устройства, которые позволяют Вам хранить биткойны без подключения к интернету, а значит, вне досягаемости для хакеров и вредоносного ПО.</p>


<h2>Зачем? Хотя бы потому, что это очень просто:</h2>
<ul class="quick-info-pros">
	<li>Аппаратные кошельки – самый простой способ безопасности хранить биткойны с возможность восстановить их в любой момент</li>
	<li>Меньше вероятность ошибиться: настройка аппаратных кошельков настолько проста, что с ней справится любой новичок</li>
</ul>
<br>
<p>Ниже Вы можете видеть сравнение нескольких аппаратных кошельков:</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Кошелек</th>
    <th>Экран<br></th>
    <th class="released">Год выпуска</th>
    <th>Цена</th>
    <th class="wallet-buy">Купить</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>

    </div>
</div>   



<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="secure-your-coins" class="chapter-link">Бонусная глава</h3>
<h2 class="chapter-name">Bitcoin-обменники в разных странах</h2>
<div class="nice-divider"></div>
<p><i>Здесь вы можете посмотреть список биткойн-обменников по разным странам.</i></p>

<p><i>Наиболее подходящий вам обменник можно найти при помощи <a href="#find-exchange">специальной формы</a> вверху страницы.</i></p>

<h2>Купить Bitcoin в России</h2>
<p>Среди русскоязычного сегмента пользователей биткойнов наиболее популярной обменной платформой считается <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>. По факту, российских биткойн-обменников не существует. Кроме того, вы всегда можете поискать подходящие направления обмена на <a href="http://bestchange.ru">BestChange</a> или продавцов и покупателей по местным форумам.</p>
<p>Чтобы купить BTC посредством кредитной карты, попробуйте <a href="http://buybitcoinww.co/CoinMama_Bitcoin">CoinMama</a>.</p>



<h2>Купить Bitcoin в Украине</h2>
<p>В Украине, как и в России, популярностью пользуется LocalBitcoins. Украинских обменников также не существует, если не считать <a href="http://Btcu.biz">Btcu.biz</a> и <a href="http://kuna.com.ua">kuna.com.ua</a>
<p>Чтобы купить BTC посредством кредитной карты, попробуйте <a href="http://buybitcoinww.co/CoinMama_Bitcoin">CoinMama</a>.</p>



<h2>Купить Bitcoin в Беларуси</h2>
<p>Белорусских Bitcoin-обменников также найти не удалось, но можно обменять любые электронные деньги на обменниках в <a href="https://www.bestchange.ru/">BestChange</a> или поискать продавцов на местных форумах</p>


<h2>Купить Bitcoin в Казахстане</h2>
<p>В Казахстане практически нет возможности купить BTC, не считая прямого обмена наличных при личной встрече с продавцами с <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>



<h2>Купить Bitcoin в Эстонии</h2>
<p>Здесь, как в России и Украине, наиболее популярным способом покупки биткойнов считается <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a></p>
<p>Чтобы купить BTC посредством кредитной карты, попробуйте <a href="http://buybitcoinww.co/CoinMama_Bitcoin">CoinMama</a>.</p>


<h2>Купить Bitcoin в США</h2>
<p>В США самым простым способом покупки биткойнов является <a href="http://buybitcoinww.co/Buy_Coinbase">Coinbase</a>, где BTC можно приобрести при помощи кредитной карты или посредством банковского перевода.</p>
<p>Кроме того, вы всегда можете воспользоваться платформами LocalBitcoins или BitQuick.</p>



<h2>Купить Bitcoin в Германии</h2>
<p>Чтобы купить биткойны в Германии, достаточно воспользоваться сайтом <a href="https://www.bitcoin.de/">bitcoin.de</a>.</p>


<h2>Купить Bitcoin во Франции</h2>
<p>Во Франции самым простым способом покупки биткойнов является <a href="http://buybitcoinww.co/Buy_Coinbase">Coinbase</a>, где BTC можно приобрести при помощи кредитной карты или посредством банковского перевода внутри зоны SEPA.</p>



<h2>Купить Bitcoin в Израиле</h2>
<p>В Израиле купить биткойны проще всегда на сайтах <a href="https://www.bit2c.co.il/">bit2C</a> и <a href="https://www.bitsofgold.co.il/">Bits of Gold</a>.</p>



<h2>Купить Bitcoin в Молдове</h2>
<p>В Молдове для покупки биткойнов чаще всего пользуются сервисом <a href="https://buyer.md/ro/exchange/">Buyer.md</a></p>
<p>Кроме того, можно купить BTC за наличные, воспользовавшись сайтом <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>


<h2>Купить Bitcoin в Азербайджане</h2>
<p>В Азербайджане практически нет возможности купить BTC, не считая прямого обмена наличных при личной встрече с продавцами с <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>



<h2>Купить Bitcoin в Кыргызстане</h2>
<p>В Кыргызстане практически нет возможности купить BTC, не считая прямого обмена наличных при личной встрече с продавцами с <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>



<h2>Купить Bitcoin в Нидерландах</h2>
<p>В Нидерландах самым простым способом покупки биткойнов является <a href="http://buybitcoinww.co/Buy_Coinbase">Coinbase</a>, где BTC можно приобрести при помощи кредитной карты или посредством банковского перевода по системе iDEAL..</p>



<h2>Купить Bitcoin в Узбекистане</h2>
<p>В Узбекистане практически нет возможности купить BTC, не считая прямого обмена наличных при личной встрече с продавцами с <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>



<h2>Купить Bitcoin в Таджикистане</h2>
<p>В Таджикистане практически нет возможности купить BTC, не считая прямого обмена наличных при личной встрече с продавцами с <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>


<h2>Купить Bitcoin в Польше</h2>
<p>В Польше самым простым способом покупки биткойнов является <a href="http://buybitcoinww.co/Buy_Coinbase">Coinbase</a>, где BTC можно приобрести при помощи кредитной карты или посредством банковского перевода.</p>


<h2>Купить Bitcoin в Туркменистане</h2>
<p>В Туркменистане практически нет возможности купить BTC, не считая прямого обмена наличных при личной встрече с продавцами с <a href="https://localbitcoins.com/ru/?ch=3nj0">LocalBitcoins</a>.</p>

</div>
</div>

</div>




</div>

</div>
