---
hide_sidebar: true
lang: bg
title: Купете биткойн в България
seotitle: Купете биткойн в България | Борси, Брокери и Автомати
desc: Buy Bitcoin Worldwide Ви помага да закупите биткойн във всяка страна и чрез предпочитания от Вас начин за плащане. Лесно е да откриете борси, брокери и дилъри. 
permalink: /bg/
layout: default
multilang: yes
pagename: index
---
{% assign lang = site.data.translations[page.lang] %}
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'bg' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}