---
layout: color
permalink: "/wallets/"
title: Which is the Best Bitcoin Wallet?
subtitle: The Ultimate Guide
lang: en
seotitle: 11 Best Bitcoin Wallet Hardware & App Reviews 2017
desc: Quickly find the best bitcoin wallet -- hardware or software -- based on your needs. Our reviews make it easy.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>This guide will help you to find the best Bitcoin wallet for YOU!</p>
<p>Hint:</p>
<p>There's no "one size fits all" Bitcoin wallet. Wallets come on different platforms with different features.</p>
<p>If you want the best possible wallet, keep reading...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapters</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Chapter 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">What is a Bitcoin wallet?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Chapter 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Wallet Types</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Chapter 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Hardware Wallets</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Chapter 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Hot Wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Chapter 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bitcoin Banks vs. Wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Chapter 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Theft and Scams</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Chapter 1</h3>
<h2 class="chapter-name">What is a Bitcoin Wallet?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>A Bitcoin wallet is the first step to using Bitcoin.</p>
<p>Why?</p>
<p>Without a wallet, you can’t receive, store, or spend bitcoins.</p>
<p>You can think of a wallet as your personal interface to the Bitcoin network, similar to how your online bank account is an interface to the regular monetary system. </p>
<p>Bitcoin wallets contain private keys; secret codes that allow you to spend your bitcoins.</p>
<p>In reality, it’s not bitcoins that need to be stored and secured, but the private keys that give you access to them.</p>
<p>In short:</p> 
<p>A Bitcoin wallet is simply an app, website, or device that manages Bitcoin private keys for you. </p>

<h3 id="types-of-wallets" class="chapter-link">Chapter 2</h3>
<h2 class="chapter-name">Types of Bitcoin Wallets</h2>
<div class="nice-divider"></div>

<p><i>Let's discuss the types of bitcoin wallets and why you might want to use one kind over another.</i></p>

<h3 class="sub-sub-section"><b>Hardware Wallets</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>The <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> is one example of a hardware wallet.</span>
</div>

<p>A hardware wallet is a physical electronic device, built for the sole purpose of securing bitcoins.</p>
<p>The core innovation is that the hardware wallet must be connected to your computer, phone, or tablet before bitcoins may be spent.</p>

<p>The three most popular and best Bitcoin hardware wallets are:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Hardware wallets are a good choice if you’re serious about security and convenient, reliable Bitcoin storage. </p>

<p>Bitcoin hardware wallets keep private keys separate from vulnerable, internet-connected devices.</p>
<p>Your all-important private keys are maintained in a secure offline environment on the hardware wallet, fully protected even should the device be plugged into a malware-infected computer.</p>

<p>As bitcoins are digital, cyber-criminals could, potentially, target your computer’s “software wallet” and steal them by accessing your private key.</p>

<p>Generating and storing private keys offline using a hardware wallet ensures that hackers have no way to reach your bitcoins.</p> 

<p>Hackers would have to steal the hardware wallet itself, but even then, it can be protected with a PIN code.</p> 

<p>Don’t worry about your hardware wallet getting stolen, lost or damaged either; so long as you create a secret backup code, you can always retrieve your bitcoins.</p>

<div class="quote-box">
<p>Think of a hardware wallet like your own underground steel vault. If you own a significant amount of bitcoins, you should strongly consider getting one!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Why are hardware wallets <b>good</b>?</h2>
<ul class="quick-info-pros">
	<li>Easiest way to securely store bitcoins</li>
	<li>Easy to backup and secure</li>
	<li>Less margin for error; setup is easy even for less technical users</li>
</ul>

<h2>Why are hardware wallets <b>bad</b>?</h2>
<ul class="quick-info-cons">
	<li>They're not free!</li>
</ul>

<h3 class="sub-sub-section"><b>Hot Wallets</b></h3>

<p>Hot wallets are Bitcoin wallets that run on internet connected devices like a computer, mobile phone, or tablet.</p>

<p>Private keys are <i>secret</i> codes. Because hot wallets generate your private keys on an internet connected device, these private keys can’t be considered 100% secure.</p> 

<div class="quote-box">
<p>Think of a hot wallet like your wallet today: you use it to store some cash, but not your life savings. Hot wallets are great if you make frequent payments, but not a good choice for the secure storage of bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Why are hot wallets <b>good</b>?</h2>
<ul class="quick-info-pros">
	<li>Easiest way to store small amounts of bitcoin</li>
	<li>Convenient; spending and receiving payments is easy and fast</li>
	<li>Some hot wallets allow access to funds across multiple devices</li>
</ul>

<h2>Why are hot wallets <b>bad</b>?</h2>
<ul class="quick-info-cons">
	<li>Not safe for the secure storage of large amounts of bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Which Wallet is Best for You?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Why are you using Bitcoin?</a></p>

<p>Investing or saving? Then a hardware wallet will keep your coins safe.</p>

<p>Otherwise, a software wallet will send and receive bitcoins just fine. Best of all, software wallets are free.</p>

<p>Each wallet has pros and cons, and different wallets are built to solve different problems. </p>

<p>Some wallets may be geared towards security, while some wallets may be more focused on privacy. </p>

<p>Your specific needs should determine the wallet you use, as there is no “best bitcoin wallet”.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Below, we've listed wallets you can buy or download. We suggest using the wallets listed or doing research before buying or downloading any wallet. </p>
<p>Each day, new Bitcoin scam wallets are added to the Google Play Store and Apple app store that are designed to steal peoples' bitcoins.</p>
<p>We only list wallets that have published and open-sourced their code.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Chapter 3</h3>
<h2 class="chapter-name">Hardware Wallets: Keep Your Coins Safe</h2>
<div class="nice-divider"></div>

<p>Hardware wallets aren't free.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>The three most popular hardware wallets: KeepKey, Ledger Nano S, and Trezor.</span>
</div>

<p>But the price can be worth it if you own a significant amount of bitcoins. A hardware wallet will protect a few hundred in Bitcoin just as effectively as a few million.</p>

<h2>How Hardware Wallets Work</h2>			
<p>Hardware wallets are secure, offline devices. They store your private keys offline so they can't be hacked.</p>
<p>This means you can even use one on a malware infected computer.</p>

<h2>Why A Hardware Wallet with a Screen is Important</h2>			
<p>In the table below, you'll notice we show which hardware wallets have screens.</p>
<p>Screens provide extra security by verifying and displaying important wallet details. Since the hardware wallet is nearly impossible to hack, its screen is more trustworthy than data displayed on your computer. </p>

<h2>Bitcoin Hardware Wallet Comparison</h2>
<p>Check the table below for a quick comparison. Note: </p>
<p>We also did a detailed <a href="/trezor-keepkey-ledger/">comparison of the three main ones: Ledger Nano S, Trezor, and KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Wallet</th>
    <th>Screen<br></th>
    <th class="released">Released</th>
    <th>Price</th>
    <th class="wallet-buy">Buy</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Best Bitcoin Hardware Wallet Overviews</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Chapter 4</h3>
<h2 class="chapter-name">Hot Wallets</h2>
<div class="nice-divider"></div>

<p>Just a quick refresher: </p>

<p>Hot wallets are Bitcoin wallets that run on internet connected devices like a computer, mobile phone, or tablet. As hot wallets generate private keys on an internet connected device, these private keys can’t be considered 100% secure.</p> 

<div class="quote-box">
<p>Think of a hot wallet like your wallet today: you use it to store some cash, but not your life savings. Hot wallets are great if you make frequent payments, but not a good choice for the secure storage of bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Online Bitcoin Wallets (Web Wallets)</h2>
<div class="nice-divider-sub"></div>			
<p>Web wallets store your private keys online, where they are encrypted with a user-selected password. Although they offer the lowest level of security, online bitcoin wallets have the advantage of being accessible from any internet connected device.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Android Bitcoin Wallets</h2>
<div class="nice-divider-sub"></div>			
<p>There is a large selection of <a href="https://bitcoinworldwide.com/wallets/android/">Android wallets</a>. Since Bitcoin wallets were originally banned by Apple, developers spent much of their time developing for Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">iOS and iPhone Bitcoin Wallets</h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">banned Bitcoin wallets</a> from the App Store in February 2014, but reversed its decision a few months later. Luckily, there are now plenty of options for iOS users. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Desktop Wallets</h2>
<div class="nice-divider-sub"></div>			
<p>Desktop wallets are downloaded and installed on your computer. If privacy is your main concern, the Bitcoin core wallet is a good option since it does not rely on third parties for data. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Chapter 5</h3>
<h2 class="chapter-name">Bitcoin Banks: $1 Billion Lost in Hacks</h2>
<div class="nice-divider"></div>

<p>One last thing to keep in mind when it comes to bitcoin wallets is that there is a difference between a wallet and a bank. Some Bitcoin users view <a href="/exchanges/coinbase/">Coinbase</a> as a Bitcoin wallet, but companies like this operate much more like banks. </p>

<p>Remember:</p>

<p>The private keys are what users need to protect to safely use the Bitcoin network without getting robbed. When you hand someone else control over your private keys, you are essentially making a deposit at that financial institution &ndash; much like a deposit at any bank.</p>

<div class="quote-box">
<p>Don't store coins on exchanges! Bitcoin users have lost over $1 billion worth of bitcoins in exchange hacks and scams. Control your own private keys. If you need help, then ask your questions in our <a href="http://ask.buybitcoinworldwide.com/">Ask section</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<p>This is not to say that bitcoin banks are inherently bad. Companies like Coinbase have done wonders for bringing more users into the ecosystem. It is simply important to remember that <i>whoever controls the private keys controls the bitcoin attached to those keys</i>.</p>

<p>A misunderstanding of this point has led to hundreds of millions of US dollars being lost in the past, so it’s important to understand this critical difference in how Bitcoin private keys can be stored.</p>

<p>Understanding how bitcoin wallets work is an important aspect of safely using this new technology. Bitcoin is still in its early years of development and wallets will become much more user-friendly in time.</p>

<p>In the near future, certain devices may eventually come with pre-installed wallets that interact with the blockchain without the user’s knowledge.</p> 

<p>For now, it’s vital to keep in mind that the private keys are what you need to protect if you want to keep your bitcoin safe from hackers, user error, and other possible issues.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Chapter 6</h3>
<h2 class="chapter-name">Theft and Scams</h2>
<div class="nice-divider"></div>

<p>No matter which wallet you choose, remember: </p>

<p>Your bitcoins are only safe if the private key was generated securely, remains a secret, and--most importantly--is controlled only by YOU!</p>

<p>Here are two examples where users got ripped off by leaving bitcoins in the care of a third party:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">The Bitfinex hack, in which users lost $70 million</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">The failure of Mt Gox, in which users lost $450 million or more</a></li>
</ul>

<p>To avoid theft, scams, and any other loss of funds, follow these three basic principles: </p>

<ol>
<li><b>Generate your private keys in a secure, offline environment</b>. (Except if using trivial amounts, in which cases keys may be created in a hot wallet).</li>
<li><b>Create backups of your private keys</b>. This helps to protect against the loss of your bitcoins due to hard drive failure or some other problem or accident. Ideally you should have a duplicate set of backups kept off-site to protect against the possibility of fire, robbery, etc.</li>
<li><b>Encrypt wallets to provide additional security</b>. This helps prevent the physical theft of your funds in the event that your device or hardware wallet is stolen.</li>
</ol>

<p>Securing your bitcoins properly is the most important step for any Bitcoin user.</p>

<p>With Bitcoin you have the privilege - but also the responsibility - to safeguard your own money. There have been countless scams related to Bitcoin that could have been prevented had people not entrusted others with their bitcoins.</p>

<p>It’s a good rule of thumb to never trust anyone else with your money.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div> 



<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="wallet-faq" class="chapter-link">Bonus Chapter</h3>
<h2 class="chapter-name">Bitcoin Wallet Frequently Asked Questions</h2>
<div class="nice-divider"></div>

<div>
    <h2>
        Bitcoin wallets. What are they?
    </h2>
    <p>
        Bitcoin Wallets let us send, receive and store Bitcoin amounts all the
        way down to the
        <a href="https://en.bitcoin.it/wiki/Satoshi_%28unit%29">Satoshi unit</a>.
    </p>
    <p>
        Wallets secure funds by guarding our private keys. These private keys
        act as the proof of ownership for our Bitcoins. As such, a Bitcoin
        wallet is like a key to your safe deposit box on the Blockchain.
    </p>
    <h2>
        What is a private key?
    </h2>
    <p>
        <a href="http://bitcoin.stackexchange.com/questions/19950/how-are-public-and-private-keys-related-to-the-wallet">Private keys</a> emerged as a way to communicate securely through insecure
        communication channels.</p>
        
        <p>Historically, before the advent of public key
        cryptography, the greatest cryptographic weakness was the inability to
        communicate the ‘key’ that makes sense of encrypted messages. As a
        solution, the use of two keys (public and private) entered the picture.
    </p>
    <p>
        It’s a nifty little trick.</p> 
        
        <p>Keys come in pairs. The public key is used
        to encrypt the message whereas the private key decrypts the message.
        The only person with the private key is you. Everyone else is free to
        have your public key. As a result, everyone can send you encrypted
        messages without having to agree on a key beforehand. They simply use
        your public key and you untangle the gibberish by using your private
        key.
    </p>
    <h2>
        Why should I care about private keys?
    </h2>
    <p>
        At the end of the day, all of this can go over your head without much
        danger. Just remember that it’s good to know what you’re dealing with.
        Bitcoin wallets make use of a fundamental cryptographic principle that
        we use for things ranging from https for websites or sending anonymous
        tips to Wikileaks. Most importantly, by understanding private keys
        you’ll have a much easier familiarizing yourself with Cold Storage
        wallets.
    </p>
    <h2>
        What is a Bitcoin address?
    </h2>
    <p>
        A <a href="https://en.bitcoin.it/wiki/Address">Bitcoin address</a> is like an account number, just better. The address
        denotes which wallet the coins should be sent to. Like a bank account
        number, where the difference lies in the wallets having multiple
        addresses. These can be customized by including payment request
        information such as an amount and a date of expiration.
    </p>
    <h2>
        What should I know about addresses?
    </h2>
    <p>
        Bitcoin wallet addresses are case sensitive, usually have 34 characters
        of numbers and lowercase letters, start with either a 1 or a 3, and
        never use 0, O, l and I to make every character in the address as clear
        as possible. That’s a lot to take in. But don’t worry. What they
        consist of is largely irrelevant to you. Just know they’re a string of
        characters that denote a destination on the Bitcoin Blockchain.
    </p>
    <h2>
        How do I generate a Bitcoin address for my wallet?
    </h2>
    <p>
        How to generate a new Bitcoin Address varies between wallets. Some
        manage your addresses for you. Others give you full control. As with
        many other Bitcoin technologies, the option to dirty your own hands is
        always open.
    </p>
    <p>
        If you do end up taking the easier route, just press a button to
        generate a new address for your wallet.
    </p>
    <p>
        Some wallets, like Electrum, allow you choose in how many blocks your
        transaction should be confirmed. The faster you want your payment to go
        through, the more you will have to pay miners for confirming your
        activity. We find here another difference between Bitcoin wallets and
        Bank accounts. Given the right wallet, the control and oversight that
        we have over our transactions is far more extensive than that of the
        traditional banking system.
    </p>
    <h2>
        How do I fund a Bitcoin Wallet?
    </h2>
    <p>
        First, acquire some Bitcoins. Go through an exchange in your country,
        ask an acquaintance to share, or use <a href="/#find-exchange">Buybitcoinworldwide.com</a> if you
        want as seamless of an experience as possible. The purchased coins can
        then be sent to your wallet by specifying one of its addresses.
    </p>
    <p>
        Some wallets, particularly online ones, also let you buy coins. Keep in
        mind that these come with larger exchange margins which are best left
        alone.
    </p>
    <h2>
        Are Bitcoins safe?
    </h2>
    <p>
        Is Bitcoin a <a href="https://www.credit-suisse.com/us/en/articles/articles/news-and-expertise/2017/01/en/is-bitcoin-safe.html">safe way</a> to store value digitally? Are we wise to save our
        coins on our computer? It’s true that online wallets are necessarily
        more dangerous than offline wallets. However, even offline wallets can
        be breached, meaning that security in the Bitcoin world depends largely
        on following good practices. Just like you would avoid flailing your
        bills about in a dangerous place, you should make sure to keep your
        passwords and keys as safe as possible.
    </p>
    <h2>
        How do I secure my Wallet?
    </h2>
    <ul>
       <li>Secure your computer</li>
       <li><b>Restrict unsupervised access.</b> Set a strong password and close all ports and maintain a strict firewall.</li>
       <li><b>Frequently change address.</b> Use a different address for every transaction.</li>
        <li><b>Multiple Signatures (Multi-sig).</b> Multiple private keys to deter breaches.</li>
    </ul>
    
    <h2>
        Where are Bitcoins stored?
    </h2>
    <p>
        Bitcoins simply consist of a string of data. That’s why they can be
        stored anywhere. You could paint Bitcoin on a wall with your blood.
        Nobody does that though. Hopefully.
    </p>
    <p>
        Instead, we store BTC on computers because we need them handy to trade.
        After all, we need to be connected to the internet to send value from
        one wallet to another over the Blockchain.
    </p>
    <h2>
        How do I open a Bitcoin account?
    </h2>
    <p>
        To some readers this might seem like a weird question. Truth is, people
        coming from a financial or business background are likely to expect
        Bitcoin to be a direct alternative to our current financial system.
        This is not the case.
    </p>
    <p>
        You don’t need a Bitcoin account. There is no such thing really. You
        just need a wallet. The only accounts you might encounter are online
        wallets that are separated into various accounts via a user system.
    </p>
    <h2>
        What types of wallets are there?
    </h2>
    <ul>
        <li>
            Online
            <ul>
                <li>
                    Web-wallet. Accessed via web-browser. Access to money
                    gained through username or password.
                </li>
            </ul>
        </li>
        <li>
            Offline
            <ul>
                <li>
                    Desktop
                    <ul>
                        <li>
                            Access gained via physical access to computer.
                        </li>
                    </ul>
                </li>
                <li>
                    Mobile
                    <ul>
                        <li>
                            Access gained via physical access to phone.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Hardware (Cold Storage)
            <ul>
                <li>
                    Paper, Brain, Hardware
                    <ul>
                        <li>
                            Hardware wallets delimit access of your funds to
                            the hardware device alone. The coins are stored in
                            a microcontroller, and are to be transferred only
                            when authorized.
                        </li>
                        <li>
                            The act of storing of your wallet’s private keys in
                            a way that is completely detached from a network.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <h2>
        How do I know which wallet is best for me?
    </h2>
    <p>
        Let’s be honest. It’s unreasonable to expect anyone else to make this
        decision for you. After all, your preference depends entirely on your
        personality and needs. So just be honest with yourself.
    </p>
    <p>
        Frankly, you shouldn’t need anything complicated if you’re using the
        wallet for simple internet expenses or as a way to save money.
        </p><p>
        If, however, you’re planning to run a Bitcoin centered business make
        sure to use advanced wallets that support automated mass payments.
    </p>
    <h2>
        Any common mistakes to be careful of?
    </h2>
    <p>
        First of all, don’t rest your money in an exchange wallet. Keep your
        coins in an environment where you have complete control.
    </p><p>
        Secondly, don’t keep all of your coins in one place. You’ll be crushed
        if you lose access to a wallet with all of your funds.
        </p><p>
        Thirdly, double check the target address. Bitcoin transactions cannot
        be reversed, so don’t lose your coins forever to a stranger!
        </p><p>
        Last of all, use trusted online wallets (if at all). Don’t just trust
        anyone with your money. Make sure that the online wallet provider has a
        reputation of upholding the highest possible security standards.
    </p>
</div>


</div>
</div>





                   
</div>