---
layout: color
permalink: "/th/wallets/"
title: กระเป๋าสตางค์ Bitcoin ไหนดีที่สุด?
subtitle: คู่มือผู้ใช้ฉบับสมบูรณ์
lang: th
seotitle: 11 กระเป๋าสตางค์ Bitcoin ที่ดีที่สุด สำหรับปี 2017 ทั้งแบบ ฮาร์ดแวร์ และ แอพ
desc: หากระเป๋าสตางค์บิทคอยน์ (Bitcoin) ทั้งแบบอุปกรณ์ฮาร์ดแวร์และแบบแอพ อ่านรีวิวของเราเพื่อช่วยให้คุณเลือกแบบที่ดีที่สุดตรงความต้องการ
color: yes
pagename: wallets
multilang: yes
---

<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}<!-- THAI VERSION SHOULD BE "กระเป๋าสตางค์ Bitcoin ไหนดีที่สุด?" (without quotes) --></a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}<!-- THAI VERSION SHOULD BE "คู่มือผู้ใช้ฉบับสมบูรณ์" (without quotes) --></h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>คู่มือนี้จะช่วยในการเลือกกระเป๋าสตางค์ Bitcoin ที่ดีที่สุดสำหรับคุณ!</p>
<p>บอกใบ้:</p>
<p>ไม่มีกระเป๋าสตางค์ที่ "ดีที่สุด" เพราะกระเป๋าสตางค์แต่ละแบบใช้ระบบที่ไม่เหมือนกันและให้ฟีเจอร์ที่ไม่เหมือนกัน</p>
<p>ถ้าต้องการเลือกอันที่เหมาะสมที่สุด โปรดอ่านต่อไป...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">สารบัญ</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">บทที่ 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">กระเป๋าสตางค์ Bitcoin คืออะไร?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">บทที่ 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">กระเป๋าสตางค์ Bitcoin ประเภทต่าง ๆ</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">บทที่ 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">กระเป๋าสตางค์แบบฮาร์ดแวร์</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">บทที่ 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">กระเป๋าสตางค์แบบ Hot Wallet</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">บทที่ 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">ความแตกต่างระหว่างธนาคาร Bitcoin กับกระเป๋าสตางค์</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">บทที่ 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">กรณีการขโมยและหลอกลวง</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">บทที่ 1</h3>
<h2 class="chapter-name">กระเป๋าสตางค์ Bitcoin คืออะไร?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>ก่อนจะเริ่มใช้บิทคอยน์ได้ต้องเริ่มจากการมีกระเป๋าสตางค์ (wallet) เสียก่อน</p>
<p>เพราะอะไร?</p>
<p>ถ้าไม่มีกระเป๋าสตางค์ เราก็จะไม่สามารถรับ เก็บ หรือใช้บิทคอยน์ได้</p>
<p>กระเป๋าบิทคอยน์เปรียบเสมือนตัวกลางที่เชื่อมระหว่างเรากับระบบบิทคอยน์ เช่นเดียวกับการที่หน้าเว็บธนาคารเป็นตัวกลางเชื่อมไปสู่ระบบการเงิน</p>
<p>กระเป๋าสตางค์บิทคอยน์ใช้การเข้ากุญแจส่วนตัว หรือรหัสลับที่ทำให้คุณใช้งานบิทคอยน์ได้</p>
<p>ในการใช้งานจริง สิ่งที่ต้องเก็บรักษาอย่างปลอดภัยไม่ใช่ตัวบิทคอยน์โดยตรง แต่เป็นกุญแจส่วนตัวของแต่ละคนที่ใช้อนุมัติการทำธุรกรรมบิทคอยน์</p>
<p>สรุปสั้น ๆ ว่า:</p> 
<p>กระเป๋าสตางค์บิทคอยน์ก็คือแอพ เว็บไซต์ หรืออุปกรณ์ที่ทำหน้าที่จัดเก็บกุญแจส่วนตัวของแต่ละคน</p>

<h3 id="types-of-wallets" class="chapter-link">บทที่ 2</h3>
<h2 class="chapter-name">กระเป๋าสตางค์ Bitcoin ประเภทต่าง ๆ</h2>
<div class="nice-divider"></div>

<p><i>เราจะมาอธิบายว่ากระเป๋าบิทคอยน์มีแบบไหนบ้าง และควรเลือกใช้แบบไหน</i></p>

<h3 class="sub-sub-section"><b>Hardware Wallets</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">ตัวอย่างกระเป๋าสตางค์แบบฮาร์ดแวร์ เช่น 
<span>The <a href="/wallets/ledger-nano-s/">Ledger Nano S</a></span>
</div>

<p>กระเป๋าสตางค์แบบฮาร์ดแวร์ เป็นอุปกรณ์อิเล็คทรอนิกส์ ที่สร้างขึ้นโดยเฉพาะเพื่อใช้จัดเก็บบิทคอยน์ให้ปลอดภัย</p>
<p>หลักการทำงานคือ จะต้องนำตัวอุปกรณ์จะต้องเชื่อมต่อกับคอมพิวเตอร์ โทรศัพท์มือถือ หรือแท็บเบล็ต ก่อนจะสามารถใช้งานบิทคอยน์ได้</p>

<p>กระเป๋าสตางค์แบบฮาร์ดแวร์ที่นิยมใช้กันมากที่สุด ได้แก่:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>กระเป๋าสตางค์แบบฮาร์ดแวร์เหมาะสำหรับผู้ที่คำนึงถึงความปลอดภัยเป็นหลัก</p>

<p>กระเป๋าฮาร์ดแวร์มีความปลอดภัยสูงเนื่องจากเก็บกุญแจส่วนตัวไว้นอกอุปกรณ์ที่เชื่อมต่ออินเตอร์เน็ตโดยตรง</p>
<p>กุญแจส่วนตัวเก็บไว้แบบออฟไลน์ภายในตัวเครื่อง ดังนั้นจึงปลอดภัยแน่นอนแม้จะเอาตัวเครื่องไปเสียบกับคอมพิวเตอร์ที่มีไวรัสหรือมัลแวร์</p>

<p>บิทคอยน์เป็นเงินตราดิจิทัล ดังนั้นอาชญากรคอมพิวเตอร์มักจะพยายามล้วงข้อมูลจาก "ซอฟต์แวร์กระเป๋าสตางค์" (software wallet) เพื่อขโมยกุญแจส่วนตัว</p>

<p>ดังนั้นการที่ใช้อุปกรณ์แยกต่างหากสำหรับสร้างและเก็บกุญแจส่วนตัวจึงทำให้มั่นใจได้ว่าไม่มีใครสามารถเข้ามาขโมยบิทคอยน์ได้แน่นอน</p> 

<p>หากต้องการขโมย จะต้องขโมยไปทั้งตัวเครื่อง แต่ถึงกระนั้นเราก็ยังสามารถตั้งรหัส PIN เพื่อป้องกันได้</p> 

<p>กระเป๋าฮาร์ดแวร์มีความปลอดภัยและสะดวกสบาย ถึงแม้ว่าตัวเครื่องอุปกรณ์จะหาย ถูกขโมย หรือชำรุด หากเรามีการสร้างรหัสแบคอัพสำรองไว้ บิทคอยน์ก็จะไม่หายไปไหน</p>

<div class="quote-box">
<p>กระเป๋าแบบฮาร์ดแวร์เปรียบเสมือนห้องนิรภัยใต้ดินของเรา แน่นอนว่าถ้าใครมีบิทคอยน์มาก ๆ ก็ควรจะพิจารณาสร้างห้องนิรภัยเอาไว้เก็บ</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">ผู้ก่อตั้ง Buy Bitcoin Worldwide</span></div>
</div>

<h2>กระเป๋าฮาร์ดแวร์ <b>ดี</b> ตรงไหน?</h2>
<ul class="quick-info-pros">
	<li>เป็นวิธีการที่ง่ายที่สุดที่จะจัดเก็บบิทคอยน์อย่างปลอดภัย</li>
	<li>สะดวกสำหรับการสร้างแบคอัพสำรองข้อมูล</li>
	<li>ป้องกันข้อผิดพลาดได้ เพราะติดตั้งและเริ่มใช้งานได้ง่ายแม้ไม่ถนัดด้านไอที</li>
</ul>

<h2>กระเป๋าฮาร์ดแวร์ <b>ไม่ดี</b> ตรงไหน?</h2>
<ul class="quick-info-cons">
	<li>ต้องจ่ายเงินซื้อตัวอุปกรณ์</li>
</ul>

<h3 class="sub-sub-section"><b>กระเป๋าสตางค์แบบ Hot Wallet</b></h3>

<p>กระเป๋าแบบ hot wallet หมายถึงกระเป๋าบิทคอยน์ที่ทำงานบนอุปกรณ์ที่เชื่อมต่อกับอินเตอร์เน็ตโดยตรง เช่น คอมพิวเตอร์ โทรศัพท์มือถือ หรือแท็บเล็ต</p>

<p>กุญแจส่วนตัวที่สร้างจากระบบบิทคอยน์ถือเป็น  <i>รหัสลับ</i>แต่กระเป๋า hot wallet ทำงานและสร้างกุญแจส่วนตัวอยู่บนอุปกรณ์ที่เชื่อมกับอินเตอร์เน็ต รหัสที่สร้างจึงอาจไม่ปลอดภัย 100%</p> 

<div class="quote-box">
<p>ให้คิดว่ากระเป๋า hot wallet เป็นเหมือนกระเป๋าสตางค์จริงที่ใช้ในชีวิตประจำวัน เราอาจใช้ใส่เงินสด แต่ไม่ใช่เอาไว้ใช้สำหรับเก็บเงินทั้งหมดที่เรามี กระเป๋า hot wallet ดีสำหรับการใช้งานบ่อย ๆ แต่ไม่ควรใช้เก็บบิทคอยน์ปริมาณมาก</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">ผู้ก่อตั้ง Buy Bitcoin Worldwide</span></div>
</div>

<h2>กระเป๋าสตางค์แบบ hot wallet <b>ดี</b> ตรงไหน?</h2>
<ul class="quick-info-pros">
	<li>เป็นวิธีที่ง่ายที่สุดในการจัดเก็บบิทคอยน์จำนวนน้อย</li>
	<li>สะดวกสบาย เพราะสามารถรับและจ่ายบิทคอยน์ได้อย่างรวดเร็ว</li>
	<li>กระเป๋า hot wallet บางอันสามารถเชื่อมต่อข้ามอุปกรณ์ได้หลายเครื่อง</li>
</ul>

<h2>กระเป๋าสตางค์แบบ hot wallet <b>ไม่ดี</b> ตรงไหน?</h2>
<ul class="quick-info-cons">
	<li>ไม่ปลอดภัยในการใช้เก็บบิทคอยน์มาก ๆ</li>
</ul>

<h3 class="sub-sub-section"><b>กระเป๋าสตางค์แบบไหนเหมาะที่สุดสำหรับคุณ?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">คุณใช้ bitcoin ทำอะไร?</a></p>

<p>หากใช้เพื่อการลงทุนหรือออมเงิน กระเป๋าฮาร์ดแวร์เป็นวิธีที่ปลอดภัยที่สุด</p>

<p>แต่สำหรับการใช้งานทั่วไป กระเป๋าซอฟท์แวร์จะสะดวกสบายกว่า และส่วนใหญ่จะสามารถโหลดมาใช้งานได้ฟรี</p>

<p>กระเป๋าแต่ละอันมีข้อดีและข้อเสียต่างกัน และมีวัตถุประสงค์การใช้งานต่างกัน</p>

<p>กระเป๋าบางอันเน้นความปลอดภัย บางอันเน้นความเป็นส่วนตัวของข้อมูล</p>

<p>เราสามารถเลือกกระเป๋าสตางค์ที่เหมาะสมได้ตามความต้องการ เพราะไม่มี “กระเป๋าที่ดีที่สุด”</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>เราได้รวบรวมกระเป๋าสตางค์ประเภทต่าง ๆ ที่มีอยู่ในท้องตลาดไว้ในบทความด้านล่าง ก่อนซื้อหรือดาวน์โหลดควรศึกษารายละเอียดของกระเป๋าแต่ละอันก่อน</p>
<p>ทุกวันมีผู้ไม่ประสงค์ดีสร้างแอพมาปล่่อยใน Google Play Store และ Apple app store เพื่อทำการหลอกลวงและขโมยบิทคอยน์ของผู้ใช้จำนวนมาก</p>
<p>ดังนั้นเราจึงเลือกมาแต่กระเป๋าที่มีลักษณะเป็น open-sourced ที่เปิดต่อสาธารณะอย่างโปร่งใส่เท่านั้น</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">บทที่ 3</h3>
<h2 class="chapter-name">กระเป๋าสตางค์แบบฮาร์ดแวร์: เก็บ Bitcoin ให้ปลอดภัย</h2>
<div class="nice-divider"></div>

<p>กระเป๋าฮาร์ดแวร์ต้องลงทุนซื้อ</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>กระเป๋าฮาร์ดแวร์ที่นิยมมากที่สุด ได้แก่ KeepKey, Ledger Nano S, และ Trezor</span>
</div>

<p>แต่อาจจะคุ้มค่ากว่า เพราะมั่นใจได้ว่าบิทคอยน์ ไม่ว่าจะหลักร้อยหรือหลักล้าน จะปลอดภัยแน่นอน</p>

<h2>กระเป๋าฮาร์ดแวร์ทำงานอย่างไร</h2>			
<p>กระเป๋าฮาร์ดแวร์เป็นอุปกรณ์ที่สร้างสำหรับจัดเก็บบิทคอยน์โดยเฉพาะ โดยจะทำการสร้างกุญแจส่วนตัวในระบบออฟไลน์ ทำให้ไม่สามารถโดนแฮคเกอร์ล้วงข้อมูลได้</p>
<p>หมายความว่า ถึงแม้จะเอาเครื่องไปเชื่อมต่อกับคอมพิวเตอร์ที่มีไวรัสหรือมัลแวร์ ก็ยังไม่มีใครสามารถล้วงกุญแจส่วนตัวของเรา</p>

<h2>ทำไมถึงควรเลือกกระเป๋าฮาร์ดแวร์ที่มีหน้าจอ</h2>			
<p>ในตารางที่เรารวบรวมมา จะสังเกตได้ว่าเราจะระบุอย่างชัดเจนว่ากระเป๋าฮาร์ดแวร์ตัวไหนบ้างที่มีหน้าจอ</p>
<p>การทีกระเป๋าฮาร์ดแวร์่มีหน้าจอทำให้เกิดความปลอดภัยมากขึ้น เนื่องจากสามารถแสดงผลและค่าต่าง ๆ จากตัวเครื่องได้โดยตรง ทำให้มั่นใจได้ว่าข้อมูลที่เราเห็นเป็นข้อมูลจริง ต่างจากหน้าจอคอมพิวเตอร์ที่อาจถูกแฮคเกอร์กำหนดให้แสดงข้อมูลปลอมเพื่อหลอกให้ผู้ใช้เผยรหัสลับ กระเป๋าฮาร์ดแวร์มีโอกาสน้อยมากที่จะถูกแฮคได้</p>

<h2>เปรียบเทียบกระเป๋าฮาร์ดแวร์ Bitcoin แบบต่าง ๆ</h2>
<p>ตารางด้านล่างเป็นการรวบรวมรายละเอียดคร่าว ๆ ของกระเป๋าฮาร์ดแวร์มาเพื่อเปรียบเทียบ หมายเหตุ:</p>
<p>เราได้เคยทำการ <a href="/trezor-keepkey-ledger/"> เปรียบเทียบกระเป๋าสตางค์ฮาร์ดแวร์หลัก 3 แบบ ได้แก่ Ledger Nano S, Trezor, และ KeepKey</a> ไว้ในอีกบทความหนึ่ง</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>กระเป๋าสตางค์</th>
    <th>มีหน้าจอ<br></th>
    <th class="released">ออกสู่ท้องตลาด</th>
    <th>ราคา</th>
    <th class="wallet-buy">สั่งซื้อ</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>แนะนำกระเป๋าฮาร์ดแวร์ Bitcoin</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">บทที่ 4</h3>
<h2 class="chapter-name">กระเป๋าสตางค์แบบ Hot Wallet</h2>
<div class="nice-divider"></div>

<p>เตือนความจำอีกครั้งเกี่ยวกับกระเป๋าสตางค์แบบ hot wallet: </p>

<p>กระเป๋าแบบ hot wallet หมายถึงกระเป๋าบิทคอยน์ที่ทำงานบนอุปกรณ์ที่เชื่อมต่อกับอินเตอร์เน็ตโดยตรง เช่น คอมพิวเตอร์ โทรศัพท์มือถือ หรือแท็บเล็ต เนื่องจากเทคโนโลยีนี้มีการสร้างกุญแจส่วนตัวบนอุปกรณ์ที่ต่อกับอินเตอร์เน็ต กุญแจส่วนตัวที่สร้างจึงอาจไม่ปลอดภัย 100%</p> 

<div class="quote-box">
<p>ห้คิดว่ากระเป๋า hot wallet เป็นเหมือนกระเป๋าสตางค์จริงที่ใช้ในชีวิตประจำวัน เราอาจใช้ใส่เงินสด แต่ไม่ใช่เก็บเงินทั้งหมดที่เรามี กระเป๋า hot wallet ดีสำหรับการใช้งานบ่อย ๆ แต่ไม่ควรใช้เก็บบิทคอยน์ปริมาณมาก</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">ผู้ก่อตั้ง Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">กระเป๋าสตางค์แบบออนไลน์ (Web Wallet)</h2>
<div class="nice-divider-sub"></div>			
<p>กระเป๋าสตางค์ออนไลน์เก็บกุญแจส่วนตัวไว้ออนไลน์ โดยมีการเข้ารหัสผ่านพาสเวิร์ดที่ผู้ใช้กำหนด กระเป๋าสตางค์แบบนี้มีความปลอดภัยน้อยที่สุด แต่มีข้อดีตรงที่สามารถใช้บิทคอยน์ได้จากอุปกรณ์อะไรก็ได้ที่เชื่อมต่อกับอินเตอร์เน็ต</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">กระเป๋าบิทคอยน์สำหรับ Android</h2>
<div class="nice-divider-sub"></div>			
<p>There is a large selection of Android wallets. Since Bitcoin wallets were originally banned by Apple, developers spent much of their time developing for Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">กระเป๋าสตางค์สำหรับ iOS และ iPhone</h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">ตัดสินใจแบนแอพกระเป๋าสตางค์บิทคอยน์ทุกชนิด</a> จาก App Store ในเดือนกุมภาพันธ์ 2014 แต่หลังจากนั้นก็ไม่กี่เดือนก็เปลี่ยนนโยบายให้กลับมาใช้ได้เหมือนเดิม ทุกวันนี้มีตัวเลือกกระเป๋าบิทคอยน์มากมายสำหรับผู้ใช้ iOS </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">กระเป๋าสตางค์แบบเดสก์ท็อป (Desktop Wallet)</h2>
<div class="nice-divider-sub"></div>			
<p>กระเป๋าสตางค์ประเภทนี้เป็นโปรแกรมที่ดาวน์โหลดและติดตั้งไว้ในคอมพิวเตอร์ สำหรับผู้มีกังวลเรื่องความปลอดภัย สามารถเลือกใช้กระเป๋าสตางค์จากบิทคอยน์กลางโดยตรงได้ เพื่อตัดความกังวลในการใช้โปรแกรม third-party </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">บทที่ 5</h3>
<h2 class="chapter-name">ธนาคาร Bitcoin: โดนแฮคเสียหายกว่า 1 พันล้านเหรียญสหรัฐ</h2>
<div class="nice-divider"></div>

<p>สิ่งหนึ่งที่เราควรทำความเข้าใจ คือ กระเป๋าสตางค์บิทคอยน์ กับ ธนาคารบิทคอยน์ ไม่ใช่สิ่งเดียวกัน  ผู้ใช้อาจคิดว่า <a href="/exchanges/coinbase/">Coinbase</a> เป็นเหมือนกระเป๋าสตางค์อันหนึ่ง แต่ที่จริงแล้วบริษัทเหล่านี้มีลักษณะการดำเนินงานคล้ายกับธนาคารมากกว่า</p>

<p>ควรจำไว้ว่า:</p>

<p>เราต้องใช้กุญแจส่วนตัวในการทำธุรกรรมบิทคอยน์ ซึ่งรหัสนี้ต้องเก็บเป็นความลับเพื่อไม่ให้ใครมาขโมยบิทคอยน์ของเราไปได้ เมื่อเราหยิบยื่นกุญแจส่วนตัวให้ผู้อื่นเป็นผู้ดูแล ก็เปรียบเสมือนการเอาเงินของเราไปฝากไว้ในธนาคาร</p>

<div class="quote-box">
<p>อย่าเก็บบิทคอยน์ไว้ในตลาดแลกเปลี่ยน! มีผู้ใช้บิทคอยน์จำนวนมากต้องสูญเสียบิทคอยน์ไปทั้งหมดกว่า 1 พันล้านเหรียญสหรัฐจากการแฮคและการต้มตุ๋นในตลาดบิทคอยน์ เพื่อความปลอดภัยเราควรจะทำการควบคุมกุญแจส่วนตัวของเราเอง เรายินดีให้คำแนะนำและตอบคำถามใน <a href="http://ask.buybitcoinworldwide.com/">กระดานถาม-ตอบ</a> ของเรา </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">ผู้ก่อตั้ง Buy Bitcoin Worldwide</span></div>
</div>

<p>ไม่ได้หมายความว่าธนาคารบิทคอยน์จะมีแต่ข้อเสีย เพราะอันที่จริงบริษัทต่าง ๆ เช่นเดียวกับ Coinbase ได้ช่วยเป็นกำลังสำคัญในการดึงดูดผู้ใช้ใหม่ให้ข้ามาในตลาดบิทคอยน์ได้อย่างมากมาย  แต่ไม่ว่าอย่างไรเราควรจะจำไว้ว่า <i>ใครก็ตามที่ควบคุมกุญแจส่วนตัวก็จะมีสิทธิ์ควบคุมบิทคอยน์ที่ผูกอยู่กับกุญแจส่วนตัวนั้นได้</i></p>

<p>การที่ผู้ใช้ไม่เข้าใจจุดนี้ ทำให้เกิดความสูญเสียมหาศาลเป็นมูลค่าหลายร้อยล้านเหรียญสหรัฐมาแล้ว ดังนั้นจึงเป็นสิ่งสำคัญที่เราในฐานะผู้ใช้จะเข้าใจว่ากุญแจส่วนตัวควรจะจัดเก็บอย่างไรจึงจะปลอดภัย</p>

<p>การที่เราเข้าใจระบบการทำงานของบิทคอยน์ เป็นสิ่งสำคัญที่จะทำให้เราใช้เทคโนโลยีใหม่นี้ได้อย่างปลอดภัย บิทคอยน์ยังถือเป็นเทคโนโลยีแรกเกิด และคาดว่าต่อ ๆ ไปกระเป๋าสตางค์ก็จะได้รบการพัฒนาให้ใช้ได้ง่ายขึ้นเรื่อย ๆ</p>

<p>ในอนาคตอันใกล้ อาจจะเป็นไปได้ที่อุปกรณ์บางอันจะมีการติดตั้งระบบกระเป๋าสตางค์มาในตัวเพื่อรองรับเทคโนโลยี blockchain นี้โดยผู้ใช้อาจไม่รู้ตัว</p> 

<p>แต่กว่าจะไปถึงขั้นนั้น ในปัจจุบันเราควรตระหนักไว้ว่ากุญแจส่วนตัวเป็นสิ่งที่เราต้องพิทักษ์ไว้เพื่อดูแลบิทคอยน์ให้ปลอดภัยจากการถูกแฮค จากข้อผิดพลาดจากผู้ใช้ หรือปัญหาอื่น ๆ</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">บทที่ 6</h3>
<h2 class="chapter-name">กรณีการขโมยและหลอกลวง</h2>
<div class="nice-divider"></div>

<p>ไม่ว่าจะเลือกใช้กระเป๋าสตางค์แบบไหน ควรจำไว้ว่า:</p>

<p>บิทคอยน์ของเราจะปลอดภัยได้ต่อเมื่อมีการสร้างกุญแจส่วนตัวอย่างปลอดภัย มีการเก็บกุญแจส่วนตัวนั้นให้เป็นความลับ และที่สำคัญคือ คนที่จะควบคุมกุญแจส่วนตัวนี้จะต้องมีเพียงเราคนเดียวเท่านั้น!
</p>

<p>มีตัวอย่างมาแล้วสำหรับกรณีที่บิทคอยน์ถูกขโมยเพราะผู้ใช้ให้คนอื่นเป็นคนควบคุมกุญแจส่วนตัว:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">กรณี Bitfinex ถูกแฮค สร้างความเสียหายกว่า 70 ล้านเหรียญแก่ผู้ใช้</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">ความล้มเหลวของ Mt Gox ซึ่งสร้างความสูญเสียกว่า 450 ล้านเหรียญแก่ผู้ใช้</a></li>
</ul>

<p>เพื่อเป็นการป้องกันการขโมย ถูกหลอกลวง หรือกรณีการสูญเสียอื่น ๆ มีข้อพึงปฏิบัติ 3 ข้อ ดังนี้: </p>

<ol>
<li><b>สร้างกุญแจส่วนตัวในระบบออฟไลน์ที่มีความปลอดภัย</b> (ยกเว้นในกรณีที่ใช้บิทคอยน์จำนวนเพียงเล็กน้อย ซึ่งสามารถใช้ hot wallet ในการสร้างกุญแจส่วนตัวได้)</li>
<li><b>ทำการแบคอัพเพื่อสำรองข้อมูลกุญแจส่วนตัว </b>.สิ่งนี้จะป้องกันบิทคอยน์หายในกรณีฮาร์ดไดรฟ์ล่มหรือเกิดอุบัติเหตุ หากเป็นไปได้ควรจะมีแบคอัพสำรองอีกชุดหนึ่งเก็บไว้ในสถานที่อื่น เพื่อป้องกันกรณีไฟไหม้หรือตัวเครื่องถูกขโมย</li>
<li><b>เข้ารหัสกระเป๋าสตางค์เสมอเพื่อเพิ่มความปลอดภัย </b> สิ่งนี้จะช่วยไม่ให้ใครมาขโมยบิทคอยน์ของเราไปได้ในกรณีโทรศัพท์ คอมพิวเตอร์ หรือกระเป๋าฮาร์ดแวร์ถูกขโมย
</li>
</ol>

<p>การสร้างความปลอดภัยในการเก็บรักษาบิทคอยน์เป็นสิ่งที่สำคัญที่สุดสำหรับผู้ใช้</p>

<p>บิทคอยน์เป็นเทคโนโลยีที่ได้ให้อำนาจและความรับผิดชอบในการดูแลเงินของตัวเราเอง มีหลายกรณีที่บิทคอยน์ถูกขโมยเพราะผู้ใช้ปล่อยให้ผู้อื่นมาควบคุมกุญแจส่วนตัวของตน</p>

<p>หลักการสำคัญคืออย่าปล่อยให้คนอื่นมาจัดการเงินของเรา</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>