---
layout: color
permalink: "/ru/bitcoin-koshelki/"
title: Какой Bitcoin-кошелек лучше?
subtitle: Полное руководство
lang: ru
seotitle: 11 лучших аппаратных Bitcoin-кошельков и приложений за 2017 год
desc: Вы можете быстро найти наиболее подходящий вам аппаратный или программный bitcoin-кошелек, и наши обзоры помогут вам с выбором.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="special-letters col-md-5">
<br><br>
<p>Данное руководство поможет Вам найти для себя лучший Bitcoin-кошелек!</p>
<p>Совет:</p>
<p>Не существует универсального Bitcoin-кошелька, который подойдет всем! Есть множество кошельков под разные платформы и с разными наборами функций.</p>
<p>Если вы хотите подобрать для себя лучший вариант, продолжайте читать…</p>
</div>

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>
</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Содержание</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Часть 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Что такое Bitcoin-кошелек?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets"> Часть 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Типы кошельков</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets"> Часть 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Аппаратные кошельки</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets"> Часть 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Онлайн-кошельки</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks"> Часть 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bitcoin-банки vs. кошельки</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams"> Часть 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Скам и мошенничество</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Часть 1</h3>
<h2 class="chapter-name">Что такое <b>Bitcoin</b>-кошелек?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>Bitcoin-кошелек - это Ваш первый шаг в использовании биткойнов.</p>
<p>Почему?</p>
<p>Без кошелька вы не сможете получать, хранить или тратить биткойны.</p>
<p>Кошелек можно рассматривать как Ваш личный канал взаимодействия с Bitcoin-сетью, подобно тому, как онлайн-банкинг выступает “мостиком” между Вами и финансовой системой.</p>
<p>Bitcoin-кошельки содержат приватные ключи: секретные коды, которые позволяют Вам тратить биткойны.</p>
<p>По сути, хранить и защищать нужно не сами биткойны, а приватные ключи, которые предоставляют Вам доступ к ним.</p>
<p>Вкратце:</p> 
<p>Bitcoin-кошелек – это приложение, сайт или девайс, которые содержат приватные ключи для Ваших биткойнов.</p>

<h3 id="types-of-wallets" class="chapter-link">Часть 2</h3>
<h2 class="chapter-name">Типы <b>Bitcoin</b>-кошельков</h2>
<div class="nice-divider"></div>

<p><i>Давайте узнаем, какие бывают типы кошельков, и почему люди используют разные кошельки.</i></p>

<h3 class="sub-sub-section"><b>Аппаратные кошельки</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>Одним из примеров аппаратных кошельков является <a href="/wallets/ledger-nano-s/">Ledger Nano S</a>.</span>
</div>

<p>Аппаратный кошелек – это физическое электронное устройство, разработанное исключительно для хранения и защиты Ваших биткойнов.</p>
<p>Суть аппаратного кошелька заключается в том, что для того, чтобы потратить Ваши биткойны, Вам нужно будет сначала подключить его к ПК, смартфону или планшету.</p>

<p>На сегодняшний день самыми популярными аппаратными кошельками считаются:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Аппаратные кошельки – отличная опция, если Вам нужно надежное и удобное биткойн-хранилище с высоким порогом безопасности.</p>

<p>Аппаратные Bitcoin-кошельки хранят приватные ключи отдельно от уязвимого оборудования, подключенного к интернету.</p>
<p>Работа с Вашими приватными ключами происходит в удаленной защищенной среде внутри аппаратного кошелька, что позволяет сохранять их в безопасности даже при подключении ко взломанному или незащищенному ПК.</p>

<p>Так как биткойны – цифровой продукт, кибер-преступники имеют потенциальную возможность взломать Ваш ПК и даже установленный на нем софтверный кошелек, и украсть Ваши биткойны, заполучив доступ к приватному ключу.</p>

<p>Создание и хранение приватного ключа в офлайне при помощи аппаратного кошелька, позволяет Вам оградить себя от ситуаций подобного рода.</p> 

<p>Конечно же, злоумышленники могут украсть сам аппаратный кошелек, однако он будет защищен Вашим личным PIN-кодом.</p> 

<p>К тому же, Вам даже можно не беспокоиться, если Ваш кошелек украден, утерян или поврежден. При инициализации кошелька Вы создаете специальный код для восстановления, с помощью которого Вы всегда сможете вернуть доступ к своим биткойнам.</p>

<div class="quote-box">
<p>Можно рассматривать аппаратный кошелек как свое личное подземное хранилище с бронированной дверью. Если Вы накопили значительно количество биткойнов, то мы настоятельно рекомендуем Вам задуматься об аппаратном кошельке!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<h2>Каковы <b>преимущества</b> аппаратных кошельков?</h2>
<ul class="quick-info-pros">
	<li>Самый простой способ безопасно хранить биткойны</li>
	<li>Легко защитить и восстановить кошелек</li>
	<li>Меньше потенциальных уязвимостей; простая процедура настройки даже для рядовых пользователей</li>
</ul>

<h2>Каковы <b>минусы</b> аппаратных кошельков?</h2>
<ul class="quick-info-cons">
	<li>Относительно высокая цена</li>
</ul>

<h3 class="sub-sub-section"><b>Онлайн-кошельки</b></h3>

<p>Онлайн-кошельки (или <i>“горячие”</i> кошельки) представляют собой Bitcoin-кошельки, работающие на ПК, смартфонах или планшетах с обязательным подключением к интернету.</p>

<p>Приватные ключи – это <i>секретные</i> коды. Так как онлайн-кошельки генерируют Ваши приватные ключи на устройствах, подключенных к интернету, эти приватные ключи нельзя считать на 100% защищенными.</p> 

<div class="quote-box">
<p>Онлайн-кошельки можно сравнивать с Вашим бумажником: Вы можете хранить в нем наличность, но не сбережения за всю жизнь. Такой тип кошельков позволяет быстро и просто проводить платежи, однако не совсем подходит для долгосрочных накоплений..</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<h2>Каковы <b>преимущества</b> онлайн-кошельков?</h2>
<ul class="quick-info-pros">
	<li>Самый простой способ хранения небольшого количества биткойнов</li>
	<li>Удобно быстро отправлять и получать платежи</li>
	<li>Некоторые онлайн-кошельки позволяют использовать счет сразу на нескольких устройствах</li>
</ul>

<h2>Каковы <b>минусы</b> онлайн-кошельков?</h2>
<ul class="quick-info-cons">
	<li>Опасно хранить большие объемы биткойнов</li>
</ul>

<h3 class="sub-sub-section"><b>Какой кошелек подходит Вам?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Почему Вы пользуетесь биткойнами?</a></p>

<p>Инвестируете и/или копите? Тогда Вам больше подойдет аппаратный кошелек.</p>

<p>Для ежедневных расходов можно присмотреться и к онлайн-кошельку. Здесь главное преимущество в том, что все онлайн-кошельки бесплатны.</p>

<p>У каждого кошелька есть свои преимущества и недостатки, и при этом разные кошельки имеют слегка разное предназначение.</p>

<p>Некоторые ориентированы на безопасность, в то время как другие превосходят по части приватности.</p>

<p>Вы можете выбирать наиболее подходящий Вам кошелек, руководствуясь собственными потребностями, так как единственного “лучшего биткойн-кошелька” не может быть по определению.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Ниже перечислены кошельки, которые Вы можете купить или скачать. Мы рекомендуем Вам опробовать приведенные ниже опции, но для начала попробуйте провести собственное небольшое исследование.</p>
<p>Практически каждый день в Google Play и App Store появляются мошеннические Bitcoin-кошельки, с помощью которых злоумышленники обворовывают наивных или неопытных пользователей.</p>
<p>Мы же предлагаем Вам исключительно те кошельки, разработчики которых не побоялись выложить исходный код в общий доступ.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Часть 3</h3>
<h2 class="chapter-name">Аппаратные кошельки: храните биткойны в безопасности</h2>
<div class="nice-divider"></div>

<p>Аппаратные кошельки не бесплатны!</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>Самыми популярными аппаратными кошельками считаются KeepKey, Ledger Nano S и Trezor.</span>
</div>

<p>Их цена будет вполне оправдана, если Вы насобирали значительное количество биткойнов. Аппаратный кошелек лучше других поможет Вам сохранить свои сбережения в безопасности.</p>

<h2>Как работают аппаратные кошельки?</h2>			
<p>Аппаратные кошельки – это безопасные офлайн-хранилища. Они хранят Ваши приватные ключи без подключения к интернету, а значит их нельзя взломать.</p>
<p>Это означает, что Вы можете использовать аппаратные кошельки даже на взломанных или незащищенных ПК.</p>

<h2>Для чего аппаратным кошелькам экран?</h2>			
<p>В нижеприведенной таблице Вы можете видеть, какие кошельки оборудованы экраном.</p>
<p>Экран – это дополнительный слой защиты, так как позволяет верифицировать трансакции и отображать важную информацию. Так как аппаратный кошелек практически невозможно взломать, данные на экране вызывают гораздо больше доверия, чем то, что отображается на экране ПК.</p>

<h2>Сравнение аппаратных Bitcoin-кошельков</h2>
<p>Ниже приведена небольшая таблица для сравнения нескольких опций. Примечание:</p>
<p>Мы также подготовили  <a href="/trezor-keepkey-ledger/">подробные обзоры трех основных аппаратных кошельков: Ledger Nano S, Trezor и KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Кошелек</th>
    <th>Экран<br></th>
    <th class="released">Дата выпуска</th>
    <th>Цена</th>
    <th class="wallet-buy">Купить</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Обзоры лучших аппаратных Bitcoin-кошельков</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Часть 4</h3>
<h2 class="chapter-name">Онлайн-кошельки</h2>
<div class="nice-divider"></div>

<p>Немного освежим память:</p>

<p>Онлайн-кошельки представляют собой Bitcoin-кошельки, работающие на ПК, смартфонах или планшетах с обязательным подключением к интернету. Так как они генерируют Ваши приватные ключи на устройствах, подключенных к интернету, их нельзя считать на 100% защищенными.</p> 

<div class="quote-box">
<p>Онлайн-кошельки можно сравнивать с Вашим бумажником: Вы можете хранить в нем наличность, но не сбережения за всю жизнь. Такой тип кошельков позволяет быстро и просто проводить платежи, однако не совсем подходит для долгосрочных накоплений.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Онлайн Bitcoin-кошельки (Веб-кошельки)</h2>
<div class="nice-divider-sub"></div>			
<p>В случае с веб-кошельками, Ваши приватные ключи хранятся онлайн, хотя и зашифрованы паролем, который устанавливает сам пользователь. Несмотря на самый низкий уровень защиты, Bitcoin веб-кошельками можно пользоваться с любого устройства, подключенного к интернету.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Bitcoin-кошельки для Android</h2>
<div class="nice-divider-sub"></div>			
<p>На данный момент, можно выбирать из множества разных Android-кошельков. Так как Bitcoin-кошельки изначально блокируются компанией Apple, разработчики гораздо больше сосредоточены на разработке кошельков для Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">Bitcoin-кошельки для iOS и iPhone</h2>
<div class="nice-divider-sub"></div>		
<p>В феврале 2014 года компания <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">Apple забанила все Bitcoin-кошельки в App Store</a>, однако спустя пару месяцев изменила свое решение. К счастью, сейчас пользователям iOS доступно множество опций.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Кошельки для ПК</h2>
<div class="nice-divider-sub"></div>			
<p>Настольные кошельки нужно скачивать и устанавливать на ПК. Если вас заботит приватность, то мы рекомендуем присмотреться к кошельку Bitcoin Core, так как он не зависит от каких-либо сторонних инструментов и сервисов.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Часть 5</h3>
<h2 class="chapter-name"><b>Bitcoin</b>-банки <b>vs.</b> кошельки: более $<b>1</b> млрд украдено хакерами</h2>
<div class="nice-divider"></div>

<p>Когда речь заходит о биткойн-кошельках, нельзя забывать, что есть кошельки, а есть банки. Некоторые пользователи ошибочно считают <a href="/exchanges/coinbase/">Coinbase</a> биткойн-кошельком, однако подобные компании все же больше выступают в роли банков.</p>

<p>Помните:</p>

<p>Пользователям нужно приложить максимум усилий для того, чтобы держать свои приватные ключи в безопасности. Когда Вы передаете кому-то свои приватные ключи, это можно расценивать как открытие счета в финансовом учреждении.</p>

<div class="quote-box">
<p>Не храните криптовалюту в обменниках! За всю историю, Bitcoin-пользователи передали в руки мошенников биткойнов на свыше $1 млрд в эквиваленте. Всегда держите приватные ключи при себе. Если у вас возникнут какие-либо вопросы, обязательно задавайте их, пользуясь соответствующей <a href="http://ask.buybitcoinworldwide.com/">формой на нашем сайте</a>.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a><span class="position">, основатель Buy Bitcoin Worldwide</span></div>
</div>

<p>Однако это не означает, что все Bitcoin-банки плохие. Компании подобные Coinbase проделали превосходную работу по привлечению новых пользователей в экосистему Биткойна. Просто важно помнить, что <i>у кого приватные ключи – тот и владеет соответствующими биткойнами</i>.</p>

<p>В прошлом ошибочное трактование этого правила привело к краже или потере миллионов долларов, и именно поэтому Вам важно понимать, как правильно хранить приватные ключи от Ваших биткойнов.</p>

<p>Понимание принципа работы биткойн-кошельков – это Ваша же безопасность. Bitcoin пока что находится лишь в начале своего пути, и уже в скором будущем кошельки станут более удобными и защищенными.</p>

<p>Уже в ближайшем будущем некоторые девайсы будут поставляться с предустановленными кошельками, которые будут взаимодействовать с блокчейном даже без ведома пользователя.</p> 

<p>Ну а пока Вам нужно уяснить, что приватные ключи должны быть доступны Вам и только Вам.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Часть 6</h3>
<h2 class="chapter-name">Скам и мошенничество</h2>
<div class="nice-divider"></div>

<p>Независимо от того, какой кошелек Вы выберете, помните:</p>

<p>Ваши биткойны находятся в безопасности только тогда, когда Вы сгенерировали приватный ключ безопасным образом, никому его не передавали, и позаботились о его сохранности!</p>

<p>Предлагаем Вам немного информации о том, что бывает, когда пользователи передают свои биткойны посредникам:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Взлом Bitfinex, из-за которого пользователи потеряли $70 млн</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Ошибка обменника Mt Gox обошлась пользователям в $450 млн</a></li>
</ul>

<p>Чтобы не оказаться в подобных ситуациях, старайтесь придерживаться 3 простых правил:</p>

<ol>
<li><b>Генерируйте свои приватные ключи безопасным образом, желательно в офлайн-среде</b> (конечно, это не относится к кошелькам для повседневных расходов, для которых достаточно будет и веб-кошелька).</li>
<li><b>Обязательно сделайте резервную копию своих приватных ключей</b>. Это поможет Вам не потерять биткойны в случае поломки компьютера и при возникновении иных форс-мажорных ситуаций. Будет разумно сделать еще одну копию ключей, которая будет храниться за пределами Вашей квартиры. Это поможет Вам в случае пожара, грабежа и т. д.</li>
<li><b>Не забывайте про шифрование кошельков</b>. Это поможет избежать физической кражи средств (например, при краже компьютера или аппаратного кошелька).</li>
</ol>

<p>Для любого пользователя Bitcoin главный вопрос заключается в правильном хранении своих биткойнов.</p>

<p>Bitcoin наделяет Вас не только определенными привилегиями, но и обязанностью бережно хранить свои деньги. По сути, большинство актов мошенничества и краж можно было предотвратить, будь пользователи новой технологии более подкованными технически.</p>

<p>Есть одно простое правило: никогда и никому не доверяйте свои деньги.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>