---
layout: color
permalink: "/ar/bitcoin-wallets/"
title: ما هي أفضل محفظة بت كوين؟
subtitle: الدليل القاطع
lang: ar
seotitle: مراجعات عام 2017 لأفضل 11 محفظة بت كوين كأجهزة وتطبيقات
desc: اعثر وبسرعة على أفضل محفظة بت كوين -- كجهاز أو كتطبيق -- بناءً على احتياجاتك. إن مراجعتنا ستجعل من ذلك سهلاً.
color: yes
pagename: wallets
multilang: yes
---

<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>سوف يساعدك هذا الدليل للعثور على أفضل محفظة بت كوين لك!</p>
<p>ملحوظة:</p>
<p>ليس هناك محفظة بت كوين "تناسب الجميع" . تأتي المحفظات لمنصات مختلفة مع ميزات مختلفة.</p>
<p>إذا كنت ترغب بأفضل محفظة تناسب احتياجك، فنرجوا أن تتابع القراءة...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapters</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">الفصل الأول</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">ما هي محفظة بت كوين؟</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">الفصل الثاني</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">أنواع المحفظات</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">الفصل الثالث</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">أجهزة المحفظات</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">الفصل الرابع</a></div>
	<div class="chapter-title"><a href="#hot-wallets">المحافظ الساخنة</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">الفصل الخامس</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">بنوك البت كوين مقابل المحافظ</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">الفصل السادس</a></div>
	<div class="chapter-title"><a href="#theft-scams">السرقة والاحتيال</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">الفصل الاول</h3>
<h2 class="chapter-name">ما هي محفظة بت كوين؟</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>محفظة بت كوين هي الخطوة الأولى لبدء استعمال بت كوين.</p>
<p>لماذا؟</p>
<p>بدون المحفظة، لايمكنك استقبال أو تخزين أو إنفاق اليت كوين.</p>
<p>يمكنك التفكير بالمحفظة كأنها واجهتك الشخصية للتعامل مع شبكة بت كوين، وهذا مشابه لكيفية إدارة الحساب النقدي التقليدي عن طريق واجهة حسابك البنكي على الإنترنت.</p>
<p>إن محافظ بت كوين تحتوي على مفاتيح خاصة، عبارة عن رموز سرية تسمح لك بإنفاق البت كوين الخاصة بك.</p>
<p>في الواقع، إنها ليست البت كوين التي تحتاج إلى تخزينها وتأمينها، ولكن المفاتيح الخاصة هي التي تحتاج إلى ذلك، فهي التي تعطيك الصلاحية للوصول إليهم.</p>
<p>وباختصار:</p> 
<p>إن محفظة بيتكوين هي مجرد تطبيق أو موقع ويب أو جهاز يقوم بإدارة المفاتيح الخاصة ببت كوين من أجلك.</p>

<h3 id="types-of-wallets" class="chapter-link">الفصل الثاني</h3>
<h2 class="chapter-name">أنواع محافظ البت كوين</h2>
<div class="nice-divider"></div>

<p><i>دعونا نناقش أنواع محافظ بت كوين، ولماذا قد تفضل استخدام نوع واحداً بدلاً من آخر.</i></p>

<h3 class="sub-sub-section"><b>أجهزة المحافظ</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>The <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> هو أحد الأمثلة عن أجهزة المحافظ.</span>
</div>

<p>إن جهاز المحفظة هو جهاز الكتروني، وقد تم صنعه من لغرض واحد وهو تأمين البت كوين.</p>
<p>فكرته الأساسية هو أن جهاز المحفظة يجب أن يكون متصلاً بجهاز الكمبيوتر أو الهاتف أو الجهاز اللوحي قبل أن تقوم بإنفاق البت كوين.</p>

<p>أكثر أجهزة محافظ شهرةً هي:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>إن أجهزة المحافظ هي خيارٌ جيد إن كنت جاداً وتهتم بتعزيز أمن تخزين البت كوين ومواءمة استخدامها.</p>

<p>أجهزة محافظ البت كوين تقوم بعزل المفاتيح الخاصة عن الأجهزة المتصلة بالإنترنت والمعرضة للإختراق.</p>
<p>يتم المحافظة على جميع المفاتيح الخاصة المهمة في بيئة آمنة غير متصلة بالإنترنت على جهاز المحفظة، وهي مؤمنة تماماً حتى عند توصيل الجهاز بكمبيوتر مصاب بالفيرويات أو البرامج الضارة.</p>

<p>بما أن البت كوين هي رقمية، فمن المحتمل جداً بأن يقوم مجرمي الانترنت (المخترقين) باستهداف "تطبيق المحفظة" المثبت على كمبيوترك وسرقتهم من خلال الوصول إلى مفاتيحك الخاصة.</p>

<p>إن إنشاء وتخزين المفاتيح الخاصة بدون اتصال بالانترنت عن طريق استخدام جهاز المحفظة، فإن ذلك يضمن بأن المخترقين ليس لديهم وسيلة للوصول إلى البت كوين الخصة بك.</p> 

<p>قد يتمكن المخترقين من سرقة جهاز المحفظة نفسه، ولكن حتى عند حدوث ذلك، يمكنك حماية الجهاز عن طريق رمز سري يعرف بـ "PIN".</p> 

<p>لا داعي للقلق على جهاز المحفظة الخاص بك من السرقة أو الضياع أو التلف، فطالما قمت بإنشاء رمز احتياطي سري فسيمكنك دائماً استرداد البت كوينات خاصتك.</p>

<div class="quote-box">
<p>يمكنك تخيل جهاز المحفظة قبو حديدي تحت الأرض. إذا كنت تمتلك عدد كبيراً من البت كوين فإننا ننصحك وبشدة أن تحصل على أحد هذه الاجهزة!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">جوردان توينير</a> <span class="position">مؤسس Buy Bitcoin Worldwide</span></div>
</div>

<h2>لماذا تعتبر أجهزة المحافظ <b>جيدة</b>؟</h2>
<ul class="quick-info-pros">
	<li>أسهل طريقة لتخزين البت كوين بطريقة آمنة</li>
	<li>سهلة في انشاء النسخة الاحتياطية وآمنة</li>
	<li>من الصعب حدوث الأخطاء عن استعمالها، وحتى أن إعدادها سهل جداً حتى بالنسبة الأشخاص غير التقنيين</li>
</ul>

<h2>لماذا قد تكون أجهزة المحافظ <b>سيئة</b>؟</h2>
<ul class="quick-info-cons">
	<li>إنها ليست مجانية!</li>
</ul>

<h3 class="sub-sub-section"><b>المحافظ الساخنة</b></h3>

<p>المحافظ الساخنة هي محافظ البت كوين التي تعمل على أجهزة متصلة بالإنترنت مثل الكمبيوتر أو الهاتف النقال أو الهاز اللوحي.</p>

<p> المفاتيح الخاصة هي رموز <i>سرية</i>. وذلك لأن المحافظ الساخنة تنشيء المفاتيح الخاصة على أجهزة متصلة بالانترنت، وبالتالي لا يمكن اعتبار تلك المفاتيح الخاصة بأنها محمية 100%.</p> 

<div class="quote-box">
<p>يمكنك التفكير بالمحفظة الساخنة كمحفظتك التي تحملها يومياً: تستخدمها للحفاظ على الأموال، ولكن ليس مدخراتك. المحافظ الساخنة هي ممتازة إذا كنت تقوم بسداد دفعات متكررة، ولكنها ليست خياراً جيداً لتخزين آمن للبت كوين.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">جوردان توينير</a> <span class="position">مؤسس Buy Bitcoin Worldwide</span></div>
</div>

<h2>لماذا المحافظ الساخنة <b>جيدة</b>؟</h2>
<ul class="quick-info-pros">
	<li>طريقة سهلة للاحتفاظ وتخزين مقدار قليل من البت كوين</li>
	<li>مناسبة، حيث أن ارسال واستقبال المدفوعات سهل وسريع من خلالها</li>
	<li>بعض المحافظ الساخنة تسمح بالوصول إلى رصيدك من خلال أجهزة متعددة</li>
</ul>

<h2>لماذا تكون المحافظ الساخنة <b>سيئة</b>؟</h2>
<ul class="quick-info-cons">
	<li>غير آمنة لحماية تخزين كميات كبيرة من البت كوين</li>
</ul>

<h3 class="sub-sub-section"><b>ما هي أكثر المحافظ مناسبةً لك؟</b></h3>
<p><a href="http://shubitcoin.com/ar/bitcoin-basics-ar/why-use-bitcoin/">لماذا تستخدم البت كوين؟</a></p>

<p>الاستثمار أو الادخار؟ إذاً، فإن جهاز المحفظة سيبقي عملاتك آمنة.</p>

<p>وإلا فإن تطبيق المحفظة سيكون مناسباً لإرسال واستقبال البت كوين. والأفضل من ذلك، إن تطبيقات المحافظ هي مجانية.</p>

<p>كل محفظة لها ايجابياتها وسلبياتها، ويتم تصميم المحافظ المختلفة لحل مشاكل مختلفة. </p>

<p>قد تركز بعض المحافظ على الحماية، بينما قد تكون بعض المحافظ أكثر تركيزاً على الخصوصية. </p>

<p>إن احتياجاتك الخاصة هي التي تحدد أياً من المحافظ ستقوم باستعمالها، حيث لا يوجد ما يسمى "أفضل محفظة للبت كوين".</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>في الأسفل، لقد قمنا باعداد قائمة باسماء المحافظ التي يمكنك شراؤها أو تحميلها. نحن نقترح عليك باستخدام المحافظ في تلك القائمة أو القيام ببعض الأبحاث عنها قبل شراء أو تحميل أي محفظة. </p>
<p>يومياً، تتم إضافة محافظ بت كوين احتيالية لمتجر جوجل ومتجر تطبيق أبل، وهذا المحافظ يتم صنعها لسرقة بت كوين الأشخاص.</p>
<p>لقد قمنا بوضع قائمة المحافظ والتي تم نشرها ومشاركة كود برمجتها فقط.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">الفصل الثالث</h3>
<h2 class="chapter-name">أجهزة المحافظ: حماية عملاتك</h2>
<div class="nice-divider"></div>

<p>أجهزة المحافظ ليست مجانية.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>أكثر ثلالث أجهزة محافظ استعمالاً: KeepKey، Ledger Nano S، Trezor.</span>
</div>

<p>ولكنها تستحق ثمنها إذا كنت تملك قدراً كبيراً من البت كوين. فجهاز المحفظة سيقوم بضع مئات من البت كوين بنفس الكفاءة التي سيقوم بحماية الملايين منها.</p>

<h2>كيف تعمل أجهزة المحافظ؟</h2>			
<p>أجهزة المحافظ آمنة ولا تستخدم الإنترنت. تقوم هذه الاجهزة بتخزين مفاتيحك الخاصة بدون الاحاجة للانترنت، لذلك لا يمكن اختراقها.</p>
<p>وهذا يعني بأنه يمكنك استعمال أحدها على كمبيوتر مصاب بالبرمجيات الخبيثة والضارة.</p>

<h2>ما هي ضرورة استخدام جهاز محفظة ذو شاشة؟</h2>			
<p>في الجدول أدناه، ستلاحظ بأننا نعرض لك أجهزة المحافظ التي تشمل على شاشة.</p>
<p>توفر الشاشات المزيد من الحماية وذلك عن طريق التحقق وعرض معلومات المحفظة المهمة. وبما أن جهاز المحفظة هو تقريباً مستحيل اختراقه، فإن شاشته هي أكثر من جديرة بالثقة من المعلومات التي يعرضها لك كمبيوترك. </p>

<h2>مقارنة بين أجهزة محافظ البت كوين</h2>
<p>تحقق من الجدول التالي لمقارنة سريعة، ولاحظ: </p>
<p>ولقد قمنا باعداد <a href="/trezor-keepkey-ledger/">مقارنة مفصلة بين الأجهزة الرئيسية الثلاث: Legder Nano S، TREZOR و KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>المحفظة</th>
    <th>الشاشة<br></th>
    <th class="released">الإصدار</th>
    <th>السعر</th>
    <th class="wallet-buy">الشراء</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>الملاحظات الخاصة بأفضل أجهزة محافظ بت كوين </h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">الفصل الرابع</h3>
<h2 class="chapter-name">المحافظ الساخنة</h2>
<div class="nice-divider"></div>

<p>مراجعة سريعة للمعلومات: </p>

<p>المحافظ الساخنة هي محافظ البت كوين التي تعمل على أجهزة متصلة بالإنترنت مثل الكمبيوتر أو الهاتف النقال أو الجهاز اللوحي. ولأن المحافظ الساخنة تقوم بإنشاء مفاتيح خاصة على أجهزة متصلة على الانترنت، فإن تلك المفاتيح الخاصة لا يمكن اعتبارها آمنة 100%.</p> 

<div class="quote-box">
<p>يمكنك التفكير بالمحفظة الساخنة كمحفظتك التي تحملها يومياً: تستخدمها للحفاظ على الأموال، ولكن ليس مدخراتك. المحافظ الساخنة هي ممتازة إذا كنت تقوم بسداد دفعات متكررة، ولكنها ليست خياراً جيداً لتخزين آمن للبت كوين.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">جوردان توينير</a> <span class="position">مؤسس Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot"> محافظ البت كوين على الانترنت (محافظ المواقع الإلكترونية)</h2>
<div class="nice-divider-sub"></div>			
<p>تقوم المواقع الإلكترونية للمحافظ بتخزين مفاتيحك الخاصة على الانترنت، حيث يتم تشفيرها عن طريق كلمة مرور خاصة بالمستخدم. وبالتالي فإنهم يوفرون أدنى مستوى من الحماية، إن محافظ بت كوين على الانترنت لها ميزة القدرة على الوصول إليها عن طريق أي جهاز متصل بالانترنت.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">محافظ بت كوين الخاصة بأندرويد</h2>
<div class="nice-divider-sub"></div>			
<p>هناك مجموعة كبيرة من محافظ أندرويد. فمنذ أن تم منع محافظ بت كوين تماماً من قبل شركة آبل، فلقد قضى المطورون الكثير من وقتهم بالتطوير في اتجاه أندرويد.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">محافظ بت كوين الخاصة بنظام تشغيل iOS والآيفون</h2>
<div class="nice-divider-sub"></div>		
<p>قامت أبل <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">بحظر محافظ بت كوين</a> من متجر تطبيقات أبل في فبراير 2014، ولكنها تراجعت عن قرارها هذا بعد عدة شهور. ومن حسن الحظ، أصبح هناك الآن العديد من الخيارات لمستخدمي نظام تشغيل iOS.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">محافظ أجهزة الكمبيوتر</h2>
<div class="nice-divider-sub"></div>			
<p>يتم تحميل وتثبيت المحافظ الخاصة بأجهزة الكمبيوتر على جهازك. إذا كانت الخصوصية هي كل ما يهمك، فإن برنامج محفظة بت كوين الرئيسي هو خيارٌ جيد حيث أنك لا تستطيع الاعتماد على برامج أخرى للحفاظ على بياناتك. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">الفصل الخامس</h3>
<h2 class="chapter-name">بنوك بت كوين: تم خسارة 1 مليار دولار بسبب القرصنة</h2>
<div class="nice-divider"></div>

<p>يجب أن تبقي شيئاً آخر في ذهن عندما يتعلق الأمر بمحافظ بت كوين وهو أن هناك فرق بين البنك والمحفظة. بعض مستخدمي بت كوين يستطيعون استعراض <a href="/exchanges/coinbase/">Coinbase</a> كمحفظة بت كوين، ولكن بعض الشركات تفضل استعمال هذه الآلية أكثر بكثير من البنوك. </p>

<p>تذكر:</p>

<p>إن المفاتيح الخاصة هي التي يحتاجها للحماية وللاستخدام الآمن لشبكة بت كوين بدون أن يتعرضوا للسرقة. عندما تقوم بتسليم شخصٍ آخر صلاحية التحكم بمفاتيحك الخاصة، تكون في الأساس قد قمت بعمل ايداع في تلك المؤسسة المالية &ndash; مثل أي وديعة في أي بنك.</p>

<div class="quote-box">
<p>لا تقم بتخزين عملاتك في أسواق تبادل العملات! لقد خسر مستخدمي بت كوين ما قيمته أكثر من 1 مليار دولار من البت كوين في قرصنة واحتيال تبادل العملات. قم بالسيطرة والتحكم بمفاتيحك الخاصة. إذا كنت بحاجة إلى مساعدة، قم بطرح أسئلتك في موقعنا  <a href="http://ask.buybitcoinworldwide.com/">قسم الأسئلة</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">جوردان توينير</a> <span class="position">مؤسس Buy Bitcoin Worldwide</span></div>
</div>

<p>هذا لا يعني بأن بنوك بت كوين سيئة بطبيعتها. فهناك شركات مثل Coinbase قامت بعمل العجائب لجلب المزيد من المستخدمين لمنصتها. من البسيط والضروري أن نتذكر دائماً بأن  <i> من يسيطر على المفاتيح الخاصة هو الذي يسيطر على البت كوين المتصلة بهذه المفاتيح.</i>.</p>

<p>ولقد أدى سوء فهم هذه النقطة إلى خسارة مئات الملايين من الدولارات الأمريكية في الماضي، لذلك فإنه من الضروري أن نفهم هذا الاختلاف الحساس عن كيفية تخزين المفاتيح الخاصة بالبت كوين.</p>

<p>فهم كيفية عمل محافظ بت كوين هو جانب مهم من جوانب الاستخدام الآمن لهذه التقنية الجديدة. لا تزال بت كوين في السنوات الأولى من التطوير، وستصبح المحافظ أسهل في الاستعمال مع مرور الوقت.</p>

<p>في المستقبل القريب، بعض الأجهزة قد تصبح في نهاية المطاف تشمل هذه المحافظ أساساً والتي تتعامل مع الـ blockchain بدون علم المستخدم.</p> 

<p>في الوقت الحالي، من الضروري أن نأخذ في الاعتبار بأن المفاتيح الخاصة هي ما نحتاج لحمايته، وذلك إذا كنت تود ابقاء البت كوين خاصتك في مأمن من القراصنة وأخطاء الاستخدام وأمور أخرى محتملة.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">الفصل السادس</h3>
<h2 class="chapter-name">السرقة والاحتيال</h2>
<div class="nice-divider"></div>

<p>بغض النظر عن أي محفظة اخترت، تذكر دائماً: </p>

<p>إن بت كوين الخاصة بك ستكون آمنة فقط إذا تم إنشاء المفاتيح الخاصة بشكل آمن، وأن تبقى مخفية، و -- الأكثر أهمية -- أن يتم التحكم بها من قِبَلك.</p>

<p>وفيما يلي اثنين من الأمثلة حيث تمت سرقة مستخدمين ممن تركوا البت كوين تحت رعاية أطراف خارجية:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">اختراق Bitfinex، حيث خسر المستخدمون 70 مليون دولار</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">فشل Mt Gox، حيث خسر المستخدمون 450 مليون دولار أو أكثر</a></li>
</ul>

<p>لتجنب السرقة والاحتيال وأي نوع آخر من أنواع خسارة الأموال، قم باتباع المباديء الأساسية التالية: </p>

<ol>
<li><b>إنشاء مفاتيحك الخاصة في بيئة آمنة وغير متصلة بالانترنت</b>. (باستثناء حالة استخدام كميات بسيطة، فمي مثل هذه الحالات يمكن إنشاء المفاتيح عن طريق المحفظة الساخنة).</li>
<li><b>قم بعمل نسخة احتياطية من مفاتيحك الخاصة</b>. هذا يضمن لك الحماية من فقدان البت كوين الناتج عن تعطل القرص الصلب أو الناتجة عن مشاكل أخرى أو بطريق الخطأ. يجب عليك بطبيعة الحال أن تمتلك مجموعة مكررة من النسخ الاحتياطي خارج الموقع للحماية من احتمالية حدوث حريق أو سرقة...إلخ.</li>
<li><b>قم بتشفير المحفظة لمزيد من الأمان</b>. هذا يساعد على منع السرقة المادية لأموالك في حال سرقة جهازك أو جهاز المحفظة.</li>
</ol>

<p>إن تأمين البت كوين خاصتك بشكل صحيح هو الخطوة الأهم لأي مستخدم للبت كوين.</p>

<p>مع بت كوين لديك امتياز - ولكن أيضا المسؤولية - للحفاظ على مالك. لقد كان هناك عدد لا يحصى من عمليات الاحتيال المتعلقة ببت كوين والتي كان يمكن تجنبها لو قام الناس بعدم وضع الثقة بالآخرين للتحكم بالبت كوين خاصتهم.</p>

<p>إنها قاعدة جيدة ترتكز على تجارب الآخرين، بألا تثق أبداً بأي شخص في ما يخص أمواك.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>