---
layout: color
permalink: "/sv/bitcoin-planbocker/"
title: Vilken är den bästa plånboken för Bitcoin?
subtitle: Den kompletta guiden
lang: sv
seotitle: 11 bästa hårdvaran och appar för Bitcoin plånbok 2017
desc: Hitta den bästa plånboken för bitcoins snabbt – både hårdvara och mjukvara – utifrån dina behov. Våra recensioner gör det enklare.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>Den här guiden hjälper dig att hitta den bästa plånboken för DIG.</p>
<p>Tips:</p>
<p>Det finns inte en standard plånbok för Bitcoin som passar alla, plånböckerna finns på olika plattformar och har olika funktioner.</p>
<p>Vill du ha den bästa möjliga plånboken, fortsätt läsa..</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Kapitel</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Kapitel 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Vad är en Bitcoin plånbok?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Kapitel 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Typer av Bitcoin plånböcker</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Kapitel 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Plånböcker som hårdvara</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Kapitel 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Plånböcker för utgifter</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Kapitel 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bitcoin bank eller plånbok</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Kapitel 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Stölder och scams</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Kapitel 1</h3>
<h2 class="chapter-name">Vad är en Bitcoin plånbok?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">

<p>En Bitcoin plånbok är det första steget mot att kunna använda Bitcoin.
<p>Varför?
<p>Utan en plånbok kan du inte ta emot, förvara eller spendera bitcoins.
Du kan tänka på en plånbok som ditt personliga gränssnitt gentemot Bitcoins nätverk, liknande hur din internetbank är en länk till det vanliga monetära systemet.
<p>Plånböcker för bitcoins inkluderar privata nycklar; hemliga koder som låter dig spendera dina bitcoins.
<p>Faktum är att det inte är dina bitcoins som behöver förvaras säkert utan nycklarna som låter dig använda dem.
<p>Kort sagt:
<p>En bitcoin plånbok är en app, hemsida eller enhet som hanterar dina privata Bitcoin-nycklar åt dig.


<h3 id="types-of-wallets" class="chapter-link">Kapitel 2</h3>
<h2 class="chapter-name">Typer av Bitcoin plånböcker</h2>
<div class="nice-divider"></div>

<p><i>Här går vi igenom olika typer av plånböcker för Bitcoin och varför du skulle föredra att använda en typ framför en annan.</i></p>

<h3 class="sub-sub-section"><b>Plånböcker som hårdvara</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span><a href="/wallets/ledger-nano-s/">Ledger Nano S</a> är ett exempel på en hårdvaruplånbok. </span>
</div>

<p>En hårdvaruplånbok är en fysisk liten enhet som är byggd och anpassad för att förvara bitcoins säkert.</p>

<p>Det viktigaste i utformningen är att denna enhet måste sammankopplas med din dator, telefon eller surfplatta för att du ska kunna använda dina bitcoins. </p>

<p>De tre populäraste hårdvaruplånböckerna är:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>En fysisk plånbok, även kallad offline plånbok, som någon av dessa är ett bra val om du tar säkerheten på allvar och vill ha en smart, pålitlig förvaring för dina bitcoins.

<p>En plånbok i form av hårdvara separerar dina privata nycklar från de sårbara uppkopplade enheterna. Dina viktiga nycklar förvaras på en säker plats offline i din hårdvaruplånbok. 

<p>De är helt skyddade även om plånboken skulle kopplas samman med en dator där programvaran skadats eller som smittats med virus.

<p>Eftersom bitcoins är helt digitala skulle en cyber-brottsling potentiellt sett kunna hacka din dators mjukvaruplånbok och stjäla dina bitcoins genom din egen privata nyckel.

<p>Genom att generera och förvara dina nycklar offline i en hårdvaruplånbok är du garanterad säkerhet och inga hackare hittar en väg in för att nå dina bitcoins. 

<p>Hackarna hade behövt stjäla hårdvaran själv, men även då kan du skydda din plånbok med en PIN-kod. 

<p>Oroa dig inte för att din hårdvaruplånbok ska bli stulen, att du tappar bort den eller skadar den; så länge du har en hemligt back up-kod så kan du alltid återställa dina bitcoins.


<div class="quote-box">
<p>Tänk på din hårdvaruplånbok som ditt eget kassaskåp. Om du har en stor summa bitcoins borde du absolut överväga att skaffa en!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a>, <span class="position">grundare av Buy Bitcoin Worldwide</span></div>
</div>

<h2>Varför är plånböcker som hårdvara bra?</h2>
<ul class="quick-info-pros">
	<li>Lättaste sättet att förvara bitcoins säkert</li>
	<li>Lätt att skapa en backup och att säkra dina mynt</li>
 	<li>Färre felmarginaler; installationen är enkel även för mindre tekniska användare</li>

</ul>

<h2>Varför är hårdvaruplånböcker dåliga?</h2>
<ul class="quick-info-cons">
	<li>De är inte gratis!</li>
</ul>

<h3 class="sub-sub-section"><b>Plånböcker som programvara</b></h3>

<p>En mjukvaruplånbok är en Bitcoin plånbok som du använder på uppkopplade enheter som datorer, mobiltelefoner eller surfplattor.</p>

<p>Privata nycklar är <i>hemliga</i> koder. Eftersom mjukvaruplånböcker skapar och förvara dina nycklar på en uppkopplad enhet kan man inte garantera att dessa nycklar är 100 % säkra.</p> 

<div class="quote-box">
<p>Tänk på denna typ av programvara som din vanliga plånbok; du kanske har lite kontanter där som du kan använda för dagen, men du förvarar inte dina livsbesparingar där. </p>
<p>En mjukvaruplånbok är bra om du ofta använder och betalar med dina bitcoins, men är ett lite sämre val om du vill förvara dem säkert på lång sikt. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a>, <span class="position">grundare av Buy Bitcoin Worldwide</span></div>
</div>

<h2>Varför är mjukvaruplånböcker bra?</h2>
<ul class="quick-info-pros">
	<li>Enklaste sättet att förvara mindre summor bitcoins</li>
	<li>Smidigt; det är lätt att spendera och motta betalningar på detta sätt</li>
	<li>Vissa mjukvaruplånböcker låter dig nå dina bitcoins från flera enheter</li>
</ul>

<h2>Varför är mjukvaruplånböcker dåliga?</h2>
<ul class="quick-info-cons">
	<li>De är inte tillräckligt säkra för att förvara stora summor av bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Vilken plånbok är bäst för just dig?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Varför använder du Bitcoin?</a></p>

<p>Ska du investera eller spara? Då är kallagring i form av en hårdvaruplånbok ditt säkraste val.</p>
<p>I annat fall räcker det med en mjukvaruplånbok som låter dig skicka och ta emot bitcoin gratis. Det bästa med dem är att de är gratis.
<p>Varje plånbok har sina för- och nackdelar, och olika plånböcker är gjorda för olika ändamål. </p>
<p>Vissa plånböcker sätter säkerheten främst medan andra kanske är bättre när det gäller personlig integritet. </p>
<p>Dina specifika behov bör avgöra vilken typ av plånbok du använder, eftersom det inte finns någon variant som är överlägset bäst på alla områden.</p>


</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Nedan har vi listat olika plånböcker som du kan köpa eller ladda ner. Vi föreslår att du använder någon av de rekommenderade plånböckerna eller gör egna efterforskningar innan du köper eller ladda ner någon plånbok.</p>
<p>Det lanseras nya Bitcoin plånböcker varje dag och många som läggs till i Google Play Store eller Apple App Store är fejk eller scams  Dessa är designade att stjäla bitcoins från användaren.</p>
<p>Vi listar bara plånböcker som har publicerat sin kod i open source. </p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Kapitel 3</h3>
<h2 class="chapter-name">Plånböcker som hårdvara: håll dina mynt säkra</h2>
<div class="nice-divider"></div>

<p>Hårdvaruplånböcker är inte gratis, men det kan var värt priset ifall du har en stor summa bitcoins. </p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>De tre populäraste hårdvaruplånböckerna är: KeepKey, Ledger Nano S och TREZOR.</span>
</div>

<p>En hårdvaruplånbok kommer att förvara några hundra mynt lika säkert som flera miljoner.</p>

<h2>Så fungerar hårdvaruplånböcker</h2>
<p>Hårdvaruplånböcker är säkra eftersom de är offline. De förvarar dina privata nycklar offline så att de inte kan bli hackade. </p>
<p>Detta betyder att du kan till och med använda enheten med en dator där programvaran skadats eller smittats med virus. </p>

<h2>Varför du ska ha en hårdvaruplånbok med skärm</h2>
<p>I listan nedanför ser du att vi talar om vilken plånbok som har en skärm. </p>
<p>Skärmar ger dig extra säkerhet genom att bekräfta och visa viktiga detaljer i din plånbok. Eftersom hårdvaruplånboken nästan är omöjlig att hacka, så är skärmen mer tillförlitlig än datainformationen som din dator visar.</p>

<h2>Jämförelse mellan Bitcoin hårdvaruplånböcker</h2>
<p>I listan nedanför hittar du en snabb jämförelse. Notera: Vi har också gjort en mer detaljerad jämförelse mellan de tre vanligaste: Ledger Nano S, Trezor och KeepKey.</p>


<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Plånbok</th>
    <th>Skärm<br></th>
    <th class="released">Lanserades</th>
    <th>Pris</th>
    <th class="wallet-buy">Köp</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Översikt av de bästa hårdvaruplånböckerna</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Kapitel 4</h3>
<h2 class="chapter-name">Hot Wallets</h2>
<div class="nice-divider"></div>

<p>En snabb påminnelse:</p>

<p>Mjukvaruplånböcker är Bitcoin plånböcker som fungerar via enheter kopplade till internet som exempelvis datorer, mobiltelefoner eller surfplattor. </p>
<p>Eftersom mjukvaruplånböcker genererar privata nycklar på en enhet som är uppkopplad mot internet så kan man inte betrakta dessa nycklar som 100 % säkra. </p> 

<div class="quote-box">
<p>”Tänk på denna typ av programvara som din vanliga plånbok; du kanske har lite kontanter där som du kan använda för dagen, men du förvarar inte dina livsbesparingar där. </p>
<p>En mjukvaruplånbok är bra om du ofta använder och betalar med dina bitcoins, men är ett lite sämre val om du vill förvara dem säkert på lång sikt.”</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a>, <span class="position">grundare av Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Bitcoin plånböcker online (E-plånböcker)</h2>
<div class="nice-divider-sub"></div>			
<p>E-plånböcker förvarar dina privata nycklar online, och där är de krypterade med ett lösenord som du väljer själv. Trots att dessa erbjuder en lägre nivå av säkerhet så har online Bitcoin plånböcker fördelen att du kan nå dem från vilken uppkopplad enhet som helst. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Bitcoin plånböcker för Android </h2>
<div class="nice-divider-sub"></div>			
<p>Det finns ett stort utbud av plånböcker för Android. När Bitcoin plånböcker förbjöds i Apple App Store fokuserade många utvecklare på att skapa appar för Android istället. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">Bitcoin plånböcker för iOS och iPhone </h2>
<div class="nice-divider-sub"></div>		
<p>Apple  <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">förbjöd Bitcoin plånböcker från App Store</a> i februari 2014, men ångrade sitt beslut bara ett par månader senare. Numera finns det dock många alternativ även för iOS-användare. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Plånböcker för skrivbordet</h2>
<div class="nice-divider-sub"></div>			
<p>Plånböcker för skrivbordet laddas ner och installeras direkt på din dator. Om du prioriterar din integritet så är Bitcoins Core ett bra alternativ eftersom den inte är beroende av någon tredje part för data.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Kapitel 5</h3>
<h2 class="chapter-name">Bitcoin-banker: 1 miljard dollar förlorat genom hacks</h2>
<div class="nice-divider"></div>

<p>En sista sak att ha i åtanke när det gäller bitcoinplånböcker är att det finns en skillnad mellan en plånbok och en bank. Vissa användare av Bitcoin menar att Coinvase är en plånbok men sådana företag fungerar snarare som en bank.</p>

<p>Kom i håg:</p>

<p>Användarna behöver skydda de privata nycklarna för att kunna använda Bitcoin-nätverket utan att bli rånad. När du lämnar över kontrollen till dina privata nycklar till någon annan så är det i princip detsamma som att sätta in en summa pengar på en finansiell institution – som på en bank.</p>

<div class="quote-box">
<p>Förvara inte bitcoins i växlar! Användare av Bitcoin har sammanlagt förlorat över en miljard dollar i samband med växelhacks och scams. Kontrollera dina egna privata nycklar. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a>, <span class="position">grundare av Buy Bitcoin Worldwide</span></div>
</div>

<p>Detta betyder inte att Bitcoin banker bara är av ondo. Företag som Coinbase har gjort mycket bra för att fler användare ska kunna ta del av systemet. Det är bara bra att minnas att den som kontrollerar de privata nycklarna kontrollerar också de bitcoins som hör samman med nycklarna.</p>

<p>Genom att missförstå just den punkten så har flera hundra miljoner amerikanska dollar försvunnit förut, så det är viktigt att förstå skillnaden mellan hur man förvarar de privata Bitcoin-nycklarna.</p>

<p>Att förstå hur bitcoinplånböcker fungerar är en viktig aspekt för att kunna använda denna nya teknologi säkert. Bitcoin är ännu i sina unga år av utveckling och plånböcker kommer att bli mycket mer användarvänliga med tiden.</p>

<p>I vår nära framtid kommer vissa enheter så småningom att ha förinstallerade plånböcker som interagerar med systemet utan att användaren märker det. </p>

<p>Just nu är det viktigt att minnas att det är de privata nycklarna som du måste skydda för att dina bitcoins ska vara säkra från hackers, användarmisstag och andra möjliga problem.</p>


</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Kapitel 6</h3>
<h2 class="chapter-name">Stöld och scams</h2>
<div class="nice-divider"></div>

<p>Oavsett vilken plånbok du väljer så kom ihåg:</p>

<p>Dina bitcoins är bara säkra om dina privata nycklar genererades säkert, förblir hemliga och framför allt – endast kontrolleras av DIG!</p>

<p>Här är två exempel där användarna blev blåsta på sina bitcoins genom en tredje part:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex hackningen, där användare förlorade 70 miljoner dollar</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Mt Goxs misslyckande, där användare förlorade 450 miljoner dollar eller mer</a></li>
</ul>

<p>För att undvika stöld, scams och andra förluster av dina tillgångar bör du följa dessa tre grundläggande principer:</p>

<ol>
<li><b>Skapa dina privata nycklar i en säker miljö offline.</b> (Förutom om du hanterar mindre summor, då går det bra att använda sig av mjukvaruplånböcker online).</li>
<li><b>2.	Skapa en back up av dina privata nycklar.</b> Detta skyddar dina bitcoins ifall din hårddisk skulle gå sönder eller om andra problem och olyckor skulle uppstå. Det bästa är om du har dubbla uppsättningar av din back up på olika platser för att skydda dig mot eventuell brand eller inbrott etc.</li>
<li><b>3.	Kryptera dina plånböcker för ytterligare säkerhet</b>. Detta hjälper till att skydda dig mot en fysisk stöld av dina tillgångar ifall dina enheter eller din hårdvara blir stulen.</li>
</ol>

<p>Att säkra dina bitcoins ordentligt är det viktigaste steget för alla användare av Bitcoins.</p>

<p>Med Bitcoin har du privilegiet – men också skyldigheten – att vakta dina egna pengar. Bitcoin har utsatts för en lång ström av olika scams som hade kunnat förhindras om användarna inte hade överlåtit kontrollen av sina bitcoins till andra. </p>

<p>En god tumregel är att inte lita på någon annan när det gäller dina pengar.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>