---
layout: color
permalink: "/it/portafogli-bitcoin/"
title: Qual è il miglior portafoglio (wallet) Bitcoin?
subtitle: La guida migliore
lang: it
seotitle: 11 tra i migliori hardware e app di portafogli Bitcoin del 2017
desc: Trova rapidamente il portafoglio Bitcoin migliore, hardware o software, basato sulle tue esigenze. Le nostre recensioni rendono tutto più semplice.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>Questa guida ti aiuterà a trovare il miglior portafoglio Bitcoin per TE!</p>
<p>Suggerimento:</p>
<p>Non esiste una soluzione valida per tutti i portafogli Bitcoin. I portafogli o wallet funzionano su piattaforme diverse con funzioni diverse.</p>
<p>Se desideri il miglior portafoglio in assoluto, continua a leggere...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Capitoli</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Capitolo 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Che cosa è un portafoglio Bitcoin?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Capitolo 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Tipologie di portafogli</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Capitolo 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Portafogli hardware</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Capitolo 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Hot wallet</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Capitolo 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Banche vs. portafogli Bitcoin</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Capitolo 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Furti e truffe</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Capitolo 1</h3>
<h2 class="chapter-name">Che cosa è un portafoglio Bitcoin?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>Un portafoglio Bitcoin è il primo step per usare i Bitcoin.</p>
<p>Perché?</p>
<p>Senza un portafoglio, non è possibile ricevere, depositare o spendere Bitcoin.</p>
<p>Bisogna pensare a un portafoglio come una tua interfaccia personale sulla rete di Bitcoin, proprio come un conto corrente online e la sua interfaccia di un normale sistema monetario. </p>
<p>I portafogli Bitcoin contengono password, codici segreti che ti consentono di spendere i tuoi Bitcoin.</p>
<p>In realtà, non c'è bisogno di memorizzare e mettere al sicuro i Bitcoin, ma sono le password che ti danno accesso ai Bitcoin.</p>
<p>In sintesi:</p> 
<p>Un portafoglio Bitcoin è semplicemente un'app, un sito internet o un dispositivo che gestisce le password di Bitcoin per te. </p>

<h3 id="types-of-wallets" class="chapter-link">Capitolo 2</h3>
<h2 class="chapter-name">Tipologie di portafogli Bitcoin</h2>
<div class="nice-divider"></div>

<p><i>Parliamo delle tipologie di portafogli Bitcoin e perché voler utilizzare un tipo piuttosto che un altro.</i></p>

<h3 class="sub-sub-section"><b>Portafogli hardware</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>Il <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> è un esempio di un portafoglio hardware.</span>
</div>

<p>Un portafoglio hardware è un dispositivo elettronico realizzato al solo fine di ottenere Bitcoin.</p>
<p>Il fulcro dell'innovazione consiste nel fatto che, prima di poter spendere i Bitcoin, il portafoglio hardware deve essere collegato al tuo computer, telefono o tablet.</p>

<p>I tre portafogli hardware principali sono:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>I portafogli hardware sono un'ottima scelta se sei seriamente interessato a un deposito di Bitcoin sicuro, conveniente e affidabile. </p>

<p>I portafogli hardware di Bitcoin mantengono le password separate dai dispositivi vulnerabili, connessi a internet.</p>
<p>Tutte le tue importantissime password  vengono tenute in un ambiente offline sicuro in un portafoglio hardware completamente protetto anche nel caso in cui il dispositivo venga collegato a un computer infettato da malware.</p>

<p>Visto che i Bitcoin sono digitali, i criminali informatici potrebbero potenzialmente prendere come bersaglio "i portafogli hardware" del computer e rubarli, accedendo con la  propria password.</p>

<p>Generando e memorizzando  delle password offline con un portafoglio hardware assicura che gli hacker non riescano a raggiungere i  tuoi Bitcoin.</p> 

<p>Gli hacker potrebbero rubare il portafoglio hardware ma seppure dovesse accadere, può essere protetto da un codice PIN.</p> 

<p>Non preoccuparti se il tuo portafoglio hardware viene rubato, perso o danneggiato ; fino a quando  crei un codice di backup segreto, è sempre possibile recuperare i Bitcoin.</p>

<div class="quote-box">
<p>Pensa a un portafoglio hardware come il tuo caveau personale. Se possiedi una notevole quantità di Bitcoin, dovresti prendere in seria considerazione  l’idea di prenderne uno!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondatore di Buy Bitcoin Worldwide</span></div>
</div>

<h2>Perché i portafogli hardware sono <b>validi</b>?</h2>
<ul class="quick-info-pros">
	<li>Il modo più semplice per tenere al sicuro i Bitcoin</li>
	<li>Backup  facile da fare e da mettere al sicuro</li>
	<li>Minor margine di errore; l'installazione semplice anche per gli utenti meno esperti</li>
</ul>

<h2>Perché i portafogli hardware sono <b>dannosi</b>?</h2>
<ul class="quick-info-cons">
	<li>Nono sono gratis!</li>
</ul>

<h3 class="sub-sub-section"><b>Hot Wallet</b></h3>

<p>Gli Hot Wallet sono portafogli di Bitcoin che circolano su dispositivi collegati a internet come computer, cellulare o tablet.</p>

<p>Le password sono codici <i>segreti</i>. Dato che gli hot wallet  generano password su un dispositivo connesso a internet, non possono essere considerati sicuri al 100%.</p> 

<div class="quote-box">
<p>Pensa a un hot wallet come un portafoglio di oggi: lo si utilizza per tenere qualche soldo, ma non i risparmi di una vita. Gli hot wallet sono ottimi se si effettuano pagamenti frequenti, ma non sono la scelta giusta per archiviare Bitcoin al sicuro.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondatore di Buy Bitcoin Worldwide</span></div>
</div>

<h2>Perché gli hot wallet sono <b>validi</b>?</h2>
<ul class="quick-info-pros">
	<li>Il modo più semplice per conservare piccole quantità di Bitcoin</li>
	<li>Conveniente; spendere e ricevere pagamenti è semplice e rapido</li>
	<li>Alcuni hot wallet forniscono accesso ai fondi tramite molteplici dispositivi</li>
</ul>

<h2>Perché gli hot wallet sono <b>dannosi</b>?</h2>
<ul class="quick-info-cons">
	<li>Non sono sicuri per conservare grandi quantità di Bitcoin</li>
</ul>

<h3 class="sub-sub-section"><b>Quale portafoglio ti si addice di più?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Perché usare i Bitcoin?</a></p>

<p>Vuoi investire o risparmiare? Un portafoglio hardware terrà  al sicuro i tuoi soldi.</p>

<p>In caso contrario, andrà bene un portafoglio software in grado di inviare e ricevere Bitcoin. La cosa migliore è che i portafogli software sono gratuiti.</p>

<p>Ogni portafoglio ha pro e contro e ne sono stati creati diversi per risolvere problemi differenti. </p>

<p>Alcuni portafogli sono orientati alla sicurezza, mentre altri sono più concentrati sulla privacy. </p>

<p>Il portafoglio da utilizzare deve essere determinato in base alle tue esigenze specifiche poiché non esiste un "portafoglio migliore di Bitcoin”.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Qui di seguito abbiamo elencato quali portafogli è possibile acquistare o scaricare. Ti consigliamo di utilizzare i portafogli quotati o di fare ricerche prima di acquistare o di scaricarne uno qualsiasi. </p>
<p>Ogni giorno,  nuovi portafogli truffa vengono aggiunti su Google Play Store e all’ Apple App Store e vengono progettati per rubare i Bitcoin delle persone.</p>
<p>Elenchiamo solo i portafogli che hanno pubblicato e concesso il loro codice.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Capitolo 3</h3>
<h2 class="chapter-name">Portafogli hardware: tieni al sicuro le tue monete</h2>
<div class="nice-divider"></div>

<p>I portafogli hardware non sono gratis.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>I tre portafogli hardware più popolari sono: KeepKey, Ledger Nano S e Trezor.</span>
</div>

<p>Ma il prezzo ne vale la pena se si possiede una notevole quantità di Bitcoin. Un portafoglio hardware proteggerà poche centinaia di Bitcoin con la stessa efficacia con cui ne proteggerà qualche milione.</p>

<h2>Come funzionano i portafogli hardware</h2>			
<p>I portafogli hardware sono dispositivi sicuri, offline. Memorizzano le password offline in modo che non possano essere violate.</p>
<p>Questo significa che puoi utilizzarne anche uno su un computer infettato da malware.</p>

<h2>Perché è importante un portafoglio hardware con una schermata</h2>			
<p>Nella tabella qui sotto, noterai  che diciamo quali portafogli hardware hanno delle schermate.</p>
<p>Le schermate offrono una maggiore sicurezza verificando e visualizzando  i dettagli più importanti del portafoglio. Dato che il portafoglio hardware è quasi impossibile da hackerare, la sua schermata è più affidabile dei dati visualizzati sul computer. </p>

<h2>Confronto tra i portafogli hardware di Bitcoin</h2>
<p>Controlla la tabella di seguito per un rapido confronto. Nota: </p>
<p>Abbiamo fatto un confronto <a href="/trezor-keepkey-ledger/">dettagliato dei tre portafogli principali: Ledger Nano S, Trezor e KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Portafoglio</th>
    <th>Schermata<br></th>
    <th class="released">Lancio</th>
    <th>Prezzo</th>
    <th class="wallet-buy">Acquista</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Panoramica di migliori portafogli hardware di Bitcoin</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Capitolo 4</h3>
<h2 class="chapter-name">Hot Wallet</h2>
<div class="nice-divider"></div>

<p>Solo un rapido aggiornamento: </p>

<p>Gli hot wallet sono portafogli di Bitcoin basati su dispositivi collegati a internet come computer, cellulari o tablet. Dato che gli hot wallet  generano  password  su un dispositivo connesso a internet, queste chiavi non possono essere considerate sicure al 100%.</p> 

<div class="quote-box">
<p>Pensa a un hot wallet come un portafogli di oggi: lo si utilizza per conservare qualche soldo, ma non per  i risparmi di una vita. Gli hot wallet sono perfetti  se si effettuano pagamenti frequenti, ma non sono  la scelta giusta  per l'archiviazione sicura di Bitcoin.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondatore di Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Portafogli online di Bitcoin (Web Wallet)</h2>
<div class="nice-divider-sub"></div>			
<p>I Web wallet memorizzano le password online, dove vengono criptati con una password selezionata dall'utente. Anche se essi offrono il livello di sicurezza più basso, i portafogli  online hanno il vantaggio di essere accessibili da qualsiasi dispositivo connesso a internet.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Portafogli di Bitcoin per Android </h2>
<div class="nice-divider-sub"></div>			
<p>Esiste un’ampia gamma  di portafogli Android. Dato che i Bitcoin sono stati originariamente banditi dalla Apple, gli sviluppatori hanno passato gran parte del loro tempo a sviluppare portafogli per Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">Portafogli di Bitcoin per iOS e iPhone </h2>
<div class="nice-divider-sub"></div>		
<p>La Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">ha vietato i portafogli di Bitcoin</a> dall’App Store nel mese di Febbraio 2014, ma ha cambiato la sua decisione pochi mesi dopo. Per fortuna, ora esistono molteplici opzioni per gli utenti iOS. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Portafogli per desktop</h2>
<div class="nice-divider-sub"></div>			
<p>I portafogli per desktop vengono scaricati e installati sul computer. Se la privacy è la tua preoccupazione principale, il portafoglio di Bitcoin è una buona opzione in quanto non ricorre a terzi per i dati. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Capitolo 5</h3>
<h2 class="chapter-name">Banche di Bitcoin: 1 milairdo di dollari perso in attacchi informatici</h2>
<div class="nice-divider"></div>

<p>Un’ultima cosa da tenere a mente quando si tratta di portafogli per Bitcoin è che c'è una differenza tra un portafoglio e una banca. Alcuni utenti di Bitcoin considerano <a href="/exchanges/coinbase/">Coinbase</a> come un portafoglio di Bitcoin, ma le aziende di questo tipo funzionano molto di più come banche. </p>

<p>Ricorda:</p>

<p>Le password sono ciò di cui gli utenti hanno bisogno per proteggere  e utilizzare in modo sicuro la rete di Bitcoin senza essere derubati. Quando affidi il controllo delle tue password a qualcun'altro, stai fondamentalmente effettuando un deposito su quell'istituto finanziario &ndash; proprio come un deposito in una qualsiasi banca.</p>

<div class="quote-box">
<p>Non conservare le monete negli scambi! Gli utenti di Bitcoin hanno perso più di $ 1 miliardo di Bitcoin per violazioni durante gli scambi e truffe. Controlla  le tue password. Se hai bisogno di aiuto, fai le domande nella nostra <a href="http://ask.buybitcoinworldwide.com/">sezione Chiedi</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondatore di Buy Bitcoin Worldwide</span></div>
</div>

<p>Questo non vuol dire che le banche di Bitcoin sono intrinsecamente poco utili. Le aziende come Coinbase hanno fatto miracoli per portare più utenti nell'ecosistema. È semplicemente importante ricordare che <i>chiunque controlla le password controlla i Bitcoin collegati a quelle password</i>.</p>

<p>Un equivoco su questo punto ha portato, in passato, alla perdita di centinaia di milioni di dollari, quindi è importante capire questa differenza fondamentale, nel modo dei Bitcoin le password possono essere memorizzate.</p>

<p>Capire come funzionano i portafogli di Bitcoin è un aspetto importante per la sicurezza quando si utilizza questa nuova tecnologia. I Bitcoin sono ancora ai primi anni di sviluppo e, nel tempo,  i portafogli  diventeranno molto più facili da usare.</p>

<p>Nel prossimo futuro, alcuni dispositivi potranno eventualmente nascere con portafogli preinstallati che interagiscono con il blockchain all'insaputa dell'utente.</p> 

<p>Per il momento, è fondamentale tenere a mente che le password sono ciò che è necessario per proteggersi se si vuole mantenere i Bitcoin al sicuro dagli hacker, dagli errori degli utenti e da altri eventuali problemi.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Capitolo 6</h3>
<h2 class="chapter-name">Furti e truffe</h2>
<div class="nice-divider"></div>

<p>A prescindere dal portafoglio scelto, ricorda: </p>

<p>I tuoi Bitcoin sono al sicuro solo se la password è stata generata in modo sicuro, se resta segreta e, cosa più importante, viene gestita solo da TE!</p>

<p>Ecco due esempi di utenti che hanno subito una fregatura lasciando l’accesso ai Bitcoin a terzi:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">L'hack di Bitfinex, in cui gli utenti hanno perso $ 70 milioni</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Il fallimento di Mt Gox, in cui gli utenti persero $ 450 milioni o più</a></li>
</ul>

<p>Per prevenire furti, truffe e qualsiasi altra perdita di fondi, seguire questi tre principi di base: </p>

<ol>
<li><b>Generare le password in un ambiente sicuro, offline</b>. (A meno che non si stanno utilizzando importi irrisori, nel qual caso le chiavi possono anche essere generate da un hot wallet).</li>
<li><b>Fare dei backup delle password</b>. Questo aiuta a proteggersi contro la perdita dei Bitcoin a causa di un guasto del disco rigido o di qualche altro problema o incidente. Idealmente si dovrebbe avere un duplicato del backup off-site per proteggerti da eventuali incendi, rapine, ecc.</li>
<li><b>Criptare i portafogli  per aumentare ulteriormente la  sicurezza</b>. Questo aiuta a prevenire il furto fisico del tuo patrimonio nel caso in cui il dispositivo o il portafoglio hardware vengano rubati.</li>
</ol>

<p>Una protezione corretta dei Bitcoin è il passo più importante per qualsiasi utente di Bitcoin.</p>

<p>Con Bitcoin si ha il privilegio, ma anche la responsabilità, di salvaguardare il proprio denaro. Ci sono stati innumerevoli truffe legate ai Bitcoin che avrebbero potuto essere evitate se le persone non avessero affidato  agli altri i loro Bitcoin.</p>

<p>È buona regola non fidarsi di chiunque con i tuoi soldi.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>