---
layout: color
permalink: "/fr/portefeuilles-bitcoin/"
title: Quel est le meilleur portefeuille Bitcoin? 
subtitle: Le guide ultime 
lang: fr 
seotitle: 11 meilleurs portefeuilles Bitcoin et hardware wallets de 2017 
desc: "Trouvez rapidement le meilleur portefeuille ou hardware wallet Bitcoin en fonction de vos besoins. Nos critiques vous facilitent la t&acirc;che. "
color: yes 
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="special-letters col-md-5"><br><br><p>Ce guide vous aidera &agrave; trouver le portefeuille Bitcoin qui VOUS sera le plus appropri&eacute; !</p>
<p>Indice :</p>
<p>Il n&rsquo;y a pas de portefeuille Bitcoin universel. Ces portefeuilles existent en toute sorte de formes et de fonctionnalit&eacute;s.</p>
<p>Continuez &agrave; lire si vous &ecirc;tes &agrave; la recherche du meilleur portefeuille possible...</p>
</div>

<div class="col-md-7"><img class="img-responsive wallet-top-part" alt="meilleur portefeuille Bitcoin" src="/img/goodicons/wallet.png"></div>
</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapitres</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Chapitre 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Qu&rsquo;est-ce qu&rsquo;un portefeuille Bitcoin ?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Chapitre 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Types de portefeuilles</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Chapitre 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Hardware Wallets (portefeuilles mat&eacute;riels)</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Chapitre 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Hot wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Chapitre 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Portefeuilles VS Banques</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Chapitre 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Vols et scams</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Chapitre 1</h3>
<h2 class="chapter-name">Qu&rsquo;est-ce qu&rsquo;un portefeuille Bitcoin ?</h2>
<div class="nice-divider"></div><img class="color-guide-img halfimg-right" alt="meilleur portefeuille Bitcoin" src="/img/goodicons/doublecoin.png"><p>Un portefeuille Bitcoin est la premi&egrave;re chose qu&rsquo;il vous faut pour pouvoir utiliser des bitcoins.</p>
<p>Pourquoi ?</p>
<p>Sans portefeuille, vous ne pouvez pas recevoir, garder et d&eacute;penser vos bitcoins.</p>
<p>Essayez d&rsquo;imaginer un tel portefeuille comme votre interface personnelle avec le r&eacute;seau Bitcoin &mdash; un peu comme votre compte en banque en ligne est une interface avec le syst&egrave;me mon&eacute;taire conventionnel. </p>
<p>Les portefeuilles Bitcoin contiennent des cl&eacute;s priv&eacute;es, des sortes de codes secrets vous permettant de d&eacute;penser vos bitcoins.</p>
<p>Ce ne sont pas vraiment les bitcoins ayant besoin d&rsquo;&ecirc;tre stock&eacute;s et s&eacute;curis&eacute;s, mais plut&ocirc;t les cl&eacute;s priv&eacute;es y donnant acc&egrave;s.</p>
<p>En bref :</p> 
<p>Un portefeuille Bitcoin est une appli, un site web ou un appareil g&eacute;rant vos cl&eacute;s priv&eacute;es. </p>

<h3 id="types-of-wallets" class="chapter-link">Chapitre 2</h3>
<h2 class="chapter-name">Types de portefeuilles Bitcoin</h2>
<div class="nice-divider"></div>

<p><i>Parcourons les types de portefeuilles Bitcoin et voyons pourquoi vous pourriez en pr&eacute;f&eacute;rer un type plut&ocirc;t qu&rsquo;un autre.</i></p>

<h3 class="sub-sub-section"><b>Hardware Wallets (portefeuilles mat&eacute;riels)</b></h3>

<div class="caption-img-box"><img class="color-guide-img" alt="hardware wallet bitcoin" src="/img/nanos/1.png"> <span>Le <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> est un exemple de ce que l&rsquo;on appelle un « hardware wallet ».</span></div>

<p>Un hardware wallet est un appareil &eacute;lectronique physique con&ccedil;u dans le seul but de s&eacute;curiser les bitcoins.</p>
<p>La grosse diff&eacute;rence avec les solutions est que le portefeuille mat&eacute;riel doit &ecirc;tre connect&eacute; &agrave; votre ordinateur, &agrave; votre smartphone ou &agrave; votre tablette avant de pouvoir d&eacute;penser des bitcoins.</p>

<p>Les trois hardware wallets les plus populaires sont :</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Les hardware wallets sont l&rsquo;un des meilleurs choix lorsque l&rsquo;on prend la s&eacute;curit&eacute; au s&eacute;rieux, mais que l&rsquo;on souhaite tout de m&ecirc;me une solution de stockage de bitcoins pratique et fiable. </p>

<p>Les portefeuilles mat&eacute;riels conservent les cl&eacute;s priv&eacute;es &agrave; l&rsquo;abri des appareils connect&eacute;s &agrave; internet (et donc vuln&eacute;rables).</p>
<p>Vos cl&eacute;s priv&eacute;es sont conserv&eacute;es dans le hardware wallet, c&rsquo;est-&agrave;-dire dans un environnement hors ligne s&eacute;curis&eacute; offrant une protection int&eacute;grale, m&ecirc;me lorsque l&rsquo;ordinateur auquel il se connecte est infect&eacute;.</p>

<p>Comme les bitcoins sont une monnaie num&eacute;rique, les cybercriminels pourraient en th&eacute;orie attaquer les « portefeuilles logiciel » de votre ordinateur et les voler en obtenant l&rsquo;acc&egrave;s &agrave; votre cl&eacute; priv&eacute;e.</p>

<p>Les hardware wallets g&eacute;n&egrave;rent et stockent les cl&eacute;s priv&eacute;es hors ligne afin de s&rsquo;assurer que les hackers n&rsquo;ont aucun moyen d&rsquo;acc&eacute;der aux bitcoins.</p> 

<p>Pour y arriver, les hackers devraient mettre physiquement la main sur le portefeuille mat&eacute;riel, qui peut &mdash; au passage &mdash; &ecirc;tre prot&eacute;g&eacute; par code PIN.</p> 

<p>De plus, il n&rsquo;y a pas besoin de se soucier d&rsquo;&eacute;garer, d&rsquo;endommager ou de se faire voler son hardware wallet, car il est possible de cr&eacute;er un code de secours afin de r&eacute;cup&eacute;rer ses bitcoins.</p>

<div class="quote-box">
<p>Essayez de vous dire qu&rsquo;un hardware wallet est un peu comme un bunker antiatomique. Je vous conseille grandement de vous en offrir un si vous poss&eacute;dez une jolie quantit&eacute; de bitcoins !</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondateur, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Pourquoi les hardware wallets sont-ils <b>bien</b> ?</h2>
<ul class="quick-info-pros">
	<li>Moyen le plus facile stocker des bitcoins sans risques</li>
	<li>Facile &agrave; sauvegarder et &agrave; s&eacute;curiser</li>
	<li>Moins de place pour l&rsquo;erreur ; la mise en &oelig;uvre est facile, m&ecirc;me pour les utilisateurs sans exp&eacute;rience</li>
</ul>

<h2>Pourquoi les hardware wallets sont-ils <b>mauvais</b> ?</h2>
<ul class="quick-info-cons">
	<li>Ils ne sont pas gratuits !</li>
</ul>

<h3 class="sub-sub-section"><b>Hot wallets</b></h3>

<p>Les « hot wallets » sont des portefeuilles Bitcoin fonctionnant sur des appareils (smartphone, ordinateur ou tablette) connect&eacute;s &agrave; internet.</p>

<p>Les cl&eacute;s priv&eacute;es sont des codes <i>secrets</i>. Comme les hot wallets g&eacute;n&egrave;rent vos cl&eacute;s priv&eacute;es sur un appareil connect&eacute; &agrave; internet, ces cl&eacute;s priv&eacute;es ne peuvent pas &ecirc;tre consid&eacute;r&eacute;es comme &eacute;tant 100 % s&eacute;curis&eacute;es.</p> 

<div class="quote-box">
<p>Essayez de vous dire qu&rsquo;un hot wallet est comme le portefeuille que vous avez dans la poche : il peut garder un peu de liquidit&eacute;s, mais pas tout votre argent. Les hot wallets sont tr&egrave;s bien si vous faites r&eacute;guli&egrave;rement des paiements, mais ne sont pas adapt&eacute;s au stockage s&eacute;curis&eacute; des bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondateur, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Pourquoi les hot wallets sont-ils <b>bien</b> ?</h2>
<ul class="quick-info-pros">
	<li>Moyen le plus facile de stocker des petites quantit&eacute;s de bitcoins</li>
	<li>Envoi et r&eacute;ception de paiement faciles, pratiques et rapides</li>
	<li>Certains hot wallets permettent d&rsquo;acc&eacute;der &agrave; ses fonds depuis plusieurs appareils</li>
</ul>

<h2>Pourquoi les hot wallets sont-ils <b>mauvais</b> ?</h2>
<ul class="quick-info-cons">
	<li>Pas suffisamment s&eacute;curis&eacute;s pour le stockage de grandes quantit&eacute;s de bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Quel portefeuille vous convient le mieux ?</b></h3>
<p><a href="https://blogs.mediapart.fr/ouest/blog/061113/pourquoi-utiliser-le-bitcoin">Pourquoi vous servez-vous de Bitcoin ?</a></p>

<p>Pour investir ? Pour faire des &eacute;conomies ? Dans ce cas, un hardware wallet vous permettra de garder vos bitcoins en s&eacute;curit&eacute;.</p>

<p>Dans le cas contraire, un portefeuille logiciel pourra tout aussi bien envoyer et recevoir des bitcoins. De plus, les portefeuilles logiciels sont gratuits.</p>

<p>Chaque portefeuille a ses avantages et ses inconv&eacute;nients et chaque portefeuille existe pour apporter une solution &agrave; des probl&egrave;mes diff&eacute;rents. </p>

<p>Certains portefeuilles s&rsquo;axent plut&ocirc;t sur la s&eacute;curit&eacute;, alors que d&rsquo;autres s&rsquo;axent plut&ocirc;t sur la confidentialit&eacute;. </p>

<p>Vos besoins d&eacute;termineront le type de portefeuille que vous utiliserez, car le « meilleur portefeuille Bitcoin » n&rsquo;existe pas.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12"><br><p>Nous vous avons list&eacute; ci-dessous des portefeuilles disponibles &agrave; la vente ou au t&eacute;l&eacute;chargement. Nous vous recommandons d&rsquo;utiliser ces portefeuilles ou de bien faire vos recherches avant d&rsquo;acheter ou de t&eacute;l&eacute;charger un portefeuille n&rsquo;&eacute;tant pas dans cette liste. </p>
<p>De nouveaux scams sur les portefeuilles Bitcoin apparaissent tous les jours sur le Play Store et sur l&rsquo;App Store afin de d&eacute;rober les bitcoins des plus cr&eacute;dules.</p>
<p>Nous ne vous avons list&eacute; que les portefeuilles ayant un code open source.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Chapitre 3</h3>
<h2 class="chapter-name">Hardware wallets : gardez vos bitcoins en s&eacute;curit&eacute;</h2>
<div class="nice-divider"></div>

<p>Les portefeuilles mat&eacute;riels ne sont pas gratuits.</p> 

<div class="caption-img-box"><img class="color-guide-img" alt="hardware wallet bitcoin" src="/img/wallets/tlk.jpg"> <span>Les trois hardware wallets les plus populaires : le KeepKeey, le Ledger Nano S et le Trezor.</span></div>

<p>Mais leur prix peut en valoir la chandelle si vous poss&eacute;dez une belle quantit&eacute; de bitcoins. Un portefeuille mat&eacute;riel prot&egrave;gera aussi bien des centaines de bitcoins que des millions.</p>

<h2>Fonctionnement des hardware wallets</h2>			
<p>Les hardware wallets sont des dispositifs hors ligne s&eacute;curis&eacute;s. Ils stockent vos cl&eacute;s priv&eacute;s hors ligne afin qu&rsquo;elle ne puissent pas &ecirc;tre hack&eacute;es.</p>
<p>Il est donc absolument possible de les utiliser sur un ordinateur infect&eacute; de malwares.</p>

<h2>Pourquoi il est important d&rsquo;avoir un hardware wallet &agrave; &eacute;cran</h2>			
<p>Vous pourrez constater dans le tableau ci-dessous quels portefeuilles mat&eacute;riels ont un &eacute;cran.</p>
<p>Les &eacute;crans offrent un niveau de s&eacute;curit&eacute; additionnel, car permettent de v&eacute;rifier et d&rsquo;afficher des informations de grande importance au sujet du portefeuille. Comme il est presque impossible de hacker un hardware wallet, les donn&eacute;es de son &eacute;cran sont plus fiables que celles affich&eacute;es sur un &eacute;cran d&rsquo;ordinateur. </p>

<h2>Comparatif des hardware wallets</h2>
<p>Consultez le tableau ci-dessous pour une comparaison rapide. Note : </p>
<p>Nous avons r&eacute;alis&eacute; un <a href="/trezor-keepkey-ledger/">comparatif d&eacute;taill&eacute; des trois principaux : Le Ledger Nano S, le Trezor et le KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Portefeuille</th>
    <th>&Eacute;cran<br></th>
    <th class="released">Sortie</th>
    <th>Prix</th>
    <th class="wallet-buy">Acheter</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
  </table>
	
<h2>Aper&ccedil;u des meilleurs hardware wallets Bitcoin</h2><br> {% assign pages = site.wallets | sort:&quot;weight&quot; %} {% for wallet in pages reversed %} {% if wallet.tags contains 'hardware' %} {% include wallet-list.html %} {% endif %} {% endfor %}</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Chapitre 4</h3>
<h2 class="chapter-name">Hot wallets</h2>
<div class="nice-divider"></div>

<p>Petit rappel : </p>

<p>Les « hot wallets » sont des portefeuilles Bitcoin fonctionnant sur des appareils (smartphone, ordinateur ou tablette) connect&eacute;s &agrave; internet. Les hot wallets g&eacute;n&eacute;rant des cl&eacute;s priv&eacute;es sur un appareil connect&eacute; &agrave; internet, ces cl&eacute;s priv&eacute;es ne peuvent pas &ecirc;tre consid&eacute;r&eacute;es comme &eacute;tant 100 % s&eacute;curis&eacute;es.</p> 

<div class="quote-box">
<p>Essayez de vous dire qu&rsquo;un hot wallet est comme le portefeuille que vous avez dans la poche : il peut garder un peu de liquidit&eacute;s, mais pas tout votre argent. Les hot wallets sont tr&egrave;s bien si vous faites r&eacute;guli&egrave;rement des paiements, mais ne sont pas adapt&eacute;s au stockage s&eacute;curis&eacute; des bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondateur, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Portefeuilles Bitcoin en ligne (portefeuilles web)</h2>
<div class="nice-divider-sub"></div>			
<p>Les portefeuilles web (ou « web wallets ») conservent les cl&eacute;s priv&eacute;es en ligne, o&ugrave; elles sont crypt&eacute;es &agrave; l&rsquo;aide d&rsquo;un mot de passe d&eacute;fini par l&rsquo;utilisateur. Bien qu&rsquo;ils offrent le plus bas des niveaux de s&eacute;curit&eacute;, les portefeuilles Bitcoin en ligne ont l&rsquo;avantage d&rsquo;&ecirc;tre accessibles depuis n&rsquo;importe quel appareil connect&eacute; &agrave; internet.</p><br> 

{% for wallet in site.data.wallets %} 
{% if wallet.tags contains 'web' %} {% include wallet-list.html %} {% endif %} {% endfor %}<h2 class="wallet-type-hot">Portefeuilles Bitcoin sous Android</h2>
<div class="nice-divider-sub"></div>			
<p>Il y a un grand choix de portefeuilles sous Android. Comme les portefeuilles Bitcoin ont &eacute;t&eacute; &agrave; la base bannis par Apple, les d&eacute;veloppeurs ont pass&eacute; le plus clair de leur temps &agrave; programmer pour Android.</p><br> {% for wallet in site.data.wallets %} {% if wallet.tags contains 'android' %} {% include wallet-list.html %} {% endif %} {% endfor %}<h2 class="wallet-type-hot">Portefeuilles Bitcoin pour iPhone et appareils sous iOS</h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.01net.com/actualites/apple-ejecte-le-dernier-portefeuille-bitcoin-de-l-app-store-613604.html">a banni les portefeuilles Bitcoin</a> de son App Store en f&eacute;vrier 2014, mais a chang&eacute; de d&eacute;cision quelques mois plus tard. Il y a donc maintenant plein d&rsquo;options pour les utilisateurs d&rsquo;iOS. </p><br> {% for wallet in site.data.wallets %} {% if wallet.tags contains 'ios' %} {% include wallet-list.html %} {% endif %} {% endfor %}<h2 class="wallet-type-hot">Portefeuilles de bureau (portefeuilles locaux)</h2>
<div class="nice-divider-sub"></div>			
<p>Les portefeuilles de bureau se t&eacute;l&eacute;chargent et s&rsquo;installent sur votre ordinateur. Si vous vous souciez principalement de la confidentialit&eacute; de vos donn&eacute;es, le portefeuille Bitcoin Core est une bonne option, car ne d&eacute;pend d&rsquo;aucun tiers. </p><br> {% for wallet in site.data.wallets %} {% if wallet.tags contains 'desktop' %} {% include wallet-list.html %} {% endif %} {% endfor %}</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Chapitre 5</h3>
<h2 class="chapter-name">Banques de bitcoins : 1 M$ perdus &agrave; cause de hacks</h2>
<div class="nice-divider"></div>

<p>Lorsque l&rsquo;on parle de portefeuilles Bitcoin, il faut bien garder &agrave; l&rsquo;esprit qu&rsquo;il y a une diff&eacute;rence entre un portefeuille et une banque. Certains des utilisateurs de Bitcoin consid&egrave;rent <a href="/exchanges/coinbase/">Coinbase</a> comme un portefeuille Bitcoin. Toutefois, les soci&eacute;t&eacute;s de ce genre ont un fonctionnement se rapprochant plut&ocirc;t de celui des banques. </p>

<p>N&rsquo;oubliez pas :</p>

<p>Les cl&eacute;s priv&eacute;es sont ce qu&rsquo;un utilisateur a besoin de prot&eacute;ger afin de pouvoir utiliser le r&eacute;seau Bitcoin en toute s&eacute;curit&eacute;, sans se faire voler. Lorsque vous donnez le contr&ocirc;le de vos cl&eacute;s priv&eacute;es &agrave; quelqu&rsquo;un d&rsquo;autre, vous &ecirc;tes en train de faire un d&eacute;p&ocirc;t dans une institution financi&egrave;re (tout comme vous le feriez dans une banque).</p>

<div class="quote-box">
<p>Ne stockez pas vos bitcoins sur les plateformes de change ! Les utilisateurs de Bitcoin ont perdu plus d&rsquo;un milliard de dollars en bitcoins &agrave; la suite de scams et de hacks des plateformes de change. Gardez le contr&ocirc;le de vos cl&eacute;s priv&eacute;es.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fondateur, Buy Bitcoin Worldwide</span></div>
</div>

<p>Cela ne veut cependant pas dire que les banques de bitcoins sont fondamentalement mauvaises. Certaines soci&eacute;t&eacute;s telles que Coinbase ont fait de vraies prouesses et ont permis de ramener beaucoup d&rsquo;utilisateurs dans cet &eacute;cosyst&egrave;me. Il est en fait juste important de se rappeler que <i>celui qui contr&ocirc;le les cl&eacute;s priv&eacute;es contr&ocirc;le les bitcoins y &eacute;tant rattach&eacute;s</i>.</p>

<p>Une incompr&eacute;hension de ce point important a conduit dans le pass&eacute; &agrave; la perte de plusieurs centaines de millions de dollars. Il est donc essentiel de bien comprendre la diff&eacute;rence entre les moyens de stockage des cl&eacute;s priv&eacute;es Bitcoin.</p>

<p>Avoir une bonne connaissance du fonctionnement des portefeuilles Bitcoin est un des aspects essentiels &agrave; l&rsquo;utilisation s&eacute;curitaire de cette nouvelle technologie. Le bitcoin en est toujours au d&eacute;but de son d&eacute;veloppement et les portefeuilles deviendront au fil du temps de plus en plus simples &agrave; utiliser.</p>

<p>Dans un futur proche, certains appareils pourraient m&ecirc;me &ecirc;tre livr&eacute;s avec des portefeuilles pr&eacute;install&eacute;s interagissant avec la blockchain, sans que l&rsquo;utilisateur en ait conscience.</p> 

<p>&Agrave; l&rsquo;heure actuelle, il est vital de ne pas oublier que les cl&eacute;s priv&eacute;es sont ce qu&rsquo;il vous faut pour prot&eacute;ger vos bitcoins des hackers, des erreurs utilisateur et d&rsquo;autres probl&egrave;mes &eacute;ventuels.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Chapitre 6</h3>
<h2 class="chapter-name">Vols et scams</h2>
<div class="nice-divider"></div>

<p>Quel que soit le type de portefeuille que vous choisirez, n&rsquo;oubliez pas la chose suivante : </p>

<p>Vos bitcoins ne sont en s&eacute;curit&eacute; que si la cl&eacute; priv&eacute;e a &eacute;t&eacute; g&eacute;n&eacute;r&eacute;e de mani&egrave;re s&eacute;curis&eacute;e, reste secr&egrave;te et - le plus important - n&rsquo;est contr&ocirc;l&eacute;e que par VOUS-M&Ecirc;ME !</p>

<p>Voici deux cas o&ugrave; les utilisateurs se sont fait avoir en laissant leurs bitcoins dans les mains d&rsquo;un tiers :</p>

<ul>
<li><a href="http://www.lesechos.fr/03/08/2016/lesechos.fr/0211179950165_le-bitcoin-chute-de-8---apres-le-hacking-de-bitfinex.htm">Le hacking de Bitfinex ayant conduit les utilisateurs &agrave; la perte de 65 millions de dollars </a></li>
<li><a href="http://www.lemonde.fr/pixels/article/2015/08/01/le-patron-francais-de-la-plateforme-de-bitcoin-mtgox-arrete-au-japon_4707152_4408996.html">L&rsquo;&eacute;chec de Mt Gox ayant conduit les utilisateurs &agrave; la perte d&rsquo;environ 355 millions d&rsquo;euros</a></li>
</ul>

<p>Afin d&rsquo;&eacute;viter le vol, les scams ou toute autre perte de fonds, fiez-vous aux trois principes de base suivants : </p>

<ol>
<li><b>G&eacute;n&eacute;rez vos cl&eacute;s priv&eacute;es dans un environnement hors ligne s&eacute;curis&eacute;</b>. (Sauf si vous n&rsquo;avez que de tr&egrave;s faibles quantit&eacute;s, auquel cas les cl&eacute;s peuvent &ecirc;tre cr&eacute;&eacute;es dans un hot wallet).</li>
<li><b>Cr&eacute;ez des sauvegardes de vos cl&eacute;s priv&eacute;es</b>. Ceci aide &agrave; la protection contre la perte de bitcoins &agrave; la suite de d&eacute;faillances des disques durs ou de tout autre probl&egrave;me. Il faut aussi id&eacute;alement avoir un autre jeu de sauvegardes dans un autre endroit afin de pallier &agrave; des &eacute;ventuels incendies, cambriolages, etc.</li>
<li><b>Cryptez vos portefeuilles pour davantage de s&eacute;curit&eacute;</b>. Ceci aidera &agrave; emp&ecirc;cher le vol physique de vos fonds si votre appareil ou votre hardware wallet est vol&eacute;.</li>
</ol>

<p>La s&eacute;curisation ad&eacute;quate de vos bitcoins est l&rsquo;&eacute;tape la plus importante devant &ecirc;tre suivie par tout utilisateur de Bitcoin.</p>

<p>Bitcoin vous offre le privil&egrave;ge (mais aussi la responsabilit&eacute;) de garder votre argent en s&eacute;curit&eacute;. Une quantit&eacute; innombrable de scams portant sur les bitcoins auraient pu &ecirc;tre &eacute;vit&eacute;s si les utilisateurs n&rsquo;avaient pas fait une confiance aveugle &agrave; des tiers.</p>

<p>En r&egrave;gle g&eacute;n&eacute;rale, il vaut mieux ne faire confiance qu&rsquo;&agrave; soi-m&ecirc;me pour la gestion de son argent.</p>

<div class="wallet-bounce">{% assign pages = site.wallets | sort:&quot;weight&quot; %} {% for wallet in pages reversed %} {% if wallet.tags contains 'hardware' %} {% include wallet-bounce.html %} {% endif %} {% endfor %}</div>

    </div>
</div>                    
</div>