---
layout: color
permalink: "/zh-cn/bitcoin-wallets/"
title: 哪个是最佳的比特币钱包？
subtitle: 终极指南
lang: zh_CN
seotitle: 回顾2017年11个最佳的比特币硬件钱包和App钱包
desc: "快速找到最佳的比特币钱包--硬件钱包或软件钱包--取决于您的需求。通过我们的回顾，你能更容易的找到最佳的比特币钱包。"
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="special-letters col-md-5">
<br><br>
<p>这篇指南能帮你找到最佳的比特币钱包。</p>
<p>提示：</p>
<p>没有“一体适用”的比特币钱包，不同平台的比特币钱包有不同的特点。</p>
<p>如果你想要最佳的钱包，请继续往下看...</p>
</div>

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>
</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">章节</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">章节 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">什么是比特币钱包？</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">章节 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">钱包类型</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">章节 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">硬件钱包</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">章节 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">热钱包</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">章节 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">比特币银行 VS 比特币钱包</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">章节 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">盗窃和诈骗</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">章节 1</h3>
<h2 class="chapter-name">什么是比特币钱包？</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>使用比特币的第一步是拥有一个比特币钱包。</p>
<p>为什么呢？</p>
<p>如果没有比特币钱包，你就不能接收、存储或者消费比特币。</p>
<p>你可以把比特币钱包理解为对接比特币网络的个人接口，就像你的网上银行账户是对接正规货币系统的接口一样。</p>
<p>比特币钱包包含私人密钥；通过密码指令你可以消费比特币。</p>
<p>实际上，需要被储存或者需要受到保护的不是比特币，而是私钥，它给了你管理比特币的权限。</p>
<p>简而言之：</p> 
<p>比特币钱包是一个简单的app、网站或者设备，它为你管理了比特币私钥。</p>

<h3 id="types-of-wallets" class="chapter-link">章节 2</h3>
<h2 class="chapter-name">比特币钱包类型</h2>
<div class="nice-divider"></div>

<p><i>让我们开始讨论下比特币钱包的类型以及为什么你会使用其中一种。</i></p>

<h3 class="sub-sub-section"><b>硬件钱包（又称冷钱包）</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span><a href="/wallets/ledger-nano-s/">Ledger Nano S</a>就是一种硬件钱包。</span>
</div>

<p>硬件钱包是一个实体电子设备，仅仅是为了比特币安全而创建。</p>
<p>其核心创新是在消费比特币之前，必须要将比特币钱包连上你的电脑、电话或者平板设备。</p>

<p>三个最流行的硬件钱包是：</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>如果你对比特币的安全、便捷性、可靠的比特币储存很关心在意的话，硬件钱包是一个不错的选择。</p>

<p>硬件钱包能使你的私钥和易受攻击的联网设备保持分离。</p>
<p>你所有重要的私钥都被维护在硬件钱包的一个安全的离线环境中，即使将这个设备被插上一台感染了恶意软件的计算机上，其也能完全受到保护。</p>

<p>因为比特币是数字货币，数字犯罪能偷偷地将你电脑的“软件钱包”作为攻击目标并通过获取你的私钥从而将比特币偷走。</p>

<p>使用硬件钱包来离线生成和存储私钥可以确保黑客无法偷走你的比特币。</p> 

<p>黑客必须要偷走硬件钱包，即使如此，它也被个人识别码所保护。</p> 

<p>不要担心你的硬件钱包会被偷、丢失、或者被损毁；只要你创建一个私钥备份，你就可以重新找回你的比特币。</p>

<div class="quote-box">
<p>可以把硬件钱包理解为你用钢建造的地下室那样牢固。如果你拥有大量重要的比特币的话，你应该强烈考虑有一个硬件钱包！</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Buy Bitcoin Worldwide 创始人</span></div>
</div>

<h2>硬件钱包<b>优点</b></h2>
<ul class="quick-info-pros">
	<li>安全存储比特币的简单方式</li>
	<li>备份简便且安全</li>
	<li>误差较小；设置便捷，即使是对技术懂得较少的用户</li>
</ul>

<h2>硬件钱包<b>缺点</b></h2>
<ul class="quick-info-cons">
	<li>收费</li>
</ul>

<h3 class="sub-sub-section"><b>热钱包（又称软件钱包）</b></h3>

<p>热钱包也是一种比特币钱包，其运行在联网的设备上，比如电脑、移动电话或者平板设备。</p>

<p>私钥是一串<i>加密代码</i>。因为热钱包是在联网设备上生成私钥，所以这些私钥不能被认为是百分之百的安全。</p> 

<div class="quote-box">
<p>可以把热钱包想象成今天我们使用的钱包：用它来储存一些现金但并不存放你所有的积蓄。如果你需要频繁的交易，则热钱包是一个不错的选择。但它并不是一个存储比特币的安全方式。</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Buy Bitcoin Worldwide 创始人</span></div>
</div>

<h2>热钱包<b>优点</b></h2>
<ul class="quick-info-pros">
	<li>存储少量比特币的简单方式</li>
	<li>便捷；消费和接收比特币方便且快捷</li>
	<li>一些热钱包允许通过多个设备来管理资金</li>
</ul>

<h2>热钱包<b>缺点</b></h2>
<ul class="quick-info-cons">
	<li>对于大量比特币的存储缺乏安全性</li>
</ul>

<h3 class="sub-sub-section"><b>哪一种钱包最合适你呢？</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">你为什么会使用比特币？</a></p>

<p>投资或是存款？那么硬件钱包可以很好地保护你的比特币。</p>

<p>如果不是，那么软件钱包也可以接收或者支付比特币。最好的是，软件钱包是免费的。</p>

<p>每一个比特币钱包都有优点和缺点，不同的钱包被创建来解决不同的目的。</p>

<p>有些钱包正准备提高其安全性，同时有些钱包正准备改进其隐私性。</p>

<p>你具体的需求决定你该使用什么钱包，并且也不存在最好的钱包之说。</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>下面，我们列出了你可以购买或者下载的比特币钱包。我们建议从列表中选择或者在购买、下载钱包前做下调查。</p>
<p>每一天，都有新的比特币诈骗钱包被发布到谷歌商店或者苹果商店--那些钱包是专门用来盗取用户的比特币。</p>
<p>我们只列出那些已经发布并且开源了它们代码的比特币钱包。</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">章节 3</h3>
<h2 class="chapter-name">硬件钱包：可以保障你的比特币安全</h2>
<div class="nice-divider"></div>

<p>硬件钱包不是免费的。</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>三个最流行的硬件钱包是：Ledger Nano S、KeepKey、Trezor。</span>
</div>

<p>但是如果你有大量重要的比特币的话，那么它的价格也是值得的。一个硬件钱包能保护几百比特币，与保护几百万比特币是一样有效的。</p>

<h2>硬件钱包是怎样工作的呢？</h2>			
<p>硬件钱包是安全的离线设备。它们能离线存储私钥，因此且免受黑客攻击。</p>
<p>这意味着你可以在装有恶意软件的电脑上使用它。</p>

<h2>为什么带有屏幕的硬件钱包是如此重要？</h2>			
<p>在下面的表格中，你会注意到我们列出了哪些硬件钱包是有屏幕的。</p>
<p>屏幕提供了额外的安全性--通过验证并显示重要的钱包详情。因为硬件钱包几乎是不可能被攻击的，它的屏幕比储存在电脑里面的数据更加安全可靠。</p>

<h2>硬件钱包的比较</h2>
<p>检查下表做个快速对比。提示：</p>
<p>我们对<a href="/trezor-keepkey-ledger/">三个主要的硬件钱包：Ledger Nano S、KeepKey、Trezor做的详细对比。</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>钱包名称</th>
    <th>是否有屏幕<br></th>
    <th class="released">发布时间</th>
    <th>价格</th>
    <th class="wallet-buy">购买</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>最好的硬件钱包概览</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">章节 4</h3>
<h2 class="chapter-name">热钱包</h2>
<div class="nice-divider"></div>

<p>只是一个快速复习</p>

<p>热钱包也是一种比特币钱包，其运行在联网的设备上，比如电脑、移动电话或者平板设备。因为热钱包在联网设备上生成私钥，所以这些私钥不能被认为是百分之百的安全。</p> 

<div class="quote-box">
<p>可以把热钱包想象成今天使用的钱包：用它来储存一些现金但并不是你所有的积蓄。如果你需要频繁的交易，则热钱包是一个不错的选择。但并不是一个存储比特币的安全方式。</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Buy Bitcoin Worldwide 创始人</span></div>
</div>

<h2 class="wallet-type-hot">在线比特币钱包（网页钱包）</h2>
<div class="nice-divider-sub"></div>			
<p>网页钱包在线存储你的私钥，并且它们通过用户自定义的密码进行加密。尽管它们只提供了最低的安全性，但网页钱包却有--可以从任何联网设备获取到的优势。</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">安卓钱包</h2>
<div class="nice-divider-sub"></div>			
<p>有大量可供选择的安卓比特币钱包。因为比特币钱包最初是被苹果公司禁止的，所以开发者们将大量的时间用来开发安卓钱包。</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">iOS和iPhone钱包</h2>
<div class="nice-divider-sub"></div>		
<p>苹果公司在2014年2月份 <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">禁止比特币钱包</a> 发布在苹果商店，但在几个月后又撤销了这一禁令。幸运的是，现在iOS用户已经有了很多比特币钱包的选择了。
</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">桌面钱包</h2>
<div class="nice-divider-sub"></div>			
<p>桌面钱包需要下载，并被安装在你的电脑上。如果隐私性是你主要的考虑因素，比特币核心钱包是一个好的选择，因为它不依赖于任何第三方数据。</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">章节 5</h3>
<h2 class="chapter-name">比特币银行：因黑客攻击而损失10亿美金</h2>
<div class="nice-divider"></div>

<p>我们最后一个要记住的是：当谈论到比特币钱包时，比特币钱包和银行之间还是有不同点的。一些比特币用户将Coinbase视为比特币钱包，但是像<a href="/exchanges/coinbase/">Coinbase</a>的这类公司更像银行一样运营着。</p>

<p>记住：</p>

<p>私钥需要用户妥善保护以便安全的使用比特币而免遭抢劫。当你将别人私钥交给某人控制时，本质上类似于你在金融机构存款，就像在任何银行存款一样。</p>

<div class="quote-box">
<p>不要在交易所存储比特币，用户已经在黑客攻击和诈骗交易中损失了价值超过十亿美金的比特币。保管好你自己的私钥。如果你需要帮助，你可以在我们的<a href="http://ask.buybitcoinworldwide.com/">问答区域</a>提问。</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Buy Bitcoin Worldwide 创始人</span></div>
</div>

<p>并不是说所有的比特币银行本质都是坏的。像Coinbase这样的公司，创造了很多的奇迹，如将更多的人引入到这个生态系统中来。记住，<i>谁掌握了私钥谁就掌握了和其相关联的比特币</i>，这是很重要的。</p>

<p>对于这个关键点的误解导致了在过去数以百万计的美金的损失。因此理解比特币私钥是怎么被存储的关键差异是很重要的。</p>

<p>理解比特币钱包如何工作是安全使用这门新技术的重要方面。比特币仍然处于它的早期发展阶段，并且比特币钱包将很快地变得更加的人性化。</p>

<p>在不久的将来，某些设备最终会伴有预安装的钱包--这些钱包和用户还未知的区块链技术相互影响着。</p> 

<p>目前：记住保护好你的私钥是至观重要的--如果你希望你的比特币免遭攻击、免受人为错误或者其他可能的问题。</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">章节 6</h3>
<h2 class="chapter-name">盗窃与诈骗</h2>
<div class="nice-divider"></div>

<p>不管你在使用何种比特币钱包，记住：</p>

<p>你的比特币只有在私钥被安全地创建时，才是安全的，最重要的私钥只能被你一个人掌握。</p>

<p>这边有一些例子：在用户将比特币交由在三方平台看管时，导致自身被骗的例子：</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex黑客攻击事件，导致用户损失了7千万美金。</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Mt Gox公司的破产，用户损失4亿5千万美金甚至更多。</a></li>
</ul>

<p>为了避免盗窃、诈骗和其他任何的资金损失，请遵循如下三个基本原则：</p>

<ol>
<li><b>在安全的离线环境下创建你的私钥</b>。(除非你在使用一些琐碎的金额，在这种情况下，私钥可以创建在热钱包中)</li>
<li><b>备份你的私钥</b>。这可以保护你的比特币免受由于硬盘的损坏、其他问题或者事故造成的损失。理想的来说，你应该有多个分开存放的备份以防范可能的火灾或者抢劫等等。</li>
<li><b>加密钱包以获得额外的安全性</b>。即使在你的设备或者硬件钱包丢失的情况下，也能阻止盗贼接触到你的资金。</li>
</ol>

<p>正确地加固比特币的安全性对任何用户来说都是最重要的步骤。</p>

<p>对于比特币，你有权利使用它，同时又有义务来保护自己的比特币。有很多和比特币关联的诈骗事件--本可以阻止那些不被信任的坏人去获取这些比特币。</p>

<p>一个好的经验法则是永远不要相信别人会对你的钱会心怀好意。</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>