---
layout: color
permalink: "/pl/portfele-bitcoin/"
title: Jaki portfel Bitcoin jest najlepszy?
subtitle: The Ultimate Guide
lang: pl 
seotitle: "11 Najlepszych Portfeli Bitcoin Sprzętowych i Aplikacji w 2017"
desc: Znajdź szybko najlepszy Portfel Bitcoin - sprzętowy lub programowy - dopasowany do twoich potrzeb. Nasze recenzje to ułatwią.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br>
<p>Ten poradnik pomoże Ci znaleźć najlepszy portfel Bitcoin dla SIEBIE!</p>
<p>Wskazówka:</p>
<p>Nie ma „uniwersalnego” portfela  Bitcoin. Portfele są dostępne na różnych platformach i z różnymi funkcjami.</p>
<p>Jeśli szukasz najlepszego dostępnego portfela, czytaj dalej ...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Rozdziały</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Rozdział 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Czym jest portfel Bitcoin?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Rozdział 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Rodzaje Portfeli</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Rozdział 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Portfele Sprzętowe</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Rozdział 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Gorące Portfele</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Rozdział 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Banki Bitcoin vs. Portfele</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Rozdział 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Kradzieże i Oszustwa</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Rozdział 1</h3>
<h2 class="chapter-name">Czym jest Portfel Bitcoin?</h2>
<div class="nice-divider"></div><img class="color-guide-img halfimg-right" alt="najlepszy portfel Bitcoin" src="/img/goodicons/doublecoin.png">
<p>Portfel Bitcoin stanowi pierwszy krok do korzystania z Bitcoin.</p>
<p>Dlaczego?</p>
<p>Nie posiadając portfela, nie możesz odbierać, przechowywać ani wydawać bitcoinów.</p>
<p>Możesz myśleć o portfelu jako swoim osobistym interfejsie w sieci Bitcoin, podobnie jak konto bankowe online jest interfejsem w regularnym systemie walutowym. </p>
<p>Portfele Bitcoin zawierają prywatne klucze; tajne kody, które pozwalają na wydanie Twoich bitcoinów.</p>
<p>Tak naprawdę to właśnie klucze prywatne, a nie bitcoiny, muszą być bezpiecznie przechowywane i zabezpieczone, ponieważ umożliwiają dostęp do środków.</p>
<p>W skrócie:</p> 
<p>Portfel Bitcoin to po prostu aplikacja, strona internetowa lub urządzenie, które zarządzają Twoimi prywatnymi kluczami Bitcoin. </p>

<h3 id="types-of-wallets" class="chapter-link">Rozdział 2</h3>
<h2 class="chapter-name">Rodzaje Portfeli Bitcoin</h2>
<div class="nice-divider"></div>

<p><i>Przedstawimy rodzaje portfeli Bitcoin oraz powody dla których mógłbyś chcieć wybrać jeden z nich.</i></p>

<h3 class="sub-sub-section"><b>Portfele Sprzętowe</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="portfel sprzętowy bitcoin" src="/img/nanos/1.png">
<span><a href="/wallets/ledger-nano-s/">Ledger Nano S</a> jest jednym z przykładów portfela sprzętowego.</span>
</div>

<p>Portfel sprzętowy jest fizycznym urządzeniem elektronicznym, które zostało stworzone wyłącznie dla zabezpieczenia bitcoinów.</p>
<p>Główną nowością jest fakt, że portfel sprzętowy musi być podłączony do Twojego komputera, telefonu lub tabletu przed zapłaceniem bitcoinami.</p>

<p>Trzy najbardziej popularne portfele sprzętowe to:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Portfele sprzętowe to dobry wybór, jeśli myślisz poważnie o bezpieczeństwie i wygodnym, niezawodnym przechowywaniu Bitcoinów. </p>

<p>Portfele sprzętowe Bitcoin przechowują klucze prywatne oddzielone od słabo zabezpieczonych urządzeń podłączonych do internetu.</p>
<p>Wszystkie ważne klucze prywatne są przechowywane w bezpiecznym środowisku offline na portfelu sprzętowym, gdzie są w pełni chronione, nawet jeśli urządzenie zostanie podłączone do komputera zainfekowanego przez malware.</p>

<p>Ponieważ bitcoiny są cyfrowe, cyberprzestępcy mogą potencjalnie namierzyć Twój &quot;portfela programowy&quot; na komputerze i okraść je, uzyskując dostęp do klucza prywatnego.</p>

<p>Generowanie i przechowywanie kluczy prywatnych offline za pomocą portfel sprzętowego gwarantuje, że hakerzy nie mają możliwości uzyskania dostępu do Twoich bitcoinów.</p> 

<p>Hakerzy musieliby ukraść sam portfel sprzętowy, ale nawet wtedy może być on zabezpieczony kodem PIN.</p> 

<p>Nie musisz martwić się, że Twój portfel sprzętowy zostanie skradziony, zgubiony lub choćby uszkodzony; tak długo, jak tworzysz tajny kopię zapasową, zawsze możesz odzyskać swoje bitcoiny.</p>

<div class="quote-box">
<p>Pomyśl o portfelu sprzętowym jak o własnym podziemnym skarbcu. Jeśli posiadasz znaczną ilość bitcoinów, powinieneś poważnie zastanowić się nad jego założeniem!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Założyciel, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Dlaczego portfele sprzętowe są <b>dobre</b>?</h2>
<ul class="quick-info-pros">
	<li>Najprostszy sposób na bezpieczne przechowywanie bitcoinów</li>
	<li>Proste tworzenie kopii zapasowych i bezpieczeństwo</li>
	<li>Mniejszy margines błędu; konfiguracja jest prosta nawet dla mniej zaawansowanych technicznie użytkowników</li>
</ul>

<h2>Dlaczego portfele sprzętowe są <b>złe</b>?</h2>
<ul class="quick-info-cons">
	<li>Nie są darmowe!</li>
</ul>

<h3 class="sub-sub-section"><b>Gorące Portfele</b></h3>

<p>Gorące portfele to portfele Bitcoin, które działają na urządzeniach podłączonych do internetu, takich jak komputer, telefon komórkowy, lub tablet.</p>

<p>Klucze prywatne to <i>tajne</i>kody. Ponieważ gorące portfele generują klucze prywatne na urządzeniach podłączonych do internetu, klucze te nie mogą być uznawane za w 100% bezpieczne.</p> 

<div class="quote-box">
<p>Pomyśl o gorącym portfelu jak o swoim obecnym portfelu: wykorzystujesz go do przechowywania drobnych ilości gotówki, ale nie oszczędności życia. Gorące portfele są doskonałe, jeśli często dokonujesz płatności, ale nie są dobrym wyborem do bezpiecznego przechowywania bitcoinów.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Założyciel, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Dlaczego są gorące portfele są <b>dobre</b>?</h2>
<ul class="quick-info-pros">
	<li>Najprostszy sposób przechowywania niewielkich ilości bitcoinów</li>
	<li>Wygodne; otrzymywanie i dokonywanie płatności jest łatwe i szybkie</li>
	<li>Niektóre gorące portfele umożliwiają dostęp do środków na wielu urządzeniach</li>
</ul>

<h2>Dlaczego są gorące portfele są <b>złe</b>?</h2>
<ul class="quick-info-cons">
	<li>Nie nadają się do bezpiecznego przechowywania dużych ilości bitcoinów</li>
</ul>

<h3 class="sub-sub-section"><b>Jaki Portfel będzie Najlepszy dla Ciebie?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Dlaczego korzystasz z Bitcoinów?</a></p>

<p>Inwestowanie czy oszczędzanie? W tym przypadku portfel sprzętowy zadba o bezpieczeństwo twoich bitcoinów.</p>

<p>W przeciwnym wypadku, portfel programowy będzie wystarczający do wysyłania i odbierania bitcoinów. Co najlepsze, portfele programowe są darmowe.</p>

<p>Każdy z portfeli ma swoje wady i zalety, a różne portfele tworzone są do rozwiązywania różnych problemów. </p>

<p>Niektóre portfele są zorientowane na bezpieczeństwo, a inne portfele bardziej skoncentrowane na prywatności. </p>

<p>Szczegóły twoich potrzeb powinny określać z jakiego portfela będziesz korzystać, ponieważ nie ma  jednego&quot;najlepszego portfela bitcoin&quot;.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12"><br><p>Poniżej przestawiamy listę portfeli, które możesz kupić lub pobrać. Sugerujemy korzystanie z wymienionych portfeli lub przeprowadzenia researchu przed zakupem lub pobraniem jakiegokolwiek portfela. </p>
<p>Każdego dnia do Google Play Store i Apple App Store są dodawane nowe fałszywe portfele Bitcoin, które są tworzone tylko do kradzieży bitcoins.</p>
<p>Na naszej liście znajduję się tylko portfele, które opublikowały swój kod open-source.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Rozdział 3</h3>
<h2 class="chapter-name">Portfele Sprzętowe: Zapewnij Bezpieczeństwo Swoim Bitcoinom</h2>
<div class="nice-divider"></div>

<p>Portfele sprzętowe nie są darmowe.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="portfel sprzętowy bitcoin" src="/img/wallets/tlk.jpg">
<span>Trzy najbardziej popularne portfele sprzętowe: KeepKey, Ledger Nano S i Trezor.</span>
</div>

<p>Warto za nie zapłacić, jeśli posiadasz znaczną ilość bitcoinów. Portfel sprzętowy ochroni kilkaset bitcoinów równie skutecznie jak kilka milionów.</p>

<h2>Jak Działają Portfele Sprzętowe</h2>			
<p>Portfele sprzętowe są bezpiecznymi urządzeniami pracującymi w trybie offline. Przechowują Twoje klucze prywatne offline i nie mogą zostać zhakowane.</p>
<p>Oznacza to, że możesz ich użyć nawet na komputerze zainfekowanym malware.</p>

<h2>Dlaczego Wyświetlacz w Portfelu Sprzętowym jest Ważny</h2>			
<p>W poniższej tabeli pokazujemy, które portfele sprzętowe są wyposażone w wyświetlacze.</p>
<p>Wyświetlacze zapewniają dodatkowe bezpieczeństwo dzięki weryfikacji i wyświetlaniu ważnych szczegółów portfela. Ponieważ zhakowanie portfela sprzętowego jest praktycznie niemożliwe, dane widoczne na jego wyświetlaczu są bardziej wiarygodne od tych wyświetlanych na komputerze. </p>

<h2>Porównanie Portfeli Sprzętowych Bitcoin</h2>
<p>Zobacz poniższą tabelę z szybkim porównaniem. Uwaga: </p>
<p>Dokonaliśmy również szczegółowego <a href="/trezor-keepkey-ledger/">porównania trzech najważniejszych portfeli: Ledger Nano S, Trezor i KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Portfel</th>
    <th>Wyświetlacz<br></th>
    <th class="released">Data wydania</th>
    <th>Cena</th>
    <th class="wallet-buy">Zakup</th>
  </tr>
   {% assign pages = site.wallets | sort: 'weight' %}
 {% for wallet in pages reversed %}
 {% if wallet.tags contains 'hardware' %}
 {% include hw-comparison.html %}
 {% endif %}
 {% endfor %}
</table>
	
<h2>Przegląd Najlepszych Portfeli Sprzętowych Bitcoin</h2>			
<br>
	{% assign pages = site.wallets | sort:&quot;weight&quot; %}
   {% for wallet in pages reversed %}
    {% if wallet.tags contains 'hardware' %}
    {% include wallet-list.html %}
    {% endif %}
    {% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Rozdział 4</h3>
<h2 class="chapter-name">Gorące Portfele</h2>
<div class="nice-divider"></div>

<p>Szybkie przypomnienie: </p>

<p>Gorące portfele to portfele Bitcoin, które działają na urządzeniach podłączonych do internetu, takich jak komputer, telefon komórkowy, lub tablet. Ponieważ gorące portfele generują klucze prywatne na urządzeniach podłączonych do internetu, klucze te nie mogą być uznawane za w 100% bezpieczne.</p> 

<div class="quote-box">
<p>Pomyśl o gorącym portfelu jak o swoim obecnym portfelu: wykorzystujesz go do przechowywania drobnych ilości gotówki, ale nie oszczędności życia. Gorące portfele są doskonałe, jeśli często dokonujesz płatności, ale nie są dobrym wyborem do bezpiecznego przechowywania bitcoinów.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Założyciel, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Portfele Bitcoin Online(Portfele Przeglądarkowe)</h2>
<div class="nice-divider-sub"></div>			
<p>Portfele przeglądarkowe przechowują klucze prywatne online, gdzie są one szyfrowane za pomocą hasła wybranego przez użytkownika. Chociaż oferują najniższy poziom bezpieczeństwa, portfele przeglądarkowe bitcoin mają tę zaletę, że są dostępne z poziomu dowolnego urządzenia podłączonego do internetu.</p><br>
    {% for wallet in site.data.wallets %}
    {% if wallet.tags contains 'web' %}
    {% include wallet-list.html %}
    {% endif %}
    {% endfor %}
	
<h2 class="wallet-type-hot">Portfele Bitcoin na Android</h2>
<div class="nice-divider-sub"></div>			
<p>Wybór portfeli Android jest bardzo szeroki. Ponieważ portfele Bitcoin pierwotnie były niedostępne na Apple, developerzy spędzili wiele czasu rozwijając je dla Androida.</p><br>
    {% for wallet in site.data.wallets %}
    {% if wallet.tags contains 'android' %}
    {% include wallet-list.html %}
    {% endif %}
    {% endfor %}	
	
<h2 class="wallet-type-hot">Portfele Bitcoin na iOS oraz iPhone</h2>
<div class="nice-divider-sub"></div>		
<p>Apple zakazało <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">portfeli Bitcoin</a> na App Store w lutym 2014 roku, ale odwołało swoją decyzję kilka miesięcy później. Na szczęście obecnie dostępnych jest wiele opcji dla użytkowników iOS. </p><br>
    {% for wallet in site.data.wallets %}
    {% if wallet.tags contains 'ios' %}
    {% include wallet-list.html %}
    {% endif %}
    {% endfor %}		
	
<h2 class="wallet-type-hot">Portfele Stacjonarne (Desktopowe)</h2>
<div class="nice-divider-sub"></div>			
<p>Portfele stacjonarne mogą zostać pobrane i zainstalowane na Twoim komputerze. Jeśli Twoim głównym wymaganiem jest prywatność, ten rodzaj portfela Bitcoin będzie dobrym rozwiązaniem, ponieważ nie opiera się na danych osób trzecich. </p><br>
    {% for wallet in site.data.wallets %}
    {% if wallet.tags contains 'desktop' %}
    {% include wallet-list.html %}
    {% endif %}
    {% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Rozdział 5</h3>
<h2 class="chapter-name">Banki Bitcoin: Miliardy Stracone przez Hakerów</h2>
<div class="nice-divider"></div>

<p>Ostatnią rzeczą dotyczącą portfeli bitcoin, o której musisz pamiętać jest to, że istnieje różnica pomiędzy portfelem a bankiem. Niektórzy użytkownicy uważają <a href="/exchanges/coinbase/">Coinbase</a> za portfel Bitcoin, ale firmy takie jak ta działają bardziej jak banki. </p>

<p>Pamiętaj:</p>

<p>Klucze prywatne są tym co użytkownicy muszą chronić, aby bezpiecznie korzystać z sieci Bitcoin bez ryzyka zostania okradzionym. Kiedy przekazujesz komuś innemu kontrolę nad swoimi kluczami prywatnymi, to w gruncie rzeczy dokonujesz depozytu w tej instytucji finansowej - podobnie jakbyś dokonywał wpłaty w banku.</p>

<div class="quote-box">
<p>Nie przechowuj bitcoinów na giełdach! Użytkownicy stracili ponad 1 miliard dolarów w bitcoinach przez kradzieże i oszustwa na giełdach. Kontroluj swoje klucze prywatne. Jeśli potrzebujesz pomocy, możesz zadawać pytania w naszej <a href="http://ask.buybitcoinworldwide.com/">sekcji</a> Pytania. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Założyciel, Buy Bitcoin Worldwide</span></div>
</div>

<p>Nie oznacza to, że banki bitcoinów są z natury złe. Firmy takie jak Coinbase dokonały prawdziwych cudów w kwestii pozyskania większej liczby użytkowników dla ekosystemu. Należy po prostu pamiętać, że <i>ktokolwiek kontroluje klucze prywatne kontroluje również bitcoiny połączone z tymi kluczami</i>.</p>

<p>Brak zrozumienia tej kwestii doprowadził w przeszłości do utraty setek milionów dolarów, więc bardzo istotne jest znajomość krytycznej różnicy w sposobie przechowywania kluczy prywatnych Bitcoin.</p>

<p>Zrozumienie sposobu działania portfeli bitcoin jest ważnym aspektem bezpiecznego korzystania z tej nowej technologii. Bitcoin jest nadal we wczesnej fazie rozwoju, a portfele w przyszłości staną się o wiele bardziej przyjazne dla użytkownika.</p>

<p>W bliskiej przyszłości, niektóre urządzenia mogą mieć nawet preinstalowane portfele połączone z blockchain bez wiedzy użytkownika.</p> 

<p>W chwili obecnej, najważniejsze jest aby pamiętać, że musisz chronić klucze prywatne, jeśli chcesz zabezpieczyć swoje bitcoiny przed hakerami, błędami użytkownika oraz innymi problemami.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Rozdział 6</h3>
<h2 class="chapter-name">Kradzieże i Oszustwa</h2>
<div class="nice-divider"></div>

<p>Bez względu jaki portfel wybierzesz, pamiętaj: </p>

<p>Twoje bitcoiny będą bezpieczne tylko wtedy, kiedy klucz prywatny został bezpiecznie wygenerowany, pozostaje niejawny, a także - co najważniejsze - jest kontrolowany tylko przez Ciebie!</p>

<p>Oto dwa przykłady, kiedy użytkownicy zostali oszukani poprzez przekazanie bitcoinów pod opiekę strony trzeciej:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Oszustwo Bitfinex, w którym użytkownicy stracili 70 milionów dolarów</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Upadek Mt Gox, w którym użytkownicy stracili 450 milionów dolarów lub więcej</a></li>
</ul>

<p>Aby uniknąć kradzieży, oszustw, a także innych przyczyn utraty środków, przestrzegaj trzech podstawowych zasad: </p>

<ol>
<li><b>Generuj klucze prywatne w bezpiecznym środowisku, w trybie offline</b>. (Z wyjątkiem bardzo małych kwot, dla których klucze mogą być tworzone w gorącym portfelu).</li>
<li><b>Twórz kopie zapasowe kluczy prywatnych</b>. Pomoże to uchronić Cię przed utratą swoich bitcoinów z powodu awarii dysku twardego, innego problemu lub wypadku. Powinieneś posiadać zestaw duplikatów kopii zapasowych. przechowywanych off-site, na wypadek pożaru, włamiania itp.</li>
<li><b>Szyfruj portfele w celu zapewnienia dodatkowego bezpieczeństwa</b>. Pomoże to zapobiec fizycznej kradzieży środków w przypadku, gdy twoje urządzenie lub portfel sprzętowy zostanie skradziony.</li>
</ol>

<p>Właściwe zabezpieczanie bitcoinów to najważniejszy krok dla każdego użytkownika Bitcoin.</p>

<p>Z Bitcoin masz możliwość - ale także odpowiedzialność - ochrony własnych pieniędzy. Odnotowano niezliczone oszustwa związane z Bitcoin, którym można było zapobiec nie powierzając swoich bitcoinów innym osobom.</p>

<p>To stara i dobra zasada, aby nigdy nie powierzać innej osobie swoich pieniędzy.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:&quot;weight&quot; %}
 {% for wallet in pages reversed %}
 {% if wallet.tags contains 'hardware' %}
 {% include wallet-bounce.html %}
 {% endif %}
 {% endfor %}
</div>

    </div>
</div>                    
</div>