---
layout: color
permalink: "/da/bitcoin-tegnebog/"
title: Hvilken er den bedste Bitcoin-tegnebog?
subtitle: Den Ultimative Guide
lang: da
seotitle: De 11 bedste bitcoin hardware-tegnebøger & app-anmeldelser 2017
desc: Find hurtigt den bedste bitcoin-tegnebog -- hardware eller software -- baseret på dine behov. Vores anmeldelser gør det let.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>Denne guide hjælper dig med at finde den bedste bitcoin-tegnebog for DIG!</p>
<p>Hint:</p>
<p>Der er ingen bitcoin-tegnebog, der passer til alle. Tegnebøger kommer på forskellige platforme med forskellige funktioner.</p>
<p>Hvis du er ude efter den bedst mulige tegnebog, så læs videre...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Kapitler</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Kapitel 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Hvad er en bitcoin-tegnebog?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Kapitel 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Typer af tegnebøger</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Kapitel 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Hardware-tegnebøger</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Kapitel 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Onlinetegnebøger</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Kapitel 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bitcoin-banker kontra tegnebøger</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Kapitel 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Tyveri og fup</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Kapitel 1</h3>
<h2 class="chapter-name">Hvad er en bitcoin-tegnebog?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>En bitcoin-tegnebog er det første skridt mod at bruge bitcoin.</p>
<p>Hvorfor?</p>
<p>Uden en tegnebog kan man ikke modtage, opbevare eller bruge bitcoins.</p>
<p>Du kan betragte din tegnebog som dit personlige ansigt til bitcoin-netværket, ligesom din online bankkonto er et ansigt til det konventionelle pengesystem. </p>
<p>Bitcoin-tegnebøger indeholder private nøgler; hemmelige koder som tillader dig at bruge flere bitcoins.</p>
<p>I virkeligheden er det ikke bitcoins der skal opbevares eller sikres, men derimod de private nøgler, som giver dig adgang til dem.</p>
<p>Kort sagt:</p> 
<p>En bitcoin-tegnebog er simpelthen en app, hjemmeside eller enhed som holder styr på dine private bitcoin-nøgler. </p>

<h3 id="types-of-wallets" class="chapter-link">Kapitel 2</h3>
<h2 class="chapter-name">Typer af bitcoin-tegnebøger</h2>
<div class="nice-divider"></div>

<p><i>Lad os se på typerne af bitcoin-tegnebøger og hvorfor du måske vil foretrække at bruge den ene frem for den anden.</i></p>

<h3 class="sub-sub-section"><b>Hardware-tegnebøger</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>The <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> er et eksempel på en hardware-tegnebog.</span>
</div>

<p>En hardware-tegnebog er en fysisk, elektronisk enhed, bygget med det formål at sikre bitcoins.</p>
<p>Idéen er, at hardware-tegnebogen skal være forbundet til din computer, smartphone eller tablet.</p>

<p>De tre mest populære hardware-tegnebøger er:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Hardware-tegnebøger er gode valg, hvis du er seriøs omkring sikker og bekvemmelig, pålidelig bitcoin-opbevaring. </p>

<p>Bitcoin hardware-tegnebøger holder private nøgler adskilt fra sårbare, internetforbundne enheder.</p>
<p>Dine meget vigtige, private nøgler er vedligeholdt i et sikkert, offline miljø på din hardware-tegnebog, fuldt ud beskyttet, selvom enheden skulle sidde i en computer med malware.</p>

<p>Eftersom bitcoins er digitale, kan cyber-kriminelle potentielt trænge ind i din computers software-tegnebog og stjæle dine bitcoins, ved at tilgå dine private nøgler.</p>

<p>Når man genererer og opbevarer nøgler offline, ved brug af en hardware-tegnebog, er man sikker på, at hackere ikke har mulighed for at nå til dine bitcoins.</p> 

<p>Hackere ville i så fald blive nød til at stjæle selve din hardware-tegnebog, men selv da vil den kunne beskyttes med en pinkode.</p> 

<p>Vær heller ikke bange for om din hardware-tegnebog bliver stjålet, tabt eller beskadiget - så længe du laver en hemmelig backup-kode, kan du altid hente dine bitcoins.</p>

<div class="quote-box">
<p>Tænk på din hardware-tegnebog som din egen underjordiske stålboks. Hvis du ejer et stort antal bitcoins, bør du kraftigt overveje at få én!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Grundlægger, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Hvorfor er hardware-tegnebøger <b>gode</b>?</h2>
<ul class="quick-info-pros">
	<li>Letteste måde til sikker opbevaring af bitcoins</li>
	<li>Let at sikre og tage backup</li>
	<li>Mindre sandsynlighed for fejl; opsætningen er let, selv for de mindre tekniske brugere</li>
</ul>

<h2>Hvorfor er onlinetegnebøger <b>dårlige</b>?</h2>
<ul class="quick-info-cons">
	<li>De er ikke gratis!</li>
</ul>

<h3 class="sub-sub-section"><b>Onlinetegnebøger</b></h3>

<p>Onlinetegnebøger er bitcoins, der virker på internetforbudne enheder, såsom din computer, smartphone eller tablet.</p>

<p>Private nøgler er <i>hemmelige</i> koder. Fordi at onlinetegnebøger genererer dine private nøgler på en internetforbunden enhed, kan disse private nøgler ikke betragtes som 100% sikre.</p> 

<div class="quote-box">
<p>Tænk på en onlinetegnebog som din tegnebog i dag: du bruger den til at opbevare penge, men ikke din livsopsparing. Onlinetegnebøger er gode, hvis man tit betaler, men ikke et godt valg for en sikker opbevaring af bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Grundlægger, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Hvorfor er onlinetegnebøger <b>gode</b>?</h2>
<ul class="quick-info-pros">
	<li>Letteste måde at opbevare mindre antal bitcoins</li>
	<li>Praktisk; at forbruge og modtage betalinger er let og hurtigt</li>
	<li>Nogle onlinetegnebøger tillader adgang til penge over flere enheder</li>
</ul>

<h2>Hvorfor er onlinetegnebøger <b>dårlige</b>?</h2>
<ul class="quick-info-cons">
	<li>Ikke sikre for den sikre opbevaring af store mængder bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Hvilken tegnebog er bedst for dig?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Hvorfor bruger du bitcoin?</a></p>

<p>Investering eller opsparing? Så vil en hardware-tegnebog holde dine mønter sikre.</p>

<p>Ellers vil en onlinetegnebog sende og modtage bitcoins helt fint. Det bedste ved det hele er, at software-tegnebøger er gratis.</p>

<p>Hver tegnebog har fordele og ulemper og forskellige tegnebøger er bygget til at løse forskellige problemer. </p>

<p>Nogle tegnebøger kan egne sig bedst til sikkerhed, mens andre tegnebøger kan være mere fokuseret på privatliv. </p>

<p>Dine specifikke behov bør afgøre hvilket tegnebog du bruger, eftersom der ikke er nogen "bedste bitcoin-tegnebog".</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Nedenunder har vi angivet nogle tegnebøger du kan købe eller downloade. Vi foreslår at bruge de angivne tegnebøger eller selv foretage research, før du køber eller downloader hvilken som helst tegnebog. </p>
<p>Hver dag bliver nye svindlende bitcoin-tegnebøger tilføjet til Google Play Store og Apple App Store, som er designet til at stjæle folks bitcoins.</p>
<p>Vi angiver kun tegnebøger, som har udgivet deres kode til offentligheden.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Kapitel 3</h3>
<h2 class="chapter-name">Hardware-tegnebøger: Hold dine mønter sikre</h2>
<div class="nice-divider"></div>

<p>Hardware-tegnebøger er ikke gratis.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>De tre mest populære hardware-tegnebøger: KeepKey, Ledger Nano S og Trezor.</span>
</div>

<p>Men prisen kan være det hele værd, hvis du ejer et stort antal bitcoins. En hardware-tegnebog vil beskytte en par hundrede i bitcoins, lige så effektivt som et par millioner.</p>

<h2>Hvordan hardware-tegnebøger virker</h2>			
<p>Hardware-tegnebøger er sikre, offline enheder. De opbevarer dine private nøgler offline, så de ikke kan spores.</p>
<p>Dette betyder, at den endda kan bruges på en computer, som har malware.</p>

<h2>Hvorfor en hardware-tegnebog med en skærm er vigtigt</h2>			
<p>I oversigten nedenunder vil du bemærke, at vi viser hvilke hardware-tegnebøger der har skærme. </p>

<h2>Sammenligning af bitcoin hardware-tegnebøger</h2>
<p>Se oversigten nedenunder for en hurtig sammenligning. Bemærk: </p>
<p>Vi foretog også en detaljeret <a href="/trezor-keepkey-ledger/">sammenligning af de tre primære: Ledger Nano S, Trezor og KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Tegnebøger</th>
    <th>Skærme<br></th>
    <th class="released">Udgivet</th>
    <th>Pris</th>
    <th class="wallet-buy">Køb</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Oversigt over bedste bitcoin hardware-tegnebøger</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Kapitel 4</h3>
<h2 class="chapter-name">Onlinetegnebøger</h2>
<div class="nice-divider"></div>

<p>Lige en hurtig opfriskning: </p>

<p>Onlinetegnebøger er bitcoin-tegnebøger som virker på internetforbundne enheder, såsom din computer, smartphone eller tablet. Eftersom onlinetegnebøger genererer private nøgler på en enhed forbundet til internettet, kan disse private nøgler ikke betragtes som 100% sikre.</p> 

<div class="quote-box">
<p>Tænk på en onlinetegnebog som din tegnebog i dag: du bruger den til at opbevare penge, men ikke din livsopsparing. Onlinetegnebøger er gode, hvis man tit betaler, men ikke et godt valg for en sikker opbevaring af bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Grundlægger, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Online bitcoin-tegnebøger </h2>
<div class="nice-divider-sub"></div>			
<p>Onlinetegnebøger opbevarer dine private nøgler online, hvor de er krypteret med et brugerbestemt kodeord. Selvom de har det laveste sikkerhedsniveau, har onlinetegneøger den fordel, at de er tilgængelige fra enhver internetforbindelse.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Bitcoin-tegnebøger til Android</h2>
<div class="nice-divider-sub"></div>			
<p>Der er en stor del Android-tegnebøger. Eftersom bitcoin-tegnebøger originalt fik forbud af Apple, brugte udviklere meget af deres tid på at udvikle til Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">Bitcoin-tegnebøger til iOS og iPhone</h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">indgik forbud mod bitcoin-tegnebøger</a> fra App Store i februar 2014, men ændrede sin beslutning et par måneder senere. Heldigvis er der nu mange muligheder for brugere af iOS. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Tegnebøger til computeren</h2>
<div class="nice-divider-sub"></div>			
<p>Computertegnebøger kan downloades og installeret på din computer. Hvis privatliv er din største bekymring, vil denne tegnebog være en god mulighed, eftersom den ikke er afhængig af tredjeparter for sin data. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Kapitel 5</h3>
<h2 class="chapter-name">Bitcoin-banker: $1 milliard tabt pga. hackere</h2>
<div class="nice-divider"></div>

<p>En sidste ting at huske på, når det kommer til bitcoin-tegnebøger, er at der er forskel på en tegnebog og en bank. Nogle brugere af bitcoin ser <a href="/exchanges/coinbase/">Coinbase</a> som en bitcoin-tegnebog, men virksomheder som denne fungerer langt mere som en bank. </p>

<p>Husk:</p>

<p>De private nøgler er hvad brugere bør beskytte, for sikkert at bruge bitcoin-netværket og for ikke at udsættes for røveri. Når du giver andre kontrollen over dine private nøgler, foretager du teknisk set en indbetaling til den finansielle institution &ndash; meget ligesom et depositum i enhver bank.</p>

<div class="quote-box">
<p>Opbevar ikke dine mønter i værdipapirer! Bitcoin-brugere har tabt over $1 milliard i bitcoins pga hacking a værdipapirer og svindel. Kontroller dine egne, private nøgler. Hvis du behøver hjælp, så stil dit spørgsmål i vores <a href="http://ask.buybitcoinworldwide.com/">Spørgesektion</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Grundlægger, Buy Bitcoin Worldwide</span></div>
</div>

<p>Det betyder ikke, at bitcoin-banker konsekvent er dårlige. Virksomheder som Coinbase gjort storartede ting for at bringe flere brugere ind i økosystemet. Det er bare vigtigt at huske, at <i>den, der kontrollerer de private nøgler, kontrollerer bitcoins forbundet til disse nøgler</i>.</p>

<p>En misforståelse af dette punkt har ført til at hundrede millioner dollars før i tiden er blevet tabt, så det er vigtigt at forstå denne kritiske forskel på hvordan private bitcoin-nøgler kan opbevares</p>

<p>At forstå hvordan bitcoin-tegnebøger virker, er et vigtigt sikkerhedsområde, i afbenyttelsen af denne nye teknologi. Bitcoin er stadig i sine tidlige udviklingsår og tegnebøger vil blive mere brugervenlige med tiden.</p>

<p>I den nærmeste fremtiden kan bestemte enheder på et tidspunkt købes med pre-installerede tegnebøger, som arbejder sammen i en kæde, udenfor brugerens kendskab.</p> 

<p>Lige nu er det vigtige at huske på, at de private nøgler er dem du behøver beskytte, hvis du vil holde dine bitcoins sikre overfor hackere, brugerfejl og andre mulige problemer.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Kapitel 6</h3>
<h2 class="chapter-name">Tyveri og svindel</h2>
<div class="nice-divider"></div>

<p>Uanset hvilken tegnebog du vælger, husk: </p>

<p>Dine bitcoins er kun sikre, hvis den private nøgle blev genereret sikkert, forbliver en hemmelighed og, det mest vigtige, er kontrolleret af DIG!</p>

<p>Her er to eksempler hvor brugere blev udsat for svindel, ved at lade tredjeparter holde deres bitcoins:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex-hacket, hvor brugere tabte $70 millioner</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Fiaskoen ved Mt Gox, hvor brugere tabte $450 million eller mere</a></li>
</ul>

<p>For at undgå tyveri, svindel og andre mulige tab, følg disse tre grundlæggende principper: </p>

<ol>
<li><b>Generér dine private nøgler i et sikkert, offline miljø</b>. (Medmindre man bruger hverdagsbeløb, hvor nøgler i disse tilfælde kan dannes i en onlinetegnebog).</li>
<li><b>Foretag backup af dine private nøgler</b>. Dette hjælper til at beskytte mod tabet af dine bitcoins pga fejl på harddisken, eller et andet uheld. Ideelt set bør man have kopier af af sine backups andetsteds, for at beskytte mod brandtilfælde, røveri osv</li>
<li><b>Krypter tegnebøger for at give ekstra beskyttelse</b>. Dette hjælper mod at forhindre fysisk tyveri af dine penge, i tilfælde af at din enhed eller hardware-tegnebog bliver stjålet.</li>
</ol>

<p>At sikre dine bitcoins ordentligt er den vigtigste ting for enhver bruger af bitcoin.</p>

<p>Med bitcoin har du privilegiet - men også ansvaret for - at beskytte dine egne penge. Der er har været utallige tilfælde af svindel relateret til bitcoin, som kunne have været undgået, hvis folk ikke havde betroet deres bitcoins til andre.</p>

<p>Det er en god tommelfingerregel, aldrig at betro dine penge til andre.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>