---
layout: color
permalink: "/nl/bitcoin-wallets/"
title: Welke Bitcoin Wallet is het beste?
subtitle: The Ultimate Guide
lang: nl
seotitle: 11 Beste Bitcoin Wallet Hardware & App Recensies 2017
desc: Vind snel de beste bitcoin wallet -- hardware of software -- gebaseerd op uw behoeften. Onze reviews maken het u gemakkelijk.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>TDeze instructies helpen u bij het vinden van de beste Bitcoin wallet voor U!</p>
<p>Hint:</p>
<p>Er is geen “one size fits all” Bitcoin wallet. Bitcoin wallets komen in vele soorten en maten met elk hun eigen voor- en nadelen.</p>
<p>Wilt u de best mogelijke wallet voor u, lees dan verder...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Hoofdstukken</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Hoofdstuk 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Wat is een Bitcoin Wallet?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Hoofdstuk 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Soort Wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Hoofdstuk 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Hardware Wallets</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Chapter 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Hot Wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Chapter 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bitcoin Banken versus Wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Hoofdstuk 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Diefstal en Bedrog</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Hoofdstuk 1</h3>
<h2 class="chapter-name">Wat is een Bitcoin Wallet?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>Als u Bitcoin wilt gebruiken is het opzetten van een wallet de eerste stap die u zult moeten nemen.</p>
<p>Waarom?</p>
<p>Zonder wallet is het onmogelijk om uw bitcoins op te slaan, te versturen of te ontvangen.</p>
<p>U kunt uw wallet zien als uw persoonlijke interface met het Bitcoin netwerk, net zoals uw online bank account een interface is met het reguliere financiële systeem.</p>
<p>Bitcoin wallets bezitten prive sleutels; geheime codes die u toegang geven tot het spenderen van uw bitcoins.</p>
<p>In werkelijkheid zijn het niet de bitcoins die men opslaat en beveiligd, maar de prive sleutels die u toegang geven tot de bitcoins.</p>
<p>Kortom:</p> 
<p>Een Bitcoin wallet is simpelweg een app, website, of apparaat dat uw Bitcoin prive sleutels voor u beheert.</p>

<h3 id="types-of-wallets" class="chapter-link">Hoofdstuk 2</h3>
<h2 class="chapter-name">Soort Wallets</h2>
<div class="nice-divider"></div>

<p><i>Laten we een kijkje nemen naar de verschillende soorten wallets en bespreken waarom de één beter bij u past dan de ander.</i></p>

<h3 class="sub-sub-section"><b>Hardware Wallets</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>The <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> is een voorbeeld van een hardware wallet.</span>
</div>

<p>Een hardware wallet is een lijfelijk elektronisch apparaat, gebouwd enkel met het doel uw bitcoins veilig te stellen.</p>
<p>Het innovatieve hieraan is dat een hardware wallet aan uw computer, telefoon of tablet moet zijn verbonden voor het spenderen van uw bitcoins. </p>

<p>De drie populairste hardware wallets zijn:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Hardware wallets zijn een goede keuze voor het opslaan van uw bitcoins wanneer u veiligheid, gemak en betrouwbaarheid als prioriteiten stelt.</p>

<p>Bitcoin hardware wallets houden uw prive sleutels gescheiden van kwetsbare, aan internet verbonden apparaten.</p>
<p>Uw essentiële prive sleutels blijven zo bewaard in een veilige offline omgeving op de hardware wallet, volledig beschermd zelfs wanneer men per ongeluk de hardware wallet aansluit op een computer met malware.</p>

<p>Omdat bitcoins digitaal zijn bestaat er altijd het gevaar dat cyber criminelen de “software wallet” op uw computer aanvallen en er van door gaan met uw bitcoins door toegang te krijgen tot uw prive sleutels.</p>

<p>Door uw prive sleutels offline te genereren en op te slaan voorkomt u dat hackers bij uw bitcoins komen.</p> 

<p>Hackers zouden in theorie de hardware wallet zelf kunnen stelen, maar zelfs die kan men beveiligen met een PIN code.</p> 

<p>Maakt u zich geen zorgen om het verliezen of beschadigen van uw hardware wallet; zolang u een geheime backup code heeft gecreëerd kunt u altijd uw bitcoins terugkrijgen.</p>

<div class="quote-box">
<p>Zie uw hardware wallet als uw persoonlijke ondergrondse kluis. Wanneer u een significante hoeveelheid bitcoins bezit is deze optie sterk aan te raden!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Oprichter, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Waarom zijn hardware wallets <b>goed</b>?</h2>
<ul class="quick-info-pros">
	<li>Makkelijkste manier om bitcoins veilig op te slaan</li>
	<li>Makkelijke back-ups en veilig</li>
	<li>Weinig ruimte voor fouten; makkelijk op te zetten, zelfs voor niet-technische mensen</li>
</ul>

<h2>Waarom zijn hardware wallets <b>niet goed</b>?</h2>
<ul class="quick-info-cons">
	<li>Ze zijn niet gratis!</li>
</ul>

<h3 class="sub-sub-section"><b>Hot Wallets</b></h3>

<p>Hot Wallets (hete wallets) zijn Bitcoin wallets in de vorm van software op een aan het internet gekoppelde computer, mobiele telefoon of tablet draaien. </p>

<p>Prive sleutels zijn <i>geheime</i> sleutels. Omdat hot wallets de prive sleutels op een aan het internet verbonden apparaat genereren, kan men deze prive sleutels niet als 100% veilig beschouwen.</p> 

<div class="quote-box">
<p>U kunt uw hot wallet zien als de portemonnee die u elke dag bij u draagt: gebruik hem om wat contant geld in te bewaren, niet al uw spaargeld. Hot wallets zijn perfect geschikt voor vele kleine betalingen, maar niet erg veilig voor het opslaan van uw bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Oprichter, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Waarom zijn hot wallets <b>goed</b>?</h2>
<ul class="quick-info-pros">
	<li>Makkelijkste manier om kleine hoeveelheden bitcoins op te slaan</li>
	<li>Gemakkelijk; spenderen en ontvangen van betalingen gaat makkelijk en snel</li>
	<li>Sommige hot wallets verlenen u toegang tot uw financiën vanaf meerdere apparaten.</li>
</ul>

<h2>Waarom zijn hot wallets <b>niet goed</b>?</h2>
<ul class="quick-info-cons">
	<li>Niet veilig voor het opslaan van grote hoeveelheden bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Welke wallet past het beste bij u?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Waarvoor gebruikt u bitcoin?</a></p>

<p>Investeren of sparen? Een hardware wallet zal uw bitcoins veilig bewaren</p>

<p>In alle andere gevallen zal een software wallet uw bitcoins prima kunnen versturen en ontvangen. Bovendien zijn software wallets gratis.</p>

<p>Elke wallet heeft voor- en nadelen, en verschillende wallets zijn ontworpen om verschillende problemen te tackelen. </p>

<p>Sommige wallets zijn afgesteld op veiligheid, terwijl anderen meer zijn gericht op privacy.</p>

<p>Uw specifieke behoeften bepalen de wallet die u gebruikt, er is geen “beste bitcoin wallet”.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Hieronder vindt u een lijst van wallets die u kunt kopen of downloaden. We raden u aan deze wallets te gebruiken of anders zelf onderzoek te doen alvorens u een andere wallet koopt of download.
</p>
<p>Elke dag worden er nieuwe “nep” wallets aan de Google Play Store en de Apple App Store toegevoegd, speciaal ontworpen om mensen hun bitcoins te stelen.</p>
<p>In onze lijst vindt u alleen wallets waarvan de code gepubliceerd en open source is.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Hoofdstuk 3</h3>
<h2 class="chapter-name">Hardware Wallets: Bewaar Uw Bitcoins Veilig</h2>
<div class="nice-divider"></div>

<p>Hardware wallets aren't free.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>De drie populairste hardware wallets zijn: KeepKey, Ledger Nano S en Trezor.</span>
</div>

<p>Maar als u een significante hoeveelheid bitcoins bezit is het de prijs waard. Een hardware wallet beschermt even makkelijk een paar honderd bitcoins als een paar miljoen.</p>

<h2>Hoe werken hardware wallets</h2>			
<p>Hardware wallets zijn veilige, offline apparaten. Ze bewaren uw prive sleutels offline en kunnen daarom niet gehacked worden.</p>
<p>Dit betekent dat je ze zelfs veilig zou kunnen gebruiken op een computer die is geinfecteerd met malware</p>

<h2>Waarom een Scherm op een Hardware Wallet Belangrijk is</h2>			
<p>In de tabel hieronder laten we zien welke hardware wallets over een scherm beschikken.</p>
<p>Een scherm biedt extra veiligheid bij het verifiëren en tonen van belangrijke wallet informatie. Omdat de hardware wallet vrijwel onmogelijk te hacken is, vertrouwen we het scherm op de hardware wallet meer dan het scherm van de computer waarop deze is aangesloten. </p>

<h2>Bitcoin Hardware Wallet Vergelijking</h2>
<p>Bekijk de tabel hieronder om snel te vergelijken. NB: </p>
<p>We hebben ook een meer gedetailleerde vergelijking gedaan van <a href="/trezor-keepkey-ledger/">de drie belangrijkste: Ledger Nano S, Trezor en KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Wallet</th>
    <th>Scherm<br></th>
    <th class="released">Uitgebracht</th>
    <th>Prijs</th>
    <th class="wallet-buy">Koop</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Beste Bitcoin Hardware Wallet Overzicht</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Chapter 4</h3>
<h2 class="chapter-name">Hot Wallets</h2>
<div class="nice-divider"></div>

<p>Even een korte herhaling: </p>

<p>Hot wallets zijn bitcoin wallets die als software draaien op een aan het internet gekoppeld apparaat zoals een computer, mobiele telefoon of tablet. Omdat een hot wallet jouw prive sleutels genereert op een aan het internet gekoppeld apparaat, kunnen deze prive sleutels niet als 100% veilig worden beschouwd.</p> 

<div class="quote-box">
<p>Zie uw hardware wallet als uw persoonlijke ondergrondse kluis. Wanneer u een significante hoeveelheid bitcoins bezit is deze optie sterk aan te raden!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Oprichter, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Online Bitcoin Wallets (Web Wallets)</h2>
<div class="nice-divider-sub"></div>			
<p>Web wallets slaan uw prive sleutels online op, waar ze versleuteld worden met een door u gekozen wachtwoord. Deze vorm van opslag biedt de laagste beveiliging maar geeft u wel toegang tot uw bitcoins vanaf elk online apparaat.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Android Bitcoin Wallets</h2>
<div class="nice-divider-sub"></div>			
<p>Er bestaat een grote selectie Android wallets. Oorspronkelijk accepteerde Apple geen bitcoin wallets, waardoor ontwikkelaars zich vooral focuste op Android wallets.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">iOS en iPhone Bitcoin Wallets</h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">verwijderde Bitcoin wallets</a> uit de App Store in 2014, maar maakte dit een aantal maanden later weer ongedaan. Gelukkig zijn er nu genoeg opties voor iOS gebruikers om uit te kiezen. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Desktop Wallets</h2>
<div class="nice-divider-sub"></div>			
<p>Desktop wallets kun je downloaden en installeren op je computer. Als u privacy belangrijk vindt is de Bitcoin core wallet een goede optie omdat deze niet afhankelijk is van derden voor het ophalen van data. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Hoofdstuk 5</h3>
<h2 class="chapter-name">Bitcoin Banken: $1 Miljard kwijtgeraakt in hacks</h2>
<div class="nice-divider"></div>

<p>Het laatste dat u moet onthouden is dat er een verschil is tussen een bitcoin wallet en een bitcoin bank. Sommige bitcoin gebruikers beschouwen <a href="/exchanges/coinbase/">Coinbase</a> als een bitcoin wallet, maar eigenlijk fungeren bedrijven als deze meer als een bitcoin bank. </p>

<p>Onthoud:</p>

<p>De prive sleutels zijn de codes die de gebruiker dient te beschermen om veilig gebruik te kunnen maken van het Bitcoin netwerk zonder bestolen te worden. Wanner u de controle van deze prive sleutels uit handen geeft, geeft u in feite uw bitcoins uit handen aan die financiële institutie &ndash; net als wanneer u geld op de bank stort.</p>

<div class="quote-box">
<p>Sla uw bitcoins niet op in online beurzen! Bitcoin gebruikers hebben al meer dan $1 miljard aan bitcoins verloren aan gehackte of misleidende online beurzen. Bewaar zelf uw prive sleutels. Als u hulp nodig heeft, stel uw vragen in onze 
 <a href="http://ask.buybitcoinworldwide.com/">Vragen sectie</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Oprichter, Buy Bitcoin Worldwide</span></div>
</div>

<p>Dit betekent niet dat bitcoin banken in wezen slecht zijn. Bedrijven als Coinbase hebben ontzettend veel bijgedragen aan het ecosysteem. U moet alleen nooit vergeten dat  <i>degene in het bezit van de prive sleutels in het bezit is van de bitcoins</i>.</p>

<p>Onbegrip van dit feit heeft in het verleden geleidt tot het verlies honderden miljoenen dollars. Dit verschil begrijpen is dus van essentieel belang.</p>

<p>Begrijpen hoe bitcoin wallets werken is een belangrijk aspect voor het veilig gebruik maken van deze nieuwe technologie. Omdat bitcoin nog in zijn kinderschoenen staat zullen wallets veel gebruiksvriendelijker worden naarmate de tijd vordert.</p>

<p>In the near future, certain devices may eventually come with pre-installed wallets that interact with the blockchain without the user’s knowledge.</p> 

<p>Voor nu is het belangrijk dat u zich beseft dat u de prive sleutels moet beveiligen om uw bitcoins te beschermen tegen hackers, gebruikersfouten en andere mogelijke problemen.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Hoofdstuk 6</h3>
<h2 class="chapter-name">Diefstal en Oplichting</h2>
<div class="nice-divider"></div>

<p>Ongeacht welke wallet u kiest, onthoud: </p>

<p>Uw bitcoins zijn alleen veilig wanneer de prive sleutels veilig zijn gegenereerd, geheim blijven, en—bovenal—binnen UW macht verkeren.</p>

<p>Hier volgen twee voorbeelden waar gebruikers hun kapitaal kwijtraakten omdat ze een derde partij ermee vertrouwden:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">De Bitfinex hack, waar gebruikers $70 miljoen verloren</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Het falen van Mt Gox, waar gebruikers minstens $450 miljoen kwijtraakten</a></li>
</ul>

<p>Om oplichterij, diefstal en ander verlies van uw bitcoins te vermijden, volgt u deze stappen: </p>

<ol>
<li><b>Genereer uw prive sleutels in een beveiligde, offline omgeving</b>. (Tenzij het om kleine bedragen gaat, in dat geval kun je de prive sleutels in een hot wallet genereren).</li>
<li><b>Maak een backup van uw prive sleutels</b>. Dit helpt u te beschermen tegen eventueel verlies van uw bitcoins door een hard drive crash. Idealiter heeft u nog een extra set backups buitenshuis voor bescherming tegen diefstal, brand, etc.</li>
<li><b>Versleutel wallets voor extra beveiliging</b>. Dit vermijdt verlies van uw bitcoins mocht uw apparaat of hardware wallet gestolen worden.</li>
</ol>

<p>Het veilig opslaan van bitcoins is de belangrijkste taak van een bitcoin gebruiker</p>

<p>Bitcoin biedt u het privilege - maar ook de verantwoordelijkheid - uw eigen geld te beschermen. Talloze bitcoin oplichtingen hadden voorkomen kunnen worden door niet de prive sleutels uit handen te geven.</p>

<p>Een goede vuistregel is het nooit vertrouwen van anderen met uw geld.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>