---
layout: color
permalink: "/es/monederos-bitcoin/"
title: ¿Cuál es el mejor monedero Bitcoin?
subtitle: La guía definitiva
lang: es
seotitle: Las 11 mejores aplicaciones y hardware de monedero Bitcoin
desc: Encuentra el mejor monedero bitcoin rápidamente -- hardware o software -- en base a tus necesidades. Nuestras reseñas lo simplifican.
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="special-letters col-md-5">
<br><br>
<p>¡Esta guía te ayudará a encontrar el monedero Bitcoin para TI!</p>
<p>Pista:</p>
<p>No hay un monedero Bitcoin "que lo tenga todo". Los monederos vienen en diferentes plataformas con diferentes funcionalidades.</p>
<p>Si quieres el mejor monedero posible, sigue leyendo...</p>
</div>

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>
</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Capítulos</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Capítulo 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">¿Qué es un monedero Bitcoin?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Capítulo 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Tipos de monedero</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Capítulo 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Monedero hardware</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Capítulo 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Monederos dinámicos</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Capítulo 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bancos Bitcoin vs Monederos Bitcoin</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Capítulo 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Robos y estafas</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Capítulo 1</h3>
<h2 class="chapter-name">¿Qué es un monedero Bitcoin?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>Un monedero Bitcoin es el primer paso para usar Bitcoin.</p>
<p>¿Por qué?</p>
<p>Sin un monedero, no puedes recibir, almacenar, o gastar bitcoins.</p>
<p>Puedes interpretar que un monedero es una interfaz personal en la red Bitcoin, similar a la interfaz que representa tu cuenta bancaria en línea para un sistema monetario común. </p>
<p>Los monederos Bitcoin contienen claves privadas; códigos secretos que te permiten gastar tus bitcoins.</p>
<p>En realidad, no son bitcoins las que necesitan ser almacenadas y aseguradas, sino las claves privadas que te dan acceso a ellas.</p>
<p>Resumiendo:</p> 
<p>Un monedero Bitcoin es simplemente una aplicación, sitio web, o dispositivo que administra claves privadas de Bitcoin para ti. </p>

<h3 id="types-of-wallets" class="chapter-link">Capítulo 2</h3>
<h2 class="chapter-name">Tipos de monederos Bitcoin</h2>
<div class="nice-divider"></div>

<p><i>Ahora expongamos los tipos de monedero bitcoin y por qué querrías usar un tipo en vez de otro.</i></p>

<h3 class="sub-sub-section"><b>Monederos hardware</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>The <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> es un ejemplo de un monedero hardware.</span>
</div>

<p>Un monedero hardware es un dispositivo electrónico físico, hecho para el mero propósito de asegurar bitcoins.</p>
<p>La innovación principal es que el monedero hardware debe estar conectado a tu computadora, teléfono, o tablet antes de que las bitcoins puedan usarse.</p>

<p>Los tres monederos hardware más populares son:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Los monederos hardware son una buena elección si te tomas en serio la seguridad y un almacenamiento conveniente y confiable de Bitcoin. </p>

<p>Los monederos hardware de Bitcoin mantienen las claves privadas separadas de los dispositivos vulnerables y conectados a Internet.</p>
<p>Tus importantes claves privadas son retenidas en un entorno seguro fuera de línea en el monedero hardware, protegidas totalmente incluso si el dispositivo es conectado a una computadora infectada con malware.</p>

<p>Como las bitcoins son digitales, los criminales virtuales podrían, potencialmente, apuntar al “monedero software” de tu computadora y robarlo accediendo a tu clave privada.</p>

<p>Generar y almacenar claves privadas fuera de línea usando un monedero hardware asegura que los hackers no tenga forma de llegar a tus bitcoins.</p> 

<p>Los hackers tendrían que robar el monedero hardware mismo, pero incluso así, puede protegerse con un código PIN.</p> 

<p>No te preocupes si te roban, pierdes o dañas tu monedero hardware; siempre que crees un código de backup secreto, puedes recuperar tus bitcoins.</p>

<div class="quote-box">
<p>Piensa a un monedero hardware como tu propia bóveda de metal. ¡Si tienes una cantidad significativa de bitcoins, deberías considerar obtener una!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador de Buy Bitcoin Worldwide</span></div>
</div>

<h2>¿Por qué son <b>buenos</b> los monederos hardware?</h2>
<ul class="quick-info-pros">
	<li>La opción más sencilla para almacenar bitcoins de forma segura</li>
	<li>Fácil de recuperar y asegurar</li>
	<li>Menor margen de error; la instalación es fácil incluso para usuarios de menor conocimiento técnico</li>
</ul>

<h2>¿Por qué son <b>malos</b> los monederos hardware?</h2>
<ul class="quick-info-cons">
	<li>¡No son gratis!</li>
</ul>

<h3 class="sub-sub-section"><b>Monederos dinámicos</b></h3>

<p>Los monederos dinámicos son monederos Bitcoin que funcionan en dispositivos conectados a Internet como una computadora, teléfono móvil, o tablet.</p>

<p>Las claves privadas son códigos <i>secretos</i>. Dado que los monederos dinámicos generan tus claves privadas en un dispositivo conectado a Internet, estas claves privadas no pueden ser consideradas 100% seguras.</p> 

<div class="quote-box">
<p>Piensa en un monedero dinámico como tu cartera actual: la usas para almacenar algo de dinero, pero no tus ahorros. Los monederos dinámicos son geniales si realizas pagos frecuentes, pero no son una buena opción para el almacenamiento seguro de bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador de Buy Bitcoin Worldwide</span></div>
</div>

<h2>¿Por qué son <b>buenos</b> los monederos dinámicos?</h2>
<ul class="quick-info-pros">
	<li>La forma más fácil de almacenar pequeñas cantidades de bitcoin</li>
	<li>Conveniente; realizar y recibir pagos es sencillo y rápido</li>
	<li>Algunos monederos dinámicos permiten acceso a los fondos a través de múltiples dispositivos</li>
</ul>

<h2>¿Por qué son <b>malos</b> los monederos dinámicos?</h2>
<ul class="quick-info-cons">
	<li>No son seguros para el almacenamiento seguro de grandes cantidades de bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>¿Cuál monedero es el mejor para ti?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">¿Por qué usas Bitcoin?</a></p>

<p>¿Inviertes o ahorras? Entonces un monedero hardware mantendrá a tus monedas a salvo.</p>

<p>En caso contrario, un monedero software enviará y recibirá bitcoins eficientemente. Lo mejor de todo es que los monederos software son gratis.</p>

<p>Cada monedero tiene sus pros y contras, y se crean diferentes monederos para solucionar diferentes problemas. </p>

<p>Algunos monederos pueden estar orientados a la seguridad, mientras que otros monederos pueden estar más enfocados en la privacidad. </p>

<p>Tus necesidades específicas deberían determinar el monedero que usas, ya que no existe el “mejor monedero bitcoin”.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Debajo hemos listado los monederos que puedes comprar o descargar. Sugerimos usar los monederos listados o investigar un poco antes de comprar o descargar cualquier monedero. </p>
<p>Cada día, nuevos monederos Bitcoin para estafar son añadidos a la Google Play Store y a la Apple App Store que son diseñados para robar las bitcoins de la gente.</p>
<p>Sólo listamos monederos que han publicado su código abierto.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Capítulo 3</h3>
<h2 class="chapter-name">Monederos hardware: Mantén tus monedas a salvo</h2>
<div class="nice-divider"></div>

<p>Los monederos hardware no son gratis.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>Los tres monederos hardware más populares: KeepKeey, Ledger Nano S, y Trezor.</span>
</div>

<p>Pero el precio lo justifica si posees un cantidad significativa de bitcoins. Un monedero hardware protegerá algunos cientos en Bitcoin de forma igualmente efectiva que algunos millones.</p>

<h2>Cómo funcionan los monederos hardware</h2>			
<p>Los monederos hardware son dispositivos seguros y desconectados. Almacenan tus claves privadas fuera de línea así no pueden ser robadas.</p>
<p>Esto significa que puedes incluso usarlos en una computadora infectada con malware.</p>

<h2>Por qué es tan importante un monedero hardware con pantalla</h2>			
<p>En la tabla a continuación, advertirás que mostramos qué monederos hardware tienen pantalla.</p>
<p>Las pantallas proveen seguridad adicional al verificar y mostrar detalles importantes del monedero. Dado que el monedero hardware es casi imposible de hackear, su pantalla es más fidedigna que los datos mostrados en tu computadora. </p>

<h2>Comparación de monederos hardware de Bitcoin</h2>
<p>Echa un vistazo a la tabla de abajo para ver una comparación rápida. Nota: </p>
<p>También hicimos una comparación detallada <a href="/trezor-keepkey-ledger/">de los tres más importantes: Ledger Nano S, Trezor, y KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Monedero</th>
    <th>Pantalla<br></th>
    <th class="released">Lanzado</th>
    <th>Precio</th>
    <th class="wallet-buy">Comprar</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Reseñas de los mejores monederos hardware de Bitcoin</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Capítulo 4</h3>
<h2 class="chapter-name">Monederos dinámicos</h2>
<div class="nice-divider"></div>

<p>Un repaso rápido: </p>

<p>Los monederos dinámicos son monederos Bitcoin que funcionan en dispositivos conectados a Internet como una computadora, teléfono móvil, o tablet. Como los monederos dinámicos generan claves privadas en un dispositivo conectado a Internet, estas claves privadas no pueden ser consideradas 100% seguras.</p> 

<div class="quote-box">
<p>Piensa en un monedero dinámico como tu cartera actual: la usas para almacenar algo de dinero, pero no tus ahorros. Los monederos dinámicos son geniales si realizas pagos frecuentes, pero no son una buena opción para el almacenamiento seguro de bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador de Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Monederos Bitcoin online (Monederos web)</h2>
<div class="nice-divider-sub"></div>			
<p>Los monederos web almacenan tus claves privadas en línea, donde son encriptadas con una contraseña del usuario. Aunque ofrecen el menor nivel de seguridad, los monederos bitcoin online tienen la ventaja de ser accesibles desde cualquier dispositivo conectado a Internet.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Monederos Bitcoin para Android</h2>
<div class="nice-divider-sub"></div>			
<p>Hay una amplia selección de monederos en Android. Dado que los monederos Bitcoin fueron originalmente prohibidos por Apple, los desarrolladores dedicaron gran parte de su tiempo a programar en Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">Monederos Bitcoin para iOS y iPhone</h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">prohibió los monederos Bitcoin</a> en la App Store en febrero de 2014, pero revirtió su decisión unos meses después. Afortunadamente, ahora hay muchas opciones para los usuarios de iOS. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Monederos de escritorio</h2>
<div class="nice-divider-sub"></div>			
<p>Los monederos de escritorio son descargados e instalados en tu computadora. Si la privacidad es tu principal preocupación, entonces el monedero Bitcoin principal es una buena opción ya que no depende de terceros para el procesamiento de datos. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Capítulo 5</h3>
<h2 class="chapter-name">Bancos Bitcoin: $1 billón perdido por robos virtuales</h2>
<div class="nice-divider"></div>

<p>Una última cosa para tener en mente cuando se trata de monederos bitcoin es que hay una diferencia entre un monedero y un banco. Algunos usuarios de Bitcoin ven a <a href="/exchanges/coinbase/">Coinbase</a> como un monedero Bitcoin, pero estas compañías operan mucho más como bancos. </p>

<p>Recuerda:</p>

<p>Las claves privadas son lo que los usuarios necesitan proteger para usar de forma segura la red Bitcoin sin que les roben. Cuando le otorgas control de tus claves privadas a alguien más, esencialmente estás realizando un depósito en una institución financiera, como un depósito en cualquier banco.</p>

<div class="quote-box">
<p>¡No almacenes monedas en intercambios! Los usuarios Bitcoin han perdido más de $1 billón en bitcoins en robos y estafas de intercambios. Controla tus propias claves privadas. Si necesitas ayuda, entonces haz tus preguntas en nuestra <a href="http://ask.buybitcoinworldwide.com/">sección de preguntas</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador de Buy Bitcoin Worldwide</span></div>
</div>

<p>Esto no es lo mismo que decir que los bancos bitcoin son inherentemente malos. Las compañías como Coinbase han hecho maravillas para atraer más usuarios al ecosistema. Simplemente es importante recordar que <i>quien controle las claves privadas controla las bitcoins adjuntas a esas claves</i>.</p>

<p>Un malentendido en este aspecto ha conllevado a que se hayan perdido cientos de millones de dólares en el pasado, así que es importante entender esta rotunda diferencia sobre cómo se pueden almacenar las claves privadas de Bitcoin.</p>

<p>Entender cómo funcionan los monederos bitcoin es un aspecto importante para usar de forma segura esta nueva tecnología. Bitcoin sigue estando en sus primeros años de desarrollo y con el tiempo los monederos se volverán mucho más amenos para el usuario.</p>

<p>En el futuro cercano, ciertos dispositivos pueden eventualmente venir con monederos preinstalados que interactúan con la blockchain sin el conocimiento del usuario.</p> 

<p>Por ahora, es vital tener en cuenta que las claves privadas son lo que necesitas proteger si quieres mantener tus bitcoin a salvo de los hackers, errores de usuario, y otros posibles problemas.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Capítulo 6</h3>
<h2 class="chapter-name">Robos y estafas</h2>
<div class="nice-divider"></div>

<p>No importa qué monedero elijas, recuerda: </p>

<p>¡Tus bitcoins sólo están a salvo si la clave privada fue generada de forma segura, continúa en secreto, y lo más importante de todo, es sólo controlada por TI!</p>

<p>Aquí hay dos ejemplos en los que los usuarios fueron estafados por dejar las bitcoins al cuidado de un tercero:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">El hackeo de Bitfinex, en el que los usuarios perdieron $70 millones</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">El fallo de Mt Gox, en el que los usuarios perdieron $450 millones o más</a></li>
</ul>

<p>Para evitar robos, estafas, y otras pérdidas de fondos, sigue estos tres principios básicos: </p>

<ol>
<li><b>Generar tus claves privadas en un entorno seguro y fuera de línea</b>. (Excepto si se usan cantidades triviales, en cuyos casos las claves pueden ser creadas en un monedero dinámico).</li>
<li><b>Crear backups de tus claves privadas</b>. Esto ayuda a protegerte frente a la pérdida de tus bitcoins debido al fallo del disco duro o algún otro problema o accidente. Idealmente, deberías tener un duplicado de backups mantenido fuera de alcance para protegerte frente a la posibilidad de incendio, robo, etc.</li>
<li><b>Encriptar los monederos para proveer seguridad adicional</b>. Esto ayuda a prevenir el robo físico de tus fondos en el caso de que tu dispositivo o monedero hardware sea robado.</li>
</ol>

<p>Asegurar tus bitcoins apropiadamente es el paso más importante para cualquier usuario Bitcoin.</p>

<p>Con Bitcoin tienes el privilegio, pero también la responsabilidad, de salvaguardar tu propio dinero. Han habido incontables estafas relacionadas a Bitcoin que podrían haberse prevenido si la gente no hubiera confiado sus bitcoins a otros.</p>

<p>Nunca confiarle tu dinero a otro es una buena regla de oro.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>