---
layout: color
permalink: "/nb/bitcoin-lommeboeker/"
title: Hvilken Bitcoin lommebok er best?
subtitle: Den Ultimate Guiden
lang: nb
seotitle: De 11 Beste Bitcoin Lommebøkene | Hardware & App 2017
desc: “Raskt finn de beste - hardware eller programvare - Bitcoin lommebøkene som passer deg best. Våre anmeldelser vil gjøre valget enkelt.”
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>Denne guiden vil hjelpe deg å finne den beste Bitcoin lommeboken akkurat for DEG!</p>
<p>Hint:</p>
<p>Det finnes ikke bare en Bitcoin lommebok som passer alle, fordi Bitcoin lommebøker finnes på forskjellige plattformer med forskjellige funksjoner.</p>
<p>Hvis du ønsker finne den beste lommeboken tilgjengelig, fortsett å lese…</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Kapitler</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">KAPITTEL 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Hva er en Bitcoin lommebok?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">KAPITTEL 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Hvilken Type Lommebok?</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">KAPITTEL 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Hardware Lommebøker</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">KAPITTEL 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Hot Lommebøker</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">KAPITTEL 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bitcoin Banker eller Lommebøker</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">KAPITTEL 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Tyveri og Svindel</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">KAPITTEL 1</h3>
<h2 class="chapter-name"> Hva er en Bitcoin lommebok?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>En Bitcoin lommebok er det første steget for å bruke Bitcoin.</p>
<p>Hvorfor?</p>
 
<p>Uten en lommebok kan du ikke motta, oppbevare eller bruke Bitcoins.</p>
 
<p>Du kan se på lommeboken din som et personlig grensesnitt til Bitcoin nettverket, som igjen er veldig likt til hvordan nettbanken din er et grensesnitt til det vanlige pengesystemet.</p>
 
<p>Bitcoin lommebøker har private nøkler; hemmelige koder som lar deg bruke Bitcoins.</p>
 
<p>I virkeligheten er det ikke Bitcoins som trenger å bli oppbevart og sikret, men heller de private nøklene som gir deg tilgang til dem.</p>
 
<p>Lettere sagt:</p>
<p> En Bitcoin lommebok er en app, nettside eller enhet som håndterer private Bitcoin nøkler for deg.</p>

<h3 id="types-of-wallets" class="chapter-link">KAPITTEL 2</h3>
<h2 class="chapter-name">Hvilken Type Lommebok?</h2>
<div class="nice-divider"></div>

<p><i>La oss diskutere de forskjellige Bitcoin lommebøkene og hvorfor du kanskje vil velge den ene over den andre.</i></p>

<h3 class="sub-sub-section"><b>Hardware Lommebøker</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span><a href="/wallets/ledger-nano-s/">Ledger Nano S</a> er et eksempel på en hardware lommebok.</span>
</div>

<p> En hardware lommebok er en fysisk elektronisk enhet, som er lagd for å sikre Bitcoins.</p>
<p> Denne må være koblet til en datamaskin, telefon eller et nettbrett før det er mulig å bruke Bitcoins.</p>

<p>De tre mest populære hardware lommebøkene er:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p> Hardware lommebøker er et godt valg hvis du er opptatt av noe som er sikkert, praktisk og pålitelig for oppbevaring av Bitcoins.</p>

<p> Bitcoin hardware lommebøker holder private nøkler separert fra enheter koblet til nettet.</p>

<p>De viktige private nøklene er sikret. Dette er fordi dem ikke er koblet til nettet og du trenger ikke bekymre deg selvom du plugget den inn i en datamaskin med virus.</p>

<p> Bitcoins er digitale, og cyber kriminelle kan potensielt angripe datamaskinens "programvare lommebok", og stjele ved å få tilgang til din private nøkkel. </p>

<p>Generere og oppbevare private nøkler offline, ved bruk av en hardware lommebok, sikrer at hackere ikke har noen måte å nå dine Bitcoins.</p> 

<p>Da må hackerne stjele selve hardware lommeboken, men hvis man beskytter den med en PIN-kode er det ikke noe de kan gjøre.</p> 

<p> Så du trenger ikke bekymre deg om hardware lommeboken blir stjålet, mistet eller skadet; så lenge du bruker en hemmelig backup kode, kan du alltid nå dine Bitcoins.</p>

<div class="quote-box">
<p>Tenk på en hardware lommebok som ditt eget hvelv under bakken. Hvis du eier en stor mengde Bitcoins, bør du vurdere få en!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Hvorfor er hardware lommebøker <b>bra</b>?</h2>
<ul class="quick-info-pros">
	<li>Letteste måten å lagre Bitcoins på en sikker måte</li>
	<li>De er trygge og lette å sikkerhetskopiere</li>
	<li>Mindre sjanse for feil; oppsettet er enkelt, selv for de som er mindre tekniske</li>
</ul>

<h2> Hvorfor er hardware lommebøker dårlige?</h2>
<ul class="quick-info-cons">
	<li>Egentlig bare fordi de ikke er gratis.</li>
</ul>

<h3 class="sub-sub-section"><b>Hot Lommebøker</b></h3>

<p>Hot lommebøker er Bitcoin lommebøker. Disse brukes på enheter som datamaskiner, mobiltelefoner eller nettbrett som er koblet til internettet.</p>

<p>Private nøkler er hemmelige koder, og fordi hot lommebøker genererer dine private nøkler på en internett tilkoblet enhet, så kan ikke disse private nøklene bli sett på som 100% sikre.</p> 

<div class="quote-box">
<p>Tenk på en hot lommebok som din egen lommebok: du har kontanter i den, men ikke sparepengene dine. Hot lommebøker er flott hvis du ofte gjør utbetalinger, men ikke et godt valg for sikker lagring av Bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Hvorfor er hot lommebøker <b>bra</b>?</h2>
<ul class="quick-info-pros">
	<li>Enkleste måten å oppbevare små mengder med Bitcoins</li>
	<li>Praktisk; å bruke og motta betalinger er enkelt og går raskt</li>
	<li>Noen hot lommebøker tillater tilgang til penger over flere enheter</li>
</ul>

<h2>Hvorfor er hot lommebøker <b>dårlig</b>?</h2>
<ul class="quick-info-cons">
	<li>Ikke trygt for sikker lagring av store mengder med Bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Hvilken lommebok er best for deg?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Hvorfor bruker du Bitcoin?</a></p>

<p>Investering eller sparing? Da vil en hardware lommebok holde myntene trygge.</p>

<p>En software lommebok sender og mottar Bitcoins helt greit. Best av alt, så er programvare lommebøker gratis. </p>

<p>Alle typer lommebøker har fordeler og ulemper, og forskjellige lommebøker er lagd for å løse ulike problemer.</p>

<p>Noen lommebøker vil være mer rettet mot sikkerhet, mens andre lommebøker vil være mer fokusert på personvern.</p>

<p>Dine spesifikke behov skal bestemme hvilken lommebok du burde bruke, så det finnes ikke en Bitcoin lommebok som er best generelt, men heller best for deg.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Nedenfor har vi listet opp noen lommebøker du kan kjøpe eller laste ned. Vi foreslår at du bruker lommebøkene under, men om du ikke ønsker det, burde du gjøre litt research før du kjøper eller laster ned en annen lommebok.</p>
<p>Hver dag blir nye Bitcoin lommebøker lagt til i Google Play og App Store, og noen av disse er lagd for å stjele brukeres Bitcoins.</p>
<p>Vi vil alltid liste opp lommebøker som har publisert og har en åpen kildekode.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">KAPITTEL 3</h3>
<h2 class="chapter-name">Hardware Lommebøker: Hold Myntene Dine Sikre</h2>
<div class="nice-divider"></div>

<p>Hardware lommebøker er ikke gratis.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>De tre mest populære hardware lommebøkene: KeepKeey, Ledger Nano S, and Trezor.</span>
</div>

<p>Men prisen er soleklart verdt det hvis du eier en stor mengde med Bitcoins. En hardware lommebok vil beskytte et par hundre Bitcoins like bra som den vil beskytte millioner.</p>

<h2>Hvordan Hardware Lommebøker Virker</h2>			
<p> Hardware lommebøker er sikre enheter som er uten nettilgang. De oppbevarer dine private nøkler offline, sånn at de ikke kan bli hacket.</p>
<p> Dette betyr at du kan bruke en datamaskin som har virus, uten noe problemer.</p>

<h2>Hvorfor en Hardware Lommebok med en Skjerm er Viktig</h2>			
<p> I tabellen nedenfor, vil du legge merke til hvilke hardware lommebøker som har skjermer.</p>
<p> Skjermer gir ekstra sikkerhet ved å bekrefte og vise viktige detaljer i lommeboken. I og med at hardware lommeboken nesten er umulig å hacke, er skjermen mer troverdig enn informasjonen som vises på datamaskinen.</p>

<h2> Bitcoin Hardware Lommebok Sammenligning</h2>
<p> Sjekk tabellen nedenfor for en rask sammenligning. NB: </p>
<p>Vi har også gjort en detaljert sammenligning av de tre viktigste vi snakket om tidligere: <a href="/trezor-keepkey-ledger/">Ledger Nano S, Trezor, and KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Lommebok</th>
    <th>Skjerm<br></th>
    <th class="released">Utgitt</th>
    <th>Pris</th>
    <th class="wallet-buy">Kjøp</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Oversikt Over De Beste Hardware Lommebøkene</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">KAPITTEL 4</h3>
<h2 class="chapter-name">Hot Lommebøker</h2>
<div class="nice-divider"></div>

<p>Bare en rask oppfriskning: </p>

<p> Hot lommebøker er Bitcoin lommebøker som brukes på enheter med internett tilgang. Dette inkluderer datamaskiner, mobiltelefoner og nettbrett.</p>

<p>Hot lommebøker genererer private nøkler på internett tilkoblede enheter, og disse private nøklene kan da ikke bli sett på som 100% sikre.</p> 

<div class="quote-box">
<p>Tenk på en hot lommebok som din egen lommebok: du har kontanter i den, men ikke sparepengene dine. Hot lommebøker er flott hvis du ofte gjør utbetalinger, men ikke et godt valg for sikker lagring av Bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Online Bitcoin Lommebøker (Lommebøker på Nett)</h2>
<div class="nice-divider-sub"></div>			
<p>Lommebøker på nett oppbevarer private nøkler online. Der er de kryptert med et passord som brukeren velger. Selv om de har lavest nivå av sikkerhet, har de fordelen av å være tilgjengelig fra hvilken som helst enhet som er koblet til internettet. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Android Bitcoin Lommebøker</h2>
<div class="nice-divider-sub"></div>			
<p>Det finnes et stort utvalg av Android lommebøker. Siden Bitcoin lommebøker opprinnelig ble bannlyst av Apple, har utviklere brukt mye tid på å utvide utvalget sitt for Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">Bitcoin Lommebøker for iOS og iPhone </h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">utestengte Bitcoin lommebøker</a> fra App Store februar 2014, men de ombestemte seg noen måneder senere. Nå er det heldigvis mange alternativer for iOS brukere.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Skrivebord Lommebøker</h2>
<div class="nice-divider-sub"></div>			
<p>Skrivebord lommebøker må lastes ned og installeres på datamaskinen din. Hvis personvern er din største bekymring, vil du bli glad for at Bitcoin lommebøkene nedenfor er et godt alternativ, i og med at de ikke er avhengige av tredjeparter.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">KAPITTEL 5</h3>
<h2 class="chapter-name">Bitcoin Banger: 1 Milliard Dollar Mistet Etter Hacke Angrep</h2>
<div class="nice-divider"></div>

<p>En siste ting som kan være greit å huske på, når det kommer til Bitcoin lommebøker, er at det er en forskjell mellom en lommebok og en bank. Noen Bitcoin brukere ser på Coinbase som en Bitcoin lommebok, men selskaper som dette fungerer mer som banker.</p>

<p>Husk:</p>

<p>De private nøklene er hva brukere trenger sånn at man trygt kan bruke Bitcoin nettverket, uten å bli ranet. Hvis du gir noen andre kontroll over de private nøklene dine, gjør du hovedsakelig et innskudd hos den finansielle institusjonen - ganske likt som et innskudd hos en bank.</p>

<div class="quote-box">
<p>Ikke oppbevar mynter på børsen! Bitcoin brukere har tapt over 1 milliard dollar, i Bitcoin verdi, på valutakurs svindel og hacking. Ha kontroll over dine egne private nøkler.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<p>Dette er ikke som å si at Bitcoin bankene er dårlige. Selskaper som Coinbase har gjort underverker for å bringe flere kunder inn i økosystemet, men det er rett å slett viktig å huske på at den som kontrollerer de private nøklene, styrer Bitcoins som er tilknyttet til de nøklene.</p>

<p>En misforståelse av akkurat dette har ført til at at hundrevis av millioner dollar har gått tapt i det siste, så det er viktig å forstå denne forskjellen om hvordan private Bitcoin nøkler skal oppbevares. </p>

<p>Å forstå hvordan Bitcoin lommebøker fungerer er viktig for trygg bruk av denne nye teknologien. Bitcoin er fortsatt i en utviklingsprosess og disse lommebøkene vil bli mye mer brukervennlige i tiden fremover.</p>

<p>I nærmere fremtid, kan enkelte enheter etterhvert komme med forhåndsinstallerte lommebøker som handler sammen med blockchain uten at brukere vet det.</p> 

<p>Akkurat nå, er det viktig å huske på at de private nøklene er hva du trenger for å beskytte deg, hvis du ønsker å holde Bitcoins trygt fra hackere, brukerfeil og andre mulige problemer.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">KAPITTEL 6</h3>
<h2 class="chapter-name">Tyveri og Svindel</h2>
<div class="nice-divider"></div>

<p>Uansett hvilken lommebok du velger, husk at:</p>

<p>Dine Bitcoins er bare trygge hvis de private nøklene var generert, forblir en hemmelighet og - viktigst av alt - kontrollert bare av DEG!</p>

<p>Her er to eksempler der brukere ble svindla i og med at de lot deres Bitcoins havne i hendene til en tredjepart:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex hacken, hvor brukere mistet over 70 millioner dollar</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">En svikt hos Mt Gox, hvor brukere mistet mer enn 450 millioner dollar</a></li>
</ul>

<p>For å unngå tyveri, svindel og andre tap av penger, følg disse grunnleggende prinsippene: </p>

<ol>
<li><b>Generer dine private nøkler i et sikkert miljø der du ikke er på nettet</b>. (Unntatt hvis du bruker små mengder med penger om gangen, da kan nøkler bli lagd i en hot lommebok).</li>
<li><b> Lag en backup for dine private nøkler</b>. Dette hjelper med å beskytte mot tap av Bitcoins, hvis det skulle oppstå feil å grunn av harddisken eller andre problemer eller uhell. Helst bør du ha en kopi av nøklene et annet sted en der du bor, i tilfelle det skulle oppstå brann eller at man skulle blitt ranet.</li>
<li><b>Krypter lommebøker for ekstra sikkerhet</b>. Dette bidrar til å hindre fysisk tyveri av dine penger, hvis enheten eller hardware lommeboken skulle bli stjålet.</li>
</ol>

<p>Å sikre dine Bitcoins er det viktigste skrittet for alle Bitcoin brukere.</p>

<p> Med Bitcoin har du muligheten - men også et ansvar - til å ivarate dine egne penger. Det ar vært alt for mange som har blitt svindlet ved bruk av Bitcoin, som kunne vært forhindret hvis brukere ikke hadde betrodd andre med sine Bitcoins.</p>

<p>Det er en god regel å aldri stole på noen andre enn deg selv, når det gjelder dine egne penger.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>