---
layout: color
permalink: "/el/portofolia-bitcoin/"
title: "Ποιο είναι το καλύτερο πορτοφόλι Bitcoin?"
subtitle: "Ο απόλυτος οδηγός"
lang: el
seotitle: "Τα 11 καλύτερα πορτοφολια υλισμικού & εφαρμογές για το 2017"
desc: ""
color: yes
pagename: wallets
multilang: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>Ο οδηγός αυτός θα σας βοηθήσει να βρείτε το καλύτερο πορτοφόλι Bitcoin για ΕΣΑΣ!</p>
<p>Hint:</p>
<p>Δεν υπάρχει ένα πορτοφόλι Bitcoin που να κάνει για όλες τις περιπτώσεις. Τα πορτοφόλια βγαίνουν σε διάφορες πλατφόρμες, με διάφορα χαρακτηριστικά.</p>
<p>Αν θέλετε το καλύτερο πορτοφόλι, συνεχίστε την ανάγνωση...</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapters</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Κεφάλαιο 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">Τι είναι το πορτοφόλι Bitcoin;</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Κεφάλαιο 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Τύποι πορτοφολιών</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Κεφάλαιο 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Πορτοφόλια υλισμικού (hardware wallets)</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Κεφάλαιο 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Ηλεκτρονικά πορτοφόλια (hot wallets)</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Κεφάλαιο 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Τράπεζες Bitcoin έναντι πορτοφολιών</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Κεφάλαιο 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Κλοπή και εξαπάτηση</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Κεφάλαιο 1</h3>
<h2 class="chapter-name">Τι είναι το πορτοφόλι Bitcoin;</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>Το πορτοφόλι Bitcoin είναι το πρώτο βήμα για να χρησιμοποιείτε το δίκτυο Βitcoin.</p>
<p>Γιατί;</p>
<p>Χωρίς πορτοφόλι, δεν μπορείτε να λαμβάνετε, να αποθηκεύετε ή να ξοδεύετε bitcoins.</p>
<p>Φανταστείτε το πορτοφόλι ως το προσωπικό σας περιβάλλον εργασίας στο δίκτυο Bitcoin, όπως ο ηλεκτρονικός τραπεζικός λογαριασμός σας είναι ένα περιβάλλον εργασίας στο συνηθισμένο νομισματικό σύστημα. </p>
<p>Τα πορτοφόλια Bitcoin περιέχουν ιδιωτικά κλειδιά, μυστικούς κωδικούς, που σας επιτρέπουν να ξοδεύετε τα bitcoins σας.</p>
<p>Στην πραγματικότητα, δεν είναι τα bitcoins που πρέπει να προστατεύονται και να φυλάσσονται, αλλά οι ατομικοί κωδικοί που σας παρέχουν την πρόσβαση σε αυτά.</p>
<p>Με λίγα λόγια:</p> 
<p>Το πορτοφόλι Bitcoin είναι απλά μια εφαρμογή, ιστοσελίδα ή συσκευή που διαχειρίζεται τα ιδιωτικά κλειδιά Bitcoin για λογαριασμό σας. </p>

<h3 id="types-of-wallets" class="chapter-link">Κεφάλαιο 2</h3>
<h2 class="chapter-name">Τύποι πορτοφολιών Bitcoin</h2>
<div class="nice-divider"></div>

<p><i>Ας δούμε τους τύπους των πορτοφολιών Bitcoin και γιατί θα προτιμούσατε να χρησιμοποιήσετε ένα είδος σε σχέση με κάποιο άλλο.</i></p>

<h3 class="sub-sub-section"><b>Πορτοφόλια υλισμικού (hardware wallets)</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>The <a href="/wallets/ledger-nano-s/">Το Ledger Nano S</a> είναι ένα παράδειγμα πορτοφολιού υλισμικού.</span>
</div>

<p>Το πορτοφόλι υλισμικού είναι μια φυσική ηλεκτρονική συσκευή, που έχει κατασκευαστεί αποκλειστικά για την ασφαλή φύλαξη των bitcoins.</p>
<p>Η καινοτομία έγκειται στο ότι το πορτοφόλι υλισμικού πρέπει να είναι συνδεμένο με τον υπολογιστή, το τηλέφωνο ή το tablet σας για να μπορείτε να ξοδέψετε bitcoins.</p>

<p>Τα τρία πιο δημοφιλή πορτοφόλια υλισμικού είναι:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">το Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">το KeepKey</a></li>
<li><a href="/wallets/trezor/">το Trezor</a></li>
</ul>

<p>Τα πορτοφόλια υλισμικού αποτελούν καλή επιλογή αν σας ενδιαφέρει σοβαρά η ασφάλεια και η εύκολη, αξιόπιστη διαφύλαξη των bitcoin. </p>

<p>Tα πορτοφόλια υλισμικού Bitcoin φυλάσσουν τα ιδιωτικά κλειδιά χωριστά από ευάλωτες, συνδεμένες στο διαδίκτυο συσκευές.</p>
<p>Τα υψίστης σπουδαιότητας ιδιωτικά κλειδιά σας φυλάσσονται σε ασφαλές περιβάλλον εκτός διαδικτύου, στο πορτοφόλι υλισμικού, πλήρως προστατευμένα ακόμη κι αν η συσκευή συνδεθεί με υπολογιστή που έχει μολυνθεί με κακόβουλο λογισμικό.</p>

<p>Καθώς τα bitcoins είναι ψηφιακά, οι εγκληματίες που δρουν στον κυβερνοχώρο θα μπορούσαν πιθανόν να στοχεύσουν στο πορτοφόλι λογισμικού που διατηρείτε στον υπολογιστή σας και να το κλέψουν αποκτώντας πρόσβαση στο ιδιωτικό κλειδί σας.</p>

<p>Η δημιουργία και η διαφύλαξη ιδιωτικών κλειδιών εκτός διαδικτύου με τη χρήση πορτοφολιού υλισμικού εξασφαλίζει ότι οι χάκερ δεν μπορούν να αποκτήσουν πρόσβαση στα bitcoins σας.</p> 

<p>Οι χάκερ θα έπρεπε να κλέψουν το ίδιο το πορτοφόλι υλισμικού, αλλά ακόμη και σε αυτήν την περίπτωση, δίνεται η δυνατότητα το πορτοφόλι να προστατεύεται με κωδικό PIN.</p> 

<p>Mην ανησυχείτε για το αν το πορτοφόλι υλισμικού σας κλαπεί, χαθεί ή καταστραφεί? εφόσον δημιουργήσετε έναν μυστικό κωδικό ασφαλείας, θα μπορείτε να ανακτήσετε τα bitcoins σας.</p>

<div class="quote-box">
<p>Φανταστείτε το πορτοφόλι υλισμικού σαν ένα δικό σας υπόγειο θησαυροφυλάκιο, φτιαγμένο από ατσάλι. Αν κατέχετε μεγάλη ποσότητα bitcoins, θα πρέπει οπωσδήποτε να σκεφτείτε να πάρετε ένα!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Ιδρυτής, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Γιατί είναι τα πορτοφόλια υλισμικού <b>καλά</b>;</h2>
<ul class="quick-info-pros">
	<li>Ο ευκολότερος τρόπος ασφαλούς φύλαξης των bitcoins</li>
	<li>Εύκολη δημιουργία αντιγράφων ασφαλείας για προστασία</li>
	<li>Μικρότερο περιθώριο λαθών? εύκολη ρύθμιση ακόμα και για χρήστες με περιορισμένες τεχνικές γνώσεις</li>
</ul>

<h2>Γιατί είναι τα πορτοφόλια υλισμικού <b>κακά</b>;</h2>
<ul class="quick-info-cons">
	<li>Δεν είναι δωρεάν!</li>
</ul>

<h3 class="sub-sub-section"><b>Ηλεκτρονικά πορτοφόλια (hot wallets)</b></h3>

<p>Τα ηλεκτρονικά πορτοφόλια είναι πορτοφόλια Bitcoin που λειτουργούν με συσκευές συνδεμένες στο διαδίκτυο όπως π.χ. υπολογιστής, κινητό τηλέφωνο ή tablet.</p>

<p>Τα ιδιωτικά κλειδιά είναι <i>μυστικοί</i> κωδικοί. Λόγω του ότι τα ηλεκτρονικά πορτοφόλια δημιουργούν τα ιδιωτικά κλειδιά σας σε συσκευή που είναι συνδεμένη στο διαδίκτυο, τα κλειδιά αυτά δεν θεωρούνται 100% προστατευμένα.</p> 

<div class="quote-box">
<p>Φανταστείτε το ηλεκτρονικό σας πορτοφόλι σαν το σημερινό σας πορτοφόλι: το χρησιμοποιείτε για να φυλάξετε μερικά μετρητά αλλά όχι τις οικονομίες μιας ζωής. Τα ηλεκτρονικά πορτοφόλια είναι θαυμάσια αν πραγματοποιείτε συχνές πληρωμές, αλλά δεν αποτελούν καλή επιλογή για την ασφαλή φύλαξη των bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Ιδρυτής, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Γιατί είναι τα ηλεκτρονικά πορτοφόλια <b>καλά</b>;</h2>
<ul class="quick-info-pros">
	<li>Ο ευκολότερος τρόπος φύλαξης μικρών ποσών bitcoins</li>
	<li>Εξυπηρετικά? η καταβολή και η είσπραξη πληρωμών είναι εύκολη και γρήγορη</li>
	<li>Μερικά ηλεκτρονικά πορτοφόλια επιτρέπουν την πρόσβαση σε κεφάλαια μέσω πολλαπλών συσκευών</li>
</ul>

<h2>Γιατί είναι τα ηλεκτρονικά πορτοφόλια <b>κακά</b>;</h2>
<ul class="quick-info-cons">
	<li>Δεν είναι ασφαλή για τη διαφύλαξη μεγάλων ποσών bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Ποιο πορτοφόλι είναι το καλύτερο για σας;</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Γιατί χρησιμοποιείτε το δίκτυο Bitcoin;</a></p>

<p>Κάνετε επένδυση ή αποταμίευση; Τότε ένα πορτοφόλι υλισμικού θα διαφυλάξει τα νομίσματά σας με ασφάλεια.</p>

<p>Διαφορετικά, με ένα πορτοφόλι λογισμικού θα μπορείτε να στέλνετε και να λαμβάνετε bitcoins μια χαρά. Και το καλύτερο, τα πορτοφόλια λογισμικού είναι δωρεάν.</p>

<p>Το κάθε πορτοφόλι έχει υπέρ και κατά και γι αυτό σχεδιάζονται διάφορα πορτοφόλια για να δώσουν λύση σε διάφορα προβλήματα. </p>

<p>Μερικά πορτοφόλια δίνουν βαρύτητα στην ασφάλεια, ενώ άλλα επικεντρώνονται περισσότερο στο ιδιωτικό απόρρητο. </p>

<p>Οι δικές σας συγκεκριμένες ανάγκες θα πρέπει να είναι αυτές που καθορίζουν το πορτοφόλι που χρησιμοποιείτε, καθώς δεν υπάρχει αντικειμενικά το βέλτιστο πορτοφόλι bitcoin.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Παρακάτω, παραθέτουμε πορτοφόλια τα οποία μπορείτε να αγοράσετε ή να κατεβάσετε. Προτείνουμε να χρησιμοποιήσετε τα πορτοφόλια που σας αναφέρουμε ή να κάνετε έρευνα προτού αγοράσετε ή κατεβάσετε κάποιο πορτοφόλι. </p>
<p>Καθημερινά, προστίθενται στο Google Play Store και στο Apple app store νέα πορτοφόλια Bitcoin που σκοπό έχουν να εξαπατήσουν τους χρήστες και να τους κλέψουν bitcoins.</p>
<p>Παραθέτουμε μόνο πορτοφόλια που έχουν δημόσιο και ανοιχτό πηγαίο κώδικα.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Chapter 3</h3>
<h2 class="chapter-name">Πορτοφόλια υλισμικού: Κρατήστε τα νομίσματά σας ασφαλή</h2>
<div class="nice-divider"></div>

<p>Τα πορτοφόλια υλισμικού δεν είναι δωρεάν.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>Tα τρία πιο δημοφιλή πορτοφόλια υλισμικού είναι: το KeepKey, το Ledger Nano S και το Trezor.</span>
</div>

<p>Αξίζουν όμως τα λεφτά τους αν έχετε στην κατοχή σας ένα σημαντικό ποσό bitcoins. Ένα πορτοφόλι υλισμικού προσφέρει το ίδιο επίπεδο προστασίας στο δίκτυο Bitcoin για μερικές εκατοντάδες νομίσματα, όσο και για μερικά εκατομμύρια.</p>

<h2>Πώς λειτουργούν τα πορτοφόλια υλισμικού</h2>			
<p>Τα πορτοφόλια υλισμικού είναι ασφαλείς συσκευές που δεν είναι συνδεμένες στο διαδίκτυο. Αποθηκεύουν τα ιδιωτικά κλειδιά σας ώστε να μην μπορούν να παραβιαστούν.</p>
<p>Αυτό σημαίνει ότι μπορείτε να τα χρησιμοποιήσετε ακόμη και σε υπολογιστή που έχει μολυνθεί με κακόβουλο λογισμικό.</p>

<h2>Γιατί είναι σημαντικό να διαθέτει το πορτοφόλι υλισμικού οθόνη;</h2>			
<p>Στον πίνακα που ακολουθεί, θα προσέξετε ότι σημειώνουμε ποια πορτοφόλια υλισμικού διαθέτουν οθόνη.</p>
<p>Η οθόνη παρέχει επιπλέον προστασία μέσω της επιβεβαίωσης και της εμφάνισης σημαντικών στοιχείων του πορτοφολιού. Λόγω του ότι το πορτοφόλι υλισμικού είναι σχεδόν αδύνατον να παραβιαστεί, η οθόνη του είναι πιο αξιόπιστη από την εμφάνιση δεδομένων στον υπολογιστή σας. </p>

<h2>Σύγκριση πορτοφολιών υλισμικού Bitcoin</h2>
<p>Ανατρέξτε στον παρακάτω πίνακα για μια γρήγορη σύγκριση. Σημειώστε: </p>
<p>Κάναμε επίσης μια λεπτομερή <a href="/trezor-keepkey-ledger/">σύγκριση των τριών κυριότερων πορτοφολιών υλισμικού: των Ledger Nano S, Trezor, και KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Πορτοφόλι</th>
    <th>Οθόνη<br></th>
    <th class="released">Κυκλοφορία</th>
    <th>Τιμή</th>
    <th class="wallet-buy">Αγορά</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Κριτικές για τα καλύτερα πορτοφόλια υλισμικού Bitcoin</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Κεφάλαιο 4</h3>
<h2 class="chapter-name">Ηλεκτρονικά πορτοφόλια (hot wallets)</h2>
<div class="nice-divider"></div>

<p>Μια γρήγορη επανάληψη: </p>

<p>Τα ηλεκτρονικά πορτοφόλια (hot wallets) είναι πορτοφόλια Bitcoin που λειτουργούν σε συσκευές συνδεμένες στο διαδίκτυο όπως π.χ. υπολογιστής, κινητό τηλέφωνο ή tablet. Λόγω του ότι τα ηλεκτρονικά πορτοφόλια δημιουργούν ιδιωτικά κλειδιά σε συσκευή που είναι συνδεμένη στο διαδίκτυο, αυτά τα ιδιωτικά κλειδιά δεν θεωρούνται 100% προστατευμένα.</p> 

<div class="quote-box">
<p>Φανταστείτε ένα ηλεκτρονικό πορτοφόλι σαν το σημερινό σας πορτοφόλι: το χρησιμοποιείτε για να φυλάξετε μερικά μετρητά αλλά όχι τις οικονομίες μιας ζωής. Τα ηλεκτρονικά πορτοφόλια είναι θαυμάσια αν πραγματοποιείτε συχνές πληρωμές αλλά δεν αποτελούν καλή επιλογή για την ασφαλή φύλαξη των bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Ιδρυτής, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Διαδικτυακά πορτοφόλια Bitcoin (web wallets)</h2>
<div class="nice-divider-sub"></div>			
<p>Τα διαδικτυακά πορτοφόλια (web wallets) αποθηκεύουν τα ιδιωτικά κλειδιά σας στο διαδίκτυο, όπου κρυπτογραφούνται με κωδικό που επιλέγει ο χρήστης. Παρόλο που προσφέρουν το χαμηλότερο επίπεδο ασφάλειας, τα διαδικτυακά πορτοφόλια bitcoin έχουν το πλεονέκτημα ότι είναι προσβάσιμα από οποιαδήποτε συσκευή είναι συνδεμένη στο διαδίκτυο.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Android πορτοφόλια Bitcoin</h2>
<div class="nice-divider-sub"></div>			
<p>Υπάρχει ευρεία επιλογή πορτοφολιών Android. Λόγω του ότι τα πορτοφόλια Bitcoin στην αρχή ήταν απαγορευμένα από την Apple, οι σχεδιαστές ασχολήθηκαν με τη δημιουργία πορτοφολιών για συσκευές που λειτουργούν με Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">iOS και iPhone πορτοφόλια Bitcoin</h2>
<div class="nice-divider-sub"></div>		
<p>Η Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">απαγόρευσε τα πορτοφόλια Bitcoin</a> από το App Store τον Φεβρουάριο του 2014, αλλά ανακάλεσε την απόφασή της μερικούς μήνες αργότερα. Ευτυχώς, υπάρχει πια πληθώρα επιλογών για τους χρήστες iOS. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Πορτοφόλια για υπολογιστή</h2>
<div class="nice-divider-sub"></div>			
<p>Τα πορτοφόλια για υπολογιστή (desktop wallets) τα κατεβάζετε και τα εγκαθιστάτε στον υπολογιστή σας. Αν αυτό που σας ενδιαφέρει κυρίως είναι η προστασία του ιδιωτικού απορρήτου, το Bitcoin core wallet αποτελεί καλή επιλογή δεδομένου ότι δεν βασίζεται σε τρίτους για δεδομένα. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Κεφάλαιο 5</h3>
<h2 class="chapter-name">Τράπεζες Bitcoin: 1 δις $ απώλειες από υποκλοπές</h2>
<div class="nice-divider"></div>

<p>Κάτι τελευταίο που πρέπει να έχετε υπόψη όσον αφορά τα πορτοφόλια Βitcoin, είναι ότι υπάρχει διαφορά μεταξύ πορτοφολιού και τράπεζας. Μερικοί χρήστες του Bitcoin θεωρούν την <a href="/exchanges/coinbase/">Coinbase</a> ως πορτοφόλι Bitcoin, αλλά εταιρείες σαν αυτή λειτουργούν περισσότερο ως τράπεζες. </p>

<p>Να θυμάστε:</p>

<p>Tα ιδιωτικά κλειδιά είναι αυτό που πρέπει να προστατεύουν οι χρήστες προκειμένου να χρησιμοποιούν με ασφάλεια το δίκτυο Bitcoin και να μην πέσουν θύματα ληστείας. Όταν παραδίδετε σε κάποιον άλλο τον έλεγχο των ιδιωτικών σας κλειδιών, ουσιαστικά πραγματοποιείτε μια κατάθεση σε εκείνο το χρηματοπιστωτικό ίδρυμα? όπως μια κατάθεση σε οποιαδήποτε τράπεζα.</p>

<div class="quote-box">
<p>Μην αποθηκεύετε νομίσματα σε ανταλλακτήρια! Χρήστες του Bitcoin έχουν χάσει bitcoins αξίας άνω του 1 δις $ από παραβιάσεις και απάτες σε ανταλλακτήρια. Να διατηρείτε τον έλεγχο των δικών σας ιδιωτικών κλειδιών. Αν χρειάζεστε βοήθεια, στείλτε τις ερωτήσεις σας στην ενότητα <a href="http://ask.buybitcoinworldwide.com/">Ερωτήσεις</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Ιδρυτής, Buy Bitcoin Worldwide</span></div>
</div>

<p>Αυτό δεν σημαίνει ότι οι τράπεζες bitcoin είναι από τη φύση τους κάτι κακό. Εταιρείες όπως η Coinbase έχουν κάνει θαύματα προκειμένου να τραβήξουν περισσότερους χρήστες στο οικοσύστημα. Έχει απλά σημασία να θυμάστε ότι <i>αυτός που έχει τον έλεγχο των ιδιωτικών κλειδιών έχει και τον έλεγχο των bitcoin που είναι προσαρτημένα σε αυτά τα κλειδιά</i>.</p>

<p>Η μη ορθή κατανόηση του σημείου αυτού έχει οδηγήσει σε απώλεια εκατοντάδων εκατομμυρίων δολαρίων στο παρελθόν, γιαυτό και είναι σημαντικό να καταλάβει κανείς αυτήν την κρίσιμης σημασίας διαφορά στον τρόπο φύλαξης των ιδιωτικών κλειδιών Bitcoin.</p>

<p>Η κατανόηση του τρόπου λειτουργίας των πορτοφολιών Bitcoin είναι μια σημαντική πτυχή όσον αφορά την ασφάλεια της χρήσης αυτής της νέας τεχνολογίας. Το δίκτυο Bitcoin βρίσκεται ακόμα στα πρώιμο στάδιο της ανάπτυξής του και τα πορτοφόλια θα γίνουν πολύ πιο φιλικά για το χρήστη με τον καιρό.</p>

<p>Στο εγγύς μέλλον, μπορεί να κυκλοφορήσουν συσκευές με προεγκατεστημένα πορτοφόλια τα οποία θα αλληλεπιδρούν με την αλυσίδα των μπλοκ (blockchain) χωρίς να το γνωρίζει ο χρήστης.</p> 

<p>Προς το παρόν, είναι κρίσιμης σημασίας να έχετε κατά νου ότι τα ιδιωτικά κλειδιά είναι αυτό που θα πρέπει να προστατεύετε αν θέλετε να μην κινδυνεύουν τα bitcoin σας από τους χάκερ, από σφάλματα χρήστη και άλλα πιθανά ζητήματα.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Κεφάλαιο 6</h3>
<h2 class="chapter-name">Κλοπή και εξαπάτηση</h2>
<div class="nice-divider"></div>

<p>Όποιο πορτοφόλι κι αν επιλέξετε, να θυμάστε: </p>

<p>Τα bitcoins σας είναι ασφαλή μόνο αν το ιδιωτικό κλειδί έχει δημιουργηθεί κάτω από ασφαλείς συνθήκες, παραμένει μυστικό και--πάνω απ όλα--έχετε τον έλεγχό του μόνο ΕΣΕΙΣ!</p>

<p>Ακολουθούν δύο παραδείγματα χρηστών οι οποίοι καταληστεύτηκαν επειδή είχαν αφήσει τη διαχείριση των bitcoins τους σε τρίτο άτομο:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Η ληστεία των χάκερ στο Bitfinex, με απώλειες 70 εκατομμυρίων $ για τους χρήστες</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Η κατάρρευση του Mt Gox, με απώλειες τουλάχιστον 450 εκατομμυρίων $</a></li>
</ul>

<p>Για να αποφύγετε την κλοπή, την εξαπάτηση και άλλου είδους απώλεια κεφαλαίων, ακολουθείτε αυτές τις τρεις βασικές αρχές: </p>

<ol>
<li><b>Δημιουργείτε τα ιδιωτικά κλειδιά σας σε ασφαλές περιβάλλον, εκτός διαδικτύου</b>. (Εκτός αν χρησιμοποιείτε ασήμαντα ποσά, στην οποία περίπτωση τα κλειδιά μπορούν να δημιουργηθούν σε ένα ηλεκτρονικό πορτοφόλι).</li>
<li><b>Δημιουργείτε αντίγραφα ασφαλείας των ιδιωτικών κλειδιών σας </b>. Αυτό βοηθάει στην προστασία των bitcoins σας από απώλεια εξαιτίας βλάβης του σκληρού δίσκου ή κάποιο άλλο πρόβλημα ή ατύχημα. Το ιδανικό θα ήταν να διατηρείτε μια διπλή σειρά αντιγράφων ασφαλείας σε διαφορετική τοποθεσία, για προστασία από το ενδεχόμενο πυρκαγιάς, ληστείας κλπ.</li>
<li><b>Κρυπτογραφείτε τα πορτοφόλια σας για πρόσθετη ασφάλεια</b>. Αυτό εμποδίζει τη φυσική κλοπή των κεφαλαίων σας σε περίπτωση που η συσκευή ή το πορτοφόλι υλισμικού σας κλαπεί.</li>
</ol>

<p>Η σωστή διασφάλιση των bitcoins είναι το πιο σημαντικό βήμα για κάθε χρήστη του Bitcoin.</p>

<p>Με το Bitcoin έχετε το προνόμιο  αλλά και την ευθύνη  να διαφυλάττετε τα χρήματά σας εσείς οι ίδιοι. Έχουν σημειωθεί αμέτρητες απάτες που σχετίζονται με το Bitcoin οι οποίες θα μπορούσαν να έχουν αποφευχθεί αν οι χρήστες δεν είχαν εμπιστευθεί τα bitcoins τους σε άλλους.</p>

<p>Η πείρα λέει να μην εμπιστευόμαστε τα χρήματά μας σε κανέναν άλλον.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>