---
layout: color
title: "How to Buy Bitcoins with Cash or Cash Deposit"
seotitle: "5 Ways to Buy Bitcoins with Cash or Cash Deposit"
permalink: "/en/buy-bitcoins-with-cash/"
sitemap:
    priority: 0.7
desc: Find the best exchanges for buying bitcoins with cash. See our list of 5+ cash to Bitcoin exchanges right here.
lang: en
pmethod: cash
color: yes
subtitle: The Ultimate Guide
author: jordantuwiner
multilang: yes
pagename: cash
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">


<div class="col-md-7">
<img style="margin-top: -40px;" class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/cash.png">
</div>

<div class="special-letters col-md-5">
<br>
<p>We can both agree on this:</p>
<p>Buying bitcoins with cash is confusing!</p>
<p>Luckily, today I'll show you how easy and fast it can be.</p>
<p>We've collected the best exchanges and listed them for you below.</p>
</div>

</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapters</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#intro"><img src="/img/goodicons/doublecoin-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#intro">Chapter 1</a></div>
	<div class="chapter-title"><a href="#intro">Introduction</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#exchanges"><img src="/img/goodicons/exchange-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#exchanges">Chapter 2</a></div>
	<div class="chapter-title"><a href="#exchanges">Exchanges</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#frequently-asked-questions"><img src="/img/goodicons/question-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#frequently-asked-questions">Chapter 3</a></div>
	<div class="chapter-title"><a href="#frequently-asked-questions">FAQs</a></div>
</div>



<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#tutorials"><img src="/img/goodicons/screen-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#tutorials">Chapter 4</a></div>
	<div class="chapter-title"><a href="#tutorials">Tutorials</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#p2p-exchanges"><img src="/img/goodicons/compare-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#p2p-exchanges">Chapter 5</a></div>
	<div class="chapter-title"><a href="#p2p-exchanges">P2P Exchanges</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Chapter 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Theft, Scams & Storage</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">

<div class="quote-box">
<p>Welcome to Buy Bitcoin Worldwide! I'm Jordan Tuwiner, the founder of this site.</p>

<p>We understand that buying bitcoins can be extremely confusing. We have endless information to help make buying bitcoins with cash easier for you. </p>
<p>I hope this guide helps!</p>

<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h3 id="intro" class="chapter-link">Chapter 1</h3>
<h2 class="chapter-name">Introduction</h2>
<div class="nice-divider"></div>

<p>Why buy bitcoins with cash?</p>

<ul>
<li>It's private and usually quick</li>
<li>One of the easiest ways to get bitcoins</li>
</ul>

<p>For real:</p>

<p>Converting your cash to bitcoin can get you bitcoins within a couple of hours. </p>

<p>Buying bitcoins with cash is also private.</p>

<p>Many of the exchanges below <a href="/kb/buy-bitcoin-without-verification-id/">do not require you to verify your identity</a> or provide sensitive personal details.</p>

<p>By the way:</p>

<p>Make sure you have a Bitcoin wallet before you buy since some of the exchanges below require one.</p>

<p>If you don't have a wallet, <a href="/wallets/">read our guide on the best Bitcoin wallets</a>.</p> 

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>We suggest using the exchanges listed below or doing research before buying from any exchange. </p>
<p>Many exchanges are simply trying to steal your personal information (like your password).</p>
<p>We do research on every exchange we list and are very careful not to include <a href="https://www.luno.com/blog/en/post/bitcoin-scams">scam exchanges</a> on our site.</p>
</div>
</div> 

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="exchanges" class="chapter-link">Chapter 2</h3>
<h2 class="chapter-name">Cash Bitcoin Exchanges</h2>
<div class="nice-divider"></div>

    {% include country-loops.html %}
	{% for name in site.data.buy %}
	{% if name.po contains 'cdus' %}
	{% include buy-list-en.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>


<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="frequently-asked-questions" class="chapter-link">Chapter 3</h3>
<h2 class="chapter-name">Frequently Asked Questions</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>If you're still a bit confused, that's okay. Buying bitcoins is hard and that's why I built this site.</p><p> If you don't find an answer to your question in the section below, then post in our <a href="http://ask.buybitcoinworldwide.com/">Ask section</a> and I'll answer within 24 hours. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2>What are risks are involved buying bitcoins with cash?</h2>
<p>Buying bitcoins with cash can be very low risk. </p>

<p>If making a trade in-person, it's best to meet in a public place to reduce the risk of scamming or theft. 

<p>If buying bitcoins with cash via cash deposit, use an escrow service (like <a href="/exchanges/localbitcoins/">LocalBitcoins</a> or <a href="/exchanges/bitquick/">BitQuick</a>) to ensure the seller must send you the bitcoins after receiving bitcoins.</p>


<h2>What are the benefits and advantages?</h2>
<p>It's easy to buy small amounts of bitcoin with cash.</p>

<p>It's also private, since no personal information is required in most cases, especially if trading in person or at an ATM with no verification.</p>

<p>Buying bitcoins with cash is also fast, as there is no verification to slow down the process.</p>

<h2>What are the disadvantages?</h2>
<p>It can be hard to <a href="/kb/buy-large-amounts-of-bitcoin/">buy large amounts of bitcoins</a> with cash, especially with cash deposit. </p>

<p>Bitcoin ATMs also have limits and some require verification if more than a certain amount is purchased.</p>	

</div>

</div>


<div class="row tip-row color-guide-text">
<div class="col-xs-12">
<br>
<h2>Pro Tip</h2>
<p>Do you want to buy larger amounts of bitcoins? Try <a href="/buy-bitcoin-bank-transfer-account/">buying with a bank account</a> and you'll save on fees, too.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">

<h2>Why do Local Bitcoins and Bitcoin ATMs have a higher price than other exchanges?</h2>

<p>The average buy price on Local Bitcoins and Bitcoin ATMs is usually 5-10% higher than the average global rate. </p>

<p>Unlike other exchanges, which require ID verification and personal information, Local Bitcoins and Bitcoin ATMs don't require any information like this. </p>

<p>The 5-10% premium on LocalBitcoins and at ATMs is simply the cost people are willing to pay for privacy when buying bitcoins.</p>

<h2>Is it risky giving up my ID in order to buy?</h2>
<p>It depends how much you trust the exchanges.</p>

<p>Just like any information you give up online, there is always the risk that it can be hacked or stolen from the website you give it to.</p>

<p>One thing that Bitcoin exchanges have going for them is that because they are constantly under attack, they have some of the best security and protections in place to protect against the hacking of your personal info. </p>

<p>There is always risk with anything related to information online.</p>

<p>Even <a href="http://thehackernews.com/2017/02/yahoo-hack.html">Yahoo was hacked</a> and information on 1 billion accounts was stolen.</p>

<h2>Should I leave my bitcoins on the exchange after I buy?</h2>
<p>We really recommend storing any bitcoins you want to keep safe in a wallet you own.</p>

<p>Many Bitcoin exchanges have been hacked and lost customer funds. If you don't want to fall victim to these hacks then the easiest way is to <a href="/wallets/">store your coins in a wallet you control</a>.</p>

<h2>Can you sell bitcoins?</h2>
<p>Out of the exchanges we listed, <a href="/exchanges/localbitcoins/">LocalBitcoins</a>, <a href="/exchanges/wall-of-coins/">Wall of Coins</a>, and <a href="/exchanges/bitquick/">BitQuick</a> all allow you to sell bitcoins for cash.</p>

</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">

<h3 id="tutorials" style="clear:both;" class="chapter-link">Chapter 4</h3>
<h2 class="chapter-name">Tutorials: How You Can Buy Bitcoins with Cash</h2>
<div class="nice-divider"></div>

<h2 id="coinatmradar">Buy Bitcoins with Cash from Bitcoin ATMs</h2>

<p>Bitcoin ATMs are another great way to purchase bitcoins with cash!</p> 

<p>Think of a Bitcoin ATM as a cash to Bitcoin converter.</p>

<p>While you may have to physically drive or walk to the ATM, once you reach the ATM you can buy bitcoins instantly. You’ll need to be lucky enough to have a Bitcoin ATM in your area.</p>

<p><a href="/bitcoin-atms/">Our Bitcoin ATM map helps you find locations</a> makes it easy to locate a Bitcoin ATM in your area.</p>

<p>You can do the following to check if there is a Bitcoin ATM near you:</p>

<h2>1. Go to <a target="_blank" href="/bitcoin-atms/">the Bitcoin ATM Map</a></h2>

<h2>2. Search by Location</h2>

<p>In the search box in the top left, type in the name of your country or city and click enter.</p>

<p><img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm1.png"></p>

<h2>3. Find an ATM</h2>

<p>Once you search, you’ll be taken to the location you entered on the map. If you see map pin markers, you’re in luck! That means there are Bitcoin ATMs in your area.</p>

<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm2.png">

<h2>4. Choose an ATM</h2>

<p>Click on one of the map markers for more details about a specific ATM. From there, you can also click on “Read More” at the bottom for even more details.</p>

<p><img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm3.png"></p>
<br>
<p>While Bitcoin ATMs make it easy to buy bitcoin with cash, there are some downsides:</p>

<p>Bitcoin ATMs generally sell bitcoins at a mark-up of 5-10%.</p>

<p>Before you buy bitcoin from an ATM, check the ATM’s price against a Bitcoin price index like <a href="https://bitcoinaverage.com/">Bitcoin Average</a> or the <a href="http://www.coindesk.com/price/">CoinDesk BPI</a>.</p>

<p>Also:</p>

<p>Some ATMs may require verification, like a picture of an ID or a finger print scan (although most don't).</p>

<h2>Buy Bitcoins with Cash at Wall of Coins</h2>

<p>Wall of Coins is a peer-to-peer cash exchange, currently available in the United States, Canada, Germany, Argentina, Latvia, Poland, and the Philippines.</p>

<!--

<p>You can use the widget below to buy with cash through Wall of Coins. Note that if you use an ad-blocker the widget will not work. The live chat in the widget is for Wall of Coins, and does not represent Buy Bitcoin Worldwide.</p>

<iframe frameborder="0"
    id="iframeCanvas"
    name="iframeCanvas"
    width="640"
    webkitallowfullscreen mozallowfullscreen oallowfullscreen
    msallowfullscrean allowfullscreen
    style="height: 512px;"
    src="https://wallofcoins.com/orders/?frame=1">
</iframe>

-->

<h2 id="libertyx">LibertyX Review</h2> 

<p>Now that you know a bit about LibertyX we'll show you how to use it. Once you've downloaded the app from the <a href="https://itunes.apple.com/us/app/libertyx-buy-bitcoin-instantly-at-nearby-stores/id966538981?mt=8">Apple App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.libertyx.libertyx&hl=en">Google Play Store</a>, open it and you should see a screen like this: </p>

<p><img class="img-responsive android-img-kb kb-helper" alt="libertyx review" src="/img/libertyx/1.png"></p>

<p>Enter the amount of bitcoins you want to buy and then press "NEXT". You should now see a screen with some options. If you want to find a store near you to buy then click "Find Store". Now you'll see a zoomed out map.</p> 

<p>Put in your location or allow the app to see your current location. You should then see a zoomed in map with pins displayed the many locations you can buy from:</p>

<p><img class="img-responsive android-img-kb kb-helper" alt="libertyx review" src="/img/libertyx/2.png"></p>

<p>Now tap on a pin and then tap "SELECT THIS LOCATION":</p>

<p><img class="img-responsive android-img-kb kb-helper" alt="libertyx review" src="/img/libertyx/3.png"></p>

<p>You will get more information on the location, like the store's hours, fees, phone number, and instructions for buying the coins:</p>

<p><img class="img-responsive android-img-kb kb-helper" alt="libertyx review" src="/img/libertyx/4.png"></p>

<p>In the next step you will need to login with Facebook or make an account: </p>

<p><img class="img-responsive android-img-kb kb-helper" alt="libertyx review" src="/img/libertyx/5.png"></p>

<p>Once you login you will also need to link your phone number.</p>

<p>Once you confirm your phone number you can get your LibertyX code that you show the store!</p>

<p>At the store you present the code to the cashier and pay for the amount of coins you want. The cashier will then print out another code that you enter into the LibertyX app. Once you enter the code from the cashier you receive bitcoins!</p>

<h2 id="local-trader">Trades Near You: Mycelium Local Trader</h2>	

<p>Mycelium Local Trader is part of the <a href="https://play.google.com/store/apps/details?id=com.mycelium.wallet">Mycelium Bitcoin Wallet</a> for Android.</p>

<p>If you live in a city, you're in luck:</p> 

<p>There may be a number of sellers in your area.</p>

<p>Make sure you meet in a public space. Going with a friend is best, too. There have been reports of scams and robberies, so just make sure you take precautions when buying.</p>

<p>Once you download the app, click <i>Buy/Sell</i>:</p>

<p><img class="img-responsive android-img-kb kb-helper" alt="local trader" src="/img/instantly/1.png"></p>

<p>Once you enter your location you should see a list of local sellers:</p>

<p><img class="img-responsive android-img-kb kb-helper" alt="local trader" src="/img/instantly/2.png"></p>

<p>Click on a seller for more info: </p>

<p><img class="img-responsive android-img-kb kb-helper" alt="local trader" src="/img/instantly/3.png"></p>

<p>Again, make sure you buy from sellers with good feedback! If you meet, meet in a public space and go with another person.</p>


</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="p2p-exchanges" class="chapter-link">Chapter 5</h3>
<h2 class="chapter-name">Peer-to-Peer Exchange Explanation</h2>
<div class="nice-divider"></div>

<p>The exchanges mentioned above (LocalBitcoins, Wall of Coins, and Bitquick) all work in almost the same way. </p>

<p>This section aims to provide more clarity on how a trade might work using one of these exchanges.</p>

<h2>Buying Bitcoins at Peer-to-Peer Exchanges</h2>

<p>Peer-to-peer (P2P) Bitcoin exchanges are a great way to get bitcoins with cash. A P2P trade usually works something like this:</p>

<ol>
<li>A buyer and seller use a site like <a href="/exchanges/localbitcoins/">LocalBitcoins</a> or <a href="/exchanges/wall-of-coins/">Wall of Coins</a> and agree on a price.</li>

<li>The seller’s bitcoins are held by the site (in this case <a href="/exchanges/localbitcoins/">LocalBitcoins</a> or <a href="/exchanges/wall-of-coins/">Wall of Coins</a>) and only released to the buyer upon confirmation of payment.</li>

<li>The buyer deposits cash into the seller’s bank account.</li>

<li>The seller confirms payment. Usually, the buyer sends the seller a receipt to prove that cash was deposited into the seller's account.</li>

<li>The site (LocalBitcoins or Wall of Coins) releases the bitcoins to the buyer.</li>

<li>The seller got cash, and the buyer got bitcoins. The trade is complete!</li>

</ol>

<p>The above was just an example!</p> 

<p>Through sites like LocalBitcoins you are free to agree on other payment methods besides cash deposit.</p>

<p>For example:</p> 
<p>You could arrange to meet in person and exchange cash for Bitcoin.</p>
<p>Yes, using LocalBitcoins you can even exchange that Starbucks gift card from Christmas a few years ago for bitcoins ;)</p>


<h2>Why Are Peer-to-Peer Exchanges Good?</h2>
<ul>
<li><b>No verification is required.</b> You don’t need to submit any personal details and there is no verification process that takes up time. </li>
<li><b>Cash payments are irreversible.</b> Once cash is in someone’s bank account, the buyer of bitcoin has no way to reverse the transaction. So the seller can feel confident that he received payment for bitcoins, and release the bitcoins to the buyer. </li>
</ul>

<h2>A Note on Exchange Rates</h2>

<p>Peer-to-peer Bitcoin exchanges offer a fast way to buy bitcoins.</p>

<p>However:</p> 

<p>Peer-to-peer exchange rates may be a bit higher than the global average Bitcoin exchange rate.</p>

<p>People are willing to pay more to buy bitcoins both more privately and faster. The markup is usually somewhere around 5-10% on <a href="http://buybitcoinww.co/local_bitcoins">LocalBitcoins</a>. Wall of Coins generally has rates close to market.</p>

<p>Check the against a Bitcoin price index like <a href="https://bitcoinaverage.com/">Bitcoin Average</a> or the <a href="http://www.coindesk.com/price/">CoinDesk BPI</a>.</p>
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Chapter 6</h3>
<h2 class="chapter-name">Theft, Scams, and Storage</h2>
<div class="nice-divider"></div>

<p>If you get one thing from this article let it be this:</p>

<p>Don't store your bitcoins on exchanges!!!</p>

<div class="quote-box">
<p>I've been buying bitcoins for more than three years. I've never lost any money to scams or thefts. Follow the guidelines in this article and you'll be able to do the same.</p>

<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<p>Here are two examples where users got screwed by leaving bitcoins on exchanges:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex hack where users lost $70 million</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Mt Gox where users lost $450 million or more</a></li>
</ul>

<p>And there are many more I could list.</p>

<p>If you're buying with cash from an ATM you won't have to worry about this, since ATMs always send bitcoins directly to a wallet or Bitcoin address.</p>

<p>If you're buying from BitQuick or LocalBitcoins:</p>

<p>Make sure to move the coins you bought to your own wallet right after you buy!</p>

<h2>Secure Your Coins: Get a Good Bitcoin Wallet</h2>

<p>Make sure you <a href="/wallets/">get yourself a Bitcoin wallet</a> that will securely store your bitcoins.</p>

<p>Besides storage, there are many scam exchanges out to steal your personal information and/or bitcoins.</p>

<p>Following these three basic principles should help you avoid theft, scams, and any other loss of funds:</p>

<ol>
<li><b>Do research before buying on any exchange.</b> Check reviews, ratings, and regulation information.</li>
<li><b>Don't store coins on the exchange.</b> Already mentioned above but worth repeating.</li>
</ol>

<h2>Secure Bitcoin Hardware Wallets:</h2>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>
