---
layout: color
lang: en
author: jordantuwiner
permalink: "/kb/buy-bitcoin-without-verification-id/"
seotitle: "5 Ways to Buy Bitcoins Without Verification or ID (2017)"
title: "How to Buy Bitcoin without Verification or ID"
desc: 5+ proven Bitcoin exchanges (plus reviews and guides) that make it easy to buy bitcoins with no verification and no ID.
color: yes
subtitle: With Cash or Credit Card
pagename: noid
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">


<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="buy bitcoin with no verification or id" src="/img/goodicons/question.png">
</div>

<div class="special-letters col-md-5">
<br><br>
<p>This guide will help you buy bitcoins with no verification or ID.</p>
<p>Get this:</p>
<p>You can do this with cash or a credit card.</p>
<p>We'll show you exactly how. Keep reading!</p>
</div>

</div>

<!--
<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapters</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#intro"><img src="/img/goodicons/doublecoin-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#intro">Chapter 1</a></div>
	<div class="chapter-title"><a href="#intro">Introduction</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#exchanges"><img src="/img/goodicons/exchange-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#exchanges">Chapter 2</a></div>
	<div class="chapter-title"><a href="#exchanges">Exchanges</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#tutorials"><img src="/img/goodicons/screen-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#tutorials">Chapter 3</a></div>
	<div class="chapter-title"><a href="#tutorials">Tutorials</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#frequently-asked-questions"><img src="/img/goodicons/question-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#frequently-asked-questions">Chapter 4</a></div>
	<div class="chapter-title"><a href="#frequently-asked-questions">FAQs</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#scam-warning"><img src="/img/goodicons/poker-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#scam-warning">Chapter 5</a></div>
	<div class="chapter-title"><a href="#scam-warning">Scam Warning</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-storage"><img src="/img/goodicons/shield-sm.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-storage">Chapter 6</a></div>
	<div class="chapter-title"><a href="#bitcoin-storage">Keeping Your Coins Safe</a></div>
</div>

</div>

-->

<div class="row grey-row color-guide-text">
<div class="col-xs-12">

<h3 id="intro" class="chapter-link">Chapter 1</h3>
<h2 class="chapter-name">Introduction</h2>
<div class="nice-divider"></div>
<p><img class="img-responsive halfimg-right" alt="buy bitcoin with no verification" src="/img/goodicons/cash.png"></p>
<p>We can both agree on one thing:</p>

<p>Buying bitcoins is REALLY confusing! </p>
<p>Or is it?</p>
<p>Luckily for you, the content below is going to make the process much easier for you! </p>
<p>In today's post, I'm going to show you exactly how to buy bitcoins with no ID or verification using a number of payment methods.</p>

<p>By the way:</p>

<p>You'll need a Bitcoin wallet before you buy since some exchanges require one.</p>

<p>If you don't have a wallet, <a href="/wallets/">read our guide on the best Bitcoin wallets</a>.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>We suggest using the exchanges listed below or doing research before buying from any exchange. </p>
<p>Many exchanges are simply trying to steal your credit card information!</p>
<p>We do research on every exchange we list and are very careful not to include <a target="_blank" href="/#avoid-scams">scam exchanges</a> on our site.</p>
</div>
</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="exchanges" class="chapter-link">Chapter 2</h3>
<h2 class="chapter-name">Buying Bitcoin with No ID: 7 of Your Exchange Options</h2>
<div class="nice-divider"></div>

<h2 id="buy-bitcoin-with-a-credit-card-with-no-verification" class="bold-header">CoinMama: Buy Bitcoins with Credit Card No Verification</h2>

<p>Want to buy bitcoins with a credit card and no verification?</p>

<p>CoinMama is your best option.</p>

<p>At <a target="_blank" href="http://buybitcoinww.co/CoinMama_Bitcoin">CoinMama</a>, you can buy bitcoins with a credit/debit card instantly and no verification for your first $150 worth of bitcoin purchases.</p> 

<p><img src="/img/coinmama/coinmamahome.png" alt="coinmama" class="img-responsive kb-helper" /></p>

<p>It is one of the only credit card brokers that allows purchases for any amount of bitcoin without ID verification. You may need to upload a selfie of you holding your credit card although most users won't need to. </p>

<p>Our step-by-step guide to using CoinMama will <a href="#coinmama-guide">walk you through the buying process</a>. </p>

<h2 class="bold-header">LocalBitcoins: Buy Your Coins Anywhere</h2>

<p><a href="/exchanges/localbitcoins/">LocalBitcoins</a> is a peer-to-peer market place, similar to eBay.</p>

<p><img class="img-responsive kb-helper" alt="localbitcoins" src="/img/instantly/lb.png"></p>

<p> Buyers and sellers create offers and must agree on a price and terms of a trade before a transaction can be made. It's possible to buy bitcoins with no ID on LocalBitcoins either by <a href="/en/buy-bitcoins-with-cash/">buying bitcoins with cash</a> deposit or meeting in person and trading cash. </p>

<p>LocalBitcoins is available anywhere where there is a willing seller. </p>

<h2 class="bold-header">BitQuick: Buy Your Coins with Cash</h2>

<p>Want to buy with cash?</p>

<p><a href="/en/buy-bitcoins-with-cash/#bitquick">BitQuick</a> facilitates the buying of bitcoin via cash deposit at thousands of banks across the US.</p>

<p><img src="/img/reviews/bitquick.png" alt="bitquick" class="img-responsive kb-helper" /></p>

<p>Users agree on a trade price, and the seller hands over bitcoins to BitQuick that then acts as escrow.</p>

<p>The buyer of bitcoin deposits cash into the bitcoin seller's bank account. Once the seller confirms payment, BitQuick releases the bitcoins to the buyer. </p>

<p>You can also <a href="/exchanges/bitquick/">check out our BitQuick review</a>.

<h2 class="bold-header">Wall of Coins: Only SMS Verification Required</h2>

<p><img class="img-responsive kb-helper" alt="wall of coins" src="/img/reviews/woc.png"></p>

<p><a href="/exchanges/wall-of-coins/">Wall of Coins</a> is a peer-to-peer cash exchange, currently available in the United States, Canada, Germany, Argentina, Latvia, Poland, and the Philippines.</p>

<p>A phone number is required for use, but not for verification purposes. No ID is required.</p> 

<h2 class="bold-header">Bitit.gift</h2>

<p>Bitit allows users to buy bitcoin online with a 3D Secure credit or debit card in 10 minutes and with cash in more than 150K+ Local Stores using Neosurf, Flexepin or Cashlib vouchers. </p>

<p>Your first 25 euros worth can be purchased without ID. Read our <a href="/exchanges/bitit/">Bitit review</a>.</p>

<h2 class="bold-header">Bitcoin ATMs: Do You Have One Near You?</h2>

<p>Bitcoin ATMs are similar to regular ATMs, but instead of spitting out local currency, like dollars or euro, Bitcoin ATMs deliver bitcoins to your wallet upon the insertion of cash.</p>

<p><img class="img-responsive kb-helper" alt="bitcoin atm no id" src="/img/reviews/lamassu.png"></p>

<p>There are different types of Bitcoin ATMs made by a variety of companies. Most, however, require no verification whatsoever.</p> 

<p>How can you know if there is a Bitcoin ATM near you?</p>

<p>We have a Bitcoin ATM map that will show you how to <a href="/bitcoin-atms/">find a Bitcoin ATM near you</a>.</p>

<p><img class="img-responsive kb-helper" alt="bitcoin atm no id" src="/img/reviews/atmmap.png"></p>

<p>Before buying from an ATM, know this:</p>

<p>Bitcoin ATMs are private, but there are some downsides. Bitcoin ATMs generally sell bitcoins at a mark-up of 5-10%.</p> 

<p>This markup is the price people are willing to pay for the privacy that Bitcoin ATMs provide. </p>

<p>Before you buy bitcoin from an ATM, check the ATM’s price against a Bitcoin price index like <a target="_blank" href="https://bitcoinaverage.com/">Bitcoin Average</a> or the <a target="_blank" href="http://www.coindesk.com/price/">CoinDesk BPI</a>.</p>

<ul id="markdown-toc"> 
	<li><a href="#intro">Introduction</a></li> 
	<li><a href="#exchanges">No Verification or ID Exchanges</a></li> 
	<li><a href="#buy-bitcoin-with-a-credit-card-with-no-verification">Buy Bitcoin with Credit Card No Verification</a></li> 
    <li><a href="#find-bitcoin-atm">Bitcoin ATMs</a></li> 
	<li><a href="#frequently-asked-questions">Frequently Asked Questions</a></li> 
	<li><a href="#scam-warning">Scam Warning</a></li> 
</ul>

<h2 class="bold-header">Bitcoin Exchanges without Verification</h2>

<p>Want to trade bitcoins?</p>

<p>At <a href="/exchanges/#bitfinex-review">BitFinex</a> you can start trading without verification if you only deposit cryptocurrency.</p> 

<h2 class="bold-header">ShapeShift</h2>

<p>Using <a href="#shapeshift">ShapeShift</a> you can buy bitcoins with no ID, but that is because you need to buy altcoins or another digital token before buying. If you already have a token like Litecoin or Ethereum then you can buy bitcoins in seconds with no verification. No account required.  </p>

<h3 id="tutorials" style="clear:both;" class="chapter-link">Chapter 3</h3>
<h2 class="chapter-name">Tutorials: Buy Bitcoin in Less than 20 Minutes</h2>
<div class="nice-divider"></div>

<h2 class="bold-header" id="coinmama-guide">CoinMama Buying Tutorial (Credit Card/Debit Card)</h2>

<p>CoinMama (<a href="/exchanges/coinmama/">CoinMama review</a>) is the only credit card exchange we know of that does not require you to upload a picture of your ID. You can buy less than $150 worth of coins without the ID verification. </p>

</div>

</div>


<div class="row tip-row color-guide-text">
<div class="col-xs-12">
<br>
<h2>Pro Tip</h2>
<p>You will need a Bitcoin wallet BEFORE you can buy bitcoins at CoinMama. This is because CoinMama sends the coins directly to your wallet. </p>
<p>You can read through our <a target="_blank" href="/wallets/">Bitcoin wallet guide</a> to find a wallet.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<br>

<p>Here are step-by-step instructions to make buying with no verification easier for you. </p>

<h2 class="bold-header">1. <a target="_blank" href="http://buybitcoinww.co/CoinMama_Bitcoin">Open an Account</a> on CoinMama </h2> 

<p>Once you create your account and verify your email address, you can begin following the steps below:</p>

<h2 class="bold-header">2. Login to Your Account</h2> 

<p>Once you login, go to "My Account" in the top navigation bar and you should see a page like this:</p>

<p><img src="/img/coinmama/1.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<p>Enter all of your personal details in the fields above and save them.</p>

<h2 class="bold-header">3. Click "Buy Bitcoins" in the Navigation Bar at the top</h2> 

<p>You should now be brought to a page that lets you choose how many bitcoins you want to buy. You can choose one of the set amounts-0.5, 1, 1.2, or 2 bitcoins-or scroll down a bit more to select your own amount.</p>

<p>The field to select your own amount looks like this: </p> 

<p><img src="/img/coinmama/2.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<p>Once you've chosen your amount click the green "Buy Bitcoins" button to advance.</p>

<h2 class="bold-header">4. Select Credit/Debit Card as payment method</h2> 

<p></p> 

<p><img src="/img/coinmama/3.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<h2 class="bold-header">5. Enter your Bitcoin Wallet Address</h2> 

<p>This is the address where the bitcoins you're buying will be delivered to once your payment is confirmed. Paste your address into the empty field.</p>


<p><img src="/img/coinmama/4.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<h2 class="bold-header">6. Enter your Billing Information and Address</h2> 

<p></p> 

<p><img src="/img/coinmama/5.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<h2 class="bold-header">7. Enter your Credit or Debit Card Information</h2> 

<p></p> 

<p><img src="/img/coinmama/6.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<h2 class="bold-header">8. Verify Your Phone Number and Email</h2> 

<p>You'll receive a 4-digit SMS pin and an email confirmation. Once you've confirmed these forms of contact, you should see this:</p> 

<p><img src="/img/coinmama/7.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<h2 class="bold-header">9. Upload ID Verification</h2> 

<p><b>Most people will not need to upload a selfie. Just skip step 8 if CoinMama does not request this from you.</b></p>

<p>You'll need to upload a selfie with you holding your credit card towards the camera. Make sure your name, expiration date, and the first four and last four numbers on the card are visible.</p> 

<p><img src="/img/coinmama/8.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<h2 class="bold-header">10. Wait for Verification</h2> 

<p>CoinMama needs to verify that your credit card payment went through successfully.</p> 

<p><img src="/img/coinmama/9.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<h2 class="bold-header">11. Confirmation Email</h2> 

<p>If your credit card payment went through, you should receive an email that looks like this:</p> 

<p><img src="/img/coinmama/10.png" alt="coinbase" class="img-responsive kb-helper" /></p>

<p>Long process, yes! </p>

<p>But that's it. Wait 20-30 minutes for the bitcoins to arrive in the address you provided in step four.</p>

<h2 id="find-bitcoin-atm" class="bold-header">How to Buy From a Bitcoin ATM Near You with Coin ATM Radar</h2>

<h2 class="bold-header">1. Go to the <a target="_blank" href="/bitcoin-atms/">Bitcoin ATM Map</a></h2>

</div>

</div>


<div class="row tip-row color-guide-text">
<div class="col-xs-12">
<br>
<h2>Pro Tip</h2>
<p>You will need a Bitcoin wallet BEFORE you can buy bitcoins at any ATM. This is because Bitcoin ATMs send the coins directly to your Bitcoin address. </p>
<p>You can read through our <a target="_blank" href="/wallets/">Bitcoin wallet guide</a> to find a wallet.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">

<h2 class="bold-header">2. Search by Location</h2>

<p>In the search box in the top left, type in the name of your country or city and click enter.</p>

<p><img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm1.png"></p>

<h2 class="bold-header">3. Find an ATM</h2>

<p>Once you search, you’ll be taken to the location you entered on the map. If you see map pin markers, you’re in luck! That means there are Bitcoin ATMs in your area.</p>

<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm2.png">

<h2 class="bold-header">4. Choose an ATM</h2>

<p>Click on one of the map markers for more details about a specific ATM. From there, you can also click on “Read More” at the bottom for even more details.</p>

<p><img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm3.png"></p>

<h2 id="shapeshift" class="bold-header">How to Use ShapeShift</h2>
<p>Remember:</p>
<p>With Shapeshift you need to have some other digital token in order to trade it for bitcoins.</p>

<p>We like ShapeShift because it never holds your coins and only makes a "swap". So there is no need to create an account or give ShapeShift any personal information.</p>

<p>To use it, go to <a target="_blank" href="https://shapeshift.io/#/coins">Shapeshift.io</a>. You should then see a box on the right side where you can choose the coins for your trade:</p>

<p><img class="img-responsive kb-helper" alt="buy bitcoin with no id" src="/img/noid/1.png"></p>

<p>In this case ShapeShift auto-set the trade to be Bitcoin for Ether. But who's buying Ether? We want bitcoins!</p>

<p>Click on one of the coins and then you can select the coins you want to deposit and receive. The selection looks like this:</p>

<p><img class="img-responsive kb-helper" alt="buy bitcoin with no id" src="/img/noid/2.png"></p>

<p>In our case we have decided to trade some litecoins for bitcoins. So the screen on the main page should now look like this (with Litecoin under "Deposit" and Bitcoin under "Receive"):</p>

<p><img class="img-responsive kb-helper" alt="buy bitcoin with no id" src="/img/noid/3.png"></p>

<p>So click "Continue" to proceed and you will see a screen like this:</p>

<p><img class="img-responsive kb-helper" alt="buy bitcoin with no id" src="/img/noid/4.png"></p>

<p>On the screen above you must enter the Bitcoin address that will receive the coins, along with the Litecoin refund address (in case there is a problem with the transaction).</p>

<p>Once you enter both address click "Start Transaction". You will now see a screen like this:</p>

<p><img class="img-responsive kb-helper" alt="buy bitcoin with no id" src="/img/noid/5.png"></p>

<p>Now just send litecoins (or whatever coin you are trading) to the address displayed. You can send any amount since in the previous step we already agreed to the Litecoin/Bitcoin exchange rate. Also, notice the max and minimum amounts! </p>

<p>Once you send the litecoins you should see your newly purchased bitcoins in your wallet within a few minutes. Yes, using ShapeShift is that easy! </p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="frequently-asked-questions" class="chapter-link">Chapter 4</h3>
<h2 class="chapter-name">Frequently Asked Questions</h2>
<div class="nice-divider"></div>

<div class="quote-box">
<p>If you're still a bit confused, that's okay. Buying bitcoins is hard and that's why I built this site.</p><p>I hope the following FAQ section will answer any of your remaining questions.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h3 class="wallet-type-hot-1">Why would I want to buy bitcoins with no verification?</h3>
<p>The verification process for buying on some exchanges can take days to complete. This makes buying bitcoins fast hard.</p>

</div>

</div>


<div class="row tip-row color-guide-text">
<div class="col-xs-12">
<br>
<h2>Pro Tip</h2>
<p>Do you want to buy larger amounts of bitcoins? Try <a href="/buy-bitcoin-bank-transfer-account/">buying with a bank account</a> and you'll save on fees.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">

<h3 class="wallet-type-hot-1">Why do some people not want to buy if there is a need to upload an ID scan?</h3>
<p>It depends how much you trust the exchanges. Just like any information you give up online, there is always the risk that it can be hacked or stolen from the website you give it to.</p>

<p>Even <a href="https://www.cnet.com/news/yahoo-500-million-accounts-hacked-data-breach/">Yahoo was hacked</a> and information on 400 million accounts was stolen.</p>

<p><a href="http://www.coindesk.com/bitcoin-trading-platform-bitquick-taken-offline-after-server-attack/">BitQuick was hacked</a>, although it claims no customer information was stolen. Still, there is always a risk with any exchange that collects your personal information.</p>

</div>

</div>

<div class="row tip-row color-guide-text">
<div class="col-xs-12">
<br>
<h2>recommendation</h2>
<p>Don't care about buying with or without verification? You can be <a href="/en/buy-bitcoin-credit-debit-card/">buying bitcoins within minutes with a credit card</a>.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">

<h3 class="wallet-type-hot-1">Should I leave my bitcoins on the exchange after I buy?</h3>
<p>We really recommend storing any bitcoins you want to keep safe in a wallet you own. Many Bitcoin exchanges have been hacked and lost customer funds. If you don't want to fall victim to these hacks then the easiest way is to <a href="/wallets/">store your coins in a wallet you control</a>.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="scam-warning" class="chapter-link">Chapter 5</h3>
<h2 class="chapter-name">Scam Warning</h2>
<div class="nice-divider"></div>

<p>Here's a headline that was posted on reddit in February 2017:</p>

<p><img class="img-responsive kb-helper" alt="localbitcoins scam" src="/img/reviews/scamlb.png"></p>

<p>On the same post, here's what another <a href="https://www.reddit.com/r/Bitcoin/comments/5us3e0/a_guy_and_his_girlfriend_rob_me_and_assaulted_me/ddwgewd/?utm_content=permalink&utm_medium=front&utm_source=reddit&utm_name=Bitcoin">commenter wrote</a>:</p>

<div class="quote-box">
<p>Similar thing happened to me in Perth, Western Australia. Dude pulled a knife in a cafe and demanded my phone and to withdrawal all my bitcoins to him. The cafe owner saw this and called the police, who arrived in 2 minutes as he was going through my phone for bitcoin apps.</p>
<p>The guy apparently had a history of violent offenses and recently got sentenced for 4 years.</p>
</div>

<p>This is not meant to scare you.</p>

<p>These are extreme cases and most trades go through with no issue. These warnings are aimed at people making in-person cash trades.</p>

<p>It is simply a reminder to use common sense. You should always meet for your trades in a public place and even bring a friend or two.</p>
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-storage" class="chapter-link">Chapter 6</h3>
<h2 class="chapter-name">Bitcoin Storage</h2>
<div class="nice-divider"></div>

<p>Once you buy bitcoins, understand this: </p>

<p>Do NOT store your bitcoins on exchanges!!!</p>

<div class="quote-box">
<p>I've been buying bitcoins for more than three years. I've never lost any money to scams or thefts. Follow the guidelines in this article and you'll be able to do the same.</p>

<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<p>Here are two examples where users got screwed by leaving bitcoins with a third party:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex hack where users lost $70 million</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Mt Gox where users lost $450 million or more</a></li>
</ul>

<p>And there are many more I could list.</p>

<p>Make sure you <a href="/wallets/">get yourself a Bitcoin wallet</a> that will securely store your bitcoins.</p>

<p>Following these basic principles should help you avoid theft, scams, and any other loss of funds:</p>

<ol>
<li><b>Do research before buying on any exchange.</b> Check reviews, ratings, and regulation information.</li>
<li><b>Don't store coins on the exchange.</b> Already mentioned above but worth repeating.</li>
</ol>



<h2>The wallets below are great options for storing your bitcoins securely:</h2>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>