---
layout: color
permalink: "/exchanges/"
title: Bitcoin Exchange Reviews 
lang: en
seotitle: "15 Best Bitcoin Exchange Reviews (and Guides) 2017"
hide_sidebar: true
color: yes
---
<div class="post-content color-wrap wallets-index exchange-reviews centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
</div>
</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12 post-content">

<br><br>
<p class="browse-wallets-info">Use this Bitcoin exchange list to <a href="/">find a Bitcoin exchange</a> for you. Each user has unique needs, so there is no one size fits all for exchanges.</p>

<p>Our Bitcoin exchange reviews detail each exchange's supported countries, payment methods accepted, fees, privacy, limits, liquidity, reputation, speed (delivery of bitcoin), customer support, and any past issues.</p>

<p>This list is not yet complete. If you simply want to find a Bitcoin exchange in your country, and don't need reviews, use our <a href="/">find exchange tool</a>.</p>
	
<h2>Popular Bitcoin Exchanges</h2>			
	{% assign pages = site.exchanges | sort:"weight"  %}
    {% for exchange in pages reversed %}
	{% if exchange.cat contains 'popular' %}
	{% include exchange-list.html %}
	{% endif %} 
	{% endfor %} 	                 
                   
<h2>USA</h2>			
<p>The above exchanges all work in the USA, but the exchanges  listed below only work in the USA.</p>
	{% assign pages = site.exchanges | sort:"weight"  %}
    {% for exchange in pages reversed %}
	{% if exchange.cat contains 'us' %}
	{% include exchange-list.html %}
	{% endif %}
	{% endfor %}

<h2>Bitcoin Exchanges in Europe</h2>			
	{% assign pages = site.exchanges | sort:"weight"  %}
    {% for exchange in pages reversed %}
	{% if exchange.cat contains 'eu' %}
	{% include exchange-list.html %}
	{% endif %}
	{% endfor %}

<h2>More Exchange Reviews</h2>
<p>While we don't have a dedicated page for every exchange, the section below will give you more details on other popular exchanges</p>

<h2 id="gemini">Gemini Review</h2>
<p><a href="https://gemini.com/">Gemini</a> is a Bitcoin exchange run by the <a href="https://en.wikipedia.org/wiki/Winklevoss_twins">Winklevoss twins</a>.</p>

<p>It's a licensed Bitcoin exchange and operates in 42 US states and many other countries (check <a href="https://gemini.com/areas-of-operation/">here for full list</a> of supported districts): </p>

<p><img style="max-width: 700px !important;" class="img-responsive kb-helper" alt="gemini review" src="/img/kb/gemini.png"></p>

<p>Once you create an account on the exchange you will need to setup 2-factor authentication, verify your bank account, and verify your identity. Once you do all of that you can get started with the exchange.</p>

<p>Gemini's interface can be confusing for first time buyers, which is why we usually recommend <a href="http://buybitcoinww.co/Coinbase_Buy">Coinbase</a> to new buyers. Have a look at the trading interface below:</p>

<p><img style="max-width: 700px !important;" class="img-responsive kb-helper" alt="gemini review" src="/img/kb/gemini2.png"></p>

<p>If you can get past understanding how to use Gemini it is a unique exchange. Some of its great features include:</p>
                                   
<h3>Instant Deposit for ACH Transfers</h3>
<p>At most exchanges, when you <a href="/buy-bitcoin-bank-transfer-account/">deposit via bank transfer</a> you have to wait 1-7 days for the bank transfer to complete. Gemini understands this is frustrating and time consuming.</p>

<p>Luckily for US users, you can make instant ACH deposits to Gemini. This means you can buy bitcoins super fast. You will have the bitcoins you bought locked into your account until your ACH deposit clears, but at least this way you were able to buy bitcoin fast and lock in the price you wanted!</p>

<h2 id="kraken">Kraken Review</h2>

<p><img src="/img/large/kraken.png" alt="kraken" class="img-responsive kb-helper" /></p>

<p>If you live in Europe, don't worry! </p>

<p><a target="_blank" href="https://www.kraken.com/">Kraken</a> is a global Bitcoin exchange and supports European residents along with residents of the <a href="/united-states/">United States</a>, <a href="/canada/">Canada</a>, and <a href="/japan/">Japan</a>.</p>

<p>Kraken offers excellent liquidity as its average daily volume is around 10-12 million euros. So if you want to <a href="/kb/buy-large-amounts-of-bitcoin/">buy large amounts of bitcoins</a>, Kraken is a good option.</p>

<h3>Verification</h3>

<p>Like all regulated exchanges, you will have to verify your identity and personal details before buying.</p>

<p>Here are Kraken's limits based on your verification level:</p>

<p><img src="/img/kb/krakenlimits.png" alt="kraken review" class="img-responsive kb-helper" /></p>

<p>So in order to deposit money and buy bitcoins, you will need to verify your:</p>

<ul>
 <li>Full name</li>
 <li>Date of birth</li>
 <li>Country of residence</li>
 <li>Phone number</li>
 <li>Address verification</li>
</ul>

<p>There are further verification levels, but most people will only need Tier 2 to buy bitcoins.</p> 

<h3>User and Trading Interface</h3>

<p>Like other exchanges geared towards traders, its interface can be quite confusing. Kraken, however, has aimed to make things easier for first-time buyers and its "Simple" order form is pretty easy to use:</p>

<p><img style="max-width: 700px !important;" class="img-responsive kb-helper" alt="kraken review" src="/img/kb/ksimple.png"></p>

<h3>Fees</h3>

<p><a target="_blank" href="https://www.kraken.com/help/fees">Kraken's fees</a> are quite confusing. So to keep it simple we will summarize: </p>

<p>If you are buying less than $50,000 of bitcoins per month expect to pay between 0.16-0.26% in fees per buy.</p>

<p>If you use the "Simple" order form is displayed above you will pay 0.26%. If you want to learn how to use Kraken's advanced order types you can pay just 0.16% if you become a "market maker".</p>

<h2 id="bitstamp">Bitstamp Review</h2>

<p><img src="/img/large/bitstamp.png" alt="bitstamp" class="img-responsive kb-helper" /></p>

<p><a target="_blank" href="https://www.bitstamp.net/">Bitstamp</a> is one of the longer running Bitcoin exchanges. It has been around since 2011 and is a <a href="https://www.bitstamp.net/payment-institution-license/">licensed exchange</a> with the Luxembourg's Ministry of Finance</a>

<p>It is a good option for traders and those buying large amounts of bitcoins.</p>

<h3>Verification</h3>

<p><img class="img-responsive kb-helper" alt="bitstamp review" src="/img/kb/stampv.png"></p>

<p>Bitstamp requires extensive verification including the following information:</p>

<ul>
 <li>Full name</li>
 <li>Date of birth</li>
 <li>Country of residence</li>
 <li>Phone number</li>
 <li>Address verification</li>
 <li>ID number and scan of photo ID document</li>
</ul>

<h3>Fees</h3>

<p>Because Bitstamp is geared towards traders, it also has <a href="https://www.bitstamp.net/fee_schedule/">confusing fees</a> if you use the exchange. The fees you pay depend on your total volume. Unless you trade high volumes, you will likely pay 0.25% per buy. </p>

<p>If you buy bitcoins on Bitstamp with your credit card then the fees will be 8% for purchases up to $500 or €500. There are other exchanges that offer lower fees for <a href="https://www.buybitcoinworldwide.com/en/buy-bitcoin-credit-debit-card/">buying bitcoins with a credit card or debit card</a>. </p>

<h2 id="bitfinex-review">Bitfinex Review</h2>

<p><a target="_blank" href="http://buybitcoinww.co/bitfinex_exchange">Bitfinex</a> is a popular exchange because in terms of USD trading volume it has the most liquidity. It currently owns about a 10% share of the USD trading market.</p>

<p>Because of its confusing interface, it's probably only a good choice for traders who really know what they are doing. Here is what the main trading interface looks like:</p>

<p><img src="/img/kb/bitfinex.png" alt="bitfinex review" class="img-responsive kb-helper" /></p>

<p>Despite getting hacked and losing $70 million or more in customer funds, Bitfinex remains a popular option for serious traders. Still, <a href="http://www.coindesk.com/bitfinex-hack-still-scaring-bitcoin-traders/">the hack is scaring</a> <i>some</i> people away.</p>

<p>In the chart below, the orange portion of the bars represent Bitfinex's share of USD volume:</p>

<p><img src="/img/kb/finexshare.png" alt="bitfinex share" class="img-responsive kb-helper" /></p>

<h3>Verification</h3>

<p>One thing that has made Bitfinex popular is that if you only make a deposit with cryptocurrency <a href="/kb/buy-bitcoin-without-verification-id/">no verification is required</a>. If you want to deposit dollars or euro then you WILL have to verify your ID.</p>

<h3>Fees</h3>

<p>Btifinex offers very low fees even for low volume buyers, at 0.1% per buy for market makers and 0.2% per buy for market takers.</p>

<h2 id="indian-bitcoin-exchange-reviews">For Residents of India: Best Bitcoin Exchange Reviews</h2>

<p>The following section reviews and shows you how to use the top three Indian Bitcoin exchanges.</p>

<h2 id="unocoin-review">Unocoin Review</h2>

<p>
Firstly you need to login to    <a href="https://www.unocoin.com">https://www.unocoin.com</a> , then you
    need to enter the existing email id and password of your choice followed by
    clicking on the SIGN UP option to create an account.
</p>

<p><img src="/img/india/image1.png" /></p>

<p>
    After clicking on the SIGN UP option, you get this dialogue box stating
    that the Registration Process is in progress after which unocoin will send
    you an activation link on your registered email id. You have to login to
    your email id and click on the link to activate the account.
</p>

<p><img src="/img/india/image2.png" /></p>

<p>
    After clicking on the link, a new tab will open up in which the terms of
    use will be written, you need to read it carefully and click on ‘I Accept’
    after which a pop up will appear stating that the Registration has been
    completed successfully.
</p>

<p><img src="/img/india/image3.png" /></p>

<p>
    Now you need to login with your email id and password used at the time of
    sign up.
</p>

<p><img src="/img/india/image4.png" /></p>

<p>
    After Logging in you will see this page, if you look at it carefully you
    will observe that in the status bar it shows that your account is
    unverified. In order to verify your account, you need to upload your id
    proof and bank account details, so now you will click on EDIT PROFILE
</p>

<p><img src="/img/india/image5.png" /></p>

<p>
    After clicking on the Edit Profile option, a new page will open up in which
    you have to enter all your details such as Name on account, Account Number,
    IFSC code, Mobile Number, Full Address as mentioned on your ID proof,
    State, City, Pin Code etc. After filling in all your details, click next.
</p>

<p>
    Following are the Guidelines for Document which you have to upload after
    clicking next.
</p>

<p><img src="/img/india/image6.png" /></p>
<p><img src="/img/india/image7.png" /></p>
<p><img src="/img/india/image8.png" /></p>
<p><img src="/img/india/image9.png" /></p>
<p><img src="/img/india/image10.png" /></p>

<p>
    Here you need to upload the document for verification and then click next
</p>

<p><img src="/img/india/image11.png" /></p>

<p>
    After clicking on next, you will be shown your profile information, you
    need to check the details and click on ‘Save Document’ button present at
    the bottom right corner.
</p>

<p><img src="/img/india/image12.png" /></p>

<p>
    After that you will be redirected to the same page where you had to enter
    all your details as unocoin needs time to verify your details and document
    and to make your status verified. So now you need to wait for the
    intimation or status to change from unverified to verified to buy and sell
    bitcoin.
</p>

<p><img src="/img/india/image13.png" /></p>

<p>
    For buying bitcoin, firstly user needs to deposit money into unocoin wallet
    and for doing so we need to Make NEFT/IMPS/RTGS in there respected bank
    account. Minimum amount to deposit is 1000 INR which is approximately $15.
</p>

<p>
    To do any of these bank transfers user needs to have his/her bank account
    linked with a Cell phone, as prior to initiating the transfer bank will
    send OTP (One Time Password) which is required to be entered for the
    transaction to go through. To maintain security this OTP is valid only for
    a few minutes and if transaction does not go through in stipulated time,
    there will be a timeout and user will have to generate a new OTP to
    initiate the transfer.
</p>

<p>You will get the bank information at this stage where you can <a href="/buy-bitcoin-bank-transfer-account/">send your bank wire/deposit</a>.</p>

<p>
    After the money is deposited in their account user must contact their
    customer service number and provide details of the transaction and then
    money is added to your wallet on their website. Once that is done then user
    can start process of buying and selling bitcoins.
</p>

<h2 id="coinsecure-review">Coinsecure Review and User Guide</h2>

<p>
Firstly you need to open    <a href="https://www.coinsecure.in">https://www.coinsecure.in</a> , you
    will get this page and if you see there is a SIGN UP option on the bottom
    left side, you have to click on it.
</p>

<p><img src="/img/india/image14.png" /></p>

<p>
    After Clicking on the Sign Up option you will get a form in which you need
    to enter your new username, new password, repeat password, existing email
    id and tick mark on accept terms and then click on arrow sign in orange
    color to proceed further
</p>

<p><img src="/img/india/image15.png" /></p>


<p>
    As soon as you click on the arrow sign in orange circle you will get 2
    pop-up on the same page one saying to SIGN UP and the second saying to
    click on the link send to your email account to verify your email id for
    signup.
</p>

<p><img src="/img/india/image16.png" /></p>

<p>
    Now you need to open you email account and click on the link you received,
    a new tab will open up and show you an option to sign in with your user id
    and password used at the time of sign up. As soon as you enter the username
    and password and click login, you will see this type of dashboard in front
    of your screen. Here you have to complete your KYC (Know Your Customer) and
    Bank information to start buying and selling Bitcoin. Now you will see the
    following line “Would you like to complete your KYC &amp; Bank Link? “ ,
    below it click on the start button to proceed.
</p>

<p><img src="/img/india/image17.png" /></p>

<p>
    After clicking on the start button, a new screen will appear in which you
    will be asked to enter your Full Name, Nick Name, Account Number, IFSC code
    &amp; Phone Number. After entering all thedetails you need to click on SEND
    NEW SMS CODE.
</p>

<p><img src="/img/india/image18.png" /></p>

<p>
    After clicking SEND NEW SMS CODE button you will receive an OTP (One Time
    Password) on your registered mobile number mentioned in the above details.
    You need to enter OTP and click on SUBMIT.
</p>

<p><img src="/img/india/image19.png" /></p>

<p>
    After clicking on Submit, a Welcome page will open up and on the right side
    a dialogue box will appear stating success and below which it will be
    mentioned that we will mail you with the status as soon as we complete the
    verification.
</p>

<p><img src="/img/india/image20.png" /></p>

<p>
    Now you need to go to your dashboard, here you will see that you have
    received a message stating that your data has been uploaded for
    verification and below that with a star mark it is written “ This can take
    upto 48 hours to complete “.
</p>

<p><img src="/img/india/image21.png" /></p>

<p>
    After your verification is completed, on your dashboard you will see 2
    dialogue box one to buy bitcoin and another for selling bitcoin at the
    current rate. Here you need to enter the quantity in any of the box
    depending whether you want to buy or sell and then click buy or sell.
</p>

<p><img src="/img/india/image22.png" /></p>

<p>
    User needs to deposit INR into any of their bank accounts mentioned below
    through bank transfers like: RTGS (Real Time Gross Settlement) /IMPS
    (Intermediary Payment System) / NEFT (National Electronic Fund Transfer)
</p>
<p>
    To do any of these bank transfers user needs to have his/her bank account
    linked with a Cell phone, as prior to initiating the transfer bank will
    send OTP (One Time Password) which is required to be entered for the
    transaction to go through. To maintain security this OTP is valid only for
    a few minutes and if transaction does not go through in stipulated time,
    there will be a timeout and user will have to generate a new OTP to
    initiate the transfer.
</p>

<p>You will receive Coinsecure's bank information at this stage. You can send your deposit via NEFT / RTGS / IMPS.</p>

<p>
    User receives a Transaction ID after deposit INR via NEFT / RTGS / IMPS.
    User will have to fill the details (like Transacton ID and Amount
    Deposited) into his Coinsecure account by going through the following:
</p>
<p>
    'Bank' &gt; 'Fiat Currency Balance' &gt; 'Deposit'. (This is a one-time
    process). After depositing money the amount will be reflected in our
    coinsecure account and then only we can buy or sell bitcoins.
</p>

<h2 id="zebpay-review">Zebpay Review</h2>

<p>
    Here in Zebpay site you need to download the application to trade the
    bitcoin because Zebpay does not support without application.
</p>

<p><img src="/img/india/image24.png" /></p>

<p>
    You need to download the android or the IOS application in your phone.
</p>

<p>
    After successfully Downloading the App in your phone, you need to open the
    app where you will be shown to enter your country code with your mobile
    number and click on verify button.
</p>
<p><img class="img-responsive android-img-kb kb-helper" src="/img/india/image25.png" /></p>


<p>
    After clicking on verify, you will be shown the next screen where you have
    to enter the 6 digit verification code which you must received on your
    mobile number as mentioned above, then click on verify.
</p>
<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image26.png" /></p>


<p>
    After clicking on verify, you will be shown this screen and below that you
    will see that there is a button as ‘setup account pin’, click on that.
</p>
<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image27.png" /></p>

<p>
    After clicking on Setup account pin, a screen will appear in which you have
    to enter 4 digit pin of your own choice.
</p>

<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image28.png" /></p>

<p>
    After that you will get a page to re-enter the same pin again, if the pin
    matches with the earlier one, then it will ask for your permission to
    whether to allow zebpay to access your contact or not, click ok.
</p>

<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image29.png" /></p>


<p>
    After clicking on ok you will get a page to enter details such as Name,
    Email ID and currency format, fill in the details and click on save.
</p>

<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image30.png" /></p>


<p>
    After clicking the save button, a page opens up which shows the current
    buying and selling bitcoin price with status activities of the user.
</p>


<p><img  class="img-responsive android-img-kb kb-helper" src="/img/india/image31.png" /></p>



<p>
    At the top right corner you will notice three small lines indicating a
    menu, click on it and you will see that the third option is for
    verification, you need to click on verification to complete your identity
    verification and bank account verification.
</p>


<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image32.png" /></p>



<p>
    As you can see above, there are two tabs, one is for id card and the second
    is for bank account details. You need to upload your pan and enter details
    such as full name, Pan card number, DOB, Sex and then click next and it
    will show a status bar of uploading after that you need to go to second tab
    where you need to fill bank account details such as IFSC code, Bank Name,
    Account Holder Name, Account Number &amp; Confirm Account Number. After
    that you need to click on submit button.
</p>


<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image33.png" /></p>


<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image34.png" /></p>



<p>
    After that you will receive a message stating that documents have been
    submitted successfully and it may take upto 3 working days to review it.
</p>


<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image35.png" /></p>



<p>
    After account verification we need to go to home page of the app and below
    you will see a plus button, we need to click on that, a menu appears and we
    need to click on the second menu option which says buy/sell bitcoins.
</p>


<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image36.png" /></p>



<p>
    After clicking on that option a buy page opens up where you need to enter
    the amount to buy
</p>

<p>
    To Buy or Sell Bitcoin first user needs to deposit money in INR in his/her
    Zebpay account. For this you need to home page of the app and below you
    will see a plus button, we need to click on that, a menu appears and we
    need to click on the second menu option which says buy/sell bitcoins. After
    clicking on that option a buy page opens on right side and where it is
    written ‘Deposit’ you need to click that. After Clicking Deposit a new page
    will open you need to enter the amount you want to deposit and secondly
    need to choose your bank to pay.
</p>

<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image37.png" /></p>



<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image38.png" /></p>



<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image39.png" /></p>



<p><img class="img-responsive android-img-kb kb-helper"  src="/img/india/image40.png" /></p>


<p>
    Now, with Zebpay the thing is, user needs to have a bank account with any
    of the following four banks: Axis Bank, ICICI Bank, Yes Bank &amp; HDFC
    Bank to purchase bitcoins. Since my bank account is with bank named Indian
    Bank hence I am unable to deposit money to buy the bitcoins.
</p>

 
</div>
</div>