---
layout: page
permalink: "/kb/"
title: Bitcoin Knowledge Base
lang: en
sitemap:
  exclude: 'yes'
seotitle: Bitcoin Knowledge Base - Learn Anything about Bitcoin
desc: Learn about Bitcoin, buying bitcoin, and Bitcoin wallets in our knowledge base. We answer all of your questions and make Bitcoin easy to understand. 
---
<div class="post-content knowledge-base">
<script>
  (function() {
    var cx = '001267627652975919706:0aaggf8koye';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

{% for kbsection in site.data.kbsections %}
	<a class="col-md-4 col-sm-6 col-xs-12" href="{{ kbsection.url }}">
	<img src="/img/kbindex/{{ kbsection.icon }}">
	<div class="kb-section-title">{{ kbsection.kb }}</div>
	<div class="kb-section-view">View category &#155;</div>
	</a>	
{% endfor %}	

</div>
   
<h2 id="faq">Frequently Asked Questions</h2>   
 	<li class="kb-category-list"><i class="fa fa-file-o"></i> <a href="/kb/beginners-guide-to-bitcoin/#what-is">What is Bitcoin?</a></li> 
 	<li class="kb-category-list"><i class="fa fa-file-o"></i> <a href="/kb/what-determines-bitcoins-price/">What Determines, Affects, and Influences Bitcoin's Price?</a></li> 
 	<li class="kb-category-list"><i class="fa fa-file-o"></i> <a href="/kb/what-is-bitcoin-mining/">What is Bitcoin Mining?</a></li> 
 	<li class="kb-category-list"><i class="fa fa-file-o"></i> <a href="/kb/beginners-guide-to-bitcoin/#work">How Does Bitcoin Work?</a></li> 
 	<li class="kb-category-list"><i class="fa fa-file-o"></i> <a href="/kb/how-to-use-bitcoin/">How to Use Bitcoin to Send and Receive Payments</a></li> <li class="kb-category-list"><i class="fa fa-file-o"></i> <a href="/kb/what-is-a-bitcoin-private-key/">What is a Bitcoin Private Key?</a></li> 
 	<li class="kb-category-list"><i class="fa fa-file-o"></i> <a href="/kb/buy-less-than-one-bitcoin/">Can you Buy Less than One Bitcoin?</a></li>

<h2 id="general">General</h2>   
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "general" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}

<h2 id="buying-bitcoin">Buying Bitcoin</h2>   
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "buying" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}

<h2 id="wallets">Wallets and Storage</h2>   
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "wallets" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}

<h2 id="fcrisis">Financial Crisis</h2>   
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "fcrisis" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}

<h2 id="mining">Mining</h2>   
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "mining" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}

<h2 id="restore">Restoring Wallet Backups</h2>   
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "restore" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}

<h2 id="hws">Using Hardware Wallets</h2>   
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "usinghws" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}