---
layout: color
permalink: "/pt-br/carteiras-bitcoin/"
title: Qual a Melhor Carteira Bitcoin?
subtitle: O Guia Definitivo
lang: pt
seotitle: As 11 Melhores Carteiras Bitcoin de Hardware & Resenhas de Apps 2017
color: yes
desc: Encontre rapidamente a melhor carteira de bitcoin - hardware ou software - com base nas suas necessidades.
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="special-letters col-md-5">
<br><br>
<p>Este guia vai ajudá-lo a encontrar a melhor carteira Bitcoin para VOCÊ!</p>
<p>Dica:</p>
<p>Não existe uma "solução única" quando se trata de carteiras Bitcoin. As carteiras vêm em diferentes plataformas e apresentam características diferentes.</p>
<p>Se você quiser a melhor carteira possível, continue lendo...</p>
</div>

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>
</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Capítulos</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">CAPÍTULO 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">O que é uma carteira Bitcoin?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">CAPÍTULO 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Tipos de Carteira</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">CAPÍTULO 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Carteiras de Hardware</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">CAPÍTULO 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Carteiras Quentes</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">CAPÍTULO 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bancos x Carteiras Bitcoin</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">CAPÍTULO 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Roubo e Fraudes</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">CAPÍTULO 1</h3>
<h2 class="chapter-name">O que é uma carteira Bitcoin?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>Uma carteira Bitcoin é o primeiro passo para se usar Bitcoin.</p>
<p>Por quê?</p>
<p>Sem uma carteira, você não pode receber, armazenar ou gastar bitcoins.</p>
<p>Você pode pensar em uma carteira como sua interface pessoal para a rede Bitcoin, semelhante à forma como sua conta bancária online é uma interface para o sistema monetário comum.</p>
<p>As carteiras Bitcoin contêm chaves privadas; códigos secretos que permitem que você gaste seus bitcoins.</p>
<p>Na realidade, não são os bitcoins que precisam ser armazenados e protegidos, mas as chaves privadas que dão acesso a eles.</p>
<p>Resumindo:</p> 
<p>Uma carteira Bitcoin é simplesmente um aplicativo, site ou dispositivo que gerencia chaves privadas Bitcoin para você.</p>

<h3 id="types-of-wallets" class="chapter-link">Chapter 2</h3>
<h2 class="chapter-name">Tipos de Carteira</h2>
<div class="nice-divider"></div>

<p><i>Vamos discutir os tipos de carteiras Bitcoin e por que você pode querer usar um tipo e não o outro.</i></p>

<h3 class="sub-sub-section"><b>Carteiras de Hardware</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>A Ledger Nano S é um exemplo de uma carteira de hardware.</span>
</div>

<p>Uma carteira de hardware é um dispositivo físico eletrônico, desenvolvido com o único propósito de proteger bitcoins.</p>
<p>A principal inovação é que a carteira de hardware deve estar conectada ao computador, telefone ou tablet antes que os bitcoins possam ser gastos.</p>

<p>As três carteiras de hardware mais populares são:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Carteiras de hardware são uma boa escolha se você busca segurança e um armazenamento Bitcoin prático e confiável.</p>

<p>As carteiras Bitcoin de hardware mantêm as chaves privadas separadas dos dispositivos vulneráveis conectados à internet.</p>
<p>Suas chaves privadas são mantidas em um ambiente offline seguro na carteira de hardware, totalmente protegidas mesmo se o dispositivo estiver conectado a um computador infestado de malwares.</p>

<p>Como os bitcoins são digitais, cibercriminosos poderiam, potencialmente, acessar a "carteira de software" do seu computador e roubá-los, acessando sua chave privada.</p>

<p>Gerar e armazenar chaves privadas offline usando uma carteira de hardware garante que os hackers não tenham nenhuma maneira de acessar seus bitcoins.</p> 

<p>Hackers teriam que roubar a carteira de hardware em si, mas mesmo assim, ela pode ser protegida com um código PIN.</p> 

<p>Não se preocupe com a sua carteira de hardware ser roubada, perdida ou danificada. Contanto que você crie um código de backup secreto, você sempre pode recuperar seus bitcoins.</p>

<div class="quote-box">
<p>Pense em uma carteira de hardware como seu próprio cofre de aço subterrâneo. Se você possui uma quantidade significativa de bitcoins, você deve considerar comprar uma fortemente!</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Por que as carteiras de hardware são boas?</h2>
<ul class="quick-info-pros">
	<li>A forma mais fácil de armazenar bitcoins com segurança</li>
	<li>Fácil de proteger e fazer backup</li>
	<li>Menos margem de erro; a instalação é fácil mesmo para usuários menos técnicos</li>
</ul>

<h2>Por que as carteiras de hardware são ruins?</h2>
<ul class="quick-info-cons">
	<li>Eles não são grátis!</li>
</ul>

<h3 class="sub-sub-section"><b>Carteiras Quentes</b></h3>

<p>Carteiras quentes são carteiras Bitcoin que funcionam em dispositivos conectados à internet como um computador, telefone celular ou tablet.</p>

<p>As chaves privadas são códigos <i>secretos</i>. Como as carteiras quentes geram suas chaves privadas em um dispositivo conectado à internet, essas chaves privadas não podem ser consideradas 100% seguras.</p> 

<div class="quote-box">
<p>Pense em uma carteira quente como sua própria carteira: você a usa para guardar algum dinheiro, mas não sua poupança. Carteiras quentes são ótimas se você fizer pagamentos frequentes, mas não é uma boa escolha para o armazenamento seguro de bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Por que as carteiras quentes são boas?</h2>
<ul class="quick-info-pros">
	<li>A forma mais fácil de armazenar pequenas quantidades de bitcoins</li>
	<li>É prático; gastar e receber pagamentos é fácil e rápido</li>
	<li>Algumas carteiras quentes permitem o acesso a fundos por vários dispositivos</li>
</ul>

<h2>Por que as carteiras quentes são ruins?</h2>
<ul class="quick-info-cons">
	<li>Não é seguro para o armazenamento protegido de grandes quantidades de bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Qual Carteira é Melhor para Você?</b></h3>
<p>Por que você está usando Bitcoin?</p>

<p>Para investir ou economizar? Então uma carteira de hardware vai manter suas moedas seguras.</p>

<p>Caso contrário, uma carteira de software irá enviar e receber bitcoins sem problemas. O melhor de tudo é que as carteiras de software são gratuitas.</p>

<p>Cada carteira tem seus prós e contras, e diferentes carteiras são desenvolvidas para resolver problemas diferentes.</p>

<p>Algumas carteiras podem ser voltadas para a segurança, enquanto que outras carteiras podem ser mais focadas na privacidade.</p>

<p>Suas necessidades específicas devem determinar a carteira que você usa, já que não existe uma "melhor carteira Bitcoin".</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Abaixo, listamos as carteiras que você pode comprar ou baixar. Sugerimos usar as carteiras listadas ou pesquisar antes de comprar ou fazer o download de qualquer carteira.</p>
<p>Todos os dias, novas carteiras Bitcoin fraudulentas são adicionadas à Google Play Store e à loja de aplicativos da Apple, projetadas para roubar os bitcoins das pessoas.</p>
<p>Nós listamos somente carteiras que publicaram e abriram seu código.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">CAPÍTULO 3</h3>
<h2 class="chapter-name">Carteiras de Hardware: Mantenha suas Moedas Seguras</h2>
<div class="nice-divider"></div>

<p>Carteiras de hardware não são grátis.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>As três carteiras de hardware mais populares: KeepKey, Ledger Nano S e Trezor.</span>
</div>

<p>Mas o preço pode valer a pena se você possui uma quantidade significativa de bitcoins. Uma carteira de hardware protegerá algumas centenas de Bitcoin de forma tão eficaz quanto alguns milhões.</p>

<h2>Como Funcionam as Carteiras de Hardware</h2>			
<p>As carteiras de hardware são dispositivos seguros e offline. Elas armazenam suas chaves privadas offline para que elas não possam ser hackeadas.</p>
<p>Isso significa que você pode até usá-la em um computador infectado por malwares.</p>

<h2>Por Que uma Carteira de Hardware com Tela é Importante</h2>			
<p>Na tabela abaixo, você verá que mostramos quais carteiras de hardware possuem telas.</p>
<p>As telas fornecem segurança extra, verificando e exibindo detalhes importantes da carteira. Uma vez que a carteira de hardware é quase impossível de hackear, sua tela é mais confiável do que os dados exibidos em seu computador.</p>

<h2>Comparação de Carteiras Bitcoin de Hardware</h2>
<p>Confira a tabela abaixo para uma rápida comparação:</p>


<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Carteira</th>
    <th>Tela<br></th>
    <th class="released">Lançamento</th>
    <th>Preço</th>
    <th class="wallet-buy">Comprar</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Visão Geral das Melhores Carteiras Bitcoin de Hardware</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">CAPÍTULO 4</h3>
<h2 class="chapter-name">Carteiras Quentes</h2>
<div class="nice-divider"></div>

<p>Apenas um rápido lembrete:</p>

<p>Carteiras quentes são carteiras Bitcoin que funcionam em dispositivos conectados à internet como um computador, telefone celular ou tablet. Como as carteiras quentes geram chaves privadas em um dispositivo conectado à internet, essas chaves privadas não podem ser consideradas 100% seguras.</p> 

<div class="quote-box">
<p>Pense em uma carteira quente como sua própria carteira: você a usa para guardar algum dinheiro, mas não para sua poupança. Carteiras quentes são ótimas se você fizer pagamentos frequentes, mas não são uma boa escolha para um armazenamento seguro de bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Carteiras Bitcoin Online (Carteiras Web)</h2>
<div class="nice-divider-sub"></div>			
<p>As carteiras web armazenam suas chaves privadas online, onde são criptografadas com uma senha selecionada pelo usuário. Embora elas oferecem o menor nível de segurança, as carteiras Bitcoin online têm a vantagem de serem acessíveis a partir de qualquer dispositivo conectado à internet.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Carteiras Bitcoin para Android</h2>
<div class="nice-divider-sub"></div>			
<p>Há uma grande seleção de carteiras para Android. Desde que as carteiras Bitcoin foram originalmente banidas pela Apple, os desenvolvedores passaram grande parte de seu tempo desenvolvendo para Android.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">Carteiras Bitcoin para iOS e iPhone</h2>
<div class="nice-divider-sub"></div>		
<p>A <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">Apple baniu as carteiras Bitcoin da App Store</a> em fevereiro de 2014, mas reverteu sua decisão alguns meses depois. Felizmente, agora existem muitas opções para os usuários do iOS.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Carteiras para Desktop</h2>
<div class="nice-divider-sub"></div>			
<p>As carteiras para desktop são baixadas e instaladas em seu computador. Se privacidade for sua principal preocupação, esse tipo de carteira Bitcoin é uma boa opção, já que não precisa de dados de terceiros.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">CAPÍTULO 5</h3>
<h2 class="chapter-name">Bancos de Bitcoin: $ 1 Bilhão Perdido em Invasões</h2>
<div class="nice-divider"></div>

<p>Uma última coisa a se ter em mente quando se trata de carteiras bitcoin é que há uma diferença entre uma carteira e um banco. Alguns usuários da Bitcoin veem o Coinbase como uma carteira Bitcoin, mas empresas como essa operam muito mais como bancos.</p>

<p>Lembre-se:</p>

<p>As chaves privadas são o que os usuários precisam proteger para usar a rede Bitcoin com segurança sem serem roubados. Quando você entrega o controle sobre suas chaves privadas a outra pessoa, você está basicamente fazendo um depósito naquela instituição financeira - assim como um depósito em qualquer banco.</p>

<div class="quote-box">
<p>Não armazene moedas em casas de câmbio! Usuários Bitcoin perderam mais de US$1 bilhão de bitcoins em invasões e fraudes de câmbio. Controle suas próprias chaves privadas. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Fundador, Buy Bitcoin Worldwide</span></div>
</div>

<p>Isso não quer dizer que os bancos de bitcoins sejam inerentemente ruins. Empresas como a Coinbase fizeram maravilhas ao trazer mais usuários para o ecossistema. É simplesmente importante lembrar que quem controla as chaves privadas controla o bitcoin anexado a essas chaves.</p>

<p>Uma má compreensão desse ponto levou a centenas de milhões de dólares americanos sendo perdidos no passado, por isso é importante compreender essa diferença crítica em como chaves privadas de Bitcoin podem ser armazenadas.</p>

<p>Compreender como funcionam as carteiras Bitcoin é um aspecto importante para se usar essa nova tecnologia com segurança. O Bitcoin ainda está em seus primeiros anos de desenvolvimento e, com o tempo, as carteiras se tornarão muito mais fáceis para os usuários.</p>

<p>No futuro próximo, certos dispositivos podem eventualmente vir com carteiras pré-instaladas que vão interagir com o blockchain sem o conhecimento do usuário.</p> 

<p>Por enquanto, é vital ter em mente que as chaves privadas são o que você precisa proteger se quiser manter seus bitcoins a salvo de hackers, erros de usuário e outros possíveis problemas.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">CAPÍTULO 6</h3>
<h2 class="chapter-name">Roubo e Fraudes</h2>
<div class="nice-divider"></div>

<p>Não importa qual carteira você escolha, lembre-se:</p>

<p>Seu bitcoins só estão seguros se a chave privada foi gerada de forma segura, continua a ser um segredo, e - o mais importante - é controlada apenas por VOCÊ!</p>

<p>Aqui estão dois exemplos em que os usuários foram roubados deixando bitcoins sob o cuidado de terceiros:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">A invasão no Bitfinex, na qual os usuários perderam US$70 milhões</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">O fracasso do Mt Gox, no qual os usuários perderam US$450 milhões ou mais</a></li>
</ul>

<p>Para evitar roubos, fraudes e qualquer outra perda de fundos, siga estes três princípios básicos: </p>

<ol>
<li><b>Gere suas chaves privadas em um ambiente seguro e offline</b>. (exceto se usar quantias triviais, nesses casos as chaves podem ser criadas em uma carteira quente).</li>
<li><b>Crie backups de suas chaves privadas</b>.  Isso ajuda a proteger contra a perda de seus bitcoins devido a falhas de disco rígido ou algum outro problema ou acidente. Idealmente, você deve ter um conjunto duplicado de backups guardados para proteger contra a possibilidade de incêndio, roubo, etc.</li>
<li><b>Criptografar carteiras para fornecer segurança adicional</b>.  Isso ajuda a evitar o roubo físico de seus fundos no caso de roubo do seu dispositivo ou carteira de hardware.</li>
</ol>

<p>Proteger seus bitcoins corretamente é o passo mais importante para qualquer usuário Bitcoin.</p>

<p>Com Bitcoin você tem o privilégio - mas também a responsabilidade - de proteger seu próprio dinheiro. Houve inúmeros golpes relacionados a Bitcoin que poderiam ter sido evitados se as pessoas não confiassem seus bitcoins a outros.</p>

<p>É uma boa regra nunca confiar seu dinheiro a alguém.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>