---
layout: color
permalink: "/wallets/"
title: What is the Best Bitcoin Wallet?
subtitle: The Ultimate Guide
lang: en
seotitle: 11 Best Bitcoin Wallet Hardware & Software Reviews 2017
desc: Quickly find the best bitcoin wallet -- hardware or software -- based on your needs. Our reviews make it easy.
color: yes
---
<div class="post-content color-wrap wallets-index centered">

<div class="post-header blue-row no-margin row">
<div class="col-xs-12">
  <h1 class="post-title-main"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="subtitle"><h2>{{ page.subtitle }}</h2></div>
</div>
</div>

<div class="row blue-row">

<div class="special-letters col-md-5">
<br><br>
<p>This guide will help you find the best Bitcoin wallet for YOU!</p>
<p>Hint:</p>
<p>There's no "one size fits all" for Bitcoin wallets.</p>
<p>If you want to keep your bitcoins safe and secure, keep reading...</p>
</div>

<div class="col-md-7">
<img class="img-responsive wallet-top-part" alt="best bitcoin wallet" src="/img/goodicons/wallet.png">
</div>
</div>

<div class="row blue-row color-guide-index">
<div class="col-xs-12 white-background" style="border-radius: 10px 10px 0 0; float: none;padding: 1px;"><h2 class="color-guide-section-title">Chapters</h2></div>
<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#what-is-a-bitcoin-wallet"><img src="/img/goodicons/wallet2.png"></a></div>
	<div class="chapter-number-small"><a href="#what-is-a-bitcoin-wallet">Chapter 1</a></div>
	<div class="chapter-title"><a href="#what-is-a-bitcoin-wallet">What is a Bitcoin wallet?</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#types-of-wallets"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#types-of-wallets">Chapter 2</a></div>
	<div class="chapter-title"><a href="#types-of-wallets">Wallet Types</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hardware-wallets"><img src="/img/goodicons/vault.png"></a></div>
	<div class="chapter-number-small"><a href="#hardware-wallets">Chapter 3</a></div>
	<div class="chapter-title"><a href="#hardware-wallets">Hardware Wallets</a></div>
</div>


<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#hot-wallets"><img src="/img/goodicons/screen.png"></a></div>
	<div class="chapter-number-small"><a href="#hot-wallets">Chapter 4</a></div>
	<div class="chapter-title"><a href="#hot-wallets">Hot Wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#bitcoin-banks"><img src="/img/goodicons/piggy.png"></a></div>
	<div class="chapter-number-small"><a href="#bitcoin-banks">Chapter 5</a></div>
	<div class="chapter-title"><a href="#bitcoin-banks">Bitcoin Banks vs. Wallets</a></div>
</div>

<div class="col-md-4 col-sm-6 white-background">
	<div class="chapter-img"><a href="#theft-scams"><img src="/img/goodicons/shield.png"></a></div>
	<div class="chapter-number-small"><a href="#theft-scams">Chapter 6</a></div>
	<div class="chapter-title"><a href="#theft-scams">Theft and Scams</a></div>
</div>

</div>

<div class="row grey-row color-guide-text">

<div class="col-xs-12">
<h3 id="what-is-a-bitcoin-wallet" class="chapter-link">Chapter 1</h3>
<h2 class="chapter-name">What is a Bitcoin Wallet?</h2>
<div class="nice-divider"></div>
<img class="color-guide-img halfimg-right" alt="best bitcoin wallet" src="/img/goodicons/doublecoin.png">
<p>A Bitcoin wallet is the first step to using Bitcoin.</p>
<p>Why?</p>
<p>Without a wallet, you can’t receive, store, or spend bitcoins.</p> 
<p>Bitcoin wallets contain private keys; secret codes that allow you to spend bitcoins.</p>
<p>In reality, it’s not bitcoins that need to be stored and secured, but the private keys that give you access to them.</p>
<p>In short:</p> 
<p>A Bitcoin wallet is simply an app, website, or device that manages Bitcoin private keys for you. </p>

<h3 id="types-of-wallets" class="chapter-link">Chapter 2</h3>
<h2 class="chapter-name">Types of Bitcoin Wallets</h2>
<div class="nice-divider"></div>

<p><i>Types of bitcoin wallets and why you might want to use one kind over another.</i></p>

<h3 class="sub-sub-section"><b>Hardware Wallets</b></h3>

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/nanos/1.png">
<span>The <a href="/wallets/ledger-nano-s/">Ledger Nano S</a> is one example of a hardware wallet.</span>
</div>

<p>A hardware wallet is a physical Bitcoin wallet that is built with the sole purpose of securing bitcoins.</p>

<p>The three most popular hardware wallets are:</p>
<ul>
<li><a href="/wallets/ledger-nano-s/">Ledger Nano S</a></li>
<li><a href="/wallets/keepkey/">KeepKey</a></li>
<li><a href="/wallets/trezor/">Trezor</a></li>
</ul>

<p>Hardware wallets are a good choice if you are serious about secure and easy Bitcoin storage. 

<p>Hardware Bitcoin wallets keep private keys away from internet-connected devices and store private keys in a secure offline environment.</p>

<p>Because bitcoins are digital, cyber-criminals could, potentially, target your computer and steal your bitcoins. Generating private keys offline using hardware wallets ensures that hackers have no way to reach your bitcoins. </p>

<div class="quote-box">
<p>Think of a hardware wallet like your bank savings account. Use one to store any significant amount of bitcoins that you own.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Why are hardware wallets <b>good</b>?</h2>
<ul class="quick-info-pros">
	<li>Easiest way to securely store bitcoins & easy to backup</li>
	<li>Less margin for error; setup is easy even for less technical users</li>
</ul>

<h3 class="sub-sub-section"><b>Hot Wallets</b></h3>

<p>Hot wallets are Bitcoin wallets that run on internet connected devices like a computer, mobile phone, or tablet.</p>

<p>Private keys are <i>secret</i> codes. Because hot wallets generate private keys on an internet connected device, these private keys can’t be considered 100% secure.</p> 

<div class="quote-box">
<p>Think of a hot wallet like your wallet today: you use it to store some cash, but not all of your savings. Hot wallets are great if you make frequent payments, but not a good choice for secure storage of bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2>Why are hot wallets <b>good</b>?</h2>
<ul class="quick-info-pros">
	<li>Easiest way to store small amounts of bitcoin</li>
	<li>Convenience, spending and receiving payments is easy and fast</li>
	<li>Some hot wallets allow access to funds across multiple devices</li>
</ul>

<h2>Why are hot wallets <b>bad</b>?</h2>
<ul class="quick-info-cons">
	<li>Not safe for secure storage of large amounts of bitcoins</li>
</ul>

<h3 class="sub-sub-section"><b>Which Wallet is Best for You?</b></h3>
<p><a href="http://www.coindesk.com/information/why-use-bitcoin/">Why are you</a> using Bitcoin?</p>

<p>Investing or saving? Then a hardware wallet will keep your coins safe.</p>

<p>Otherwise, a software wallet will send and receive bitcoins just fine. Best of all, software wallets are free.</p>

<p>Each wallet has pros and cons, and different wallets are built to solve different problems. </p>

<p>Some wallets may be geared towards security, while some wallets may be more focused on privacy. </p>

<p>Your specific needs should determine the wallet you use, as there is no “best bitcoin wallet”.</p>

</div>
</div>

<div class="row warning-row color-guide-text">
<div class="col-xs-12">
<br>
<p>Below, we've listed wallets you can buy or download. We suggest using the wallets listed or doing research before buying or downloading any wallet. </p>
<p>Each day, new Bitcoin scam wallets are added to the Google Play Store and Apple app store that are made to steal peoples' bitcoins.</p>
<p>We only list wallets that have published and open sourced their code.</p>
</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hardware-wallets" class="chapter-link">Chapter 3</h3>
<h2 class="chapter-name">Hardware Wallets</h2>
<div class="nice-divider"></div>

<p>Hardware wallets aren't free.</p> 

<div class="caption-img-box">
<img class="color-guide-img" alt="bitcoin hardware wallet" src="/img/wallets/tlk.jpg">
<span>The three most popular hardware wallets: KeepKeey, Ledger Nano S, and Trezor.</span>
</div>

<p>But the price can be worth if you own a significant amount of bitcoins.</p>

<h2>How Hardware Wallets Work</h2>			
<p>Hardware wallets are secure, offline devices. They store your private keys offline so they can't be hacked.</p>
<p>This means you can even use one on a malware infected computer.</p>

<h2>Why A Hardware Wallet with a Screen is Important</h2>			
<p>In the table below, you'll notice we show which hardware wallets have screens.</p>
<p>Screens provide extra security by verifying and displaying important wallet details. Since the hardware wallet is nearly impossible to hack, its screen is more trustworthy than data displayed on your computer. </p>

<h2>Bitcoin Hardware Wallet Comparison</h2>
<p>Check the table below for a quick comparison. Note: </p>
<p>We also did a detailed <a href="/trezor-keepkey-ledger/">comparison of the three main ones: Ledger Nano S, Trezor, and KeepKey</a>.</p>

<table class="hw-comparison">
  <tr>
  	<th></th>
    <th>Wallet</th>
    <th>Screen<br></th>
    <th class="released">Released</th>
    <th>Price</th>
    <th class="wallet-buy">Buy</th>
  </tr>
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include hw-comparison.html %}
  {% endif %}
  {% endfor %}
</table>
	
<h2>Best Bitcoin Hardware Wallet Overviews</h2>			
<br>
	{% assign pages = site.wallets | sort:"weight" %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}


</div>

</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="hot-wallets" class="chapter-link">Chapter 4</h3>
<h2 class="chapter-name">Hot Wallets</h2>
<div class="nice-divider"></div>

<p>Just a quick refresher: </p>

<p>Hot wallets are Bitcoin wallets that run on internet connected devices like a computer, mobile phone, or tablet. Because hot wallets generate private keys on an internet connected device, these private keys can’t be considered 100% secure.</p> 

<div class="quote-box">
<p>Think of a hot wallet like your wallet today: you use it to store some cash, but not all of your savings. Hot wallets are great if you make frequent payments, but not a good choice for secure storage of bitcoins.</p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<h2 class="wallet-type-hot">Online Bitcoin Wallets (Web Wallets)</h2>
<div class="nice-divider-sub"></div>			
<p>Web wallets store your private keys online, where they are encrypted with a user chosen password. Online bitcoin wallets are accessible from any internet connected device.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'web' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
<h2 class="wallet-type-hot">Android Bitcoin Wallets</h2>
<div class="nice-divider-sub"></div>			
<p>Android offers developers more freedom than iOS. For example, it's only possible to use hardware wallets with Android Bitcoin wallets, because Apple doesn't allow the use of OTG cables. The best Android Bitcoin wallets let users control their private keys.</p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}	
	
<h2 class="wallet-type-hot">iOS and iPhone Bitcoin Wallets</h2>
<div class="nice-divider-sub"></div>		
<p>Apple <a href="http://www.telegraph.co.uk/technology/apple/10621175/Apple-bans-final-bitcoin-wallet-from-App-Store.html">banned Bitcoin wallets</a> from the App Store in February 2014, but reversed its decision a few months later. Luckily, there are plenty of options for iOS users. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'ios' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}		
	
<h2 class="wallet-type-hot">Desktop Wallets</h2>
<div class="nice-divider-sub"></div>			
<p>Desktop wallets are downloaded & installed on your computer. If privacy is your main concern, the Bitcoin core wallet is a good option since it does not rely on third parties for data. </p><br>
    {% for wallet in site.data.wallets %}
	{% if wallet.tags contains 'desktop' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}
	
</div>
</div>	

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="bitcoin-banks" class="chapter-link">Chapter 5</h3>
<h2 class="chapter-name">Bitcoin Banks</h2>
<div class="nice-divider"></div>

<p>One last thing to keep in mind when it comes to bitcoin wallets is that there is a difference between a wallet and a bank. Some Bitcoin users view <a href="/exchanges/coinbase/">Coinbase</a> as a Bitcoin wallet, but companies like this operate much more like banks. </p>

<p>Remember:</p>

<p>The private keys are what users need to protect when it comes to using the Bitcoin network. When you hand someone else control over your private keys, you are essentially making a deposit at that financial institution &ndash; much like a deposit at a bank.</p>

<div class="quote-box">
<p>Don't store coins on exchanges! Bitcoin users have lost over $1 billion worth of bitcoins in exchange hacks and scams. Control your own private keys. If you need help, then ask your questions in our <a href="http://ask.buybitcoinworldwide.com/">Ask section</a>. </p>
<div class="quote-ref"><img src="/img/icons/jtsmall.jpg"><a href="https://www.jordantuwiner.com/">Jordan Tuwiner</a> <span class="position">Founder, Buy Bitcoin Worldwide</span></div>
</div>

<p>This is not to say that bitcoin banks are inherently bad. Companies like Coinbase have done wonders for bringing more users into the ecosystem. It is simply important to remember that whoever controls the private keys controls the bitcoin attached to those keys.</p>

<p>A misunderstanding of this point has led to hundreds of millions of US dollars being lost in the past, so it’s important to understand this key difference in how Bitcoin private keys can be stored.</p>

<p>Understanding how bitcoin wallets work is an important aspect of safely using this new technology in its early years of development. Wallets will become much more user friendly over time, and some devices may eventually come with preinstalled wallets that interact with the blockchain without the user’s knowledge in the near future. For now, it’s vital to keep in mind that the private keys are what you need to protect if you want to keep your bitcoin safe from hackers, user error, and other possible issues.</p>

</div>
</div>

<div class="row grey-row color-guide-text">
<div class="col-xs-12">
<h3 id="theft-scams" class="chapter-link">Chapter 6</h3>
<h2 class="chapter-name">Theft and Scams</h2>
<div class="nice-divider"></div>

<p>No matter what wallet you choose, remember that your bitcoins are only safe if the private key was generated securely, remains a secret, and--most importantly--is controlled by YOU!</p>

<p>Here are two examples where users got screwed by leaving bitcoins with a third party:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Bitfinex_hack">Bitfinex hack where users lost $70 million</a></li>
<li><a href="https://www.wired.com/2014/03/bitcoin-exchange/">Mt Gox where users lost $450 million or more</a></li>
</ul>

<p>Following these three basic principles should help you avoid theft, scams, and any other loss of funds:</p>

<ol>
<li>Generate your private keys in a secure, offline environment (besides small amounts stored in a hot wallet).</li>
<li>Create backups of your private keys or wallet seed ensure that no small accident causes a loss of funds.</li>
<li>Encrypt wallets to provide additional security and prevent physical theft of your funds.</li>
</ol>

<p>Securing your bitcoins properly is the most important step for any Bitcoin user. With Bitcoin you have the financial freedom to store your own money. There have been countless scams related to Bitcoin that could have been prevented had people not trusted others with their bitcoins. Never trust anyone else with your money.</p>

<div class="wallet-bounce">
  {% assign pages = site.wallets | sort:"weight" %}
  {% for wallet in pages reversed %}
  {% if wallet.tags contains 'hardware' %}
  {% include wallet-bounce.html %}
  {% endif %}
  {% endfor %}
</div>

    </div>
</div>                    
</div>