---
layout: default
hide_sidebar: true
---
<div itemprop="review" itemscope itemtype="http://schema.org/Review" class="exchange-article {{ page.exchange }}-exchange">
	

<div class="row content-with-sidebar col-md-10 col-md-offset-1 col-sm-12">	
<div class="exchange-header-back">


<div itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
	
	<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
		<a itemprop="item" href="/"><span itemprop="name">Home</span></a>
		<meta itemprop="position" content="1" />
	</span>
	
	 &#155; 
	 
	 <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
		<a itemprop="item" href="/exchanges/"><span itemprop="name">Bitcoin Exchange Reviews</span></a>
		<meta itemprop="position" content="2" />
	</span>
	
	 &#155; 
	 
	 <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
		<a itemprop="item" href="{{ page.url | prepend: site.baseurl }}"><span itemprop="name"><b>{{ page.title }}</b></span></a>
		<meta itemprop="position" content="3" />
	</span>
	
</div>	

<br>

<div class="exchange-header {{ page.exchange }}-exchange">
	  <img alt="{{ page.title }} review" class="exchange-logo" src="{{ "/img/exchanges/" | prepend: site.baseurl }}{{ page.thumb }}">
	  <h1 class="ctitle"><a href="{{ page.url | prepend: site.baseurl }}"><span itemprop="name">{{ page.title }} Review</span></a></h1>
	  <!-- <div class="exchange-info"> 
	 	<div class="exchange-info-link"><i class="fa fa-fw fa-link fa-lg"></i> <a rel="nofollow" href="{{ page.website_url }}">{{ page.website }}</a></div>
	 </div> -->
</div>
</div>
<div class="exchange-content {{ page.exchange }}-exchange entry-content">   
	<div class="exchange-summary">{{ page.summary }}</div>
	
	{% if page.aff %}
	{% include exchange-disclosure.html %}
	{% endif %}
	
	{% if page.pro1 != null %}
	<div class="row">
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Pros</div>
	{% endif %}
	
	{% if page.pro1 != null %}
	<li class="exchange-pro">{{ page.pro1 }}</li>
	{% endif %}
	{% if page.pro2 != null %}
	<li class="exchange-pro">{{ page.pro2 }}</li>
	{% endif %}
	{% if page.pro3 != null %}
	<li class="exchange-pro">{{ page.pro3 }}</li>
	{% endif %}
	
	{% if page.pro1 != null %}
	</div>
	{% endif %}
	
	{% if page.con1 != null %}
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Cons</div>
	{% endif %}
	
	{% if page.con1 != null %}
	<li class="exchange-pro">{{ page.con1 }}</li>
	{% endif %}
	{% if page.con2 != null %}
	<li class="exchange-pro">{{ page.con2 }}</li>
	{% endif %}
	{% if page.con3 != null %}
	<li class="exchange-pro">{{ page.con3 }}</li>
	{% endif %}
	
	{% if page.con1 != null %}
	</div>
	</div>
	{% endif %}
	
	<a type="button" href="{{ page.website_url }}" rel="nofollow" target="_blank" class="btn exchange-btn-top btn-success"><i class="fa fa-bitcoin"></i> Buy Bitcoin at {{ page.title }}</a>
	
	<span itemprop="reviewBody">
         
	{{ content }} 
	
	</span>
	
	<p>Review by <span itemprop="author">Jordan Tuwiner</span> </p>
   <div itemprop="ReviewRating" itemscope itemtype="http://schema.org/Rating">
	  <meta itemprop="worstRating" content="1">
	  <meta itemprop="bestRating" content = "5">
	  <strong>Rating: </strong><span itemprop="ratingValue">{{ page.rating }}</span>
  </div>
	
	<a type="button" href="{{ page.website_url }}" rel="nofollow" target="_blank" class="btn exchange-btn-bottom btn-success"><i class="fa fa-bitcoin"></i> Visit {{ page.website }}</a>
	
	<div class="alt-exchanges">
	
	<h2 class="bold-header">{{ page.title }} Alternatives</h2>
	<br>
    {% for exchange in site.exchanges %}
	{% if page.related == exchange.related and exchange.title != page.title %}
	{% include exchange-list-bounce.html %}
	{% endif %}
	{% endfor %} 
	
	</div>

</div>
</div>

	
</div>
